$jg-blockquote-border-width: map-get($border-widths, 5) * 1.5;
$jg-blockquote-image-width: map-get($spacers, 5);
$jg-blockquote-toxic-color: $danger;

.blockquote-container {
  margin: 0;
  margin-bottom: $spacer;
}

.blockquote-content {
  padding: map-get($spacers, 1) $spacer;
  border-left: $jg-blockquote-border-width solid $primary;
  border-radius: $border-radius;
}

.toxic .blockquote-content {
  border-color: $jg-blockquote-toxic-color;
}

.blockquote {
  @extend .font-monospace;
  font-size: map-get($font-sizes, 6);
  color: $primary;
}

.toxic .blockquote {
  color: $jg-blockquote-toxic-color;
}

.blockquote p:first-child::before {
  content: "„";
}

.blockquote p:first-child::after {
  content: "“";
}

.blockquote-footer {
  margin-bottom: 0;
}

.blockquote-footer a,
.blockquote-footer a:visited {
  color: $blockquote-footer-color;
}

.blockquote-footer cite {
  font-style: normal;
}

.blockquote-avatar {
  display: block;
  float: left;
  width: $jg-blockquote-image-width;
  height: auto;
  filter: contrast(1.1);
  border-radius: 100%;
}

.blockquote-container.avatar .blockquote,
.blockquote-container.avatar .blockquote-footer {
  padding-left: $jg-blockquote-image-width + $spacer;
}

.blockquote-icon {
  display: block;
  float: left;
  font-size: $jg-blockquote-image-width;
  line-height: 100%;
}

.toxic .blockquote-icon {
  color: $jg-blockquote-toxic-color;
}

.blockquote-container.icon .blockquote,
.blockquote-container.icon .blockquote-footer {
  padding-left: $jg-blockquote-image-width + $spacer;
}

.blockquotes-2 {
  @extend .row;
  margin-right: 0;
  margin-bottom: $spacer;
  margin-left: 0;
}

.blockquotes-2 .blockquote-container {
  @extend .col-md-6;
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.blockquotes-2 .blockquote-container figure {
  margin-bottom: 0;
}

.blockquotes-2 .blockquote {
  font-size: map-get($font-sizes, 6);
}
