.c2a {
  display: flex;
  flex-direction: column;
  gap: $spacer;
  align-items: center;
  padding: $jg-main-spacer $spacer;
  margin: 0;
  background: $jg-blue-light;
  border-radius: $border-radius;
}

.c2a > * {
  margin: 0;
}

.c2a.airy {
  gap: map-get($spacers, 4);
}

.c2a-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  width: fit-content;
}

.c2a-text {
  margin: 0;
  text-align: center;
}

.c2a-text.small {
  @extend .small;
  line-height: $line-height-sm;
}

.c2a-text.display {
  @extend .fs-3;
  font-weight: 400;
  line-height: 1;

  &.blue strong {
    color: $jg-blue;
  }
}
