.comparison {
  margin-bottom: $spacer;

  table,
  td,
  th {
    border: none;
  }

  table {
    width: 100%;
    margin: 0 auto;
  }

  th,
  td {
    text-align: center;
    vertical-align: top;
  }

  td {
    padding: ($spacer * .5);
    font-size: $font-size-sm;
  }

  th {
    padding: ($spacer * .5);
    font-size: $h5-font-size;
    font-weight: $headings-font-weight;
    line-height: 1;
  }

  tr:last-child td {
    padding-bottom: $spacer;
  }

  th:nth-child(1),
  td:nth-child(1) {
    padding-left: 0;
  }

  th:nth-child(3),
  td:nth-child(3) {
    padding-right: 0;
  }

  th:nth-child(2),
  td:nth-child(2) {
    background-color: $jg-yellow;
  }

  th:nth-child(2) {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
  }

  tr:last-child td:nth-child(2) {
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
  }

  i {
    display: block;
  }

  @include media-breakpoint-up(sm) {
    td {
      padding-right: $spacer;
      padding-left: $spacer;
    }

    th {
      padding: $spacer;
      padding-bottom: ($spacer * .5);
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-up(md) {
    table {
      width: auto;
    }

    th,
    td {
      min-width: 15rem;
    }

    th {
      font-size: $h3-font-size;
    }
  }
}
