.details {
  @extend .card;
  background-color: $jg-blue-light;
  border-color: $jg-white;
}

.highlighted.details {
  background-color: $jg-yellow-light;
  border: 1px solid $jg-yellow;
}

.details-header {
  padding: $spacer;
  padding-bottom: map-get($spacers, 4);
  text-align: center;
  border-radius: $border-radius $border-radius 0 0;
}

.details-logo {
  width: auto;
  height: 6rem;
  padding: $spacer;
  background-color: $jg-white;
  border-radius: $border-radius;
}

.details-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    flex-direction: row-reverse;
  }
}

.details-image,
.details-body {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.details-info.avatar {
  @include media-breakpoint-up(sm) {
    flex-direction: row-reverse;
  }
}

.details-info.avatar .details-image {
  @include media-breakpoint-up(sm) {
    width: 35%;
  }
}

.details-info.avatar .details-body {
  @include media-breakpoint-up(sm) {
    width: 65%;
  }
}

.details-image {
  padding: $spacer;
}

.details-thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid $jg-gray-light;
  border-radius: $border-radius;
}

.details-info.avatar .details-thumbnail {
  filter: grayscale(100%);
  border-radius: 100%;
  opacity: 80%;
}

.details-heading {
  @extend .fs-4;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  margin: $spacer 0 0 0;
}

.details-info.avatar .details-heading {
  padding-top: 0;
}

.details-note {
  @extend .small;
  flex: 0 0 100%;
  order: 2;
  width: 100%;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  margin: $spacer 0 0 0;
}

.details-items {
  @extend .list-group;
  @extend .list-group-flush;
}

.details-items:first-child {
  margin-top: $list-group-item-padding-y;
}

.details-info.avatar:last-child {
  margin-bottom: $spacer;
}

.details-item {
  @extend .list-group-item;
  background-color: transparent;
  border-color: transparent;
}

.details-text {
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  margin: 0;
}

.details-text > *:last-child {
  margin-bottom: 0;
}

.details-items.compact .details-item,
.details-text.compact {
  padding: ($list-group-item-padding-y * .5) $list-group-item-padding-x;
  font-size: $font-size-sm;
}
