/* stylelint-disable selector-no-qualifying-type */

@keyframes headerlink-highlight {
  0% {
    color: $primary;
  }
  50% {
    color: $primary;
  }
  100% {
    color: $body-color;
  }
}

.document > h1,
.document > h2,
.document > h3,
.document > h4 {
  hyphens: none;
}

.document > h1 {
  padding-bottom: map-get($spacers, 1);
  margin-bottom: $jg-main-spacer;
  border-bottom: map-get($border-widths, 3) solid $body-color;
}

.document > .lead {
  margin-bottom: $jg-main-spacer;
}

.document > h2 {
  margin-top: $jg-main-spacer;
}

.document > h3 {
  margin-top: $jg-document-spacer;
}

.document > p a[role=""]:visited {
  // skips role="button"
  color: $body-color;
}

.document > h2 .bi {
  @extend .fs-3;
  margin-right: map-get($spacers, 1);
  line-height: $headings-line-height;
  color: $primary;
}

.document > *:last-child {
  margin-bottom: 0;
}

.document small {
  font-size: $small-font-size;
}

.document small,
.document small a,
.document small a:visited {
  color: $body-secondary-color;
}

.document .headerlink,
.document .headerlink:visited {
  margin-left: $spacer;
  font-size: $small-font-size;
  color: $jg-gray-light;
  text-decoration: none;
}

.document .headerlink:hover,
.document .headerlink:focus,
.document .headerlink:active {
  color: $primary;
}

.document > h1 .headerlink {
  @extend .visually-hidden;
}

.document > h2:target,
.document > h3:target,
.document > h4:target {
  animation: headerlink-highlight 4s ease-out 1;
}

.document > ul[class=""] {
  // skips components using ul/li markup
  padding-left: 0;
}

.document > ul[class=""] li {
  // skips components using ul/li markup
  padding-left: 2.5ch;
  list-style-type: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-dot' viewBox='0 0 16 16'><path d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/></svg>");
  background-repeat: no-repeat;
  background-position: 0 .15rem;
}

.blockquote-container,
.jobs-inline {
  margin-top: $jg-document-spacer;
  margin-bottom: $jg-document-spacer;
}

.link-cards,
.stories {
  margin-top: $jg-document-spacer;
  margin-bottom: $jg-document-spacer - $spacer;
}

[popover] {
  padding: 0 .5rem;
  font-size: $small-font-size;
  color: $jg-white;
  background-color: $jg-dark;
  border: none;
  border-radius: $border-radius;
}
