.document-section {
  position: relative;
  padding-top: $jg-main-spacer;
  margin: $jg-main-spacer 0;
  margin-top: $jg-main-spacer + .5rem;
  border-top: 2px solid $body-color;
}

.document-section-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
  @extend .m-0;
  position: absolute;
  top: 0;
  padding-right: $spacer;
  font-weight: $font-weight-normal;
  color: $body-color;
  background-color: $jg-white;
  transform: translate(0, -50%);
}
