.explainer-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacer;
}

@include media-breakpoint-up(md) {
  .explainer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.explainer-card {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: $spacer;
  align-items: start;
  padding: $spacer;
  margin: 0;
  background-color: $jg-blue-light;
  border: 0;
  border-radius: $border-radius;
}

.explainer-card-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: $jg-white;
  border: 1px solid $jg-blue-light;
  border-radius: 50%;
}

.explainer-card-icon {
  font-size: 2rem;
  line-height: 1;
  color: $jg-blue;
}

.explainer-card-content {
  min-width: 0;
}

.explainer-card-title {
  @extend .fs-4;
  margin: 0 0 .5rem;
}

.explainer-card-text {
  margin: 0;
}
