$explainer-card-icon-size: 2.5rem;

.explainer-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacer;
}

@include media-breakpoint-up(md) {
  .explainer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.explainer-card {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: $spacer;
  align-items: start;
  padding: $spacer;
  background-color: $jg-blue-light;
  border-radius: $border-radius;
}

.explainer-card.link {
  position: relative;
  border: 1px solid transparent;
}

.explainer-card.link a {
  @extend .stretched-link;
  text-decoration: none;
}

.explainer-card.link a:hover {
  text-decoration: underline;
}

.explainer-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $explainer-card-icon-size * 2;
  height: $explainer-card-icon-size * 2;
  background: $jg-white;
  border: 1px solid $jg-blue-light;
  border-radius: 50%;
}

.explainer-card-icon .bi {
  display: block;
  width: 1em;
  height: 1em;
  font-size: $explainer-card-icon-size;
  line-height: 1;
  color: $jg-blue;
}

.explainer-card-icon .bi::before {
  vertical-align: 0;
}

.explainer-card-content {
  min-width: 0;
}

.explainer-card-title {
  @extend .fs-4;
  margin: 0 0 .5rem;
}

.explainer-card-text {
  margin: 0;
}
