@use "sass:map";

.github-profile {
  position: relative;
  padding: $spacer;
  margin-bottom: $main-spacer;
  background: $jg-yellow-light;
  border: 1px solid $jg-yellow;
  border-radius: $border-radius;
}

.github-profile-title {
  display: flex;
  gap: map.get($spacers, 2);
  align-items: top;
  margin: 0 0 $spacer;
}

.github-profile-title .bi {
  @extend .h4;
  color: $jg-blue;
}

.github-profile-label {
  @extend .form-label;
  display: block;
  font-size: $font-size-sm;
}

.github-profile-row {
  @extend .input-group;
  margin-bottom: $spacer;
}

.github-profile-input {
  @extend .form-control;
}

.github-profile-button {
  @extend .btn;
  @extend .btn-primary;
}

.github-profile-help {
  @extend .form-text;
  margin: 0;
}

.github-profile.homepage {
  padding: map-get($spacers, 4);
  margin: 0;
  background: $jg-white;

  @include media-breakpoint-up(lg) {
    animation: pulse 3s infinite;  // cannot @extend in media query
  }
}
