@use "sass:math";

$interests-shades: 7;

.interests {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  gap: $spacer;
  justify-content: space-around;
}

.interests-item {
  display: flex;
  flex-direction: column;
  width: 10em;
  padding: $spacer;
  text-align: center;
  border: 1px solid;
  border-radius: $border-radius;
}

@for $i from 1 through $interests-shades {
  .interests.yellow .interests-item.shade-#{$i} {
    background-color:
      mix(
        $jg-white,
        $jg-yellow,
        math.div($i, $interests-shades) * 100%
      );
  }
}

.interests.yellow .interests-item,
.interests.yellow .interests-icon-container {
  border-color: $jg-yellow;
}

.interests.blue .interests-item {
  background-color: $jg-blue-white;
}

.interests.blue .interests-item,
.interests.blue .interests-icon-container {
  border-color: $jg-blue-light;
}

.interests-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 0 auto $spacer;
  background: $jg-white;
  border: 1px solid $jg-yellow;
  border-radius: 50%;
}

.interests-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%);
  opacity: 1;
}

.interests-icon.bi {
  width: auto;
  height: auto;
  font-size: 2rem;
  line-height: 1;
  color: $jg-dark;
  filter: none;
}

.interests-name {
  @extend .fs-5;
  padding: 0;
  margin: 0 0 $spacer;
  font-weight: $font-weight-medium;
  line-height: 1.2;
}

.interests-note {
  margin-top: auto;
  line-height: 2;
}

.interests-badge {
  @extend .badge;
  align-self: center;
  margin-top: auto;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $white;
  user-select: none;
  background: $jg-blue;
  border: 0;
}
