.jobs-tag {
  @extend .badge;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  color: $jg-dark;
  user-select: none;
  background: $jg-blue-light;
}

.jobs-tag-link {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  gap: .3rem;
  align-items: center;
  width: fit-content;
  margin: $spacer 0;
  text-decoration: none;
  white-space: nowrap;
}

.jobs-tag-link-label {
  text-decoration: underline;
}

.jobs-tags {
  @extend .list-unstyled;
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: map-get($spacers, 4);
  padding-top: map-get($spacers, 4) + .3rem;
  margin-bottom: $jg-main-spacer;
  vertical-align: middle;
  border: 2px solid $jg-blue;
  border-radius: $border-radius;
}

.jobs-tags dd {
  vertical-align: middle;
}

.jobs-tags.noscript {
  border-color: $jg-red;
}

.jobs-tags::before {
  position: absolute;
  top: -$spacer;
  left: $spacer;
  display: block;
  padding: 0 map-get($spacers, 2);
  font-size: $font-size-lg;
  color: $jg-blue;
  content: "Filtry";
  background: $jg-white;
}

.jobs-tags.noscript::before {
  color: $jg-red;
}

.jobs-tags-heading {
  margin-right: $spacer;
  font-weight: $font-weight-normal;
  color: $jg-gray;
  white-space: nowrap;
}

.jobs-tags .jobs-tag {
  cursor: pointer;
}

.jobs-tags .jobs-tag:hover {
  color: $jg-blue;
}

.jobs-tags .jobs-tag.active {
  color: $jg-white;
  background: $jg-blue;
}

.jobs-tags .jobs-tag.disabled {
  cursor: default;
}

.jobs-list {
  @extend .list-unstyled;
  margin-bottom: $spacer;
}

.jobs-list .jobs-tag {
  background-color: $jg-white;
}

.jobs-item {
  position: relative;
  margin-bottom: $spacer;
  background-color: $jg-blue-light;
  border: 1px solid $jg-blue-light;
  border-radius: $border-radius;
}

.jobs-item.highlighted {
  background-color: $jg-yellow-light;
  border-color: $jg-yellow;
}

.jobs-item.open {
  border-color: $jg-blue;
}

.jobs-item-container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: $spacer;
}

.jobs-logo {
  flex-grow: 0;
  flex-shrink: 0;
  padding: .25rem;
  margin-right: $spacer;
  background: $jg-white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.jobs-image {
  display: block;
  width: map-get($spacers, 5);
  height: map-get($spacers, 5);
}

.jobs-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: $spacer;
}

.jobs-body > * {
  margin: 0;
}

.jobs-title {
  @extend .fs-5;
  display: flex;
  margin-bottom: -1 * ($spacer - $headings-margin-bottom);
  color: $jg-blue;
}

.jobs-title-link,
.jobs-title-text {
  flex-grow: 1;
}

.jobs-title-link {
  @extend .stretched-link;
  text-decoration: none;
}

.jobs-title-text {
  color: $jg-dark;
}

.jobs-open,
.jobs-close {
  padding: 0;
  color: $jg-blue;
  cursor: pointer;
  background: none;
  border: none;
}

.jobs-item:hover .jobs-title-link {
  text-decoration: underline;
}

.jobs-info {
  display: flex;
  flex-wrap: wrap;
  gap: 0 $spacer;
}

.jobs-info-item {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.jobs-item .jobs-tag.matching {
  color: $jg-white;
  background-color: $jg-dark;
}

.jobs-company {
  margin-top: $spacer;

  @include media-breakpoint-up(sm) {
    display: flex;
    gap: $spacer;
    align-items: start;
  }
}

.jobs-company-heading {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    margin: 0;
  }
}

.jobs-company-heading::after {
  content: ":";
}

.jobs-company-links {
  @extend .icon-links;
}

.jobs-company-link {
  @extend .icon-link;
}

.jobs-club-items {
  @extend .list-unstyled;
  display: flex;
  gap: $spacer;
  align-items: center;
  white-space: nowrap;
}

.jobs-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $spacer;
  overflow: hidden;
  background: $jg-white;
  border-radius: 0 0 $border-radius $border-radius;

  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }
}

.jobs-actions-list {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  gap: $spacer;
  justify-content: center;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.jobs-action-club,
.jobs-action-continue {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jobs-action-club {
  gap: $spacer;
  font-size: $font-size-sm;
}

.jobs-action-button {
  @extend .btn;
  @extend .btn-sm;

  @include media-breakpoint-up(sm) {
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
  }
}

.jobs-action-button.club {
  @extend .btn-dark;
}

.jobs-action-button.continue {
  @extend .btn-primary;
}

.jobs-empty .note {
  background-color: $jg-blue-light;
}

.jobs-subscribe {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
  display: flex;
  gap: $spacer;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: map-get($spacers, 2) $spacer;
  background: $jg-yellow;
}

.jobs-subscribe-text {
  height: 0%;
  margin: 0;
  font-size: $font-size-sm;
  hyphens: none;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-base;
    text-align: center;
  }
}

.jobs-subscribe-button {
  @extend .btn;
  @extend .btn-dark;
  @extend .stretched-link;
  white-space: nowrap;
}
