.jobs-inline {
  margin-bottom: $spacer;
}

.jobs-inline-list {
  @extend .list-unstyled;
  margin-bottom: $spacer;
}

.jobs-inline-item {
  margin-bottom: $spacer;
}

.jobs-inline-link {
  display: flex;
  text-decoration: none;
}

.jobs-inline-logo {
  position: relative;
  flex-shrink: 0;
  width: map-get($spacers, 5);
  height: map-get($spacers, 5);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d' viewBox='0 0 16 16'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z' fill='%236c757d'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid $body-secondary-color;
  border-radius: $border-radius;
}

.jobs-inline-image {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: map-get($spacers, 5);
  height: map-get($spacers, 5);
  background-color: $white;
  border: 1px solid $body-secondary-color;
  border-radius: $border-radius;
}

.jobs-inline-body {
  padding-left: $spacer;
}

.jobs-inline-title,
.jobs-inline-company {
  margin: 0;
  text-decoration: underline;
}

.jobs-inline-title {
  margin-bottom: map-get($spacers, 1);
}

.jobs-inline-company {
  @extend .small;
}

.jobs-inline-footer {
  margin: 0;
  text-align: center;
}

.jobs-inline-button {
  @extend .btn;
  @extend .btn-outline-primary;
  margin: 0 auto;
}
