.link-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacer;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.wide {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.avatars {
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.link-card {
  @extend .card;
  width: 100%;
  overflow: hidden;
  background: $jg-blue-light;
  border: 1px solid $jg-blue-light;
}

.avatars .link-card {
  text-align: center;
}

.link-card.highlighted {
  background: $jg-yellow;
  border-color: $jg-yellow;
}

.link-card-image {
  @extend .card-img-top;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: .5;
}

.avatars .link-card-image {
  width: 50%;
  filter: none;
  border-radius: 50%;
  opacity: 1;
}

.link-card:hover .link-card-image {
  filter: grayscale(0%);
  opacity: 1;
  transition: $transition-base;
}

.link-card-badge {
  @extend .card-badge;
}

.link-cards.wide .link-card-badge {
  @extend .card-badge, .lg;
}

.avatars .link-card-badge {
  background-color: $jg-blue;
}

.link-card-header {
  position: relative;
}

.link-card-title {
  @extend .card-title;
  @extend .card-body;
  @extend .fs-5;
  padding-bottom: map-get($spacers, 2);
  margin: 0;
}

.link-card-title a:visited {
  color: $link-color;
}
.link-card-title a:visited:hover {
  color: $link-hover-color;
}

.link-card-link {
  @extend .stretched-link;
  text-decoration: none;
}

.link-card-link:hover,
.link-card-link:focus,
.link-card-link:active {
  text-decoration: underline;
}

.link-card-body {
  @extend .card-body;
  padding-top: 0;
}

.link-card-text {
  @extend .card-text;
}
