@mixin logos-tier($size-base) {
  $sm-width: $size-base;
  $sm-height: $size-base * .4;
  $width: $size-base * 1.8;
  $height: $size-base * .7;

  .logos-item {
    min-height: $sm-height;
    margin: 0 ($size-base * .1) .1rem;

    @include media-breakpoint-up(sm) {
      min-height: $height;
      margin: 0 ($size-base * .3) .3rem;
    }
  }

  .logos-image {
    max-width: $sm-width;
    max-height: $sm-height;

    @include media-breakpoint-up(sm) {
      max-width: $width;
      max-height: $height;
    }
  }
}

/*
  BASE
*/

.logos {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include logos-tier(3.5rem);
}

.logos-item {
  display: flex;
  align-items: center;
}

.logos-image {
  display: block;
  width: 100%;
  height: auto;
}

/*
  TIERS
*/

.logos-tier-0 {
  @include logos-tier(4.5rem);
}

.logos-tier-1 {
  @include logos-tier(6.5rem);
}

.logos-tier-2 {
  @include logos-tier(8rem);
}

/*
  CAPTION
*/

.logos-caption {
  @extend .small;
  white-space: nowrap;
}

.logos-caption,
.logos-caption a {
  @extend .text-body-secondary;
}

.logos-caption a:hover,
.logos-caption a:focus,
.logos-caption a:active {
  color: $link-color;
}

/*
  COLORING
*/

.logos.grayscale .logos-image,
.logos.muted .logos-image {
  // comments here: https://stackoverflow.com/a/52936970/325365
  filter: saturate(0) brightness(.7) contrast(3);
  mix-blend-mode: multiply;
  opacity: .7;
}

.logos.grayscale a:hover .logos-image,
.logos.grayscale a:focus .logos-image,
.logos.grayscale a:active .logos-image,
.logos.muted a:hover .logos-image,
.logos.muted a:focus .logos-image,
.logos.muted a:active .logos-image {
  filter: none;
  opacity: 1;
}

.logos.muted {
  opacity: .5;
}
