@use "sass:map";

@keyframes heartbeat-grow {
  0%,
  30%,
  100% {
    scale: 1;
  }
  15% {
    color: $jg-pink-dark;
    scale: 1.4;
  }
}

@keyframes heartbeat-shrink {
  0%,
  30%,
  100% {
    scale: .9;
  }
  15% {
    scale: 1;
  }
}

.love-btn {
  @extend .btn;
  @include button-variant(
    $jg-pink,
    $jg-pink,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.heartbeat-shrink {
  animation: heartbeat-shrink 5s ease-in-out infinite;
}
