@use "sass:map";

@keyframes heartbeat-grow {
  0%,
  30%,
  100% {
    scale: 1;
  }
  15% {
    color: $jg-pink-dark;
    scale: 1.4;
  }
}

@keyframes heartbeat-shrink {
  0%,
  30%,
  100% {
    scale: .9;
  }
  15% {
    scale: 1;
  }
}

.love-btn {
  @extend .btn;
  @include button-variant(
    $jg-pink,
    $jg-pink,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.love-heart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: map.get($spacers, 4);
  height: map.get($spacers, 4);
  font-size: map.get($spacers, 3);
  color: $jg-pink;
  transform-origin: center;
  animation: heartbeat-grow 1.5s ease-in-out infinite alternate;
}

.love-heart:hover {
  color: $jg-pink-dark;
  scale: 1.5;
  animation: none;
}

.heartbeat-shrink {
  animation: heartbeat-shrink 5s ease-in-out infinite;
}
