@use "sass:map";

$masthead-eggshell-height: map.get($spacers, 5);

.masthead {
  position: relative;
  padding: map.get($spacers, 5) 0 (2 * $masthead-eggshell-height);
  margin-bottom: $spacer;
  overflow: hidden;
  background: $jg-yellow;
  border-top: 1px solid $jg-yellow-dark;

  @include media-breakpoint-up(lg) {
    background-image: linear-gradient(rgba($jg-yellow, .9), rgba($jg-yellow, .9)), linear-gradient(to right, $jg-yellow 0%, rgba($jg-yellow, 0) 35%), linear-gradient(to top, $jg-yellow 0%, rgba($jg-yellow, 0) 35%), url("../images/shapes.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
    background-position: right top;
    background-size: 50%, 50%, 50%, 50%;
  }
}

.masthead::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: $masthead-eggshell-height;
  content: "";
  background-image: url("../images/eggshell-i.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto $masthead-eggshell-height;
}

.masthead-container {
  @extend .container-lg;
  display: grid;
  grid-template-columns: 1fr;
  gap: $main-spacer;
  margin-bottom: $main-spacer;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr;
    gap: $spacer;
    align-items: stretch;
  }
}

.masthead-column {
  min-width: 0;
  max-width: 100%;
}

.masthead-body {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}

.masthead-body .lead p,
.masthead-body .masthead-numbers,
.masthead-body .masthead-members {
  margin-bottom: 0;
}

.masthead-body .lead strong {
  font-weight: $lead-font-weight;
}

.masthead-row {
  display: flex;
  flex-wrap: nowrap;
  gap: $spacer;
  align-items: center;
}

.masthead-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  flex-shrink: 0;
}

.masthead-members {
  display: block;
  overflow: hidden;
}

.masthead-members .members {
  flex-wrap: nowrap;
  margin-bottom: 0;
}

.masthead-numbers {
  ul {
    @extend .list-unstyled;
    display: flex;
    gap: map-get($spacers, 2);
    justify-content: space-around;
    padding: $spacer;
    margin: 0;
    margin-top: map-get($spacers, 4);
    border: 2px solid $jg-yellow-dark;
    border-radius: $border-radius;
  }

  li {
    @extend .small;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  strong {
    @extend .fs-1;
    @extend .font-monospace;
    font-weight: 400;
    line-height: 1;
  }
}

.masthead-object-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masthead-object-container > :first-child {
  @include media-breakpoint-up(lg) {
    margin-left: $main-spacer;
    transform: rotate(2deg);
  }
}

.masthead .video {
  width: 100%;
  height: auto;
  background-image: url("../images/club-video-thumbnail.webp") !important; /* stylelint-disable-line declaration-no-important */
  border-radius: $border-radius;
}
