$masthead-eggshell-height: map-get($spacers, 5);
$masthead-content-spacer: $spacer;

.masthead {
  position: relative;
  padding: map-get($spacers, 5) 0 (2 * $masthead-eggshell-height);
  margin-bottom: $spacer;
  overflow: hidden;
  background-color: $jg-yellow;
  border-top: 1px solid $jg-yellow-dark;

}

.masthead::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: $masthead-eggshell-height;
  content: "";
  background-color: var(--bs-body-bg);
  mask-image: url("../images/eggshell-i.svg");
  mask-repeat: repeat-x;
  mask-position: bottom center;
  mask-size: auto $masthead-eggshell-height;
}

.masthead-container {
  @extend .container-lg;
  display: grid;
  grid-template-columns: 1fr;
  gap: $masthead-content-spacer;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}

.masthead-column {
  min-width: 0;
  max-width: 100%;
}

.masthead-body {
  display: flex;
  flex-direction: column;
  gap: $masthead-content-spacer;
}

.masthead-body .lead p,
.masthead-body .masthead-numbers,
.masthead-body .masthead-members {
  margin-bottom: 0;
}

.masthead-body .lead strong {
  font-weight: $lead-font-weight;
}

.masthead-row {
  display: flex;
  flex-wrap: nowrap;
  gap: $spacer;
  align-items: center;
}

.masthead-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  flex-shrink: 0;
}

.masthead-members {
  display: block;
  overflow: hidden;
}

.masthead-members .members {
  flex-wrap: nowrap;
  margin-bottom: 0;
}

.masthead-numbers {
  ul {
    @extend .list-unstyled;
    display: flex;
    justify-content: space-between;
    margin: 0;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }
  }

  li {
    @extend .small;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      margin-right: map-get($spacers, 5);
    }
  }

  strong {
    @extend .fs-1;
    font-weight: 400;
    line-height: 1;
  }
}

.masthead-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masthead .video {
  width: 100%;
  height: auto;
  background-image: url("../images/club-video-thumbnail.webp") !important; /* stylelint-disable-line declaration-no-important */
  border-radius: $border-radius;
}
