.media-card {
  @extend .card;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 60ch;
  margin: 0 auto $spacer;
  overflow: hidden;
  background-color: $jg-blue-light;
  border: 1px solid $jg-blue-light;
}

.media-cards {
  display: flex;
  flex-wrap: wrap;
}

.media-cards .media-card {
  margin: 0 0 $spacer;

  @include media-breakpoint-up(sm) {
    $w: calc((100% - #{$spacer}) / 2);
    width: $w;
    min-width: $w;
    max-width: $w;
    margin-right: $spacer;
  }
}

.media-cards .media-card:nth-child(2n) {
  @include media-breakpoint-up(sm) {
    margin-right: 0;
  }
}

.media-card-image-cover {
  position: relative;
}

.media-card-image {
  @extend .card-img-top;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: .5;
}

.media-card:hover .media-card-image {
  filter: grayscale(0%);
  opacity: 1;
  transition: $transition-base;
}

.media-card-badge {
  @extend .card-badge, .lg;
}

.media-card-button {
  @extend .badge;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: ($badge-padding-y * 2) ($badge-padding-x * 1.5);
  font-weight: $font-weight-normal;
  color: $white;
  background-color: $link-color;
  box-shadow: rgba($jg-dark, .24) 0 map-get($spacers, 1) map-get($spacers, 1);
  transform: translate(-50%, -50%);
}

.media-card:hover .media-card-button {
  background-color: $link-hover-color;
}

.media-card-play {
  @extend .fs-2;
}

.media-card-duration {
  @extend .fs-5;
  margin-left: .5rem;
}

.media-card-link-section {
  position: relative;
}

.media-card-title {
  @extend .card-title;
  @extend .card-body;
  @extend .fs-5;
  margin: 0;
}

.media-card-title:not(.standalone) {
  padding-bottom: map-get($spacers, 2);
}

.media-card-title a {
  text-decoration: none;
}
.media-card-title a:hover,
.media-card-title a:focus,
.media-card-title a:active {
  text-decoration: underline;
}
.media-card-title a:visited {
  color: $link-color;
}
.media-card-title a:visited:hover {
  color: $link-hover-color;
}

.media-card-link {
  @extend .stretched-link;
}

.media-card-body {
  @extend .card-body;
  padding-top: 0;
}

.media-card-text {
  @extend .card-text;
}

.media-card-note {
  @extend .card-text;
  @extend .small;
}
