$jg-member-size: 3rem;
$jg-member-shift: $jg-member-size - ($jg-member-size * .8);

.members {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: $jg-member-shift;
  margin-bottom: $spacer;
  overflow: hidden;
  vertical-align: middle;
}

.members img {
  display: inline-block;
  width: $jg-member-size;
  height: $jg-member-size;
  margin-left: -1 * $jg-member-shift;
  background-color: $white;
  border-radius: 100%;
}

.members.centered {
  justify-content: center;
}

.members.muted {
  filter: saturate(0);
  opacity: .5;
}
