.newsletter {
  padding: $spacer;
  background-color: $jg-yellow;
  border-radius: $border-radius;
}

.newsletter-container *:last-child {
  margin-bottom: 0;
}

.newsletter-heading {
  @extend .h3;
  margin-bottom: $spacer;
}

.newsletter-label {
  display: block;
  margin-bottom: $spacer;
}

.newsletter-controls {
  @extend .input-group;
}

.newsletter-email-control {
  @extend .form-control;
}

.newsletter-submit-control {
  @extend .btn;
  @extend .btn-primary;
}

.newsletter-note {
  @extend .form-text;
  margin-top: $spacer;
  color: var(--bs-secondary-color);
}

.newsletter-note a {
  color: var(--bs-secondary-color);
}

.newsletter-button {
  @extend .btn;
  @extend .btn-primary;
  margin-bottom: $spacer;
}

.newsletter-message {
  @extend .lead;
}
