@use "sass:color";

.news-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1 * $spacer;
}

.news-card {
  @extend .card;
  margin: 0 0 map-get($spacers, 4);
  overflow: hidden;
  background: $jg-blue-light;
  border: 1px solid transparent;
}

.news-card.muted {
  background: transparent;
}

.news-cards .news-card {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0 0 $spacer;

  @include media-breakpoint-up(sm) {
    $w: calc((100% - #{$spacer}) / 2);
    width: $w;
    min-width: $w;
    max-width: $w;
    margin-right: $spacer;
  }

  @include media-breakpoint-up(md) {
    $w: calc((100% - (2 * #{$spacer})) / 3);
    width: $w;
    min-width: $w;
    max-width: $w;
    margin-right: $spacer;
  }
}

.news-card:hover {
  background: color.adjust($jg-blue-light, $lightness: 1%);
  border-color: $jg-blue-light;
  transition: $transition-base;
}

.news-card.muted:hover {
  background: transparent;
  border-color: transparent;
}

.news-card:nth-child(2n) {
  @include media-breakpoint-up(sm) {
    margin-right: 0;
  }

  @include media-breakpoint-up(md) {
    margin-right: $spacer;
  }
}

.news-card:nth-child(3n) {
  @include media-breakpoint-up(md) {
    margin-right: 0;
  }
}

.news-card-row {
  display: flex;
  flex-direction: row;
}

.news-card-header {
  @extend .card-header;
  font-family: $font-family-monospace;
  color: $body-secondary-color;
  text-transform: uppercase;
  background: $jg-white;
  border-color: $jg-blue-light;
}

.news-card-media {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20%;
  max-width: $spacer * 10;
  padding: $spacer 0 $spacer $spacer;
}

.news-card-image {
  @extend .rounded-circle;
  width: 100%;
  height: auto;
  filter: contrast(1.1);
}

.news-card:hover .news-card-image {
  transition: $transition-base;
}

.news-card-title {
  @extend .card-title;
  @extend .fs-5;
  margin-top: 0;
}

.news-card-subtitle {
  @extend .fs-6;
  font-weight: $font-weight-normal;
}

.news-card-title a:visited {
  color: $link-color;
}
.news-card-title a:visited:hover {
  color: $link-hover-color;
}

.news-card-link {
  @extend .stretched-link;
  text-decoration: none;
}

.news-card-link:hover,
.news-card-link:focus,
.news-card-link:active {
  text-decoration: underline;
}

.news-card-body {
  @extend .card-body;
  padding-top: $spacer;
}

.news-card-details {
  @extend .card-text;
  text-transform: uppercase;
}

.news-card-details strong {
  font-size: $small-font-size;
  font-weight: $font-weight-bold;
}
