.newsletter {
  padding: $spacer;
  background-color: $jg-yellow;
  border-radius: $border-radius;
}

.newsletter-container *:last-child {
  margin-bottom: 0;
}

.newsletter-heading {
  @extend .h3;
  margin-bottom: $spacer;
}

.newsletter-fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: $spacer;
}

.newsletter-email {
  flex-grow: 1;
}

.newsletter-email-control {
  @extend .form-control;
  @extend .form-control-lg;
}

.newsletter-submit {
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: $spacer;
}

.newsletter-submit-control {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.newsletter-note {
  @extend .form-text;
  @extend .text-body-secondary;
}

.newsletter-note a {
  @extend .text-body-secondary;
}

.newsletter-button {
  @extend .btn;
  @extend .btn-primary;
  margin-bottom: $spacer;
}

.newsletter-message {
  @extend .lead;
}
