.newsletter {
  padding: $spacer;
  background-color: $jg-yellow;
  border-radius: $border-radius;
}

.newsletter-container *:last-child {
  margin-bottom: 0;
}

.newsletter-heading {
  @extend .h3;
  margin-bottom: $spacer;
}

.newsletter-fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: $spacer;
}

.newsletter-email {
  flex-grow: 1;
}

.newsletter-email-control {
  @extend .form-control;

  @include media-breakpoint-up(sm) {
    // can't @extend .form-control-lg here because Sass forbids cross-media extends
    min-height: $input-height-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    border-radius: $input-border-radius-lg;
  }
}

.newsletter-submit {
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: $spacer;
}

.newsletter-submit-control {
  @extend .btn;
  @extend .btn-primary;

  @include media-breakpoint-up(sm) {
    // can't @extend .btn-lg here because Sass forbids cross-media extends
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $btn-font-size-lg;
    border-radius: $btn-border-radius-lg;
  }
}

.newsletter-note {
  @extend .form-text;
  @extend .text-body-secondary;
}

.newsletter-note a {
  @extend .text-body-secondary;
}

.newsletter-button {
  @extend .btn;
  @extend .btn-primary;
  margin-bottom: $spacer;
}

.newsletter-message {
  @extend .lead;
}
