.note {
  @extend .alert;
  background-color: $jg-blue-white;
  border: 1px dotted $jg-blue;
}

.note i {
  margin-right: map-get($spacers, 2);
  color: $jg-blue;
}

.note *:last-child {
  margin-bottom: 0;
}
