.note-explainer {
  @extend .list-unstyled;
  // @extend .fs-4;
  display: flex;
  flex-direction: column;
  gap: $spacer;
  padding: $spacer;
  background: $jg-yellow-light;
  border: 1px dotted $jg-blue;
  border-radius: $border-radius;
}

.note-explainer-item {
  display: flex;
  gap: $spacer;
  align-items: flex-start;
}

.note-explainer-item i {
  color: $jg-blue;
}
