.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: map-get($spacers, 4);
  padding-bottom: $spacer;
  margin-top: $jg-main-spacer;
  border-top: map-get($border-widths, 2) solid $body-color;
}

.pagination-button {
  @extend .btn;
  @extend .btn-dark;
  margin: 0;
}
