.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: $spacer;
  }
}

.pricing-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 1);
  min-width: 20rem;
  padding: map-get($spacers, 4);
  margin-bottom: $spacer;
  text-align: center;
  white-space: nowrap;
  background-color: $white;
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(md) {
    max-width: 30%;
    margin-bottom: 0;
  }
}

.pricing-heading,
.pricing-subheading,
.pricing-benefits {
  margin: 0;
}

.pricing-subheading {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
}

.pricing-benefits {
  @extend .list-unstyled;
  width: 90%;
  margin: $spacer auto map-get($spacers, 4);
  font-size: $font-size-sm;
  text-align: left;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
  }
}

.pricing-benefits .bi {
  margin-right: map-get($spacers, 1);
  @extend .text-success;
}

.pricing-benefits-item.price {
  font-size: $font-size-lg;
}

.pricing-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  @extend .stretched-link;
}

.pricing-note,
.pricing-note a {
  @extend .text-muted;
  white-space: normal;
}
