$jg-stage-icon-size: $spacer * 3.5;
$jg-stage-icon-space-x: 1.5 * $spacer;
$jg-stage-icon-space-y: $spacer;
$jg-stage-line-width: .1rem;
$jg-stage-line-color: $jg-black;
$jg-stage-arrow-width: .7rem;

$jg-stage-line-position: $jg-stage-icon-space-x + ($jg-stage-icon-size * .5);
$jg-stage-illustration-size: $jg-stage-icon-size + (2 * $jg-stage-icon-space-x);
$jg-stage-arrow-height: $jg-stage-arrow-width * .5;

.stage-cards,
.stage-card {
  background-image: linear-gradient($jg-stage-line-color, $jg-stage-line-color);
  background-repeat: no-repeat;
  background-size: $jg-stage-line-width 100%;
}

.stage-cards {
  margin-top: map-get($spacers, 4);
  background-position: $jg-stage-line-position center;
}

.stage-illustration {
  padding: $spacer 0;
  margin: map-get($spacers, 4) 0;
  background-color: $jg-white;
}

.stage-illustration img {
  display: block;
  width: $jg-stage-illustration-size;
  height: $jg-stage-illustration-size;
}

.stage-card {
  @extend .card;
  margin: 0 0 map-get($spacers, 4);
  background-color: $jg-blue-light;
  background-position: $jg-stage-line-position center;
  border: none;
}

.stage-card:first-child {
  background-position: $jg-stage-line-position $spacer;
}

.stage-card-row {
  display: flex;
  flex-direction: row;
}

.stage-card-media {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding:
    $jg-stage-icon-space-y ($jg-stage-icon-space-x - $spacer)
    $jg-stage-icon-space-y $jg-stage-icon-space-x;
}

.stage-card-media::before {
  display: block;
  width: $jg-stage-arrow-width;
  height: $jg-stage-arrow-height;
  content: "";
  border: $jg-stage-arrow-height solid transparent;
  border-top: $jg-stage-arrow-height solid $jg-stage-line-color;
  border-bottom: 0 none;
}

.stage-card:first-child .stage-card-media::before {
  display: none;
}

.stage-card-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $jg-stage-icon-size;
  height: $jg-stage-icon-size;
  font-size: $jg-stage-icon-size * .45;
  background-color: $jg-blue-light;
  border: $jg-stage-line-width solid $jg-black;
  border-radius: 100%;
}

.stage-card-body {
  @extend .card-body;
  padding-top: $spacer;
}

.stage-card-title {
  @extend .card-title;
}

.stage-card-description {
  @extend .card-text;
}

.stage-card-pages {
  @extend .column-gap-3;
  display: flex;
  flex-wrap: wrap;
}

.stage-card-todo-pages {
  @extend .card-text;
  @extend .small;
}
