.topics {
  ul {
    @extend .list-unstyled;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 10em;
    padding-right: calc(#{$spacer} / 2);
    padding-left: calc(#{$spacer} / 2);
    margin-bottom: $spacer;
    font-size: $font-size-sm;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: $font-size-base;
    }
  }

  a {
    display: block;
  }

  i {
    display: block;
    padding: 0;
    margin: 0;
    font-size: $h1-font-size;
    line-height: 1.5;
    color: $primary;
  }
}

.topics-grid li {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: $jg-main-spacer;

  @include media-breakpoint-up(md) {
    width: 33.33%;
  }
}

.topics-grid a {
  max-width: 10em;
}
