.topics {
  ul {
    @extend .list-unstyled;
    display: flex;
    flex-wrap: wrap;
    gap: $spacer;
    justify-content: space-around;
    margin-bottom: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 10em;
    font-size: $font-size-sm;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: $font-size-base;
    }
  }

  a {
    display: block;
  }

  i {
    display: block;
    padding: 0;
    margin: 0;
    font-size: $h1-font-size;
    line-height: 1.5;
    color: $primary;
  }
}

.topics-grid {
  ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(10em, 1fr));
    gap: $spacer;
    justify-items: center;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, minmax(10em, 1fr));
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, minmax(10em, 1fr));
    }
  }

  li {
    width: 100%;
    max-width: 12rem;
  }

  a {
    max-width: 100%;
  }
}
