<!DOCTYPE html>
<html lang="cs" data-updated-at="{{ now.to('Europe/Prague') }}">
  <head prefix="og: https://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="utf-8">
    <link rel="canonical" href="{{ request.url }}">
    <title>
      {% block title %}Jak se naučit programovat a získat první práci v IT{% endblock %}
    </title>

    {% block meta %}
      <script defer src="{{ url_for('static', filename='bundle.js') }}"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1316071-22"></script>

      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">

      <meta property="og:title" content="{{ self.title() }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ request.url }}">
      <meta property="og:image" content="{{ url_for('static', filename=thumbnail, _external=True) }}">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">

      <meta name="twitter:card" content="photo">
      <meta name="twitter:image" content="{{ url_for('static', filename=thumbnail, _external=True) }}">
      <meta name="twitter:creator" content="@honzajavorek">
    {% endblock meta %}
  </head>
  <body class="body{% block body_modifier %}{% endblock %}">
    <div class="body__container">
    {% block body %}
      <header class="header{% if subnav_tabs %} header--subnav{% endif %}{% block header_modifier %}{% endblock %}">
        <div class="header__navbar">
          <div class="header__main">
            <div class="header__main-content">
              {% block header_content %}
              <a class="header__logo" href="{{ url_for('index') }}">
                <img class="header__logo-image" src="{{ url_for('static', filename='images/logo.svg') }}" alt="junior.guru">
              </a>
              {% endblock %}
              {% if nav_tabs %}
                <nav class="header__nav">
                  <ol class="header__nav-tabs">
                    {%- for tab in nav_tabs -%}
                      <li class="header__nav-tab">
                        {{- '' -}}
                        <a class="
                          header__nav-tab-control
                          {% if tab.endpoint == 'club' %}
                            header__nav-tab-control--button
                          {% endif %}
                          {% if tab.endpoint == nav_active %}
                            header__nav-tab-control--active
                          {% endif %}
                        " href="{{ url_for(tab.endpoint) }}">
                          {{- tab.name -}}
                        </a>
                        {{- '' -}}
                      </li>
                    {%- endfor -%}
                  </ol>
                </nav>
              {% endif %}
            </div>
          </div>
          {% if subnav_tabs %}
            <nav class="header__subnav">
              <ul class="header__subnav-tabs">
                {%- for tab in subnav_tabs -%}
                  <li class="header__subnav-tab">
                    <a class="header__subnav-tab-control{% if tab.endpoint == subnav_active %} header__subnav-tab-control--active{% endif %}" href="{{ url_for(tab.endpoint) }}">
                      {% if tab.number is defined %}
                        <span class="header__subnav-tab-number">{{ tab.number }}</span>
                      {% endif %}
                      <span class="header__subnav-tab-name">{{ tab.name }}</span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
          {% endif %}
          <hr class="header__divider">
        </div>
        {% block header_toc %}{% endblock %}
      </header>
      <main class="content{% block content_modifier %}{% endblock %}">
        {% block content %}{% endblock %}
      </main>
      <hr>
      <footer>
        <div class="footer">
          <div class="editorial">
            <p class="editorial__section">
              Provozuje&nbsp;<a href="{{ url_for('donate') }}#about">Honza Javorek</a>,&nbsp;<a href="https://twitter.com/honzajavorek/">@honzajavorek</a>
            </p>
            <p class="editorial__section">
              <span class="editorial__item"><a href="/privacy/">Kontakt</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ url_for('press') }}">Pro média</a>,&nbsp;</span>
              <span class="editorial__item"><a href="/privacy/">Ochrana osobních údajů</a>,&nbsp;</span>
              <span class="editorial__item"><a href="/tos/">Obchodní podmínky</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ url_for('coc') }}">Pravidla chování</a></span>
            </p>
            <p class="editorial__section">
              <!-- TODO THIS IS DUPLICATED ACROSS BOTH BASE.HTML FILES -->
              Témata, která řešíme v klubu:
              {{- '' -}}&nbsp;<a href="/topics/cs50/">CS50</a>,
              {{- '' -}}&nbsp;<a href="/topics/czechitas/">Czechitas</a>,
              {{- '' -}}&nbsp;<a href="/topics/engeto/">Engeto</a>,
              {{- '' -}}&nbsp;<a href="/topics/itnetwork/">ITnetwork</a>,
              {{- '' -}}&nbsp;<a href="/topics/mentoring/">mentoring</a>,
              {{- '' -}}&nbsp;<a href="/topics/interviews/">pohovory</a>,
              {{- '' -}}&nbsp;<a href="/topics/pyladies/">PyLadies</a>,
              {{- '' -}}&nbsp;<a href="/topics/reactgirls/">ReactGirls</a>
            </p>
          </div>
          {% block author %}{% endblock %}
        </div>
      </footer>
    {% endblock %}
    </div>

    <script>
      if (window.location.hostname === 'junior.guru') {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-1316071-22');
      }
    </script>
  </body>
</html>
