{% extends 'layouts/base.html' %}

{% block author %}
<div class="author" id="honza">
  <div class="author-wrapper">
    <p class="author-text-outer">
      <img class="author-photo" alt="Fotka Honzy Javorka" src="{{ url_for('static', filename='images/honza.jpg') }}" loading="lazy">
      <span class="author-text-inner">
      Ahoj! Jmenuji se <a href="{{ url_for('donate') }}#about">Honza Javorek</a> a jsem autor tohoto průvodce.
      Ukázal ti tento průvodce cestu k&nbsp;programování? K&nbsp;lepší práci?
      Můžeš mi <a href="{{ url_for('donate') }}">poděkovat dobrovolným příspěvkem</a>.
      Veškerý obsah zde nechávám volně přístupný, aby pomohl co nejvíce lidem.
      Příspěvky zajistí, že tyto stránky budu moci vylepšovat a dál provozovat.
      </span>
    </p>
    <div class="call-to-action">
      <a href="{{ url_for('donate') }}" class="legacy-button legacy-button-inverted">
        Přispět
      </span>
    </div>
  </div>
</div>
{% endblock %}
