.link-cards {
  display: flex;
  flex-wrap: wrap;
}

.link-card {
  @extend .card;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0 0 $spacer 0;
  overflow: hidden;
  background: $jg-blue-light;
  border: 1px solid $jg-blue-light;

  @include media-breakpoint-up(sm) {
    $w: calc((100% - #{$spacer}) / 2);
    width: $w;
    min-width: $w;
    max-width: $w;
    margin-right: $spacer;
  }

  @include media-breakpoint-up(md) {
    $w: calc((100% - (2 * #{$spacer})) / 3);
    width: $w;
    min-width: $w;
    max-width: $w;
    margin-right: $spacer;
  }
}

.link-card:nth-child(2n) {
  @include media-breakpoint-up(sm) {
    margin-right: 0;
  }

  @include media-breakpoint-up(md) {
    margin-right: $spacer;
  }
}

.link-card:nth-child(3n) {
  @include media-breakpoint-up(md) {
    margin-right: 0;
  }
}

.link-card-image {
  @extend .card-img-top;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: .5;
}

.link-card:hover .link-card-image {
  filter: grayscale(0%);
  opacity: 1;
}

.link-card-icon {
  @extend .badge;
  position: absolute;
  top: map-get($spacers, 2);
  right: map-get($spacers, 2);
  z-index: 1;
  font-weight: $font-weight-normal;
  color: $white;
  background: $link-color;
  box-shadow: rgba($jg-dark, .24) 0 map-get($spacers, 1) map-get($spacers, 1);
}

.link-card:hover .link-card-icon {
  background: $link-hover-color;
}

.link-card-header {
  position: relative;
}

.link-card-title {
  @extend .card-title;
  @extend .card-body;
  @extend .fs-5;
  padding-bottom: map-get($spacers, 2);
  margin: 0;
}

.link-card-title a:visited { color: $link-color; }
.link-card-title a:visited:hover { color: $link-hover-color; }

.link-card-link {
  @extend .stretched-link;
}

.link-card-body {
  @extend .card-body;
  padding-top: 0;
}

.link-card-text {
  @extend .card-text;
}
