.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: $spacer;
  }
}

.pricing-block {
  position: relative;
  min-width: 15rem;
  padding: map-get($spacers, 4);
  margin-bottom: $spacer;
  text-align: center;
  white-space: nowrap;
  background: $white;
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.pricing-heading {
  margin-top: 0;
}

.pricing-benefits {
  @extend .list-unstyled;
  font-size: $font-size-sm;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
  }
}

.pricing-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  @extend .stretched-link;
}
