.stories-item {
  position: relative;
  display: flex;
  max-width: 60ch;
  margin: 0 auto $spacer auto;
  border-radius: $border-radius-sm;
}

.stories-image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  filter: contrast(1.2);
  border-radius: 100%;
}

.stories-body {
  padding: 0 0 0 $spacer;
}

.stories-title {
  @extend .fs-5;
}

.stories-link {
  @extend .stretched-link;
}

.stories-title a:visited {
  color: $link-color;
}

.stories-title a:visited:hover {
  color: $link-hover-color;
}

.stories-details {
  @extend .small;
  @extend .text-muted;
  margin: 0;
}
