<!DOCTYPE html>
<html lang="cs" data-updated="{{ updated_at.to('Europe/Prague') }}">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ url }}">
    <title>
      Jak se naučit programovat a získat svou první práci v IT{% block title %}{% endblock %}
    </title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1316071-22"></script>
    <script>
      if (window.location.hostname === 'junior.guru') {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-1316071-22');
      }
    </script>

    <meta name="description" content="{% block description %}{% endblock %}">
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    {% block body %}
      {% block header %}
      <header>
        <strong>
          <a href="/">junior.guru</a>
        </strong>
        <ol>
          <li><a href="/learn/">Nauč se základy</a></li>
          <li><a href="/practice/">Získej praxi</a></li>
          <li><a href="/jobs/">Najdi práci</a></li>
        </ol>
      </header>
      <hr>
      {% endblock %}
      {% block content %}{% endblock %}
      <hr>
      <footer>
        <p>
          Stránky <strong>junior.guru</strong> lidem radí, jak se naučit programovat.
          Provozuje je <a href="http://honzajavorek.cz">Honza Javorek</a>.
        </p>
        <p id="contact">
          Pište na {{ 'ahoj@junior.guru'|email_link }},
          tweetujte na <a href="https://twitter.com/honzajavorek/">@honzajavorek</a>
        </p>
        <p>
          <a href="/privacy/">Zpracování osobních údajů</a>
        </p>
      </footer>
    {% endblock %}
    <script src="/bundle.js"></script>
  </body>
</html>
