<!DOCTYPE html>
<html lang="cs" data-updated-at="{{ updated_at.to('Europe/Prague') }}" data-url-path="{{ url_path }}">
  <head prefix="og: https://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="utf-8">
    <link rel="canonical" href="{{ url }}">
    <title>
      Jak se naučit programovat a získat svou první práci v IT{% block title %}{% endblock %}
    </title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1316071-22"></script>
    <script>
      if (window.location.hostname === 'junior.guru') {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-1316071-22');
      }
    </script>

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bundle.css">

    <meta property="og:title" content="Jak se naučit programovat a získat svou první práci v IT{{ self.title() }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ base_url }}/images/og-image.png">
  </head>
  <body{% block body_attrs %} class="page"{% endblock %}>
    {% block body %}
      {% block header %}
      <header>
        <nav>
          <a class="logo" href="/">
            <img src="/images/logo.svg" alt="junior.guru">
          </a>
          <ol>
            <li>
              <a href="/learn/">
                <span>Nauč se základy</span>
              </a>
            </li>
            <li>
              <a href="/practice/">
                <span>Získej praxi</span>
              </a>
            </li>
            <li>
              <a href="/jobs/">
                <span>Najdi práci</span>
              </a>
            </li>
          </ol>
        </nav>
      </header>
      {% endblock %}
      <hr>
      <main>
        {% block main %}{% endblock %}
      </main>
      <hr>
      <footer>
        <address>
          <span>Provozuje <a href="http://honzajavorek.cz">Honza Javorek</a>&nbsp;&mdash;&nbsp;</span>
          <span>pište na {{ 'ahoj@junior.guru'|email_link }},&nbsp;</span>
          <span>tweetujte na <a href="https://twitter.com/honzajavorek/">@honzajavorek</a>.</span>
        </address>
        <p>
          <a href="/privacy/">Zpracování osobních údajů</a>
        </p>
      </footer>
    {% endblock %}
    <script defer src="/bundle.js"></script>
  </body>
</html>
