<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./podcast-episode.css" />
  </head>
  <body>
    <main>
      <section class="podcast-photos">
        <img src="{{ images_dir }}/avatars-participants/pavlina-fronkova.jpg" />
        <img src="{{ images_dir }}/{{ podcast_episode.image_path }}" />
      </section>
      <h1>{{ podcast_episode.format_title() }}</h1>
      <section class="podcast-url">
        <button class="btn btn-primary btn-lg">junior.guru/podcast</button>
      </section>
    </main>
    <footer>
      <p>
        <a class="brand-button spotify" href="#"
          >{{ 'spotify'|icon }} Spotify</a
        >
        <a class="brand-button apple" href="#">{{ 'apple'|icon }} Apple</a>
        <a class="brand-button youtube" href="#"
          >{{ 'youtube'|icon }} YouTube</a
        >
        <a class="brand-button rss" href="#">{{ 'rss-fill'|icon }} RSS</a>
      </p>
    </footer>
  </body>
</html>
