<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./sponsor.css">
  </head>
  <body>
    <main>
      <div>
        <img src="{{ images_dir }}/{{ sponsor_logo_path }}" alt="{{ sponsor_name }}" width="200">
      </div>
      <div>
        <img src="{{ images_dir }}/logo.svg" width="200">
      </div>
    </main>
    <aside>
      <div>
        <img src="{{ images_dir }}/heart-i.svg" width="200">
        <p>Sponzoruje <strong>junior.guru</strong></p>
      </div>
    </aside>
  </body>
</html>
