@import "../../../../node_modules/@fontsource/inter";
@import "../css/index";

html {
  font-family: Inter, sans-serif;
}

.thumbnail {
  width: 100vw;
  height: 100vh;
  background-color: $jg-yellow;
}

.thumbnail-main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.thumbnail-image-container {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 80vh;
  overflow: hidden;
  clip-path: ellipse(55% 110% at 45% center);
}

.thumbnail-image {
  display: block;
  width: auto;
  height: 100vh;
  aspect-ratio: 1 / 1;
}

.thumbnail-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2.5rem;
}

.thumbnail-heading,
.thumbnail-subheading {
  margin: 0;
}

.thumbnail-title {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-bottom: 1.5rem;
}

.thumbnail-heading {
  font-size: 3.2rem;
  font-weight: 900;
}

.thumbnail-heading.medium {
  font-size: 2.9rem;
}

.thumbnail-heading.long {
  font-size: 2.6rem;
}

.thumbnail-heading.looong {
  font-size: 2.3rem;
}

.thumbnail-subheading {
  @extend .font-monospace;
  @extend .text-uppercase;
  order: -1;
}

.thumbnail-subheading,
.thumbnail-date {
  font-size: 1.8rem;
}

.thumbnail-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.thumbnail-button-container {
  display: flex;
  gap: 2rem;
}

.thumbnail-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-align: left;
}

.thumbnail-button-heading {
  font-size: 1.3rem;
}

.thumbnail-button-link {
  align-content: center;
}

.thumbnail-button-link i {
  margin-right: .5rem;
}

.thumbnail-platforms {
  display: flex;
  gap: 1rem;
  align-items: center;
}
