---
title: Kandidáti na pozici junior programátor, junior tester, junior data analytik
description: Ověřený a seřazený seznam těch nejšikovnějších juniorů a juniorek, kteří právě teď hledají práci.
thumbnail_title: Vybírej zdarma z top IT juniorů na trhu
thumbnail_button_icon: file-person
template: main_subnav.html
---

{% from 'macros.html' import lead, note, img with context %}

<h1>Juniorní programátoři a testeři</h1>

{% call lead() %}
  Hledáš do firmy juniora?
  Zapomeň na inzeráty a stohy životopisů.
  Tady vybíráš z toho nejlepšího na trhu.
  Každý v seznamu je ověřený a má zaručené základní schopnosti.
  Oslovuješ napřímo, nic neplatíš.
{% endcall %}

<h2 hidden>Jak to funguje</h2>
<ul class="note-explainer">
  <li class="note-explainer-item">
    {{ 'github'|icon }}
    <span>
      Junioři musí <strong>prokázat iniciativu a základní technickou zdatnost</strong>, aby se v seznamu vůbec objevili.
      <small>Sami se musí dokázat přidat přes <a href="https://github.com/juniorguru/eggtray/">github.com/juniorguru/eggtray</a>.</small>
    </span>
  </li>
  <li class="note-explainer-item">
    {{ 'check-circle-fill'|icon }}
    <span>
      Robot každý den vyhodnocuje, které profily <strong>splňují naše standardy</strong>. Ty ostatní se zobrazí poloprůhledně.
      <small>Klidně si <a href="{{ pages|docs_url('handbook/github-profile.md')|url }}">zpětnou vazbu od robota</a> vyzkoušej.</small>
    </span>
  </li>
  <li class="note-explainer-item">
    {{ 'star-fill'|icon }}
    <span>
      Pokud junior vše splňuje a navíc <strong>se rozvíjí v našem klubu</strong>, zobrazí se žlutě.
      <small>Naše <a href="{{ pages|docs_url('club.md')|url }}">online komunita</a> dává juniorům kontakt s realitou, seniorní dohled a ověřuje jejich komunikační schopnosti.</small>
    </span>
  </li>
  <li class="note-explainer-item">
    {{ 'piggy-bank-fill'|icon }}
    <span>
      Když si někoho vybereš, <strong>opravdu nic neplatíš</strong>. Oslovuješ napřímo.
      <small>Pokud chceš projevit vděčnost, podpoř junior.guru <a href="{{ pages|docs_url('love.jinja')|url }}">dobrovolným příspěvkem nebo sponzorstvím</a>.</small>
    </span>
  </li>
</ul>

{#
{% call note(standout=true) -%}
  {{ 'plus-circle'|icon }} Chceš tady být taky? Přidej se přes <a href="https://github.com/juniorguru/eggtray/">github.com/juniorguru/eggtray</a>, jestli to dokážeš!
{%- endcall %}
#}

<dl class="candidates-filters standout noscript">
  <dt class="candidates-filters-heading">{{ "geo-alt"|icon }} Místo:</dt>
  <dd class="candidates-tags">
      {% for tag in candidates_region_tags %}
        <span
          class="candidates-tag"
          hidden
          data-candidates-tag="{{ tag.slug }}"
          data-candidates-tag-type="{{ tag.type|lower }}"
        >
          {{- tag.name -}}
        </span>
      {% endfor %}
      <span class="candidates-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="candidates-filters-heading">{{ "tools"|icon }} Zaměření:</dt>
  <dd class="candidates-tags">
    {% for tag in candidates_tags.skill %}
      <span
        class="candidates-tag"
        hidden
        data-candidates-tag="{{ tag.slug }}"
        data-candidates-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="candidates-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="candidates-filters-heading">{{ "chat-dots"|icon }} Jazyky:</dt>
  <dd class="candidates-tags">
    {% for tag in candidates_tags.language %}
      <span
        class="candidates-tag"
        hidden
        data-candidates-tag="{{ tag.slug }}"
        data-candidates-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="candidates-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
</dl>

<div class="candidates">
  <ul class="candidates-list">
    {% for candidate in candidates %}
    <li class="candidates-item openable tagged{% if candidate.is_highlighted %} highlighted{% elif not candidate.is_ready %} muted{% endif %}">
      <div class="candidates-item-container">
        <div class="candidates-avatar">
          {{ img('static/' + candidate.avatar_path, candidate.name + ' (avatar)', 100, 100, class="candidates-image") }}
        </div>
        <div class="candidates-body">
          <h3 class="candidates-title">
            <a class="candidates-title-link"
                href="{{ candidate.github_url }}" rel="nofollow noopener" target="_blank"
            >
              {{ candidate.name }}
            </a>
            <span class="candidates-title-text" hidden>{{ candidate.name }}</span>
            <span class="candidates-open">{{ "arrow-down-square"|icon }}</span>
            <button class="candidates-close" hidden>{{ "x-lg"|icon }}</button>
          </h3>
          <p class="candidates-info">
            <span class="candidates-info-item">{{ "geo-alt"|icon }} {{ candidate.location_text|default("všudezdejší", true) }}</span>
          </p>
          <p class="candidates-badges">
            {% for badge in candidate.badges %}
              {% set badge_tag = "button" if badge.help_text else "span" %}
              <{{ badge_tag }}
                class="candidates-badge {{ badge.color|lower }}"
                {% if badge.help_text %}
                  title="{{ badge.help_text }}"
                  data-bs-toggle="tooltip"
                  data-bs-custom-class="candidates-badge-tooltip"
                  data-bs-placement="bottom"
                {% endif -%}
              >
                {{- badge.icon|icon }} {{ badge.label -}}
              </{{ badge_tag }}>
            {% endfor %}
          </p>
          <p class="candidates-tags">
            {% for tag in candidate.tags %}
              <span
                class="candidates-tag"
                data-candidates-tag="{{ tag.slug }}"
                data-candidates-tag-type="{{ tag.type|lower }}"
              >
                {{- tag.name -}}
              </span>
            {% endfor %}
          </p>
          <div class="candidates-projects" hidden>
            {% for project in candidate.projects[:2] %}
              <div class="candidates-project">
                {% if project.thumbnail_path %}
                  {{ img('static/' + project.thumbnail_path, project.name_repo, 400, 250, class="candidates-project-image") }}
                {% endif %}
                <div class="candidates-project-body">
                  <h4 class="candidates-project-heading">
                    {{ project.title_pretty }}
                  </h4>
                  <p class="candidates-project-text">
                    {% if project.description %}
                      {{ project.description }}<br>
                    {% endif %}
                    <small>{{ project.duration|duration }} práce, hotovo {{ project.end_on.year }}</small>
                  </p>
                  <div class="candidates-project-links">
                    {% if project.demo_url %}
                      <a
                        href="{{ project.demo_url }}"
                        rel="nofollow noopener"
                        target="_blank"
                        class="candidates-project-link primary"
                      >Ukázka</a>
                    {% endif %}
                    <a
                      href="{{ project.source_url }}"
                      rel="nofollow noopener"
                      target="_blank"
                      class="candidates-project-link{% if not project.demo_url %} primary{% endif %}"
                    >Zdrojový kód</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if candidate.experience_text %}
          <div class="candidates-details" hidden>
            <h4 class="candidates-details-heading">Praxe</h4>
            <ul class="candidates-details-items">
              <li class="candidate-details-item">
                {{ candidate.experience_text }}
              </li>
            </ul>
          </div>
          {% endif %}
          <div class="candidates-details" hidden>
            <h4 class="candidates-details-heading">Škola</h4>
            <ul class="candidates-details-items">
              <li class="candidate-details-item">
                {{ candidate.school_text }}
              </li>
            </ul>
          </div>
          {% if candidate.domains %}
          <div class="candidates-details" hidden>
            <h4 class="candidates-details-heading">Čemu také rozumí</h4>
            <ul class="candidates-details-items">
              {% for domain in candidate.domains %}
              <li class="candidate-details-item">
                {{ domain }}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if not candidate.is_ready %}
          <div class="candidates-details" hidden>
            <h4 class="candidates-details-heading">Co chybí doladit</h4>
            <ul class="candidates-details-items">
              <li class="candidate-details-item">
                <a href="{{ candidate.report_url }}" rel="nofollow noopener" target="_blank">{{ candidate.report_url|github_url }}</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="candidates-actions" hidden>
        <ul class="candidates-actions-list">
          <li class="candidates-action-contact">
            <a
              href="{{ candidate.github_url }}"
              rel="nofollow noopener"
              target="_blank"
              class="candidates-action-button {% if candidate.linkedin_url %}profile{% else %}contact{% endif %}"
            >
              {{ "github"|icon }} GitHub
            </a>
          </li>
          {% if candidate.linkedin_url %}
          <li class="candidates-action-contact">
            <a
              href="{{ candidate.linkedin_url }}"
              rel="nofollow noopener"
              target="_blank"
              class="candidates-action-button {% if candidate.email %}profile{% else %}contact{% endif %}"
            >
              {{ "linkedin"|icon }} LinkedIn
            </a>
          </li>
          {% endif %}
          {% if candidate.email %}
          <li class="candidates-action-contact">
            <a
              href="mailto:{{ candidate.email }}"
              class="candidates-action-button contact"
            >
              {{ "envelope-fill"|icon }} E-mail
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if candidate.email %}
        <address class="candidates-action-email" hidden>
          {{ candidate.email|replace("@", "&#64;<!---->")|safe }}
        </address>
        {% endif %}
    </li>
  {% endfor %}
    <li class="candidates-empty" hidden>
      {% call note() -%}
        {{ 'search'|icon }}
        Tvým filtrům neodpovídají žádní kandidáti.
        {{- ' ' -}}
        {%- if not is_remote_listing -%}
          Pokud hledáš podle místa, zkus přidat <span class="candidates-tag active">#kdekoliv</span>.
        {%- endif -%}
      {%- endcall %}
    </li>
  </ul>
</div>
