---
title: Jak se naučit programovat a získat první práci v IT
template: main_sections.html
description: Komunita pro začátečníky v programování, průvodce programováním pro samouky, kurzy programování, nabídky práce pro juniory
thumbnail_subheading: junior.guru
---

{% from 'macros.html' import img, lead, link_card, logo with context %}


<header class="masthead"><div class="masthead-container">

<div class="masthead-column">
<h1>
  Najít první práci v IT je těžší, než ti slibovali
</h1>
<div class="masthead-body">
<div class="lead">
  <p>
    Pojď si <strong>ujasnit směr a doladit nedostatky</strong>.
    Ukaž se firmám v nejlepším světle.
    Potkej seniory, kteří rádi poradí, a juniory, kteří přesně vědí, jak se cítíš.
  </p>
</div>
<div class="masthead-numbers">
{% set years = today.year - 2019 %}
<ul>
  <li>
    <strong>{{ years }}</strong>
    {{ years|nplurals("rok", "roky", "let") }} s juniory
  </li>
  <li>
    <strong>{{ handbook_pages_count }}</strong>
    kapitol příručky
  </li>
  <li>
    <strong>{{ members_total_count }}</strong>
    členů klubu
  </li>
  <li>
    <strong>{{ jobs_listed_count }}</strong>
    nabídek práce
  </li>
</ul>
</div>

</div></div>

<div class="masthead-column masthead-object-container">
<form id="github-profile-form" action="https://github.com/juniorguru/eggtray/issues/new" target="_blank">
  <fieldset class="github-profile homepage">
    <legend class="github-profile-title">
      {{ "check-circle-fill"|icon }}
      <h4>Můžeš si už hledat práci? Otestuj si GitHub profil</h4>
      {{ img('static/chick-icon.svg', '', 207, 165, class='github-profile-chick', lazy=False) }}
    </legend>
    <label for="github-profile-input" class="github-profile-label">Adresa tvého GitHub profilu:</label>
    <div class="github-profile-row">
      <input id="github-profile-input" class="github-profile-input" required placeholder="https://github.com/username">
      <input type="submit" value="Otestovat" class="github-profile-button">
    </div>
    <p class="github-profile-help">
      Po odeslání se ti otevře předvyplněné GitHub issue. Když jej vytvoříš, tak spustíš bota,
      který ti dá v komentáři zdarma zpětnou vazbu.
    </p>
    <input type="hidden" name="template" value="check.md">
    <input type="hidden" name="title" value="Zpětná vazba na profil">
    <input type="hidden" name="body" value="Kuřátko, mrkni prosím na @, díky!">
  </fieldset>
</form>
</div>

</div>

<ul class="logos homepage">
  <li class="logos-item small">
    Zmínili junior.guru:
  </li>
  {{ logo('CzechCrunch', 'logos/czechcrunch.svg') }}
  {{ logo('Deník N', 'logos/denikn.svg') }}
  {{ logo('Heroine', 'logos/heroine.svg') }}
  {{ logo('Hospodářské Noviny', 'logos/hospodarskenoviny.svg') }}
  {{ logo('Lupa.cz', 'logos/lupa.svg') }}
  {{ logo('Marie Claire', 'logos/marieclaire.svg') }}
  {{ logo('Na volné noze', 'logos/navolnenoze.svg') }}
  {{ logo('Root.cz', 'logos/root.svg') }}
  {{ logo('Seznam Zprávy', 'logos/seznamzpravy.svg') }}
  {{ logo('Zdroják', 'logos/zdrojak.svg') }}
</ul>
</header>


<!--
  pridat sekci o tom proc se ucit programovat
  a proc jit do it i presto ze je to ted tezke
  a ze existuje AI
-->


<section class="section">
  <div class="explainer-cards">
    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "person-bounding-box"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Posíláš CVčka do prázdna?</h2>
        <p class="explainer-card-text">
          V kurzu nebo ve škole tě naučí programovat, ale s hledáním práce
          pomůžou jen málo. Na „akreditované certifikáty” není na trhu
          nikdo zvědavý. Tady najdeš <strong>zpětnou vazbu, návod na CV,
          inzeráty</strong>. Doladíme co ti chybí a vystavíš si <strong>profil pro firmy</strong>.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "shuffle"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Nevíš, kde začít?</h2>
        <p class="explainer-card-text">
          Reklamy na kurzy lákají, ale neznají tvoje touhy, záměry, možnosti,
          nebo obavy. Potřebuješ vlastně kurz, nebo to jde i po vlastní ose?
          Které kurzy jsou dobré? Pojď si přečíst <strong>nezávislé recenze
          a probrat tvou konkrétní situaci</strong>.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "chat-text-fill"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Poznáš, kdy si ChatGPT vymýšlí?</h2>
        <p class="explainer-card-text">
          AI ti kecá častěji, než si myslíš. A když chceš zpětnou vazbu,
          hladí hezky po srsti. U nás dostaneš <strong>upřímnou zpětnou vazbu
          a podporu od lidí z oboru</strong>, kteří roky v praxi programují a <strong>vědí,
          co je reálné</strong> na aktuálním CZ & SK trhu práce.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "life-preserver"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Dochází ti síla pokračovat?</h2>
        <p class="explainer-card-text">
          Na 50 CVček máš 5 odpovědí a do toho čteš články,
          že AI nahradí programátory. Nebo rovnou všechny lidi, a snad i křečky?!
          Tady najdeš <strong>podporu od lidí, kteří přesně vědí, jak se cítíš</strong>.
          Udržíš si <strong>motivaci a směr</strong>, když to bude nejvíc potřeba.
        </p>
      </div>
    </article>
  </div>
</section>


<section class="section">
  <div class="juniors">
    <div class="juniors-column">
      <h2>Právě hledají práci</h2>
      {% for candidate in candidates_promo %}
        <div class="juniors-item">
          {{ img('static/' + candidate.avatar_path, '', 100, 100, class='juniors-avatar') }}
          <div class="juniors-content">
            <h3 class="juniors-name">
              <a class="juniors-name-link" href="{{ pages|docs_url('candidates.jinja')|url }}">
                {{ candidate.name }}
              </a>
            </h3>
            <p class="juniors-text small juniors-details">
              <span class="juniors-details-item">
                {{ "geo-alt"|icon }} {{ candidate.location_text|default("všudezdejší", true) }}
              </span>
              {% for badge in candidate.badges if badge.promo %}
                <span class="juniors-details-item">
                  {{ badge.icon|icon }} {{ badge.label }}
                </span>
              {% endfor %}
            </p>
            <p class="juniors-text small juniors-tags">
              {% for tag in candidate.tags %}
                <span class="juniors-tag">{{- tag.name -}}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
      <p class="juniors-listing-link">
        <a href="{{ pages|docs_url('candidates.jinja')|url }}">
          {% set remaining_candidates_count = candidates_count - candidates_promo|length %}
          {{ remaining_candidates_count|nplurals("Další", "Další", "Dalších") }}
          {{ remaining_candidates_count }}
          {{ remaining_candidates_count|nplurals("kandidát", "kandidáti", "kandidátů") }}
        </a>
      </p>
    </div>
    <div class="juniors-column yellow">
      <h2>Už práci našli</h2>
      {% set listing_size = 4 %}
      {% for story_page in stories_pages[:listing_size] %}
        <div class="juniors-item">
          {{ img('static/' + story_page.meta.interviewee_avatar_path, '', 100, 100, class='juniors-avatar') }}
          <div class="juniors-content">
            <h3 class="juniors-name">
              <a class="juniors-name-link" href="{{ pages|docs_url(story_page.src_uri)|url }}">
                {{ story_page.meta.interviewee }}
              </a>
            </h3>
            {# <p class="juniors-text small juniors-details">
              <span class="juniors-details-item">
                {{ "calendar-event"|icon }} {{ '{:%-d.%-m.%Y}'.format(story_page.date) }}
              </span>
            </p> #}
            <p class="juniors-text">
              „{{ story_page.title }}“
            </p>
          </div>
        </div>
      {% endfor %}
      <p class="juniors-listing-link">
        <a href="{{ pages|docs_url('stories.md')|url }}#pribehy-z-juniorguru">
          {% set remaining_stories_count = stories_pages|length - listing_size %}
          {% if remaining_stories_count < 10 %}
            Další příběhy
          {% else %}
            Dalších {{ remaining_stories_count }} příběhů
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</section>


<section class="section">
{#
{% call lead() %}
  Díky junior.guru se snadněji rozkoukáš a vybereš si správně zaměření.
  Dostaneš tipy na dobré materiály a recenze na kurzy.
  Zjistíš, jak si sehnat praxi a první práci.
  Budeš se motat kolem lidí, kteří už v oboru pracují.
  A dostaneš podporu, díky které to celé ustojíš.
{% endcall %}
#}
<div class="link-cards">
  {{ link_card(
    'Klub',
    pages|docs_url('club.md')|url,
    caption='Komunita na Discordu pro začátečníky a všechny, kdo jim chtějí pomáhat.',
    screenshot=false,
    class='highlighted',
  ) }}
  {{ link_card(
    'Příručka',
    pages|docs_url('handbook/index.md')|url,
    caption='Rady, které ti pomůžou se základní orientací a se sháněním práce v oboru.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Kurzy',
    pages|docs_url('courses.md')|url,
    caption='Katalog kurzů, ať si můžeš vybrat podle parametrů a recenzí, ne podle reklamy.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Práce',
    pages|docs_url('jobs.jinja')|url,
    caption='Pracovní příležitosti vyloženě pro juniory. Nemusíš složitě hledat a třídit jinde.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Inspirace',
    pages|docs_url('news.jinja')|url,
    caption='Podcasty, přednášky, články a další zdroje, které tě posunou a namotivují.',
    screenshot=false,
  ) }}
</div>
</section>
