---
title: Jak se učit programovat a získat první práci v IT
template: main_sections.html
description: Průvodce a komunita pro začátečníky v programování, testování, datové analýze, nebo i vibe codingu. Příručka, katalog kurzů, pracovní portál pro juniory a Discord server — vše na jednom místě.
thumbnail_subheading: junior.guru
---

{% from 'macros.html' import blockquote_avatar, img, logo with context %}


<header class="masthead"><div class="masthead-container">

<div class="masthead-column">
<h1>
  Najít první práci v IT je těžší, než ti slibovali
</h1>
<div class="masthead-body">
<div class="lead">
  <p>
    Pojď si <strong>ujasnit směr a doladit nedostatky</strong>.
    Ukaž se firmám v nejlepším světle.
    Potkej seniory, kteří rádi poradí, a juniory, kteří přesně vědí, jak se cítíš.
  </p>
</div>
<div class="numbers">
{% set years = today.year - 2019 %}
<ul>
  <li>
    <strong>{{ years }}</strong>
    {{ years|nplurals("rok", "roky", "let") }} s juniory
  </li>
  <li>
    <strong>{{ members_total_count }}</strong>
    členů klubu
  </li>
  <li>
    <strong>{{ candidates_count }}</strong>
    kandidátů
  </li>
  <li>
    <strong>{{ jobs_listed_count }}</strong>
    nabídek práce
  </li>
</ul>
</div>

</div></div>

<div class="masthead-column masthead-object-container">
<form id="github-profile-form" action="https://github.com/juniorguru/eggtray/issues/new" target="_blank">
  <fieldset class="github-profile homepage">
    <legend class="github-profile-title">
      {{ "check-circle-fill"|icon }}
      <h4>Můžeš si už hledat práci? Otestuj si GitHub profil</h4>
      {{ img('static/chick-icon.svg', '', 207, 165, class='github-profile-chick', lazy=False) }}
    </legend>
    <label for="github-profile-input" class="github-profile-label">Adresa tvého GitHub profilu:</label>
    <div class="github-profile-row">
      <input id="github-profile-input" class="github-profile-input" required placeholder="https://github.com/username">
      <input type="submit" value="Otestovat" class="github-profile-button">
    </div>
    <p class="github-profile-help">
      Po odeslání se ti otevře předvyplněné GitHub issue. Když jej vytvoříš, tak spustíš bota,
      který ti dá v komentáři zdarma zpětnou vazbu.
    </p>
    <input type="hidden" name="template" value="check.md">
    <input type="hidden" name="title" value="Zpětná vazba na profil">
    <input type="hidden" name="body" value="Kuřátko, mrkni prosím na @, díky!">
  </fieldset>
</form>
</div>

</div>

<ul class="logos homepage">
  <li class="logos-item small">
    Zmínili junior.guru:
  </li>
  {{ logo('CzechCrunch', 'logos/czechcrunch.svg') }}
  {{ logo('Deník N', 'logos/denikn.svg') }}
  {{ logo('Heroine', 'logos/heroine.svg') }}
  {{ logo('Hospodářské Noviny', 'logos/hospodarskenoviny.svg') }}
  {{ logo('Lupa.cz', 'logos/lupa.svg') }}
  {{ logo('Marie Claire', 'logos/marieclaire.svg') }}
  {{ logo('Na volné noze', 'logos/navolnenoze.svg') }}
  {{ logo('Root.cz', 'logos/root.svg') }}
  {{ logo('Seznam Zprávy', 'logos/seznamzpravy.svg') }}
  {{ logo('Zdroják', 'logos/zdrojak.svg') }}
</ul>
</header>


<section class="section pb-0 pt-3">
  <div class="explainer-cards">
    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "shuffle"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Nevíš, kde začít?</h2>
        <p class="explainer-card-text">
          Reklamy tě lákají na kurzy, ale neznají tvoje touhy, záměry, možnosti,
          nebo obavy. Potřebuješ vlastně kurz, nebo to jde i po vlastní ose?
          Které kurzy sednou právě tobě? Pojď si přečíst <strong>nezávislé recenze
          a probrat tvou konkrétní situaci</strong>.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "person-bounding-box"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Posíláš CVčka do prázdna?</h2>
        <p class="explainer-card-text">
          V kurzu nebo ve škole tě naučí programovat, ale s hledáním práce
          pomůžou jen málo. Na „akreditované certifikáty” není na trhu
          nikdo zvědavý. Tady najdeš <strong>zpětnou vazbu, návod na CV,
          inzeráty</strong>. Doladíme, co ti chybí, a uděláš si <strong>profil pro firmy</strong>.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "chat-text-fill"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Poznáš, kdy ti ChatGPT kecá?</h2>
        <p class="explainer-card-text">
          AI tě tahá za nos častěji, než si myslíš. A když chceš zpětnou vazbu,
          hladí hezky po srsti. U nás dostaneš <strong>upřímný feedback
          a rady od lidí z oboru</strong>, kteří roky programují.
          <strong>Víme, jak věci fungují v praxi, a co je reálné</strong>
          na aktuálním CZ & SK trhu práce.
        </p>
      </div>
    </article>

    <article class="explainer-card">
      <div class="explainer-card-icon">
        {{ "life-preserver"|icon }}
      </div>
      <div class="explainer-card-content">
        <h2 class="explainer-card-title">Dochází ti síla pokračovat?</h2>
        <p class="explainer-card-text">
          Na 50 CVček máš 5 odpovědí a do toho čteš články,
          že AI nahradí programátory. Nebo vlastně všechny lidi, a možná i křečky!
          Na junior.guru najdeš <strong>podporu od lidí, kteří vědí, jak se cítíš</strong>.
          Udržíš si <strong>motivaci a směr</strong>, když to bude nejvíc potřeba.
        </p>
      </div>
    </article>
  </div>
</section>
<section class="section">
  <h2>Nahrazuje AI programátory, testery, dataře?</h2>
  <p class="lead">
    Shánění první práce v IT je teď náročnější než v minulých dekádách. Ochlazení trhu je však dočasné a nesouvisí s AI tak moc, jak by se mohlo zdát z článků v médiích a statusů samozvaných chytráků na sociálních sítích.
  </p>
  <p class="lead">
    AI sice přebírá rutinní činnosti, ale lidé, kteří dobře rozumí kódu, jsou a budou i nadále potřeba. Pokud víš, na co se zaměřit, a máš kolem sebe lidi, kteří ti pomůžou, tak si práci najdeš.
  </p>
  <p class="club-section-cta">
    <a href="{{ pages|docs_url('handbook/motivation.md')|url }}" class="btn btn-lg btn-primary">Proč umět s kódem {{ "arrow-right"|icon }}</a>
  </p>
</section>


<div class="section-background blue-light"><section class="section">
<h2>
  Přidej se do klubu
</h2>
<div class="club-section">
<p class="lead">
  Začátečníci, kteří to myslí vážně. Profesionálové s chutí pomáhat.
  <strong>Živá Discord komunita</strong>, kde se ptáš, sdílíš, nebo si postěžuješ.
  <strong>Bezpečné místo</strong>, které vítá každého a kde žádná otázka není hloupá.
  <strong>Pestrá parta</strong>, se kterou získáš kontakty v oboru a posuneš se.
</p>
<div class="club-section-columns">
<div class="club-section-column club-section-column-left">
<div class="numbers"><ul>
  {% set club_years = today.year - 2021 %}
  <li><strong>{{ members_total_count }}</strong> členů klubu</li>
  <li><strong>{{ charts.members_women_today|round|int }}%</strong> jsou ženy</li>
  <li><strong>{{ events_recordings_count }}</strong> záznamů přednášek</li>
</ul></div>
<div class="topics"><ul>
  <li>
    {{ "people"|icon }} Senioři i junioři
  </li>
  <li>
    {{ "heart"|icon }} Důraz na bezpečné prostředí
  </li>
  <li>
    {{ 'play-btn'|icon }} Každý měsíc přednáška
  </li>
  <li>
    {{ 'clock-history'|icon }} Záznamy minulých přednášek
  </li>
  <li>
    {{ 'compass'|icon }} Kariérní konzultace
  <li>
    {{ 'arrow-counterclockwise'|icon }} Zpětná vazba na kód nebo CV
  </li>
</ul></div>
</div>
<div class="club-section-column club-section-column-right">
{{ blockquote_avatar(
  'Díky za rady a tipy. Jsem upřímně překvapen, že jsou v klubu tak strašně fajn lidi, co se snaží pomoct. Dlouho jsem nic takového nezažil a proto ještě jednou děkuji všem, co mi radíte. Fakt super.',
  'ampercz.jpg',
  'Ampercz',
  'Ampercz'
) }}
{{ blockquote_avatar(
  'Hromada materiálů 👍 Zbloudilá duše se může zeptat na cestu, tipy a triky 👍 Může se pochlubit, postěžovat si, zafňukat 😅 Naprosto super!',
  'andrea-k.jpg',
  'Andrea K.',
  'Andrea K.'
) }}
</div>
</div>
<p class="club-section-cta">
  <a href="{{ pages|docs_url('club.md')|url }}" class="btn btn-lg btn-primary">Zjistit víc o klubu {{ "arrow-right"|icon }}</a>
  <small class="text-muted">14 dní zdarma, bez zadávání karty</small>
</p>
</div>
</section></div>


<section class="section pb-0">
<h2>Šest nástrojů, jeden cíl: Kvalitní kandidát</h2>
<p class="lead">
  Sada vymazlených nástrojů, které ti pomůžou překonat největší překážky na cestě k první práci. Kromě klubu všechno zdarma.
</p>
<div class="explainer-cards">
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "book-fill"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Příručka</h3>
      <p class="explainer-card-text">
        Dlouhé roky sbírané rady, které ti pomůžou se základní orientací a se sháněním práce v oboru. Vycházejí z přímých zkušeností juniorů.
        <a href="{{ pages|docs_url('handbook/index.md')|url }}">Čti {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "people-fill"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Klub na Discordu</h3>
      <p class="explainer-card-text">
        Komunita pro juniory a všechny, kdo jim chtějí pomáhat.
        Bezpečné místo, které vítá každého a kde žádná otázka není hloupá.
        Každý měsíc přednáška.
        <a href="{{ pages|docs_url('club.md')|url }}">Nakoukni {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "github"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Kontrola GitHubu</h3>
      <p class="explainer-card-text">
        Můžeš si už hledat práci? Pošli svůj GitHub na automatický roast. Zjisti, co je potřeba doladit, aby tě firmy začaly brát vážně.
        <a href="{{ pages|docs_url('handbook/github-profile.md')|url }}">Vyzkoušej {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "person-vcard-fill"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Profily kandidátů</h3>
      <p class="explainer-card-text">
        Založ si profil, ať se zviditelníš a ať tě mohou firmy napřímo oslovovat s nabídkami. Denně jede kontrola, jestli splňuješ minimální laťku.
        <a href="{{ pages|docs_url('candidates.jinja')|url }}">Procházej {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "briefcase-fill"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Pracovní inzeráty</h3>
      <p class="explainer-card-text">
        Už žádné „požadujeme 4 roky zkušeností“. Každý den se stahují inzeráty z různých zdrojů a pomocí AI vybírají jen ty vhodné pro začátečníky.
        <a href="{{ pages|docs_url('jobs.jinja')|url }}">Vyhlížej {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
  <article class="explainer-card link">
    <div class="explainer-card-icon">
      {{ "mortarboard-fill"|icon }}
    </div>
    <div class="explainer-card-content">
      <h3 class="explainer-card-title">Katalog poskytovatelů kurzů</h3>
      <p class="explainer-card-text">
        Nevybírej si kurzy podle reklam, které snesou jakákoliv tvrzení, ale podle serióznosti provozovatelů a podle recenzí lidí, kteří je absolvovali.
        <a href="{{ pages|docs_url('courses.md')|url }}">Ověřuj {{ "arrow-right"|icon }}</a>
      </p>
    </div>
  </article>
</div>
</section>
<section class="section">
  <div class="juniors">
    <div class="juniors-column">
      <h2>Právě hledají práci</h2>
      {% for candidate in candidates_promo %}
        <div class="juniors-item">
          {{ img('static/' + candidate.avatar_path, '', 100, 100, class='juniors-avatar') }}
          <div class="juniors-content">
            <h3 class="juniors-name">
              <a class="juniors-name-link" href="{{ pages|docs_url('candidates.jinja')|url }}">
                {{ candidate.name }}
              </a>
            </h3>
            <p class="juniors-text small juniors-details">
              <span class="juniors-details-item">
                {{ "geo-alt"|icon }} {{ candidate.location_text|default("všudezdejší", true) }}
              </span>
              {% for badge in candidate.badges if badge.promo %}
                <span class="juniors-details-item">
                  {{ badge.icon|icon }} {{ badge.label }}
                </span>
              {% endfor %}
            </p>
            <p class="juniors-text small juniors-tags">
              {% for tag in candidate.tags %}
                <span class="juniors-tag">{{- tag.name -}}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
      <p class="juniors-listing-link">
        <a href="{{ pages|docs_url('candidates.jinja')|url }}">
          {% set remaining_candidates_count = candidates_count - candidates_promo|length %}
          {{ remaining_candidates_count|nplurals("Další", "Další", "Dalších") }}
          {{ remaining_candidates_count }}
          {{ remaining_candidates_count|nplurals("kandidát", "kandidáti", "kandidátů") }}
        </a>
      </p>
    </div>
    <div class="juniors-column yellow">
      <h2>Už práci našli</h2>
      {% set listing_size = 4 %}
      {% for story_page in stories_pages[:listing_size] %}
        <div class="juniors-item">
          {{ img('static/' + story_page.meta.interviewee_avatar_path, '', 100, 100, class='juniors-avatar') }}
          <div class="juniors-content">
            <h3 class="juniors-name">
              <a class="juniors-name-link" href="{{ pages|docs_url(story_page.src_uri)|url }}">
                {{ story_page.meta.interviewee }}
              </a>
            </h3>
            <p class="juniors-text">
              „{{ story_page.title }}“
            </p>
          </div>
        </div>
      {% endfor %}
      <p class="juniors-listing-link">
        <a href="{{ pages|docs_url('stories.md')|url }}#pribehy-z-juniorguru">
          {% set remaining_stories_count = stories_pages|length - listing_size %}
          {% if remaining_stories_count < 10 %}
            Další příběhy
          {% else %}
            Dalších {{ remaining_stories_count }} příběhů
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</section>
