---
title: Práce pro juniorní programátory, testery nebo dataře
description: Procházej nabídky práce, stáže a brigády zaměřené výhradně na juniory bez komerční praxe.
template: main_subnav.html
---

{% from 'macros.html' import img, lead, note, club_teaser with context %}

{% set is_region_listing = page.meta.region_tag_slug %}
{% set is_remote_listing = page.meta.region_tag_slug == "remote" %}

<h1>
{% if is_remote_listing %}
  Práce na dálku pro juniory
{% elif is_region_listing %}
  Práce pro juniory: {{ page.meta.region|replace(' ', ' ') }}
{% else %}
  Pracovní inzeráty pro juniory
{% endif %}
</h1>

{% call lead() %}
  Už žádné „požadujeme 4 roky zkušeností“.
  Robot každý den stahuje inzeráty z různých zdrojů a pomocí umělé inteligence {{ "stars"|icon }} vybírá jen ty,
  které jsou vhodné pro začátečníky.
  Tento pracovní portál je na tvé straně!
{% endcall %}

{% call note() -%}
  {{ 'plus-circle'|icon }} Chceš přidat inzerát? Napiš na {{ "honza@junior.guru"|email_link }}
{%- endcall %}

<dl class="jobs-tags standout noscript">
  <dt class="jobs-tags-heading">{{ "geo-alt"|icon }} Místo:</dt>
  <dd>
    {% if is_region_listing %}
      {% if not is_remote_listing %}
        <span
          class="jobs-tag"
          hidden
          data-jobs-tag="remote"
          data-jobs-tag-type="location"
        >
          #remote
        </span>
      {% endif %}
      <span
        class="jobs-tag active disabled"
        data-jobs-tag="{{ page.meta.region_tag_slug }}"
        data-jobs-tag-type="location"
      >
        #{{- page.meta.region_tag_slug -}}
      </span>
      <a href="{{ pages|docs_url('jobs.jinja')|url }}" class="jobs-tag-link">
        {{ 'sliders'|icon }}
        <span class="jobs-tag-link-label">
          Procházej všechna místa
        </span>
      </a>
    {% else %}
      {% for tag in jobs_region_tags %}
        <span
          class="jobs-tag"
          hidden
          data-jobs-tag="{{ tag.slug }}"
          data-jobs-tag-type="{{ tag.type|lower }}"
        >
          {{- tag.name -}}
        </span>
      {% endfor %}
      <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
    {% endif %}
  </dd>
  <dt class="jobs-tags-heading">{{ "hourglass-split"|icon }} Úvazek:</dt>
  <dd>
    {% for tag in jobs_tags.employment %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="jobs-tags-heading">{{ "tools"|icon }} Nářadí:</dt>
  <dd>
    {% for tag in jobs_tags.technology %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="jobs-tags-heading">{{ "box-arrow-down"|icon }} Zdroj:</dt>
  <dd>
    {% for tag in jobs_tags.source %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
</dl>

<div class="jobs-subscribe">
  <p class="jobs-subscribe-text">
    Chceš upozornění na nové inzeráty? Členové klubu je mají
  </p>
  <a
    class="jobs-subscribe-button"
    href="https://discord.com/channels/769966886598737931/1080052057752477716"
    rel="nofollow noopener"
    target="_blank"
  >
    {{ "discord"|icon }} Inzeráty v klubu
  </a>
</div>

<div class="jobs">
  <ul class="jobs-list">
    {% for job in jobs %}
    <li class="jobs-item openable tagged{% if job.is_highlighted %} highlighted{% endif %}">
      <script type="application/ld+json">{{ job.to_json_ld() }}</script>
      <div class="jobs-item-container">
        <div class="jobs-logo">
          {{ img('static/' + job.company_logo_path, 'Logo ' + job.company_name, 100, 100, class="jobs-image") }}
        </div>
        <div class="jobs-body">
          <h3 class="jobs-title">
            <a class="jobs-title-link"
              {% if job.is_submitted %}
                href="{{ job.url|relative_url }}"
              {% else %}
                href="{{ job.url }}" rel="nofollow noopener" target="_blank"
              {% endif %}
            >
              {{ job.title }}
            </a>
            <span class="jobs-title-text" hidden>{{ job.title }}</span>
            <span class="jobs-close" hidden>{{ "x-lg"|icon }}</span>
          </h3>
          <p class="jobs-info">
            <strong class="jobs-info-item">{{ job.company_name }}</strong>
            {% if job.location_text != "?" %}
              <span class="jobs-info-item">{{ "geo-alt"|icon }} {{ job.location_text }}</span>
            {% endif %}
          </p>
          <p>
            {% for tag in job.tags %}
              <span
                class="jobs-tag"
                data-jobs-tag="{{ tag.slug }}"
                data-jobs-tag-type="{{ tag.type|lower }}"
              >
                {{- tag.name -}}
              </span>
            {% endfor %}
          </p>
          <div class="jobs-company" hidden>
            <h4 class="jobs-company-heading">Vyhledat firmu</h4>
            <ul class="jobs-company-links">
              <li>
                <a
                  href="{{ job.company_linkedin_url }}"
                  rel="nofollow noopener"
                  target="_blank"
                  class="jobs-company-link"
                >
                  <span>{{ "linkedin"|icon }}</span>
                  <span>LinkedIn</span>
                </a>
              </li>
              <li>
                <a
                  href="{{ job.company_atmoskop_url }}"
                  rel="nofollow noopener"
                  target="_blank"
                  class="jobs-company-link"
                >
                  <span>{{ "zoom-in"|icon }}</span>
                  <span>Atmoskop</span>
                </a>
              </li>
              <li>
                <a
                  href="{{ job.company_jakybylpohovor_url }}"
                  rel="nofollow noopener"
                  target="_blank"
                  class="jobs-company-link"
                >
                  <span>{{ "suitcase-lg"|icon }}</span>
                  <span>Jaký byl pohovor?</span>
                </a>
              </li>
              <li>
                <a
                  href="{{ job.company_search_url }}"
                  rel="nofollow noopener"
                  target="_blank"
                  class="jobs-company-link"
                >
                  <span>{{ "google"|icon }}</span>
                  <span>Google</span>
                </a>
              </li>
              {% if job.company_url %}
                <li>
                  <a
                    href="{{ job.company_url }}"
                    rel="nofollow noopener"
                    target="_blank"
                    class="jobs-company-link"
                  >
                    <span>{{ "house"|icon }}</span>
                    <span>Web</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="jobs-actions" hidden>
        <ul class="jobs-actions-list">
          {% if job.discord_url %}
            <li class="jobs-action-club">
              {% if job.upvotes_count %}
                <span>
                  {{ "hand-thumbs-up"|icon }} {{ job.upvotes_count }}
                </span>
              {% endif %}
              {% if job.comments_count %}
                <span>
                  {{ "chat"|icon }} {{ job.comments_count }}
                </span>
              {% endif %}
              <a
                href="{{ job.discord_url }}"
                class="jobs-action-button club"
                rel="nofollow noopener"
                target="_blank"
              >
                {{ "discord"|icon }} Diskutovat
              </a>
            </li>
          {% endif %}
          <li class="jobs-action-continue">
            <a
              {% if job.is_submitted %}
                href="{{ job.url|relative_url }}"
              {% else %}
                href="{{ job.url }}"
                rel="nofollow noopener"
                target="_blank"
              {% endif %}
              class="jobs-action-button continue"
            >
              Celý inzerát
            </a>
          </li>
        </ul>
      </div>
    </li>
  {% endfor %}
    <li class="jobs-empty" hidden>
      {% call note() -%}
        {{ 'search'|icon }}
        Tvým filtrům neodpovídají žádné inzeráty.
        {{- ' ' -}}
        {%- if not is_remote_listing -%}
          Pokud hledáš podle místa, zkus přidat <span class="jobs-tag active">#remote</span>.
        {%- endif -%}
      {%- endcall %}
    </li>
  </ul>

  {% if jobs_discord %}
    <h2 id="club" class="standout-top">Ručně přidané inzeráty</h2>
    <p>
      Když někdo narazí na zajímavou nabídku práce, nebo dokonce sám hledá nové kolegy,
      může to na našem Discordu sdílet s ostatními.
      Aktuálně tam máme
      {{ jobs_discord|length }} {{ jobs_discord|length|nplurals("takový inzerát", "takové inzeráty", "takových inzerátů") }}.
    </p>
    <ul class="jobs-list">
      {% for job in jobs_discord %}
        <li class="jobs-item">
          <div class="jobs-item-container">
            <div class="jobs-logo">
              {{ img('static/logos-jobs/unknown.webp', 'Bez loga', 100, 100, class="jobs-image") }}
            </div>
            <div class="jobs-body">
              <h3 class="jobs-title">
                <a class="jobs-title-link" href="{{ job.url }}" rel="nofollow noopener" target="_blank">
                  {{ job.title }}
                </a>
              </h3>
              <p class="jobs-info">
                <span class="jobs-info-item">
                  Děkujeme <strong>{{ job.author.initials }}</strong> za sdílení!
                </span>
                {% if job.upvotes_count %}
                  <span class="jobs-info-item">
                    {{ "hand-thumbs-up"|icon }} {{ job.upvotes_count }}
                  </span>
                {% endif %}
                {% if job.comments_count %}
                  <span class="jobs-info-item">
                    {{ "chat"|icon }} {{ job.comments_count }}
                  </span>
                {% endif %}
              </p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {{ club_teaser("Nakoukni do klubu") }}
  {% endif %}
</div>
