---
title: Lekce angličtiny v klubu
noindex: true
---

{% from 'macros.html' import lead, note with context %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ (page|parent_page).url|url }}">
        {{ (page|parent_page).title }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Klubové lekce angličtiny
    </li>
  </ol>
</nav>

<h1>Klubové lekce angličtiny</h1>

{% call lead() %}
  V klubu máš možnost účastnit se pravidelných lekcí angličtiny.
  Tady k tomu najdeš všechny informace.
{% endcall %}

<div hidden class="membership-success">
  {% call note() %}
{{ 'check-circle'|icon }}
Nákup lekcí angličtiny se povedl!
Happy learning!
Na Discordu by ti měla být přidělena role pro přístup do kanálů souvisejících s angličtinou.
Pokud se tak nestane, napiš Honzovi.
  {% endcall %}
</div>

<h2>O co jde</h2>
<ul>
  <li>
    Lekce vede <a href="https://geekpower.cz/aboutme/" target="_blank" rel="noopener">Veronika Rychlá</a> z <a href="https://geekpower.cz/" target="_blank" rel="noopener">Geek Power</a>.
    Jde o angličtinu speciálně zaměřenou na IT.
  </li>
  <li>
    Lekce jsou skupinové, jedna skupina má 3-4 členy.
    Lekce probíhají každý týden ve sjednaný čas. Když nedoražíš, máš smůlu.
  </li>
  <li>
    Za lekce platíš paušálně 500 Kč za měsíc.
    V přepočtu 100-125 Kč za lekci, podle toho, kolik je v daném měsíci týdnů.
    Jde o bezkonkurenční, exkluzivní, klubem dotovanou cenu.
  </li>
</ul>

<h2>Jak to funguje</h2>
<ol>
  <li>
    Lekce jsou dostupné pouze členům <a href="{{ pages|docs_url('club.md')|url }}">klubu</a>.
    Kromě klubového předplatného si musíš zvlášť koupit i předplatné lekcí.
    Než to uděláš, zeptej se v klubu Honzy nebo Veroniky, zda je ještě ve skupinkách místo.
  </li>
  <li>
    Předplatné lekcí si můžeš koupit tímhle tlačítkem:
    <a class="btn btn-primary" href="https://juniorguru.memberful.com/checkout/sign_in?plan=103765" target="_blank" rel="noopener">
      {{ 'credit-card'|icon }}
      Koupit angličtinu
    </a>
    Systém se tě bude ptát odkud znáš junior.guru a bude ti posílat e-maily, jako kdyby souvisely s klubovým předplatným, ale toho si nevšímej.
  </li>
  <li>
    Jakmile systém zaregistruje platbu, měl by ti na Discordu přiřadit roli pro přístup do kanálů souvisejících s angličtinou.
    Pokud se tak nestane, napiš Honzovi.
    Na lekcích se pak domlouváš s Veronikou.
  </li>
  <li>
    Pokud už nechceš na angličtinu chodit, můžeš si předplatné kdykoliv zrušit ve svém nastavení účtu:
    <a class="btn btn-outline-primary" href="https://juniorguru.memberful.com/account/subscriptions" target="_blank" rel="noopener">
      {{ 'trash3'|icon }}
      Zrušit angličtinu
    </a>
    Bylo by ale dobré nám dát vědět, abychom mohli přeorganizovat skupiny.
    Systém ti bude opět posílat e-maily, jako kdyby souvisely s klubovým předplatným, ale toho si nevšímej.
    Anketu „proč odcházíš z klubu“ taky nemusíš vyplňovat.
  </li>
</ol>
