---
title: Novinky pro začátečníky v programování
description: Podcasty, přednášky, články a další zdroje pro začátečníky v programování, které tě posunou a namotivují.
template: main_subnav.html
---

{% from 'macros.html' import lead, news_card, blockquote with context %}

<h1>Novinky ze světa IT juniorů</h1>

{% call lead() %}
  Začínáš v IT?
  Odebírej pozvánky, kurzy, podcasty, přednášky, články a další zdroje, které tě posunou a namotivují.
{% endcall %}

{#
<div class="standout">
  <a class="brand-button buttondown" target="_blank" rel="noopener" href="https://buttondown.com/juniorguru">{{ 'envelope-paper-fill'|icon }} Buttondown</a>
  <a class="brand-button rss" target="_blank" rel="noopener" href="https://junior.guru/api/podcast.xml">{{ 'rss-fill'|icon }} RSS</a>
</div>
#}

<div class="newsletter">
  <form class="newsletter-container" id="email-form" method="post" action="https://buttondown.com/api/emails/embed-subscribe/juniorguru">
    <h2 class="newsletter-heading">Novinky pravidelně v mailu</h2>
    <p>
      Zadej e-mail a přidej se k <strong>{{ newsletter_subscribers_count }} lidem</strong>, kteří sledují newsletter z junior.guru:
    </p>
    <fieldset class="newsletter-fieldset">
      <div class="newsletter-email">
        <input class="newsletter-email-control" type="email" id="newsletter-email" name="email">
      </div>
      <div class="newsletter-submit">
        <input class="newsletter-submit-control" type="submit" value="Odebírat">
      </div>
    </fieldset>
    <p class="newsletter-note">
      {{ 'info-circle'|icon }} Tvůj e-mail se použije jen a pouze na zasílání novinek, které si můžeš kdykoliv zase odhlásit.
      <a href="{{ pages|docs_url('privacy.md')|url }}"> Zásady ochrany osobních údajů</a> popisují, jaká data o tobě junior.guru má a jak s nimi zachází.
    </p>
  </form>
  <div class="newsletter-container" id="email-subscribed" hidden>
    <h2 class="newsletter-heading">Novinky pravidelně v mailu: Ještě potvrdit</h2>
    <p class="newsletter-message">
      Super, tvoje adresa je zaznamenána!
      Teď už jen prosím potvrď odběr přes odkaz v e-mailu, který ti přijde.
    </p>
    <p class="newsletter-note">
      {{ 'info-circle'|icon }} Maily chodí z adresy <a href="mailto:juniorguru@buttondown.email">juniorguru@buttondown.email</a>, posílá je místní robot zvaný <strong>kuře</strong>.
      Pokud nechceš, aby ti novinky padaly do spamu, přidej si kuře do kontaktů.
    </p>
  </div>
  <div class="newsletter-container" id="email-confirmed" hidden>
    <h2 class="newsletter-heading">Novinky pravidelně v mailu: Potvrzeno!</h2>
    <p class="newsletter-message">
      A je to! Díky za důvěru. Snad tě novinky budou bavit.
    </p>
    <button class="newsletter-button" id="email-reset">Hotovo</button>
    <p class="newsletter-note">
      {{ 'info-circle'|icon }} Maily chodí z adresy <a href="mailto:juniorguru@buttondown.email">juniorguru@buttondown.email</a>, posílá je místní robot zvaný <strong>kuře</strong>.
      Pokud nechceš, aby ti novinky padaly do spamu, přidej si kuře do kontaktů.
    </p>
  </div>
</div>

<div class="standout"><div class="topics">
<ul>
  <li>{{ 'bar-chart-line-fill'|icon }} Čísla z pracovního trhu</li>
  <li>{{ 'calendar-week-fill'|icon }} Pozvánky na srazy a konference</li>
  <li>{{ 'chat-dots-fill'|icon }} Shrnutí aktivit v klubu</li>
  <li>{{ 'mortarboard-fill'|icon }} Jaké kurzy zrovna frčí</li>
  <li>{{ 'mic-fill'|icon }} Epizody podcastu</li>
  <li>{{ 'play-btn-fill'|icon }} Klubové akce</li>
  <li>{{ 'file-person-fill'|icon }} Příběhy juniorů</li>
</ul>
</div></div>

{#
<section class="document-section">
  <h2 class="document-section-heading">{{ 'envelope-heart'|icon }} Moudro dne</h2>
  {% for wisdom in wisdoms|sample(1) %}
  {{ blockquote(wisdom.text, wisdom.name) }}
  {% endfor %}
  <p class="text-center">
    <a class="btn btn-outline-primary" href="{{ pages|docs_url('wisdom.jinja')|url }}">
      {{ 'list'|icon }}
      Všechna moudra
    </a>
  </p>
</section>

<section class="document-section">
  <h2 class="document-section-heading">{{ 'mic'|icon }} Podcast</h2>
  {% set podcast_episode = podcast_episodes|list|first %}
  {{
    news_card(
      category='Nejnovější',
      **podcast_episode.to_card(),
    )
  }}

  {% set podcast_episode = podcast_episodes|list|skip(1)|sample(1)|first %}
  {{
    news_card(
      category='Tip z archivu',
      **podcast_episode.to_card(),
    )
  }}

  <p class="text-center">
    <a class="btn btn-outline-primary" href="{{ pages|docs_url('podcast.md')|url }}">
      {{ 'list'|icon }}
      Všechny epizody
    </a>
  </p>
</section>

<section class="document-section">
  <h2 class="document-section-heading">{{ 'play-circle'|icon }} Klubové akce</h2>
  {% set event = events_planned|list|first|default(events_archive|list|first, true) %}
  {{
    news_card(
      category='Nejnovější',
      **event.to_card(),
    )
  }}

  {% if events_planned %}
    {% set event = events_archive|sample(1)|first %}
  {% else %}
    {% set event = events_archive|list|skip(1)|sample(1)|first %}
  {% endif %}
  {{
    news_card(
      category='Tip z archivu',
      **event.to_card(),
    )
  }}

  <p class="text-center">
    <a class="btn btn-outline-primary" href="{{ pages|docs_url('events.md')|url }}">
      {{ 'list'|icon }}
      Všechny akce
    </a>
  </p>
</section>

<section class="document-section">
  <h2 class="document-section-heading">{{ 'person-circle'|icon }} Příběhy</h2>
  {% set story = stories|list|first %}
  {{
    news_card(
      category='Nejnovější',
      **story.to_card(),
    )
  }}

  {% set story = stories|list|skip(1)|sample(1)|first %}
  {{
    news_card(
      category='Tip z archivu',
      **story.to_card(),
    )
  }}

  <p class="text-center">
    <a class="btn btn-outline-primary" href="{{ pages|docs_url('stories.md')|url }}">
      {{ 'list'|icon }}
      Všechny příběhy
    </a>
  </p>
</section>
#}
{#
<section class="document-section">
  <h2 class="document-section-heading">{{ 'chat'|icon }} Co se řeší v klubu</h2>
  {% for channel_digest in channels_digest %}
    <p><code>
    {{ channel_digest|pprint }}
    </code></p>
    <p>
      <a href="https://discord.com/channels/{{ club_guild_id }}/{{ channel_digest.channel_id }}/"
        target="_blank"
        rel="noopener">
        {{- channel_digest.channel_name -}}
      </a>
    </p>
  {% endfor %}
</section>
#}
