@use "../spaghetti/variables";

.plans,
.plans__plan,
.plans__benefits,
.plans__benefit {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plans {
  text-align: center;
}

.plans__plan {
  box-sizing: border-box;
  min-width: 20rem;
  margin-top: variables.$whitespace-3;
}

.plans__benefits {
  margin-bottom: variables.$whitespace;
}

.plans__benefit {
  @include variables.font-0;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .plans {
    display: flex;
    justify-content: space-around;
  }

  .plans__plan {
    margin-top: 0;
  }
}
