@use "../spaghetti/variables";

.support {
  text-align: center;
  padding: variables.$whitespace;
  margin: 0;
  margin-top: (2 * variables.$whitespace-2) - variables.$whitespace;
}

.support__content {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  @include variables.font-0;
}

.support__image {
  display: block;
  height: 7rem;
  width: auto;
  margin-right: variables.$whitespace;
}

.support__text {
  text-align: left;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .support__content {
    @include variables.font;
  }

  .support__image {
    height: 8rem;
  }
}
