.footer {
  color: $jg-white;
  background-color: $jg-dark;

  a {
    color: $jg-white;
  }
}

.footer-section {
  @extend .container-xxl;
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);
}


/*
  FOOTER: CONSTRUCTION
*/

.footer-construction-wrapper {
  color: $jg-dark;
  background-color: $jg-yellow;
}


/*
  FOOTER: ADDRESS
*/

.footer-address-list {
  @extend .row;
  padding-left: 0;
  list-style-type: none;
}

.footer-address-item {
  @extend .col-md-3;
  @extend .col-sm-6;
}

.footer-address-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}


/*
  FOOTER: TOPICS
*/

.footer-topics-wrapper {
  color: $jg-white;
  background-color: lighten($jg-dark, 5%);

  p,
  a {
    color: darken($jg-white, 30%);
  }
}

.footer-topics {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
}


/*
  FOOTER: RULES
*/

.footer-rules-wrapper {

}

.footer-rules-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-rules-item {
  padding-right: map-get($spacers, 2);
  padding-left: map-get($spacers, 2);
  white-space: nowrap;
}
