$main-spacer: map-get($spacers, 5);
$main-spacer-double: 2 * $main-spacer;

.main-simple {
  @extend .container-lg;
  max-width: map-get($container-max-widths, md);
}

.main-simple .content {
  padding-top: $main-spacer;
  padding-bottom: $main-spacer-double;
}

.main-handbook {
  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $jg-blue-light 50%, $jg-white 50%);
  }
}

.main-handbook .content-container {
  @extend .container-lg;
  padding-right: 0;
  padding-left: 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.main-handbook .toc {
  padding: ($spacer * 2) $spacer;
  background: $jg-blue-light;

  @include media-breakpoint-up(lg) {
    width: 20vw;
    padding: $container-padding-x;
    padding-top: $main-spacer;
    padding-bottom: $main-spacer-double;
  }
}

.main-handbook .toc-container {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: $spacer;
    overflow-y: scroll;
  }
}

.toc-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;

  @include media-breakpoint-up(lg) {
    margin-bottom: $main-spacer;
  }
}

.toc-list,
.toc-sublist {
  @extend .list-unstyled;
  margin: 0;
}

.toc-sublist {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.toc-link,
.toc-sublink {
  color: $body-color;

  @include media-breakpoint-up(lg) {
    display: block;
    text-decoration: none;
  }
}

.toc-link {
  line-height: $line-height-lg;

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 3);
    line-height: $line-height-sm;
    border-bottom: map-get($border-widths, 2) solid $jg-blue-light;
  }
}

.toc-link:hover {
  color: $link-hover-color;
}

.toc-item.active .toc-link {
  font-weight: $headings-font-weight;
  color: $link-color;
  border-color: $link-color;
}

.toc-item.active .toc-link:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}

.toc-sublink {
  padding: map-get($spacers, 2) 0 map-get($spacers, 2) map-get($spacers, 2);
  font-size: $small-font-size;
  line-height: $line-height-sm;
}

.toc-subitem:first-child .toc-sublink {
  padding-top: map-get($spacers, 3);
}

.toc-subitem:last-child .toc-sublink {
  padding-bottom: map-get($spacers, 3);
}

.main-handbook .content {
  @extend .container-md;
  padding-top: $main-spacer;
  padding-bottom: $main-spacer-double;
  background: $jg-white;

  @include media-breakpoint-up(lg) {
    max-width: map-get($container-max-widths, md);
    padding-right: $container-padding-x;
    padding-left: $main-spacer;
    margin: 0;
  }
}

.main-simple .content h1,
.main-handbook .content h1 {
  padding-bottom: map-get($spacers, 1);
  margin-bottom: $main-spacer;
  border-bottom: map-get($border-widths, 3) solid $body-color;
}

.main-simple .content .lead,
.main-handbook .content .lead {
  margin-bottom: $main-spacer;
}

.main-simple .content h2,
.main-handbook .content h2 {
  margin-top: $main-spacer;
}

.main-simple .content h2 .bi,
.main-handbook .content h2 .bi {
  @extend .fs-3;
  margin-right: map-get($spacers, 1);
  line-height: $headings-line-height;
  color: $primary;
}

.main-simple .content *:last-child,
.main-handbook .content *:last-child {
  margin-bottom: 0;
}

.main-sections {
  @extend .container-fluid;
  padding-right: 0;
  padding-left: 0;
}

.main-sections .content section {
  @extend .container-lg;
  padding-top: $main-spacer - $spacer;
  padding-bottom: $main-spacer - $spacer;
}

.section-background.dark {
  color: $jg-white;
  background: $jg-dark;
}

.section-background.blue {
  color: $jg-white;
  background: $jg-blue;
}

.section-background.blue-light {
  background: $jg-blue-light;
}

.section-background.yellow {
  background: $jg-yellow;
}

.section-background.yellow-light {
  background: $jg-yellow-light;
}

.section-background.gray-white {
  background: $jg-gray-white;
}
