.main-handbook {
  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $jg-blue-light 50%, $jg-white 50%);
  }
}

.main-handbook .content-container {
  @extend .container-lg;
  max-width: map-get($container-max-widths, lg);
  padding-right: 0;
  padding-left: 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.main-handbook .toc {
  padding: ($spacer * 2) $spacer;
  background: $jg-blue-light;

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    min-width: $main-toc-width;
    padding-top: $main-spacer;
    padding-right: $main-spacer;
    padding-bottom: $main-spacer-double;
    padding-left: $container-padding-x;
  }

  @include media-breakpoint-up(xxl) {
    flex-grow: 0;
    width: $main-toc-width;
  }
}

.main-handbook .toc-container {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: $spacer;
    overflow-y: auto;
  }
}

.toc-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;

  @include media-breakpoint-up(lg) {
    margin-bottom: $main-spacer;
  }
}

.toc-list,
.toc-sublist {
  @extend .list-unstyled;
  margin: 0;
}

.toc-link,
.toc-sublink {
  display: block;
  color: $body-color;
  text-decoration: none;
}

.toc-link {
  margin-top: map-get($spacers, 3);
  line-height: $line-height-sm;
  border-color: $body-color;
  border-style: solid;
  border-width: 0 0 map-get($border-widths, 1) 0;
}

.toc-link:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}

.toc-item.active .toc-link {
  font-weight: $headings-font-weight;
  color: $link-color;
  border-color: $link-color;
  border-width: 0 0 map-get($border-widths, 2) 0;
}

.toc-item.active .toc-link:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}

.toc-sublink {
  padding: map-get($spacers, 2) 0 map-get($spacers, 2) map-get($spacers, 2);
  font-size: $small-font-size;
  line-height: $line-height-sm;
}

.toc-subitem.active .toc-sublink {
  font-weight: $headings-font-weight;
  color: $link-color;
}

.toc-subitem:first-child .toc-sublink {
  padding-top: map-get($spacers, 3);
}

.toc-subitem:last-child .toc-sublink {
  padding-bottom: map-get($spacers, 3);
}

.main-handbook .content {
  @extend .container-md;
  padding-top: $main-spacer;
  padding-bottom: $main-spacer-double;
  background: $jg-white;

  @include media-breakpoint-up(lg) {
    max-width: $main-document-width;
    padding-right: $container-padding-x;
    padding-left: $main-spacer;
    margin: 0;
  }
}
