@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($jg-blue, .2);
  }
  70% {
    box-shadow: 0 0 0 $spacer rgba($jg-blue, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($jg-blue, 0);
  }
}

.illustration-club {
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-bottom: -1 * $masthead-eggshell-height;
  }
}

.illustration-club-members img {
  position: absolute;
  width: 10%;
  height: 10%;
  background: $jg-white;
  filter: grayscale(1) contrast(1.2);
  border: 2px $jg-dark solid;
  border-radius: 100%;
  animation: pulse 5s infinite;
}

.illustration-club-members img::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 10rem;
  height: 10rem;
  content: "ahoj";
  background: $jg-blue;
}

.illustration-club-members img:nth-child(1) {
  top: 20%;
  left: 12%;
}

.illustration-club-members img:nth-child(2) {
  top: 0;
  left: 66%;
}

.illustration-club-members img:nth-child(3) {
  top: 34%;
  left: 56%;
}

.illustration-club-members img:nth-child(4) {
  top: 40%;
  left: 90%;
}

.illustration-club-members img:nth-child(5) {
  top: 55%;
  left: 30%;
}

.illustration-club-members img:nth-child(6) {
  top: 75%;
  left: 5%;
}

.illustration-club-members img:nth-child(7) {
  top: 72%;
  left: 56%;
}
