# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Configuration
google_service_account.json

# Build
/public/

# Cache
.scrapy

# Synced data
/juniorguru/data/*.db
/juniorguru/data/*.db-*
/juniorguru/data/responses/
/juniorguru/data/jobs/
/juniorguru/images/avatars/*.png
/juniorguru/images/logos-jobs/*.png
/juniorguru/images/posters-events/*.png
/juniorguru/images/posters-companies/*.png

# Data backup
backup.tar.gz
/backups/

# Web statics
/juniorguru/web/static/*
!/juniorguru/web/static/src
!/juniorguru/web/static/downloads

# Lighthouse
/lighthouse/

# Testing debug artifacts
/tests/scrapers_pipelines/fixtures_company_logo/logo-converted.png

# Editor specific
/.idea/
