# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Editors
/.idea/
/.vscode/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Configuration
google_service_account.json

# Build
/public/

# Cache
.scrapy

# Synced data
/juniorguru/data/*.db
/juniorguru/data/*.db-*
/juniorguru/data/jobs/
/juniorguru/images/avatars-club/*.png
/juniorguru/images/logos-jobs/*.png
/juniorguru/images/posters-events/*.png
/juniorguru/images/posters-companies/*.png
/juniorguru/images/posters-podcast/*.png
/juniorguru/data/proxies.txt
/juniorguru/data/jobs-emails.txt

# Data persisting and merging
.persist-to-workspace-snapshot
/persist-to-workspace/

# Data backup
backup.tar.gz
/backups/

# Web statics
/juniorguru/web/static/*
!/juniorguru/web/static/src

# Testing debug artifacts
/tests/sync_jobs_logos/logo-converted.png
