# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Editors
/.idea/
/.vscode/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Configuration
google_service_account.json

# Build
/public/

# Cache
.scrapy
.*cache

# Synced data
/src/jg/coop/data/*.db
/src/jg/coop/data/*.db-*
/src/jg/coop/data/jobs/*.*
/src/jg/coop/images/avatars-club/*.png
/src/jg/coop/images/avatars-club/*.webp
/src/jg/coop/images/avatars-sponsors/*.png
/src/jg/coop/images/avatars-sponsors/*.webp
/src/jg/coop/images/logos-jobs/*.png
/src/jg/coop/images/logos-jobs/*.webp
/src/jg/coop/images/posters-events/*.png
/src/jg/coop/images/posters-events/*.webp
/src/jg/coop/images/posters-sponsors/*.png
/src/jg/coop/images/posters-sponsors/*.webp
/src/jg/coop/images/posters-podcast/*.png
/src/jg/coop/images/posters-podcast/*.webp
/src/jg/coop/images/thumbnails/*.png
/src/jg/coop/images/thumbnails/*.webp
/src/jg/coop/images/interests/*.svg

# Special question mark logo
!/src/jg/coop/images/logos-jobs/unknown.webp

# Data persisting and merging
.persist-to-workspace-snapshot
/persist-to-workspace/

# Data backup
backup.tar.gz
backup.tar.gz.gpg
backup.tgz
backup.tgz.gpg
/backups/

# Testing debug artifacts
/tests/sync_jobs_logos/logo-converted.webp

# Logs, profiling
*.log
*.prof
