{
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": [
        "juniorguru/web/**/*.html",
        "juniorguru/web/**/*.jinja",
        "juniorguru/web_legacy/**/*.html"
      ],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
