[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
fetch = "python -m juniorguru.fetch"
freeze = "python -m juniorguru.web"
build = "npx gulp build"
build-screenshots = "python scripts/build_screenshots.py"
scrape = "scrapy crawl stackoverflow -o jobs/jobs.json"
check-scrapers = "scrapy check -v"
check-links = "python scripts/check_links.py"
check-anchors = "python scripts/check_anchors.py"
serve = "npx gulp serve"

[packages]
jinja2 = "*"
gspread = "*"
oauth2client = "*"
arrow = "*"
markdown = "*"
flask = "*"
frozen-flask = "*"
pillow = "*"
peewee = "*"
strictyaml = "*"
scrapy = "*"

[dev-packages]
pytest = "*"
lxml = "*"
cssselect = "*"

[requires]
python_version = "3.7"
