[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
fetch = "python -m juniorguru.fetch"
freeze = "python -m juniorguru.web"
build = "npx gulp build"
screenshots = "python scripts/screenshots.py"
check-links = "python scripts/check_links.py"
check-anchors = "python scripts/check_anchors.py"
check-scrapers = "python scripts/check_scrapers.py"
serve = "npx gulp serve"

[packages]
jinja2 = "*"
gspread = "*"
oauth2client = "*"
arrow = "*"
markdown = "*"
flask = "*"
frozen-flask = "*"
pillow = "*"
peewee = "*"
strictyaml = "*"
scrapy = "*"
langdetect = "*"
w3lib = "*"
lxml = "*"
cssselect = "*"

[dev-packages]
pytest = "*"
cssselect = "*"
isort = {extras = ["pipfile"],version = "*"}

[requires]
python_version = "3.7"
