[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
lint = "flake8"
fetch = "python -m juniorguru.fetch"
freeze = "python -m juniorguru.web"
build = "npx gulp build"
send = "python -m juniorguru.send"
screenshots = "python scripts/screenshots.py"
check-links = "python scripts/check_links.py"
check-anchors = "python scripts/check_anchors.py"
check-scrapers = "python scripts/check_scrapers.py"
check-performance = "python scripts/check_performance.py"
serve = "npx gulp serve"

[packages]
jinja2 = "*"
gspread = "*"
oauth2client = "*"
arrow = "*"
markdown = "*"
flask = "*"
frozen-flask = "*"
pillow = "*"
peewee = "*"
strictyaml = "*"
scrapy = "*"
langdetect = "*"
w3lib = "*"
lxml = "*"
cssselect = "*"
pync = "*"
google-api-python-client = "*"
python-dateutil = "*"
requests = "*"
sendgrid = "*"
czech-sort = "*"
itemloaders = "*"
fiobank = "*"
emoji = "*"
favicon = "*"

[dev-packages]
pytest = "*"
cssselect = "*"
pync = "*"
python-slugify = "*"
flake8 = "*"

[requires]
python_version = "3.7"
