.mainnav {
  @extend .navbar;
  background-color: $jg-yellow;
}

.mainnav-container {
  @extend .container-xxl;
}

.mainnav-brand {
  @extend .navbar-brand;
  padding: 0;
}

.mainnav-items {
  @extend .nav;
  @extend .justify-content-center;

  position: relative;
  top: $navbar-padding-y;
  flex-wrap: nowrap;
  width: 100vw;
  margin-right: $container-padding-x * -.5;
  margin-left: $container-padding-x * -.5;
  border-top: 1px solid $jg-yellow-dark;
  @include font-size($font-size-sm);

  @include media-breakpoint-up(md) {
    position: static;
    top: 0;
    width: auto;
    margin-right: auto;
    margin-left: 0;
    border-top: none;
    @include font-size($font-size-base);
  }
}

.mainnav-item {
  @extend .nav-item;
}

.mainnav-link {
  @extend .nav-link;
}

.mainnav-link:hover,
.mainnav-link:focus,
.mainnav-link:active,
.mainnav-link.active {
  text-decoration: underline;
}

.mainnav-link.active {
  font-weight: 700;
  text-decoration: none;
}

.mainnav-buttons {
  @extend .order-md-last;
}
