@import "../../../node_modules/@fontsource/inter";
@import "../css/index";

html {
  font-family: Inter, sans-serif;
}

.canvas {
  width: 100vw;
  height: 100vh;
  background: $jg-yellow;
}

.canvas-main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.canvas-image-container {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 80vh;
  overflow: hidden;
  clip-path: ellipse(55% 110% at 45% center);
}

.canvas-image {
  display: block;
  width: auto;
  height: 100vh;
  aspect-ratio: 1 / 1;
}

.canvas-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2.5rem;
}

.canvas-heading,
.canvas-subheading {
  margin: 0;
}

.canvas-title {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-bottom: 1.5rem;
}

.canvas-heading {
  font-size: 3.2rem;
  font-weight: 900;
}

.canvas-heading.medium {
  font-size: 2.9rem;
}

.canvas-heading.long {
  font-size: 2.6rem;
}

.canvas-subheading {
  @extend .font-monospace;
  @extend .text-uppercase;
  order: -1;
}

.canvas-subheading,
.canvas-details {
  font-size: 1.8rem;
}

.canvas-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.canvas-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-align: left;
}

.canvas-button-heading {
  font-size: 1.3rem;
}

.canvas-logo {
  display: block;
  width: auto;
  height: 4rem;
}
