<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./thumbnail.css">
  </head>
  <body class="thumbnail">
    <main class="thumbnail-main">
      <div class="thumbnail-image-container">
        <img class="thumbnail-image" src="{{ images_dir }}/{{ image_path }}">
      </div>
      <div class="thumbnail-text">
        <hgroup class="thumbnail-title">
          <h1 class="thumbnail-heading
            {%- if title|length > 150 %}
              looong
            {%- elif title|length > 100 %}
              long
            {%- elif title|length > 50 %}
              medium
            {%- endif %}">
            {{ title }}
          </h1>
          {% if subheading %}
            <h2 class="thumbnail-subheading">
              {{ subheading }}
            </h2>
          {% endif %}
        </hgroup>
        {% if date %}
          <aside class="thumbnail-date">
            {{ date|weekday }} {{ '{:%-d.%-m.%Y}'.format(date) }} — {{ date|local_time }}
          </aside>
        {% endif %}
        <footer class="thumbnail-footer">
          <div class="thumbnail-button-container">
            {% if button_link %}
              <button class="thumbnail-button">
                {% if button_heading %}
                  <span class="thumbnail-button-heading">
                    {{ "arrow-right-circle-fill"|icon }} {{ button_heading }}
                  </span>
                {% endif %}
                <strong class="thumbnail-button-link">
                  {% if button_icon %}
                    {{ button_icon|icon }}
                  {% endif %}
                  {{ button_link }}
                </strong>
              </button>
            {% endif %}
            {% if platforms %}
              <div class="thumbnail-platforms">
                {% for platform in platforms %}
                  <button class="brand-button circle {{ platform }}">
                    {{ platform|icon }}
                  </button>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>
