---
title: Kandidáti na pozici junior programátor/programátorka
description: Ověřený a seřazený seznam těch nejšikovnějších juniorů a juniorek, kteří právě teď hledají práci.
template: main_subnav.html
---

{% from 'macros.html' import lead, note with context %}

<h1>Juniorní programátoři a testeři</h1>

{% call lead() %}
  Hledáš do firmy juniora?
  Zapomeň na inzeráty a stohy životopisů.
  Tady vybíráš z toho nejlepšího na trhu.
  Každý v seznamu je ověřený a má zaručené základní schopnosti.
  Oslovuješ napřímo, nic neplatíš.
{% endcall %}

{% call note(standout=True) %}
  {{ 'exclamation-circle'|icon }} Tato stránka se teprve připravuje.
{% endcall %}

<ul>
{% for candidate in candidates %}
    <li>
        {{ candidate.name }}:
        <a href="{{ candidate.github_url }}">{{ "github"|icon }} GitHub</a>
        {% if candidate.linkedin_url %}
          <a href="{{ candidate.linkedin_url }}">{{ "linkedin"|icon }} LinkedIn</a>
        {% endif %}
    </li>
{% endfor %}
    <li>
        <a href="https://github.com/juniorguru/eggtray/">Přidej se do seznamu</a>
    </li>
</ul>
