---
title: Jak se naučit programovat a získat první práci v IT
template: main_sections.html
description: Komunita pro začátečníky v programování, průvodce programováním pro samouky, kurzy programování, nabídky práce pro juniory
thumbnail_subheading: junior.guru
thumbnail_button_link:
---

{% from 'macros.html' import lead, link_card, logo, news_card, img, logos_sponsors_by_tier with context %}


<header class="masthead"><div class="masthead-container">
<div class="masthead-content">
<h1>Jsou věci, se kterými ti kurz programování nepomůže</h1>
{% call lead() %}
  A proto je tady junior.guru.
  Průvodce na cestě do IT, který s tebou bude **od začátku až do konce**.
{% endcall %}
{#
<h1>I ty můžeš programovat</h1>
{% call lead() %}
 Programování je <strong>příležitost</strong>.
 Je to tvá výhoda v kanclu, laborce, redakci.
 Ale taky nová kariéra po rodičovské, pokračování nedokončené školy, nebo prostě náhrada za blbou práci.
{% endcall %}

 Programování není jen pro ty, kdo chtějí pracovat v IT. Pomáhá vědcům, úředníkům nebo novinářům — a práci může usnadnit i tobě. Základy zvládneš za několik týdnů. Zároveň je dlouhodobě nedostatek programátorů. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent VŠ. Projdi si příručku, která tě tím vším provede od začátku až do konce.
#}
</div>
</div></header>


<section class="section standout">
<ul class="logos compact grayscale">
  <li class="logos-item logos-caption">
    Zmínili junior.guru
  </li>
  {{ logo('CzechCrunch', 'logos/czechcrunch.svg') }}
  {{ logo('Deník N', 'logos/denikn.svg') }}
  {{ logo('Heroine', 'logos/heroine.svg') }}
  {{ logo('Hospodářské Noviny', 'logos/hospodarskenoviny.svg') }}
  {{ logo('Lupa.cz', 'logos/lupa.svg') }}
  {{ logo('Marie Claire', 'logos/marieclaire.svg') }}
  {{ logo('Na volné noze', 'logos/navolnenoze.svg') }}
  {{ logo('Root.cz', 'logos/root.svg') }}
  {{ logo('Seznam Zprávy', 'logos/seznamzpravy.svg') }}
  {{ logo('Zdroják', 'logos/zdrojak.svg') }}
</ul>
</section>


<section class="section pt-0">
{#
{% call lead() %}
  Díky junior.guru se snadněji rozkoukáš a vybereš si správně zaměření.
  Dostaneš tipy na dobré materiály a recenze na kurzy.
  Zjistíš, jak si sehnat praxi a první práci.
  Budeš se motat kolem lidí, kteří už v oboru pracují.
  A dostaneš podporu, díky které to celé ustojíš.
{% endcall %}
#}
<div class="link-cards standout-bottom">
  {{ link_card(
    'Klub',
    pages|docs_url('club.md')|url,
    caption='Komunita na Discordu pro začátečníky a všechny, kdo jim chtějí pomáhat.',
    screenshot=false,
    class='highlighted',
  ) }}
  {{ link_card(
    'Příručka',
    pages|docs_url('handbook/index.md')|url,
    caption='Rady, které ti pomůžou se základní orientací a se sháněním práce v oboru.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Kurzy',
    pages|docs_url('courses.md')|url,
    caption='Katalog kurzů, ať si můžeš vybrat podle parametrů a recenzí, ne podle reklamy.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Práce',
    pages|docs_url('jobs.jinja')|url,
    caption='Pracovní příležitosti vyloženě pro juniory. Nemusíš složitě hledat a třídit jinde.',
    screenshot=false,
  ) }}
  {{ link_card(
    'Inspirace',
    pages|docs_url('news.jinja')|url,
    caption='Podcasty, přednášky, články a další zdroje, které tě posunou a namotivují.',
    screenshot=false,
  ) }}
</div>
<div class="news-cards">
  {% set podcast_episode = podcast_episodes|list|first %}
  {{
    news_card(
      category='Podcast',
      class='muted',
      **podcast_episode.to_card(),
    )
  }}
  {% set story = stories_pages|list|first %}
  {{
    news_card(
      category='Příběh',
      class='muted',
      **story.to_card(),
    )
  }}
  {% set event = events_archive|list|first %}
  {{
    news_card(
      category='Klubová akce',
      class='muted',
      **event.to_card(),
    )
  }}
</div>
</section>


<div class="section-background blue-light"><section class="section">
<h2>Zdarma?</h2>
  {% call lead() -%}
    Cílem junior.guru je, aby co nejvíc lidí v Česku a na Slovensku mělo příležitost naučit se programovat.
    Takže **všechno kromě klubu je zdarma**.
    Provoz projektu financují členové [klubu](club.md) svým předplatným a firemní či individuální [sponzoři](love.jinja).
  {%- endcall %}
  <div class="mb-3">
    {{ logos_sponsors_by_tier(sponsors_by_tier) }}
  </div>
  <ul class="sponsor-avatars">
  {% for sponsor in sponsors_github|shuffle %}
    <li class="sponsor-avatars-item">
      <a href="{{ sponsor.url }}" target="_blank" rel="noopener">
        {{ img('static/' + sponsor.avatar_path, sponsor.name, 50, 50) }}
      </a>
    </li>
  {% endfor %}
  </ul>
</section></div>

<div class="section-background yellow"><section class="section">
<h2>Novinky pravidelně v mailu</h2>
<form class="newsletter-container" id="email-form" method="post" action="https://juniorguru.ecomailapp.cz/public/subscribe/1/43c2cd496486bcc27217c3e790fb4088?source={{ page.url|default('/', true)|urlencode }}">
  <p>
    Zadej e-mail a přidej se k <strong>{{ newsletter_subscribers_count }} lidem</strong>, kteří rádi sledují novinky z junior.guru.
  </p>
  <fieldset class="newsletter-fieldset">
    <div class="newsletter-email">
      <input class="newsletter-email-control" type="email" id="newsletter-email" name="email">
    </div>
    <div class="newsletter-submit">
      <input class="newsletter-submit-control" type="submit" value="Odebírat">
    </div>
  </fieldset>
  <p class="newsletter-note">
    {{ 'info-circle'|icon }} Tvůj e-mail se použije jen a pouze na zasílání novinek, které si můžeš kdykoliv zase odhlásit.
    <a href="{{ pages|docs_url('privacy.md')|url }}"> Zásady ochrany osobních údajů</a> popisují, jaká data o tobě junior.guru má a jak s nimi zachází.
  </p>
</form>
</section></div>
