---
title: Práce pro juniorní programátory a testery
description: Nabídky práce, stáže a brigády zaměřené výhradně na začínající programátory a testery bez komerční praxe.
template: main_subnav.html
---

{% from 'macros.html' import img, lead, note with context %}

<h1>Pracovní inzeráty pro juniory</h1>
{% call lead() %}
  Už žádné „požadujeme 4 roky zkušeností“. Tento pracovní portál je na tvé straně.
  Robot každý den stahuje inzeráty z celého internetu a pomocí umělé inteligence {{ "stars"|icon }} vybírá jen ty,
  které jsou vhodné pro začátečníky.
{% endcall %}


<p class="standout">Pokud chceš přidat inzerát, napiš na {{ "honza@junior.guru"|email_link }}.</p>

<dl class="jobs-tags standout noscript">
  <dt class="jobs-tags-heading">{{ "geo-alt"|icon }} Místo:</dt>
  <dd>
    {% for tag in jobs_tags.location %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="jobs-tags-heading">{{ "hourglass-split"|icon }} Úvazek:</dt>
  <dd>
    {% for tag in jobs_tags.employment %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
  <dt class="jobs-tags-heading">{{ "box-arrow-down"|icon }} Zdroj:</dt>
  <dd>
    {% for tag in jobs_tags.source %}
      <span
        class="jobs-tag"
        hidden
        data-jobs-tag="{{ tag.slug }}"
        data-jobs-tag-type="{{ tag.type|lower }}"
      >
        {{- tag.name -}}
      </span>
    {% endfor %}
    <span class="jobs-noscript">Stala se chyba a filtrování nefunguje</span>
  </dd>
</dl>

<div class="jobs">
  <ul class="jobs-list">
    <li class="jobs-empty" hidden>
      {% call note() -%}
        {{ 'search'|icon }} Tvým filtrům neodpovídají žádné inzeráty. Pokud hledáš podle místa,
        zkus přidat <span class="jobs-tag">#remote</span>.
      {%- endcall %}
    </li>
  {% for job in jobs %}
    <li class="jobs-item tagged{% if job.is_highlighted %} highlighted{% endif %}">
      <script type="application/ld+json">{{ job.to_json_ld() }}</script>
      <div class="jobs-logo">
        {{ img('static/' + job.company_logo_path, 'Logo ' + job.company_name, 100, 100, class="jobs-image") }}
      </div>
      <div class="jobs-body">
        <h3 class="jobs-title">
          <a class="jobs-title-link stretched"
            {% if job.is_submitted %}
              href="{{ job.url|relative_url }}"
            {% else %}
               href="{{ job.url }}" rel="nofollow noopener" target="_blank"
            {% endif %}
          >
            {{ job.title }}
          </a>
        </h3>
        <p class="jobs-info">
          <strong class="jobs-info-item">{{ job.company_name }}</strong>
          {% if job.location != "?" %}
            <span class="jobs-info-item">{{ "geo-alt"|icon }} {{ job.location }}</span>
          {% endif %}
        </p>
        <p>
          {% for tag in job.tags %}
            <span
              class="jobs-tag"
              data-jobs-tag="{{ tag.slug }}"
              data-jobs-tag-type="{{ tag.type|lower }}"
            >
              {{- tag.name -}}
            </span>
          {% endfor %}
        </p>
          <!--
            <p class="jobs-toolbar">
                vysvetlit co znamena diskutovat
                mit URL na inzerat v klubu
                reklama na to že když chceš dostávat nabídky práce realtime, tak se přidej do klubu
                <button class="btn btn-outline-dark btn-sm">Diskutovat</button>
                <button class="btn btn-primary btn-sm">{{ "arrow-up-right-circle-fill"|icon }} Celý inzerát</button>
            </p>
          -->
      </div>
    </li>
  {% endfor %}
  </ul>

  {% if jobs_discord %}
    <h2 id="club" class="standout-top">Ručně přidané inzeráty</h2>
    <p>
      Když někdo narazí na zajímavou nabídku práce, nebo dokonce sám hledá nové kolegy,
      může to v <a href="{{ pages|docs_url('club.md')|url }}">klubu</a> sdílet s ostatními.
      Aktuálně tam máme
      {{ jobs_discord|length }} {{ jobs_discord|length|nplurals("takový inzerát", "takové inzeráty", "takových inzerátů") }}.
    </p>
    <ul class="jobs-list">
      {% for job in jobs_discord %}
        <li class="jobs-item">
          <div class="jobs-logo">
            {{ img('static/logos-jobs/unknown.png', 'Bez loga', 100, 100, class="jobs-image") }}
          </div>
          <div class="jobs-body">
            <h3 class="jobs-title">
              <a class="jobs-title-link stretched" href="{{ job.url }}" rel="nofollow noopener" target="_blank">
                {{ job.title }}
              </a>
            </h3>
            <p class="jobs-info">
              <span class="jobs-info-item">
                Děkujeme <strong>{{ job.author.initials }}</strong> za sdílení!
              </span>
              {% if job.upvotes_count %}
                <span class="jobs-info-item">
                  {{ "hand-thumbs-up"|icon }} {{ job.upvotes_count }}
                </span>
              {% endif %}
              {% if job.comments_count %}
                <span class="jobs-info-item">
                  {{ "chat"|icon }} {{ job.comments_count }}
                </span>
              {% endif %}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
