---
title: Práce pro juniorní programátory a testery
description: Nabídky práce, stáže a brigády zaměřené výhradně na začínající programátory a testery bez komerční praxe.
template: main_subnav.html
---

{% from 'macros.html' import lead, note, img with context %}

<h1>Pracovní inzeráty pro juniory</h1>
{% call lead() %}
  Už žádné „požadujeme 4 roky zkušeností“. Tento pracovní portál je na tvé straně.
  Robot každý den stahuje inzeráty z celého internetu a pomocí umělé inteligence vybírá jen ty,
  které jsou vhodné pro začátečníky.
{% endcall %}

{% call note(standout=True) %}
  {{ 'exclamation-circle'|icon }} Teprve se to tady připravuje.
{% endcall %}

<div class="jobs">
  <ul class="jobs-list">
  {% for job in jobs %}
    <li class="jobs-item{% if job.is_highlighted %} highlighted{% endif %}">
      <div class="jobs-logo">
        {{ img('static/' + job.company_logo_path, 'Logo ' + job.company_name, 100, 100, class="jobs-image") }}
      </div>
      <div class="jobs-body">
        <h3 class="jobs-title">{{ job.title }}</h3>
        <p class="jobs-description">
          <strong>{{ job.company_name }}</strong>
          {% if job.location != "?" %}
          — {{ job.location }}
          {% endif %}
        </p>
      </div>

      {# <p>
        {{ job.company_name }}, {{ job.location }}<br>
        {% if job.is_submitted %}
          <a class="jobs-inline-link" href="{{ job.url|relative_url }}" itemprop="url">
        {% else %}
          <a class="jobs-inline-link" href="{{ jobs_url }}">
        {% endif %}
            odkaz
          </a>
      </p> #}
    </li>
  {% endfor %}
  </ul>
</div>
