---
title: Podpoř junior.guru
description: Líbí se ti tento web? Pošli LOVE! Sponzoruj junior.guru, jako jednotlivec, nebo jako firma.
template: main_love.html
---

{% from 'macros.html' import lead, note, markdown, logo, img, blockquote_avatar with context %}

<h1>Pošli LOVE</h1>
{% call lead() %}
  Líbí se ti tento web? Ukázal ti cestu k programování? K lepší práci? Pomohl vaší firmě najmout super kolegy? Chcete jako firma podpořit juniory v jejich snažení? Aby mohlo junior.guru dál existovat a pomáhat co nejvíce lidem, potřebuje peníze na provoz.
{% endcall %}

<div class="text-center standout">
{{ img('static/heart.svg', 'srdíčko', 80, 80, lazy=False) }}
</div>

<div class="tiers-cards">
<div class="tiers-card">
  <h3 class="tiers-card-header">GitHub Sponsors</h3>
  <div class="card-body">
    <ul class="card-text">
      <li>Pokud zaškrtneš, že podporuješ veřejně, objeví se tvůj avatar na <a href="{{ pages|docs_url('index.jinja')|url }}">úvodní stránce</a></li>
      <li>Platba kartou</li>
    </ul>
  </div>
  <p class="tier-card-footer">
    <a class="btn btn-dark" href="https://github.com/sponsors/honzajavorek/" target="_blank" rel="noopener">
      {{ 'github'|icon }}
      od {{ github_sponsors_czk }} Kč/měs
    </a>
    {% set sponsors_count = sponsors_github|length %}
    {% if sponsors_count %}
    <small>
      jako
      {{ sponsors_count }}+
      {{ sponsors_count|nplurals("další", "další", "dalších") }}
      {{ sponsors_count|nplurals("sponzor", "sponzoři", "sponzorů") }}
    </small>
    {% endif %}
  </p>
</div>

<div class="tiers-card">
  <h3 class="tiers-card-header">Členství v klubu</h3>
  <div class="card-body">
    <ul class="card-text">
      <li>Normální členství v <a href="{{ pages|docs_url('club.md')|url }}">klubu</a> pro 1 člověka</li>
      <li>Můžeš do klubu házet promo, pozvánky, pracovní inzeráty</li>
      <li>2 týdny zdarma na zkoušku, potom platba kartou</li>
    </ul>
  </div>
  <p class="tier-card-footer">
    <a class="btn btn-primary" href="https://juniorguru.memberful.com/checkout?plan=89511" target="_blank" rel="noopener">
      {{ 'person-circle'|icon }}
      199 Kč/měs
    </a>
    <small>
      jako
      {{ members_total_count }}
      {{ members_total_count|nplurals("další", "další", "dalších") }}
      {{ members_total_count|nplurals("člen", "členové", "členů") }}
    </small>
  </p>
</div>
</div>

<div class="standout text-center">
  <span class="members centered muted mb-0">
  {% for sponsor in sponsors_github|sample(5) %}
    {{ img('static/' + sponsor.avatar_path, 'Profilovka sponzora', 50, 50, lazy=False) }}
  {% endfor %}
  {% for member in members|sample(10) %}
    {{ img('static/' + member.avatar_path, 'Profilovka člena klubu', 50, 50, lazy=False) }}
  {% endfor %}
  </span>
</div>

<div class="tiers-cards">
{% for tier in sponsor_tiers %}
  {% set sponsors_count = tier.list_sponsors|length %}
  <div class="tiers-card{% if tier.is_sold_out %} soldout{% endif %}">
    <h3 class="tiers-card-header" id="{{ tier.anchor }}">Tarif „{{ tier.name }}“</h3>
    <div class="card-body">
      {% if tier.slug == "supporting" %}
        {% set btn = "success" %}
        {% set icon = "heart-fill" %}
        <ul class="card-text">
          <li>Logo na <a href="{{ pages|docs_url('index.jinja')|url }}">úvodní stránce</a></li>
          <li>Skupinové členství v <a href="{{ pages|docs_url('club.md')|url }}">klubu</a> pro až 15 lidí</li>
          <li>Láskyplné uvítání sponzora příspěvkem v klubu</li>
          <li>Kartou nebo na fakturu, neplátce DPH</li>
        </ul>

      {% elif tier.slug == "providing_courses" %}
        {% set btn = "secondary" %}
        {% set icon = "star-fill" %}
        <ul class="card-text">
          <li>Všechno co předchozí tarif</li>
          <li>Zvýrazněný zápis v <a href="{{ pages|docs_url('courses.md')|url }}">katalogu kurzů</a> s logem a odkazem bez <em>nofollow</em> (zlepší vaše SEO)</li>
          <li>Možnost poslat do klubu studenty za {{ tier.member_price }} Kč/měs/os</li>
          <li>Kartou nebo na fakturu, neplátce DPH</li>
        </ul>

      {% elif tier.slug == "building_brand" %}
        {% set btn = "danger" %}
        {% set icon = "shield-fill" %}
        <ul class="card-text">
          <li>Všechno co předchozí tarify</li>
          <li>Logo i na <a href="{{ pages|docs_url('handbook/index.md')|url }}">příručce</a></li>
          <li>Omezené množství, maximálně {{ tier.max_sponsors }} firmy</li>
          <li>Kartou nebo na fakturu, neplátce DPH</li>
        </ul>

      {% else %}
        {% call note(standout=True) %}
          {{ 'exclamation-circle'|icon }} Tady něco má být, ale není to tu. Napiš prosím na {{ 'honza@junior.guru'|email_link }}
        {% endcall %}
      {% endif %}
    </div>
    <p class="tier-card-footer">
    {% if tier.is_sold_out %}
      <button class="btn btn-{{ btn }}" disabled>
        {{ icon|icon }}
        {{ tier.price|thousands }} Kč/rok
      </button>
      <small>vyprodáno!</small>
    {% else %}
      <a class="btn btn-{{ btn }}" href="{{ tier.plan_url }}" target="_blank" rel="noopener">
        {{ icon|icon }}
        {{ tier.price|thousands }} Kč/rok
      </a>
      {% if sponsors_count %}
      <small>
        jako
        {{ sponsors_count }}
        {{ sponsors_count|nplurals("další", "další", "dalších") }}
        {{ sponsors_count|nplurals("sponzor", "sponzoři", "sponzorů") }}
      </small>
      {% endif %}
    {% endif %}
    </p>
  </div>
{% endfor %}
</div>

<div class="standout">
  <ul class="logos compact muted">
    {{ logo('Ataccama', 'logos/ataccama.svg') }}
    {{ logo('Credo', 'logos/credo.svg') }}
    {{ logo('Fakturoid', 'logos/fakturoid.svg') }}
    {{ logo('Mews', 'logos/mews.svg') }}
    {{ logo('Pure Storage', 'logos/purestorage.svg') }}
    {{ logo('Red Hat', 'logos/redhat.svg') }}
    {{ logo('STRV', 'logos/strv.svg') }}
  </ul>
</div>

<div class="contact">
  <a href="mailto:honza&#64;junior.guru" class="contact-button pulse">
    honza&#64;<!---->junior.guru
  </a>
  <p class="contact-small">
    <small><a href="{{ pages|docs_url('tos.md')|url }}">Obchodní podmínky</a></small>
  </p>
</div>

<h2>Komu tím prospěješ</h2>
{% call markdown() %}

{% endcall %}
<!--
https://web.archive.org/web/20220127081903/https://junior.guru/donate/
https://docs.google.com/document/d/1CIKQKQ9eTpS8LmdxGqppOSim4gYOpoRcekqmPpnyLEI/edit
-->
<!--
nejsem neziskovka, ale myslím to upřímně
Projekt junior.guru provozuje Honza Javorek. Příspěvky nelze odečíst z daní jako dar.
-->

<h2>Proč tady mít logo</h2>
{% call markdown() %}
Protože tenhle projekt je _love brand_. Spojovat se jakkoliv s junior.guru může tvé značce jen pomoci.

Mnozí **top senioři** na trhu jsou v místní komunitě, doporučují junior.guru každému na potkání a mnohdy projekt i sami finančně podporují. Chodí sem **hromady začínajících programátorů a testerů**, kteří se jednou těmi seniory stanou.

Pokud chceš, aby pro tebe pracovali, aby si kupovali tvůj produkt, nebo aby věděli, že podporuješ super věci, které mají rádi, tak tady chceš mít logo.
{% endcall %}

<figure class="figure"><div class="chart-figure"><canvas
    class="chart" width="400" height="230"
    data-chart-type="bar"
    data-chart="{{ {
        'labels': {
            'home': 'úvodní stránka',
            'courses': 'katalog kurzů',
            'handbook': 'příručka',
        }|mapping(charts.logo_impressions_breakdown.keys()),
        'datasets': [
            {
                'label': 'počet impresí měsíčně',
                'data': charts.logo_impressions_breakdown.values()|list,
                'backgroundColor': '#1755d1',
            },
        ],
    }|tojson|forceescape }}"
    data-chart-options="{{ {
        'interaction': {'mode': 'index'},
        'scales': {'y': {'beginAtZero': true}},
    }|tojson|forceescape }}"></canvas></div></figure>

<h2>Proč posílat studenty kurzu do klubu</h2>
{% call markdown() %}
Discord si umí založit každý, ale budování **opravdu funkční komunity** je náročné a vyžaduje hodně času. Můžeš svým studentům udělat nějaký kariérní seminář, ale pokud má být podpora studentů při hledání práce efektivní, musí být **soustavná a trvat měsíce**.

Soustřeď se na svůj <em>core business</em>, tedy výuku programování, a tyhle věci neřeš. V klubu tvým studentům zajistíme živou komunitu, dostatečně dobré kariérové poradenství, podporu během hledání práce, nebo zpětnou vazbu na CV.
{% endcall %}
{% call blockquote_avatar(
  'Mám již vypsán nový termín kurzu a mám tam přístup do junior.guru klubu jako benefit. Lidé si toho všimli a chválí si to.',
  'lucie-lenertova.jpg',
  'Lucie Lénertová',
) %}
  Lucie Lénertová, provozovatelka [Dokážeš programovat!](https://www.dokazesprogramovat.cz)
{% endcall %}
