---
title: Členství v klubu
description: Důležité odkazy a praktické tipy pro členy klubu junior.guru.
noindex: true
---

{% from 'macros.html' import lead, note, markdown with context %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ (page|parent_page).url|url }}">
        {{ (page|parent_page).title }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Rozcestník pro členy
    </li>
  </ol>
</nav>

<h1>Rozcestník pro členy</h1>

{% call lead() %}
  Vítej v klubu!
  Tady máš důležité odkazy a praktické tipy, které by ti měly pomoci se základní orientací.
{% endcall %}

<div hidden class="membership-success">
  {% call note() %}
{{ 'envelope-exclamation'|icon }}
Během pár minut ti do e-mailu přijde pozvánka na Discord.
Pokud nepřijde nebo se na něčem zasekneš,
omrkni prosím důležité odkazy níže nebo napiš na {{ "honza@junior.guru"|email_link }}, určitě to vyřešíme.
  {% endcall %}
</div>

<h2>Předplatné</h2>
<p>
  Po registraci na junior.guru se můžeš kdykoliv přihlásit do členské sekce.
  Tam můžeš měnit typ předplatného, údaje na platební kartě, zadat slevový kupón.
</p>
<p>
  <a class="btn btn-primary" href="https://juniorguru.memberful.com/account" target="_blank" rel="noopener">
    {{ 'gear'|icon }}
    Otevřít nastavení
  </a>
</p>

<h2>Discord</h2>
<p>
   Klub je na platformě <a href="https://discord.com/" target="_blank" rel="noopener">Discord</a>.
   Pokud už Discord používáš a máš tam účet, stačí jej s junior.guru propojit.
   V opačném případě si musíš nejprve účet vytvořit.
   Aby vše správně fungovalo, musí mít tvůj Discord účet ověřenou e-mailovou adresu.
</p>
<p>
  <a class="btn btn-primary" href="https://juniorguru.memberful.com/account/discord/authorize" target="_blank" rel="noopener">
    {{ 'discord'|icon }}
    Propojit Discord
  </a>
</p>

<h2>Otázky?</h2>
<p>
  Vrtá ti hlavou, jak přesně to celé funguje?
  Máš nějaké problémy s registrací nebo s Discordem?
  Zajímají tě veškeré detaily ohledně placení?
  Vypršela ti platnost karty?
  Prolétni si <strong>otázky a odpovědi</strong>.
</p>
<div class="standout-top"><div class="topics topics-grid">
{% call markdown() %}
- [{{ 'person-plus'|icon }} Členství v klubu](faq.md#jak-funguje-clenstvi)
- [{{ 'person-check'|icon }} Pro koho je klub](faq.md#je-to-jen-pro-zacatecniky)
- [{{ 'compass'|icon }} Co je a není klub](faq.md#jak-se-klub-lisi-od-skol-akademii-a-kurzu)
- [{{ 'chat-right'|icon }} Discord](faq.md#proc-zrovna-discord)
- [{{ 'credit-card'|icon }} Placení za klub](faq.md#proc-je-klub-placeny)
- [{{ 'three-dots'|icon }} Další](faq.md)
{% endcall %}
</div></div>
