@use "sass:math";

@use "../spaghetti/variables";

.button {
  @include variables.font-2;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  padding: variables.$whitespace variables.$whitespace-2;
  padding-top: variables.$whitespace - 0.1rem;
  background: variables.$jg-black;

  &, a, a:hover, a:focus, a:active {
    color: variables.$jg-white;
  }
}

.button--link {
  cursor: pointer;
}

a.button,
.button--link {
  &:hover, &:focus, &:active {
    background: variables.$jg-blue;
    color: variables.$jg-white;
  }
}

.button--secondary {
  background: transparent;
  border: 0.2rem variables.$jg-black solid;
  padding: (variables.$whitespace - 0.2rem) (variables.$whitespace-2 - 0.2rem);

  &, a, a:hover, a:focus, a:active {
    color: variables.$jg-black;
  }
}

a.button--secondary,
.button-link.button--secondary {
  &:hover, &:focus, &:active {
    background: transparent;
    color: variables.$jg-black;
    border-width: 0.3rem;
    padding: (variables.$whitespace - 0.3rem) (variables.$whitespace-2 - 0.3rem);
  }
}

.button--inverted {
  background: variables.$jg-white;

  &, a, a:hover, a:focus, a:active {
    color: variables.$jg-black;
  }
}

.button--secondary.button--inverted {
  background: transparent;
  border-color: variables.$jg-white;

  &, a, a:hover, a:focus, a:active {
    color: variables.$jg-white !important;  // TODO use mixins etc. instead
  }
}

.button--small {
  @include variables.font;
  padding: math.div(variables.$whitespace-0, 2) variables.$whitespace;
}

.button--small.button--secondary {
  @include variables.font;
  padding: (math.div(variables.$whitespace-0, 2) - 0.2rem) (variables.$whitespace - 0.2rem);
}

a.button--small.button--secondary,
.button-link.button--small.button--secondary {
  &:hover, &:focus, &:active {
    background: transparent;
    color: variables.$jg-black;
    border-width: 0.3rem;
    padding: (math.div(variables.$whitespace-0, 2) - 0.3rem) (variables.$whitespace - 0.3rem);
  }
}

.button--nowrap {
  white-space: nowrap;
}

.button--spaced {
  margin: math.div(variables.$whitespace, 2);
}

.button__note {
  @include variables.font-0;
  display: block;
}

.button__unit {
  @include variables.font-0;
  vertical-align: baseline;
}
