@use "../spaghetti/variables";

.button-compartment {
  padding: 0;
  margin: 0;
  margin-top: variables.$whitespace-3;
  text-align: center;
  clear: both;
}

.button-compartment--compact {
  margin: variables.$whitespace 0;
}

.button-compartment--row {
  // text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-compartment__note {
  display: block;
  margin-top: variables.$whitespace-0;
}
