.button-compartment {
  padding: 0;
  margin: 0;
  margin-top: $whitespace-3;
  text-align: center;
  clear: both;
}

.button-compartment--compact {
  margin: $whitespace 0;
}

.button-compartment__note {
  display: block;
  margin-top: $whitespace-0;
}
