.checkout__placeholder {
  @include font-0;
  display: none;
}

.checkout__placeholder {
  background: $yellow-light;
  padding: $whitespace;
  margin: $whitespace 0;
}

.checkout--wide .checkout__placeholder {
  text-align: center;
  max-width: $breakpoint-tablet;
  margin-left: auto;
  margin-right: auto;
}

.checkout--active .checkout__control-compartment {
  display: none;
}

.checkout--active .checkout__placeholder {
  display: block;
}

.checkout--error {
  background: $red-light;
  color: $red;
  padding: $whitespace;
}

.checkout__error {
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  @include font-0;
  background: $red;
  color: $white;
  margin-bottom: $whitespace-3;
}

.checkout--error .checkout__error {
  display: block;
}