.content {
  padding-top: $whitespace-3 * 3;
}

.content__section {
  @include page-width($padding: 1rem);
  margin-bottom: $whitespace-3 * 2;
}

.content__section--wide {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.content__section--narrow {
  max-width: 80rem;
  padding-left: 0;
  padding-right: 0;
}

.content__section--hidden {
  display: none;
}

.content__section-heading {
  border-bottom: $border-width solid $yellow;
}

.content__subsection-heading {
  margin-top: $whitespace-2;
}

.content__ad {
  margin: $whitespace-2 0;
}

// this selector be in sync with toc.js
.content__target::before,
.content__section[id]::before,
.content__section-heading[id]::before,
.content__subsection-heading[id]::before {
  display: block;
  content: " ";
  height: 1 * $target-offset;
  margin-top: -1 * $target-offset;
  width: 1rem;
  pointer-events: none;
  //background: violet; // debug

  .content--target-offset-logos & {
    height: 1 * $target-offset-logos;
    margin-top: -1 * $target-offset-logos;
  }
}

.content__subsection-heading[id]::before {
  height: $target-offset;
  margin-top: $whitespace-2 + (-1 * $target-offset);

  .content--target-offset-logos & {
    height: $target-offset-logos;
    margin-top: $whitespace-2 + (-1 * $target-offset-logos);
  }
}

:target .content__target-heading,
:target .content__section-heading,
.content__target-heading:target,
.content__section-heading:target,
.content__subsection-heading:target {
  -webkit-animation: target-animation 3s;
  animation: target-animation 3s;
}

@media screen and (min-width: $breakpoint-tablet) {
  .content--toc .content__section {
    padding-left: $toc-width;
  }

  .content--toc .content__section--wide {
    padding-left: 0;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .content--toc .content__section {
    // visually substracting the $whitespace from ToC's right padding
    padding-left: $toc-width + ($whitespace-3 - $whitespace);
  }

  .content--toc .content__section--wide {
    padding-left: 0;
  }
}
