@use "../spaghetti/variables";

.editorial {
  padding: 0 variables.$whitespace;
  padding-bottom: 2 * variables.$whitespace-3;
}

.editorial__section {
  @include variables.page-width;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  margin-bottom: variables.$whitespace;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .editorial__section {
    justify-content: center;
    text-align: center;
  }
}
