@use "sass:math";

@use "../spaghetti/variables";

.engage {
  padding-top: 2px;
  padding-bottom: 2px;
  background: variables.$dots-dark;
}

.engage__content {
  padding: variables.$whitespace;
  padding-top: variables.$whitespace-2;
  background: rgba(variables.$jg-white, 0.8);
}

.engage__heading {
  margin: 0;
}

.engage__heading--centered {
  padding: 0;
  text-align: center;
  display: block;
}

.engage__single-paragraph {
  margin: 0;
  margin-bottom: variables.$whitespace-2 - variables.$whitespace;
}

.engage__heading + .engage__single-paragraph {
  margin-top: variables.$whitespace-2;
}

.engage__items, .engage__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.engage__items {
  padding-top: variables.$whitespace-3 - variables.$whitespace;
  padding-bottom: variables.$whitespace-3 + variables.$whitespace;
}

.engage__item {
  display: block;
  margin-top: variables.$whitespace;
}

.engage__item-link::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2 * variables.$whitespace-3;
  padding-top: 2 * variables.$whitespace-3;
}

.engage__item--jobs .engage__item-link::before {
  background-image: url('./images/posts.svg');
}

.engage__item--club .engage__item-link::before {
  background-image: url('./images/club.svg');
}

.engage__item--newsletter .engage__item-link::before {
  background-image: url('./images/mail.svg');
}

.engage__item--donate .engage__item-link::before {
  background-image: url('./images/heart.svg');
}

.engage__item--handbook .engage__item-link::before {
  background-image: url('./images/handbook.svg');
}

.engage__item-link {
  text-align: center;
  display: block;
  min-width: 2 * variables.$whitespace-3;
  max-width: 8 * variables.$whitespace-3;
  margin: 0 auto;
  @include variables.color-links(variables.$jg-black, variables.$jg-black);
}

.engage__illustration {
  display: block;
  float: right;
  margin: 0 0 math.div(variables.$whitespace-0, 2) variables.$whitespace-0;
}

.engage__text a {
  @include variables.color-links(variables.$jg-black, variables.$jg-black);
}

.engage--warning .engage__text a {
  @include variables.color-links(variables.$jg-white, variables.$jg-white);
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .engage__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .engage__illustrated-block {
    padding-left: 15rem + variables.$whitespace-2;
    position: relative;
  }

  .engage__illustration-container {
    position: absolute;
    top: variables.$whitespace-0;
    left: 0;
    width: 15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .engage__illustration {
    float: none;
    margin: 0;
  }
}
