/* not really BEM, just copied from elsewhere, to be deleted soon */

.handbook-preview__screenshots {
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 0 $whitespace-2 $whitespace-2 0;
    width: 16.5rem;
    height: 16.5rem;
  }

  a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    border: ($border-width - 0.1rem) solid $black;
    padding: 0.1rem;
  }

  a:hover, a:focus, a:active {
    border-color: $blue;
    border-width: $border-width;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 700px) {
  .handbook-preview__toc ul {
    columns: 2;
    column-gap: 4 * $whitespace;
  }
}
