.header {
  background: $yellow;
  margin: 0;
  padding: 0;
}

.header__content {
  @include page-width;
  display: flex;
  justify-content: space-between;
}

.header--index .header__content {
  align-items: center;
  flex-direction: column;
  padding-bottom: ($whitespace / 4);
}

.header__logo {
  display: block;
  align-self: center;
  margin: 0;
}

.header__logo-image {
  display: block;
  height: 4rem;
}

.header--index .header__logo-image {
  $logo-height: 10rem;
  height: $logo-height;
  line-height: $logo-height - 1rem;
  vertical-align: center;
}

.header__logo-heading {
  padding: 0;
  margin: 0;
}

.header__claim {
  text-align: center;
  padding: 0;
  margin: 0;
  @include font-0;
}

.header__nav {
  align-self: flex-end;
  display: flex;
  overflow: hidden;
  @include font-2;
}

.header__nav-tab {
  margin: 0 0 0 $whitespace-0;
  padding: $whitespace-0 0 0 0;
}

.header__nav-tab-control {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  background: $black;
  color: $white;
  padding: $whitespace-0 ($whitespace + 0.3rem);
}

a.header__nav-tab-control:hover,
a.header__nav-tab-control:focus,
a.header__nav-tab-control:active {
  & {
    background: $blue;
    color: $white;
  }
}

.header__nav-tab-control--active,
a.header__nav-tab-control--active:hover,
a.header__nav-tab-control--active:focus,
a.header__nav-tab-control--active:active {
  & {
    background: $white;
    color: $blue;
  }
}

.header__nav-tab-control--1::before,
.header__nav-tab-control--2::before,
.header__nav-tab-control--3::before {
  box-sizing: border-box;
  display: block;
  float: none;
  margin: 0 0.3rem;
  text-align: center;
  font-weight: bold;
}

.header__nav-tab-control--1::before { content: "1"; }
.header__nav-tab-control--2::before { content: "2"; }
.header__nav-tab-control--3::before { content: "3"; }

.header__nav-tab-content {
  display: none;
}

.header__divider {
  display: none;
}

.header--index .header__divider {
  display: block;
  margin: 0;
  background-color: $yellow;
}

@media screen and (min-width: 550px) {
  .header--index .header__content {
    flex-direction: row;
  }

  .header__claim {
    text-align: right;
    font-weight: normal;
    padding-left: 2 * $whitespace;
    padding-right: $whitespace;
    @include font;
  }
}

@media screen and (min-width: 650px) {
  .header__claim {
    @include font-2;
  }
}

@media screen and (min-width: $breakpoint-desktop + 10px) {
  .header__logo-image {
    height: 5.5rem;
  }

  .header__nav-tab-control {
    padding: $whitespace $whitespace-2;
  }

  .header__nav-tab-control::before {
    float: left;
    margin: 0 $whitespace 0 0;
  }

  .header__nav-tab-content {
    display: inline;
  }
}
