@use "sass:math";

@use "../spaghetti/variables";

.header {
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: variables.$jg-white;
  background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 1rem);
}

.header--opaque {
  background: variables.$jg-white;
}

.header__main {
  background: variables.$jg-yellow;
}

.header--subnav .header__main {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__main-content {
  @include variables.page-width($padding: variables.$whitespace-0);
  display: flex;
}

.header__logo {
  display: block;
  align-self: center;
  margin: 0;
}

.header__logo-image {
  display: block;
  height: variables.$logo-height;
}

.header__logo-heading {
  padding: 0;
  margin: 0;
}

.header__navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__nav-tabs,
.header__nav-tab,
.header__subnav-tabs,
.header__subnav-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav-tabs {
  height: 100%;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.header__nav-tabs {
  @include variables.font-0;
}

.header__nav-tab {
  margin: 0;
  padding: 0;
  line-height: normal;
  white-space: nowrap;
}

.header__nav-tab-control {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: math.div(variables.$whitespace-0, 2) variables.$whitespace-0;
  color: variables.$jg-black;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    background: none;
    color: variables.$jg-black;
  }
}

a.header__nav-tab-control--button {
  background: variables.$jg-black;
  color: variables.$jg-white;
  border-radius: 0.3rem;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
    background: variables.$jg-blue;
    color: variables.$jg-white;
  }
}

a.header__nav-tab-control--active,
a.header__nav-tab-control--active.header__nav-tab-control--button {
  &, &:hover, &:focus, &:active {
    background: none;
    color: variables.$jg-black;
    font-weight: bold;
  }
}

.header__subnav {
  background: variables.$dots-dark;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.header__subnav-tabs {
  @include variables.page-width;
  display: flex;
  justify-content: flex-start;
}

.header__subnav-tabs {
  @include variables.font-0;
}

.header__subnav-tab {
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: variables.$whitespace-2;
  white-space: nowrap;
}

.header__subnav-tab:first-child {
  margin-left: variables.$whitespace-0;
}

.header__subnav-tab:last-child {
  margin-right: variables.$whitespace-0;
}

.header__subnav-tab-control {
  width: 100%;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  margin: variables.$whitespace-0 0;
  background: variables.$jg-white;
}

a.header__subnav-tab-control:hover,
a.header__subnav-tab-control:focus,
a.header__subnav-tab-control:active,
.header__subnav-tab-control--active,
a.header__subnav-tab-control--active:hover,
a.header__subnav-tab-control--active:focus,
a.header__subnav-tab-control--active:active {
  color: variables.$jg-black;
  margin: 0;
  margin-top: 0.4rem;
  padding: (variables.$whitespace-0 - 0.4rem) 0 (variables.$whitespace-0 - 0.3rem) 0;
  border-bottom: 0.3rem variables.$jg-black solid;
}

a.header__subnav-tab-control:hover,
a.header__subnav-tab-control:focus,
a.header__subnav-tab-control:active {
  color: variables.$jg-blue;
  border-color: variables.$jg-blue;
}

.header__subnav-tab-number {
  padding-left: math.div(variables.$whitespace-0, 1.5);
  font-weight: bold;
}

.header__subnav-tab-name {
  display: inline;
  padding: math.div(variables.$whitespace-0, 4) math.div(variables.$whitespace-0, 1.5);
}

.header__tocbar {
  @include variables.font-0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__tocbar-content {
  @include variables.page-width($padding: variables.$whitespace-0);
}

.header__tocbar-items,
.header__tocbar-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__tocbar-items {
  display: flex;
  justify-content: space-between;
}

.header__tocbar-heading {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: variables.$whitespace-0;
}

.header__divider {
  display: none;
}

@media screen and (min-width: 400px) {
  .header__nav-tab {
    margin-left: variables.$whitespace;
  }
}

@media screen and (min-width: 550px) {
  .header__nav-tabs {
    @include variables.font;
  }
}

@media screen and (min-width: 650px) {
  .header__main-content {
    @include variables.page-width($padding: variables.$whitespace);
  }

  .header__logo-image {
    height: variables.$logo-height-large;
  }

  .header__subnav-tab:last-child {
    margin-right: variables.$whitespace;
  }

  .header__subnav-tabs {
    @include variables.font-0;
  }

  .header__nav-tab-control {
    padding: math.div(variables.$whitespace-0, 2) variables.$whitespace;
  }

  .header__tocbar-content {
    @include variables.page-width($padding: variables.$whitespace);
  }
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .header__tocbar {
    display: none;
  }
}
