$logo-height: 4rem;
$logo-height-large: 5.5rem;
$logo-height-index: 10rem;

.header {
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__navbar {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: $white;
  background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 1rem);
}

.header--subnav .header__navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header--optional .header__navbar {
  display: none;
}

.header--index {
  position: static;
}

:target::before {
  display: block;
  content: " ";
  height: 2 * $logo-height;
  margin-top: -2 * $logo-height;
  width: 1rem;
  pointer-events: none;
  // background: violet; // debug
}

.page--subnav :target::before {
  height: (2 * $logo-height) + 3.5rem;
  margin-top: (-2 * $logo-height) + 3.5rem;
}

.header__main {
  background: $yellow;
}

.header--subnav .header__main {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__main-content {
  @include page-width;
  display: flex;
  justify-content: space-between;
}

.header--index .header__main-content {
  align-items: center;
  flex-direction: column;
  padding-bottom: ($whitespace / 4);
}

.header__logo {
  display: block;
  align-self: center;
  margin: 0;
  padding-left: $whitespace-0;
}

.header__logo-image {
  display: block;
  height: $logo-height;
}

.header--index .header__logo-image {
  height: $logo-height-index;
  line-height: $logo-height-index - 1rem;
  vertical-align: center;
}

.header__logo-heading {
  padding: 0;
  margin: 0;
}

.header__claim {
  text-align: center;
  padding: 0;
  margin: 0;
  @include font-0;
}

.header__nav-tabs {
  height: 100%;
  align-self: flex-end;
  display: flex;
  @include font-0;
  padding-right: $whitespace-0 / 2;
}

.header__nav-tab {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  white-space: nowrap;
}

.header__nav-tab-control {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 $whitespace-0;
}

a.header__nav-tab-control:hover,
a.header__nav-tab-control:focus,
a.header__nav-tab-control:active {
  & {
    background: $blue;
    color: $white;
  }
}

.header__nav-tab-control--active,
a.header__nav-tab-control--active:hover,
a.header__nav-tab-control--active:focus,
a.header__nav-tab-control--active:active {
  & {
    background: $black;
    color: $white;
  }
}

.header__nav-tab-name {
  display: none;
}

.header__nav-tab-name-short::before {
  display: inline;
  content: attr(data-content);
}

.header__subnav {
  background: $dots-black;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.header__subnav-tabs {
  @include page-width;
  display: flex;
  justify-content: flex-end;
  @include font-0;
}

.header__subnav-tab {
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0 $whitespace-2 0 0;
  white-space: nowrap;
}

.header__subnav-tab:first-child {
  margin-left: $whitespace-0;
}

.header__subnav-tab:last-child {
  margin-right: $whitespace-0;
}

.header__subnav-tab-control {
  width: 100%;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  margin: $whitespace-0 0;
  background: $white;
}

a.header__subnav-tab-control:hover,
a.header__subnav-tab-control:focus,
a.header__subnav-tab-control:active,
.header__subnav-tab-control--active,
a.header__subnav-tab-control--active:hover,
a.header__subnav-tab-control--active:focus,
a.header__subnav-tab-control--active:active {
  & {
    color: $black;
    margin: 0;
    margin-top: 0.4rem;
    padding: ($whitespace-0 - 0.4rem) 0 ($whitespace-0 - 0.3rem) 0;
    border-bottom: 0.3rem $black solid;
  }
}

a.header__subnav-tab-control:hover,
a.header__subnav-tab-control:focus,
a.header__subnav-tab-control:active {
  & {
    color: $blue;
    border-color: $blue;
  }
}

.header__subnav-tab-name {
  display: inline;
  padding: ($whitespace-0 / 4) ($whitespace-0 / 1.5);
}

.header__toc {
  display: none;
}

.header__divider {
  display: none;
}

.header--index .header__divider {
  display: block;
  margin: 0;
  background-color: $yellow;
}

@media screen and (min-width: 375px) {
  .header__nav-tab-control--1::before,
  .header__nav-tab-control--2::before,
  .header__nav-tab-control--3::before {
    display: inline;
    margin: 0;
    margin-right: $whitespace-0 / 2;
    text-align: center;
    font-weight: bold;
  }

  .header__nav-tab-control--1::before { content: "1 "; }
  .header__nav-tab-control--2::before { content: "2 "; }
  .header__nav-tab-control--3::before { content: "3 "; }
}

@media screen and (min-width: 400px) {
  .header__nav-tabs {
    padding-right: $whitespace-0;
  }

  .header__nav-tab {
    margin-left: $whitespace;
  }
}

@media screen and (min-width: 550px) {
  .header--optional .header__navbar {
    display: block;
  }

  .header--index .header__main-content {
    flex-direction: row;
  }

  .header__claim,
  .header__nav-tabs {
    @include font;
  }

  .header__nav-tab-control--1::before,
  .header__nav-tab-control--2::before,
  .header__nav-tab-control--3::before {
    margin-right: $whitespace-0;
  }

  .header__claim {
    text-align: right;
    font-weight: normal;
    padding-left: 2 * $whitespace;
    padding-right: $whitespace;
  }
}

@media screen and (min-width: 650px) {
  .header__logo-image {
    height: $logo-height-large;
  }

  :target::before {
    height: 2 * $logo-height-large;
    margin-top: -2 * $logo-height-large;
  }

  .page--subnav :target::before {
    height: (2 * $logo-height-large) + 4rem;
    margin-top: (-2 * $logo-height-large) + 4rem;
  }

  .header__claim,
  .header__nav-tabs {
    @include font-2;
  }

  .header__subnav-tabs {
    @include font;
  }

  .header__nav-tab-control {
    padding: $whitespace ($whitespace * 1.25);
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .header__nav-tab-name {
    display: inline;
  }

  .header__nav-tab-name-short::before {
    display: none;
  }
}
