.intro {
  max-width: 80rem;
  padding: 0 $whitespace;
  margin: 0 auto ($whitespace-3 * 2) auto;
}

.intro--standalone {
  margin-bottom: 0;
}

.intro__title {
  margin-top: 0;
  text-align: center;
  margin-bottom: $whitespace-3 * 2;
}

.intro__title--massive {
  text-transform: uppercase;
  border: ($whitespace / 2) solid $black;
  padding: $whitespace;
  line-height: normal;
}

.intro__lead {
  @include font-2;
  min-height: 16rem;
}

.intro--without-illustration .intro__lead {
  min-height: 0;
}

.intro__illustration {
  float: right;
  margin: $whitespace;
  height: 4 * $whitespace-3;
}

@media screen and (min-width: $breakpoint-tablet) {
  .intro__title--massive {
    padding: $whitespace * 2;
    margin-left: $whitespace-3 * 3;
    margin-right: $whitespace-3 * 3;
  }
}
