@use "sass:math";

@use "../spaghetti/variables";

.intro {
  max-width: 80rem;
  padding: 0 variables.$whitespace;
  margin: 0 auto (variables.$whitespace-3 * 2) auto;
}

.intro--standalone {
  margin-bottom: 0;
}

.intro__note {
  @include variables.font-0;
  margin-bottom: variables.$whitespace-2;
}

.intro__title {
  margin-top: 0;
  text-align: center;
  margin-bottom: variables.$whitespace-3 * 2;
}

.intro__title--massive {
  text-transform: uppercase;
  border: math.div(variables.$whitespace, 2) solid var(--color-black);
  padding: variables.$whitespace;
  line-height: normal;
}

.intro__lead {
  @include variables.font-2;
  min-height: 16rem;
}

.intro--without-illustration .intro__lead {
  min-height: 0;
}

.intro__illustration {
  float: right;
  margin: variables.$whitespace;
  height: 3 * variables.$whitespace-3;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .intro__title--massive {
    padding: variables.$whitespace * 2;
    margin-left: variables.$whitespace-3 * 3;
    margin-right: variables.$whitespace-3 * 3;
  }

  .intro__illustration {
    margin-left: variables.$whitespace-3;
    height: 4 * variables.$whitespace-3;
  }
}
