$company-logo-size: 8rem;

.jobs,
.jobs__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jobs__item {
  border-top: $border-width solid $gray-light;
}

.jobs__item:last-child {
  border-bottom: $border-width solid $gray-light;
}

.jobs__item:last-child.jobs__item--highlighted {
  border-color: $yellow;
}

.jobs__item--highlighted {
  background: $yellow-light;
  border-color: $yellow;
}

.jobs__item--highlighted + .jobs__item {
  border-color: $yellow;
}

.jobs__link {
  box-sizing: border-box;
  padding: $whitespace;
  text-decoration: none;
  display: block;
}

.jobs__company-logo {
  border: $border-width solid $gray-light;
  width: $company-logo-size * 0.8;
  height: $company-logo-size * 0.8;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $whitespace;
  margin-bottom: $whitespace-0;
  float: left;
}

.jobs__link:hover .jobs__company-logo,
.jobs__link:focus .jobs__company-logo,
.jobs__link:active .jobs__company-logo {
  border-color: $blue;
}

.jobs__company-logo-image {
  width: ($company-logo-size * 0.8) - $border-width;
  height: ($company-logo-size * 0.8) - $border-width;
}

.jobs__title,
.jobs__company,
.jobs__location {
  @include font;
  margin: 0;
}

.jobs__title {
  text-decoration: underline;
  word-break: break-word;
  line-height: normal;
  margin-bottom: $whitespace-0;
}

.jobs__company {
  clear: both;
}

.jobs__location {
  @include font-0;
}

.jobs__tags,
.jobs__tag {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jobs__tag {
  @include font-0;
  border: 0.2rem solid $gray-light;
  display: inline;
  padding: 0.2rem 0.4rem;
  margin-right: 0.4rem;
  white-space: nowrap;
}

.jobs__tag--new {
  color: $white;
  background: $black;
  border-color: $black;
}

.jobs__link:hover,
.jobs__link:focus,
.jobs__link:active {
  .jobs__tag {
    border-color: $blue;
  }

  .jobs__tag--new {
    background: $blue;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .jobs__content {
    display: flex;
  }

  .jobs__company-logo {
    width: $company-logo-size;
    height: $company-logo-size;
    align-self: center;
    margin-right: $whitespace-2;
    margin-bottom: 0;
    float: none;
  }

  .jobs__company-logo-image {
    width: $company-logo-size - $border-width;
    height: $company-logo-size - $border-width;
  }

  .jobs__link {
    display: flex;
    padding: $whitespace $whitespace-2;
  }

  .jobs__content {
    flex-grow: 2;
  }

  .jobs__tags {
    padding-left: $whitespace;
    flex-shrink: 0;
  }

  .jobs__tag {
    margin-right: 0;
    margin-left: 0.4rem;
  }
}
