@use "sass:math";

@use "../spaghetti/variables";

$company-logo-size: 8rem;

.jobs,
.jobs__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jobs {
  margin-top: 2 * variables.$whitespace-3;
  margin-bottom: 2 * variables.$whitespace-3;
}

.jobs--inline {
  margin: variables.$whitespace-2 0 0 0;
}

.jobs__item {
  border-top: variables.$border-width solid var(--color-yellow-light);
}

.jobs__item:last-child {
  border-bottom: variables.$border-width solid var(--color-yellow-light);
}

.jobs__item:last-child.jobs__item--highlighted {
  border-color: var(--color-yellow);
}

.jobs__item--highlighted {
  background: var(--color-yellow-light);
  border-color: var(--color-yellow);
}

.jobs__item--highlighted + .jobs__item {
  border-color: var(--color-yellow);
}

.jobs--inline .jobs__item {
  border-color: transparent;
}

.jobs__link {
  box-sizing: border-box;
  padding: variables.$whitespace;
  text-decoration: none;
  display: block;
}

.jobs__company-logo {
  border: variables.$border-width solid var(--color-yellow-light);
  width: $company-logo-size * 0.8;
  height: $company-logo-size * 0.8;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: variables.$whitespace;
  margin-bottom: variables.$whitespace-0;
  float: left;
}

.jobs__link:hover .jobs__company-logo,
.jobs__link:focus .jobs__company-logo,
.jobs__link:active .jobs__company-logo {
  border-color: var(--color-blue);
}

.jobs__company-logo-image {
  width: ($company-logo-size * 0.8) - variables.$border-width;
  height: ($company-logo-size * 0.8) - variables.$border-width;
}

.jobs__title,
.jobs__company,
.jobs__location {
  @include variables.font;
  margin: 0;
}

.jobs__title {
  text-decoration: underline;
  word-break: break-word;
  line-height: normal;
  margin-bottom: variables.$whitespace-0;
}

.jobs__company {
  clear: both;
}

.jobs__location {
  @include variables.font-0;
}

.jobs__tags,
.jobs__tag {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jobs__tag {
  @include variables.font-0;
  border: 1px solid var(--color-yellow-light);
  display: inline;
  padding: 0.2rem 0.5rem;
  margin-right: math.div(variables.$whitespace-0, 2);
  white-space: nowrap;
}

.jobs__tag--new {
  color: var(--color-white);
  background: var(--color-black);
  border-color: var(--color-black);
}

.jobs__link:hover,
.jobs__link:focus,
.jobs__link:active {
  .jobs__tag {
    border-color: var(--color-blue);
  }

  .jobs__tag--new {
    background: var(--color-blue);
  }
}

.jobs--inline .jobs__content {
  display: flex;
}

.jobs--inline .jobs__company-logo {
  align-self: center;
  margin-right: variables.$whitespace-2;
  margin-bottom: 0;
  float: none;
  flex-shrink: 0;
}

.jobs--inline .jobs__link {
  display: flex;
  padding: variables.$whitespace;
}

.jobs--inline .jobs__content {
  flex-grow: 2;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .jobs__content {
    display: flex;
  }

  .jobs__company-logo {
    width: $company-logo-size;
    height: $company-logo-size;
    align-self: center;
    margin-right: variables.$whitespace-2;
    margin-bottom: 0;
    float: none;
    flex-shrink: 0;
  }

  .jobs--inline .jobs__company-logo {
    width: $company-logo-size * 0.8;
    height: $company-logo-size * 0.8;
  }

  .jobs__company-logo-image {
    width: $company-logo-size - variables.$border-width;
    height: $company-logo-size - variables.$border-width;
  }

  .jobs--inline .jobs__company-logo-image {
    width: ($company-logo-size * 0.8) - variables.$border-width;
    height: ($company-logo-size * 0.8) - variables.$border-width;
  }

  .jobs__link {
    display: flex;
    padding: variables.$whitespace variables.$whitespace-2;
  }

  .jobs__content {
    flex-grow: 2;
  }

  .jobs__tags {
    padding-left: variables.$whitespace;
    flex-shrink: 0;
  }

  .jobs__tag {
    margin-right: 0;
    margin-left: variables.$whitespace-0;
  }
}
