$logos-height-large: 1.5 * $logos-height;

.logos {
  margin: $whitespace-3 0;
}

.logos--bar {
  background: $white;
  margin-top: 0;
  z-index: 900;
  margin: $whitespace-3 0 (2 * $whitespace-3) 0;
}

.logos--bar-sticky {
  position: sticky;
  top: 0; // gets set by logos.js
}

.logos--bar-sticky-detached {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logos__items,
.logos__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logos__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}

.logos--bar .logos__items {
  flex-wrap: nowrap;
  justify-content: space-between;
  @include page-width;
}

.logos__item {
  box-sizing: border-box;
  width: 100%;
  height: $logos-height;
  margin-bottom: $whitespace-2;
}

.logos--bar .logos__item {
  height: $logos-height-large;
  transition: height 0.5s, width 0.5s;
}

.logos--bar-sticky-detached .logos__item {
  height: $logos-height;
}

.logos--bar .logos__item {
  margin: 0;
}

.logos__item--caption {
  width: auto;
}

.logos__link {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.logos__item--without-link,
.logos__link {
  padding: 0 $whitespace-2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos--bar .logos__link {
  padding: 0 $whitespace-0;
}

.logos__item--caption .logos__link {
  width: auto;
  white-space: normal;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
}

.logos__image {
  display: block;
  max-width: 20rem;
  max-height: $logos-height;
  filter: grayscale(100%);
  opacity: 0.6;
  object-fit: contain;
}

.logos--bar .logos__image {
  max-width: 100%;
  max-height: $logos-height-large - 0.6rem;
  filter: none;
  opacity: 1;
  transition: max-height 0.5s, max-width 0.5s;
}

.logos--bar-sticky-detached .logos__image {
  max-height: $logos-height - 0.6rem;
}

.logos__link:hover .logos__image,
.logos__link:focus .logos__image,
.logos__link:active .logos__image {
  filter: grayscale(0);
}

@media screen and (min-width: $breakpoint-larger-phone) {
  .logos__item {
    width: 50%;
  }

  .logos__item--caption .logos__link {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .logos--bar {
    margin: (3 * $whitespace-3) 0 (4 * $whitespace-3) 0;
  }

  .logos__item,
  .logos__image {
    width: auto;
  }

  .logos--bar .logos__link {
    padding: 0 $whitespace-2;
  }

  .logos__item--caption .logos__link {
    font-size: 1.3rem;
  }

  .logos--bar .logos__image {
    max-height: $logos-height-large;
  }

  .logos--bar-sticky-detached .logos__image {
    max-height: $logos-height - $whitespace-0;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .logos__item--caption .logos__link {
    font-size: 1.6rem;
  }

  .logos--bar .logos__image {
    max-height: $logos-height-large - $whitespace;
  }

  .logos--bar-sticky-detached .logos__image {
    max-height: $logos-height - $whitespace;
  }
}
