.main {
  padding-top: $whitespace-3 * 3;
  overflow: hidden;
}

.main__section {
  @include page-width($padding: 1rem);
  margin-bottom: $whitespace-3 * 2;
}

.main__section-heading {
  border-bottom: $border-width solid $yellow;
}

.main__section--wide {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
