$target-offset: 2 * $logo-height-large;

.main {
  padding-top: $whitespace-3 * 3;
  overflow: hidden;
}

.main [id]::before {
  display: block;
  content: " ";
  height: 1 * $target-offset;
  margin-top: -1 * $target-offset;
  width: 1rem;
  pointer-events: none;
  //background: violet; // debug
}

.main__section {
  @include page-width($padding: 1rem);
  margin-bottom: $whitespace-3 * 2;
}

.main__section-heading {
  border-bottom: $border-width solid $yellow;
}

.main__subsection-heading {
  margin-top: $whitespace-3;
}

.main__subsection-heading[id]::before {
  height: $target-offset;
  margin-top: $whitespace-3 + (-1 * $target-offset);
}

.main__section--wide {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

:target .main__section-heading,
.main__section-heading:target,
.main__subsection-heading:target {
  -webkit-animation: target-animation 2s;
  animation: target-animation 2s;
}
