@use "../spaghetti/variables";

.mentions {
  max-width: 80rem;
  padding: 0 variables.$whitespace;
  margin: 0 auto (variables.$whitespace-3 * 2) auto;
  @include variables.font-3;
  font-weight: bold;
  text-align: center;
}
