@use "../spaghetti/variables";

$more-height: 45rem;

.more--collapsed {
  height: $more-height;
  overflow: hidden;
  position: relative;
}

.more__cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: $more-height;
  margin: 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 50;
  cursor: pointer;
}

.more__cover:hover .more__button {
  background: var(--color-blue);
}

@media screen and (max-width: variables.$grid-breakpoint) {
  .more--collapsed .cartoon {
    display: none;
  }
}
