.pricing__heading {
  margin-bottom: $whitespace-3;
  text-align: center;
}

.pricing__note {
  @include font-0;
  margin: $whitespace 0;
}

.pricing__discount {
  background: $blue;
  color: $white;
  padding: ($whitespace / 4) ($whitespace / 2);
  margin-right: $whitespace / 2;
}

.pricing__plan {
  padding: $whitespace-2 $whitespace;
}

.pricing__plan--highlight {
  background: $yellow;
}

.pricing__plan-heading {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.pricing__plan-content {
  margin-bottom: $whitespace;

  & + * {
    margin: 0;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .pricing__heading--mobile-only {
    display: none !important;  // forcing through spaghetti
  }

  .pricing__plans {
    display: flex;
    margin-bottom: $whitespace-3;
  }

  .pricing__plan {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .pricing__plans--2 .pricing__plan {
    width: 50%;
  }

  .pricing__plans--3 .pricing__plan {
    width: 33.33%;
  }

  .pricing__plan-content + * {
    margin-top: auto !important;
  }
}
