@use "sass:math";

@use "../spaghetti/variables";

.pricing__heading {
  margin-bottom: variables.$whitespace-3;
  text-align: center;
}

.pricing__note {
  @include variables.font-0;
  margin: variables.$whitespace 0;
}

.pricing__discount {
  background: var(--color-blue);
  color: var(--color-white);
  padding: math.div(variables.$whitespace, 4) math.div(variables.$whitespace, 2);
  margin-right: math.div(variables.$whitespace, 2);
}

.pricing__plan {
  padding: variables.$whitespace-2 variables.$whitespace;
}

.pricing__plan--highlight {
  background: var(--color-yellow);
}

.pricing__plan-heading {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.pricing__plan-content {
  margin-bottom: variables.$whitespace;

  & + * {
    margin: 0;
  }
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .pricing__heading--mobile-only {
    display: none !important;  // forcing through spaghetti
  }

  .pricing__plans {
    display: flex;
    margin-bottom: variables.$whitespace-3;
  }

  .pricing__plan {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .pricing__plans--2 .pricing__plan {
    width: 50%;
  }

  .pricing__plans--3 .pricing__plan {
    width: 33.33%;
  }

  .pricing__plan-content + * {
    margin-top: auto !important;
  }
}
