@use "../spaghetti/variables";

.price {
  text-align: center;
}

.price__amount {
  @include variables.font-4;
}

.price__note {
  @include variables.font-0;
}

.price__amount,
.price__note {
  display: block;
}

.price__unit {
  @include variables.font;
  vertical-align: baseline;
}

.price__note .price__unit {
  @include variables.font-0;
  font-size: 1.2rem;
}