@use "sass:math";

@use "../spaghetti/variables";

.testimonials__items,
.testimonials__item,
.testimonials__labels,
.testimonials__label {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonials__labels {
  display: flex;
  justify-content: center;
  margin: variables.$whitespace-2 0;
}

.testimonials__label {
  display: block;
  @include variables.font-0;
  color: variables.$jg-blue;
  width: variables.$whitespace-2;
  height: variables.$whitespace-2;
  line-height: variables.$whitespace-2;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  border: 2px variables.$jg-blue solid;
  margin: 0 math.div(variables.$whitespace-0, 2);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.testimonials__label--active {
  background: variables.$jg-blue;
  color: variables.$jg-white;
}

.testimonials__item--inactive {
  display: none;
}
