.testimonials__items,
.testimonials__item,
.testimonials__labels,
.testimonials__label {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonials__labels {
  display: flex;
  justify-content: center;
  margin: $whitespace-2 0;
}

.testimonials__label {
  display: block;
  @include font-0;
  color: $blue;
  width: $whitespace-2;
  height: $whitespace-2;
  line-height: $whitespace-2;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  border: 2px $blue solid;
  margin: 0 $whitespace-0 / 2;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.testimonials__label--active {
  background: $blue;
  color: $white;
}

.testimonials__item--inactive {
  display: none;
}
