.toc-toggle {
  display: flex;
  align-items: center;
}

.toc-toggle--unused::before {
  content: "➙";
  font-weight: bold;
  line-height: normal;
  display: block;
  animation: pulse 3s infinite;
  position: relative;
}

@keyframes pulse {
  0% {
    left: -2rem;
  }
  100% {
    left: 0;
  }
}

.toc-toggle__label {
  display: block;
  padding: 0 $whitespace-0;
  margin: 0;
  color: $black;
  @include font-0;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.toc-toggle__checkbox:checked ~ .toc-toggle__label {
  background: $blue;
  color: $white;
  text-decoration: none;
}

.toc-toggle__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
