.toc-permalink {
  display: none;
}

@media screen and (min-width: $breakpoint-tablet) {
  .toc-permalink {
    display: inline;
    @include font-0;
    @include color-links(var(--color-yellow-light), var(--color-gray));
    margin-left: $whitespace-2;
    text-decoration: none;
    white-space: nowrap;

    // TODO solve conflict with tooltips.scss and main.scss
    &::before, &::after { display: none; }
    text-shadow: none !important;
  }
}
