@use "../spaghetti/variables";

.toc-permalink {
  display: none;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .toc-permalink {
    display: inline;
    @include variables.font-0;
    @include variables.color-links(variables.$jg-gray-light, variables.$jg-gray);
    margin-left: variables.$whitespace-2;
    text-decoration: none;
    white-space: nowrap;

    // TODO solve conflict with tooltips.scss and main.scss
    &::before, &::after { display: none; }
    text-shadow: none !important;
  }
}
