@use "../spaghetti/variables";

.toc-button__label::before {
  content: " ";
  display: inline-block;
  width: 1.3rem;
  height: 1rem;
  padding-right: 0.7rem;
  background: url('./images/menu.svg') left center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.toc-button__label {
  white-space: nowrap;
  display: block;
  padding: 0 variables.$whitespace-0;
  margin: 0;
  color: var(--color-black);
  @include variables.font-0;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
