.toc,
.toc__content {
  box-sizing: border-box;
}

.toc {
  @include page-width($padding: 1rem);
}

.toc__heading {
  border-bottom: $border-width solid $gray-light;
}

.toc__items,
.toc__item,
.toc__subitems,
.toc__subitem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc__items {
  padding-bottom: $whitespace-3;
  margin: 0;
}

.toc__item a {
  display: block;
  padding: 0 $whitespace;
  @include color-links($black, $blue);
}

.toc__subitem {
  padding-left: $whitespace-2;
  @include font-0;
}

.toc__link:active,
.toc__sublink:active {
  color: $blue
}

.toc__item--active .toc__link,
.toc__subitem--active .toc__sublink {
  text-decoration: none;
  &, &:hover, &:focus { color: $blue };
}

.toc__item--active .toc__link {
  font-weight: bold;
}

.toc__subitem--active .toc__sublink {
  font-weight: normal;
}

@media screen and (min-width: $breakpoint-tablet) {
  .toc {
    @include page-width;
    position: sticky;
    z-index: 500;
    margin-top: $whitespace-0;
    top: $target-offset;
  }

  .toc--target-offset-logos {
    top: $target-offset-logos;
  }

  .toc::before {
    display: none;
  }

  .toc__content {
    float: left;
    width: $toc-width - $whitespace;
    background: rgba($white, 0.8);
    padding: 0 $whitespace 0 0;
    max-height: calc(100vh - #{$target-offset - $whitespace-0});
    overflow-y: scroll;
    margin-top: -1 * $whitespace-0;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .toc--target-offset-logos .toc__content {
    max-height: calc(100vh - #{$target-offset-logos - $whitespace-0});
  }

  .toc__content--irrelevant {
    opacity: 0;
  }

  .toc__heading {
    margin: $whitespace-0 0 $whitespace-3 $whitespace;
  }
}
