$toc-width-rem: 30;

.toc__delimiter--vertical {
  position: relative;
}

.toc__delimiter--horizontal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include page-width($padding: 1rem);
}

.toc,
.toc__content {
  box-sizing: border-box;
  width: 100%;
}

.toc {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.toc--visible {
  display: block;
}

.toc__content {
  position: fixed;
  z-index: 1500;
  background: $black;
  color: $white;
  padding: $whitespace-0 0 $whitespace 0;
}

.toc__heading,
.toc__items {
  margin: 0;
}

.toc__heading {
  display: none;
}

.toc__items,
.toc__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc__item--active {
  background: $blue;
}

.toc__item--active a {
  text-decoration: none;
}

.toc__item a {
  display: block;
  padding: 0 $whitespace;
  @include color-links($white, $white);
}

@media screen and (min-width: (($toc-width-rem * 10px) + 30px)) {
  .toc,
  .toc__content {
    width: $toc-width-rem * 1rem;
  }
}
