$toc-width-rem: 30;

.toc__delimiter--vertical {
  position: relative;
}

.toc__delimiter--horizontal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include page-width($padding: 1rem);
}

.toc,
.toc__content {
  box-sizing: border-box;
  width: 100%;
}

.toc {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.toc--visible {
  display: block;
}

.toc__content {
  position: fixed;
  z-index: 1500;
  background: rgba($white, 0.9);
  color: $black;
  padding: $whitespace-0 0 $whitespace 0;
  border: $border-width solid $blue;
}

.toc__heading,
.toc__items {
  margin: 0;
}

.toc__heading {
  display: none;
}

.toc__items,
.toc__item,
.toc__subitems,
.toc__subitem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc__item a {
  display: block;
  padding: 0 $whitespace;
  @include color-links($black, $blue);
}

.toc__subitem {
  padding-left: $whitespace-2;
  @include font-0;
}

.toc__item--active {
  background: $blue;
  color: $white;
}

.toc__item--active a {
  text-decoration: none;
  @include color-links($white, $white);

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

@media screen and (min-width: (($toc-width-rem * 10px) + 30px)) {
  .toc,
  .toc__content {
    width: $toc-width-rem * 1rem;
  }
}
