$toc-width-rem: 30;

.toc,
.toc__content {
  box-sizing: border-box;
}

.toc {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  z-index: 1500;
  height: 100%;
  width: 100%;
  padding-left: 5rem;
}

.toc--visible {
  right: 0;
}

.toc__content {
  background: rgba($white, 0.8);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 0 0 $whitespace 0;
  border-left: $border-width solid $blue;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.toc__heading,
.toc__items {
  margin: 0;
}

.toc__heading {
  margin: 0;
  padding: 0 $whitespace;
  @include font-2;
  font-weight: normal;
  background: $white;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.toc__items,
.toc__item,
.toc__subitems,
.toc__subitem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toc__items {
  padding-bottom: $whitespace-3;
}

.toc__item a {
  display: block;
  padding: 0 $whitespace;
  @include color-links($black, $blue);
}

.toc__subitem {
  padding-left: $whitespace-2;
  @include font-0;
}

.toc__item--active {
  background: $blue;
  color: $white;
}

.toc__item--active a {
  text-decoration: none;
  @include color-links($white, $white);

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .toc__content {
    max-width: 40rem;
  }

  .toc__heading {
    padding-top: $whitespace-0;
    padding-bottom: $whitespace-0;
  }
}
