{% extends base_template %}
{% block title %}: Získej praxi{% endblock %}

{% block description -%}
Znáš základy? Tvým úkolem jsou nyní dvě věci: Získat alespoň minimální praxi a dál si rozšiřovat znalosti.
{%- endblock %}

{% block content %}

<h1>Získej praxi v programování</h1>
<p class="lead">
  Znáš <a href="/learn/">základy</a>?
  Tvým úkolem jsou nyní dvě věci: Získat alespoň minimální praxi a dál si rozšiřovat znalosti.
  Teprve potom si můžeš začít <a href="/jobs/">hledat svou první práci v IT</a>.
</p>
<ul>
  <li><a href="#exercises">Procvičuj</a></li>
  <li><a href="#projects">Najdi si projekt</a></li>
  <li><a href="#help">Kde najdeš pomoc?</a></li>
  <li><a href="#skills">Rozšiřuj si znalosti</a></li>
  <li><a href="#events">Najdi inspiraci, poznej lidi</a></li>
</ul>

<h2 id="exercises">Procvičuj</h2>
<ul>
  <li>
    <a href="https://exercism.io/">
      <h3>Exercism</h3>
    </a>
    <p>
      Řeš malé úlohy, dostaň zpětnou vazbu od mentora, uč se z řešení druhých.
    </p>
  </li>
  <li>
    <a href="https://www.codewars.com/">
      <h3>Codewars</h3>
    </a>
    <p>
      Řeš malé úlohy přímo v prohlížeči, uč se z řešení druhých.
    </p>
  </li>
  <li>
    <a href="https://checkio.org/">
      <h3>CheckiO</h3>
    </a>
    <p>
      Procházej online hru pomocí programovacích úloh, uč se od druhých.
    </p>
  </li>
  <li>
    <a href="https://www.umimeprogramovat.cz">
      <h3>Umíme programovat</h3>
    </a>
    <p>
      Uč se skrze cvičení a opakování, <a href="https://www.umimeto.org/podlozeno-vyzkumem">podložený výzkumy</a>.
    </p>
  </li>
  <li>
    <a href="https://projecteuler.net/">
      <h3>Project Euler</h3>
      <ul>
          <li><small>pro odvážnější</small></li>
      </ul>
    </a>
    <p>
      Řeš matematické úlohy pomocí programování.
    </p>
  </li>
</ul>
{% include list_note_template %}

<h2 id="projects">Najdi si projekt</h2>
<p>
  Nic tě nenaučí tolik, jako když si zkusíš něco samostatně vyrobit.
  Říká se tomu <a href="https://cs.wikipedia.org/wiki/Projektov%C3%A9_u%C4%8Den%C3%AD">projektové učení</a>.
  Nejlepší je vymyslet si něco vlastního a řešení procházet s <a href="#mentor">mentorem</a>.
  Inspirace na projekt se nejlépe hledá přímo okolo tebe:
</p>
<ul>
  <li>
    jednoduchá hra, např. piškvorky nebo <a href="https://naucse.python.cz/2018/snake-brno/">had</a>
  </li>
  <li>
    automatizace něčeho, co teď na počítači musíš dělat ručně (mrkni na <a href="https://automatetheboringstuff.com">tuto knihu</a>)
  </li>
  <li>
    program na procvičování příkladů nebo slovíček pro děti do školy
  </li>
</ul>
<p>
  Pokud vlastní nápad nepřichází a mentor není po ruce, můžeš zkusit
  <a href="hackathons">hackathon</a> nebo <a href="opensource">Open Source</a>.
</p>
<p class="note">
  Dávej své pokusy a projekty na <a href="https://github.com/">GitHub</a>.
  Čím více, tím lépe. Nejen že se naučíš lépe ovládat <a href="https://naucse.python.cz/course/pyladies/git/collaboration/">Git</a>
  a GitHub, ale hlavně budeš moci svůj kód ukázat. Třeba když budeš potřebovat <a href="help">pomoc na dálku</a>,
  nebo až si budeš <a href="/jobs/">hledat práci</a>. Neboj se mít svůj kód veřejně
  a ukazovat ho druhým! Tato obava je zbytečnou překážkou ve tvém rozjezdu.
  Programování je o <a href="https://naucse.python.cz/course/pyladies/git/collaboration/">spolupráci</a>.
</p>

<h3 id="hackathons">Hackathony</h3>
<p>
  <a href="https://cs.wikipedia.org/wiki/Hackathon">Hackathon</a> je akce, kde se sejdou
  lidi se zájmem o nějaké téma, utvoří smíšené týmy (zkušení i začínající programátoři,
  designéři) a v daném čase vymyslí a zpracují nějaké řešení. Nejlepší někdy dostanou ceny.
  Pro lepší představu si přečti <a href="https://medium.com/@misasebestova/m%C5%AFj-prvn%C3%AD-datov%C3%BD-hackathon-6f753a4730cf">článek od účastnice Michaely</a>.
</p>
<ul>
  <li>
    <a href="https://kodujprocesko.osf.cz/">
      <h3>Kóduj pro Česko</h3>
    </a>
    <p>
      Pravidelný hackhaton pomáhající městům, obcím a neziskovkám.
    </p>
  </li>
  <li>
    <a href="https://hackprague.com">
      <h3>HackPrague</h3>
    </a>
    <p>
      Každoroční hackhaton nápadů zlepšujících život ve městech.
    </p>
  </li>
  <li>
    <a href="https://engeto.cz/hackathon/">
      <h3>Engeto Hackathon</h3>
    </a>
    <p>
      Hackhaton v Brně zaměřený na programování v Pythonu.
    </p>
  </li>
  <li>
    <a href="https://www.hackathon.com/city/czech-republic/praha">
      <h3>Hackathon.com</h3>
    </a>
    <p>
      Celosvětový seznam místních i online hackhatonů.<br>
      <small>Nejsou tam ale všechny. Nejlepší je prostě
      <a href="https://www.google.cz/search?q=hackathon%20ostrava">hledat</a>.
      </small>
    </p>
  </li>
</ul>
<figure>
  <blockquote>
    Moji největší bariérou byl strach. Obava, že nebudu tak dobrá jako ostatní
    a že tam budu úplně mimo. Nakonec jsem zjistila, že to bylo úplně zbytečné.
  </blockquote>
  <figcaption>
    Michaela Šebestová,
    absolvetnka kurzu PyLadies a účastnice hackhatonu Sreality.cz
  </figcaption>
</figure>

<h3 id="opensource">Open Source</h3>
<p>
  <a href="https://cs.wikipedia.org/wiki/Otev%C5%99en%C3%BD_software">Open Source Software</a> (OSS) jsou projekty s kódem, na který se může kdokoliv podívat,
  a které lze většinou využívat zdarma &ndash; například <a href="https://cs.wikipedia.org/wiki/Linux">Linux</a>
  nebo <a href="https://cs.wikipedia.org/wiki/LibreOffice">LibreOffice</a>.
  Pokud si dáš svůj projekt na <a href="https://github.com/">GitHub</a>, kde jeho kód mohou
  číst další lidé, máš taky takový maličký Open Source.
</p>
<p>
  Existují tisíce Open Source projektů uveřejněných pro dobro všech, některé více
  či méně užitečné, některé vytvářené ve volném čase lidí, jiné zaštiťované organizacemi.
  Je to obrovský fenomén a když se do něj člověk zapojí, může získat mnoho
  zkušeností, cenných kontaktů i nových přátel.
</p>
<p>
  Začátky s Open Source ale nejsou
  přímočaré. Většinou na něm lidé pracují ve volném čase. Nováčci jsou
  vítáni, ale jen málo projektů má sílu aktivně nabízet <a href="#mentors">mentorování</a>.
</p>
<ul>
  <li>
    <a href="https://opensource.guide/">
      <h3>Open Source Guides</h3>
    </a>
    <p>
      Přečti si vše o tom, jak OSS funguje, a jak začít.
    </p>
  </li>
  <li>
    <a href="https://summerofcode.withgoogle.com/">
      <h3>Google Summer of Code</h3>
      <ul>
        <li><small>studenti VŠ</small></li>
        <li><small>program s mentorem</small></li>
      </ul>
    </a>
    <p>
      Pracuj na OSS při studiu, během letních prázdnin.
    </p>
  </li>
  <li>
    <a href="https://codein.withgoogle.com/archive/">
      <h3>Google Code-in</h3>
      <ul>
        <li><small>studenti 13-17 let</small></li>
        <li><small>program s mentorem</small></li>
      </ul>
    </a>
    <p>
      Účastni se úvodu do OSS pro mládež, vyhraj ceny.
    </p>
  </li>
  <li>
    <a href="https://www.outreachy.org/">
      <h3>Outreachy</h3>
      <ul>
        <li><small>ženy, menšiny</small></li>
        <li><small>program s mentorem</small></li>
        <li><small>placené</small></li>
      </ul>
    </a>
    <p>
      Získej stáž na OSS pro znevýhodněné skupiny.
    </p>
  </li>
  <li>
    <a href="https://railsgirlssummerofcode.org/">
      <h3>Rails Girls Summer of Code</h3>
      <ul>
        <li><small>ženy</small></li>
        <li><small>program s mentorem</small></li>
        <li><small>placené</small></li>
      </ul>
    </a>
    <p>
      Přihlaš se jako dvojice, která bude společně několik měsíců pracovat na OSS.
    </p>
  </li>
  <li>
    <a href="https://cesko.digital/">
      <h3>Česko.Digital</h3>
    </a>
    <p>
      Přidej se do sdružení dobrovolníků okolo OSS projektů s pozitivním dopadem na Česko.
    </p>
  </li>
  <li>
    <a href="https://github.com/lenadroid/awesome-oss-mentors#readme">
      <h3>Awesome OSS Mentors</h3>
      <ul>
        <li><small>„program“ s mentorem</small></li>
      </ul>
    </a>
    <p>
      Kontaktuj někoho z těch, kdo se sami nabízí zaučovat nováčky na OSS projektech.
    </p>
  </li>
</ul>
{% include list_note_template %}
<p class="note">
  Do Open Source nemusíš hned přispívat. Ze začátku se můžeš hodně naučit
  i pouhým pozorováním, čtením cizího kódu, hledáním inspirace. Můžeš se
  např. podívat, <a href="https://github.com/search?l=Python&q=tic-tac-toe">jak jiní lidé naprogramovali
  piškvorky v Pythonu</a>.
</p>

<h2 id="help">Kde najdeš pomoc?</h2>
<p>
  Je velmi těžké se učit zcela bez cizí pomoci. I drobný zádrhel tě může zaseknout
  na týdny a úplně ti zkazit radost z učení. Neboj se ptát online nebo si najít <a href="#mentor">mentora</a>.
</p>

<h3 id="questions">Kde se ptát?</h3>
<p>
  Neboj se ptát, ale zároveň se nauč formulovat dotazy správně. Žádná otázka není
  hloupá, ale může být hloupě položená. Než se někde začneš ptát, přečti si <a href="http://www.catb.org/~esr/faqs/smart-questions.html">nejslavnější návod na internetu o psaní dotazů</a>,
  nebo alespoň <a href="https://stackoverflow.com/help/how-to-ask">tento krátký návod od Stack Overflow</a>.
</p>
<ul>
  <li>
    <a href="https://stackoverflow.com">
      <h3>Stack Overflow</h3>
    </a>
    <p>
      Ptej se na celosvětově největším webu s otázkami a odpovědmi ohledně programování.
    </p>
  </li>
  <li>
    <a href="https://www.facebook.com/groups/pyonieri/">
      <h3>Pyonýři</h3>
      <ul>
        <li><small>Facebook</small></li>
      </ul>
    </a>
    <p>
      Ptej se české a slovenské Python komunity.
    </p>
  </li>
  <li>
    <a href="https://www.reddit.com/r/learnpython/">
      <h3>r/learnpython</h3>
      <ul>
        <li><small>Reddit</small></li>
      </ul>
    </a>
    <p>
      Pokládej dotazy do subredditu pro začátečníky s Pythonem.
    </p>
  </li>
  <li>
    <a href="https://www.reddit.com/r/learnprogramming/">
      <h3>r/learnprogramming</h3>
      <ul>
        <li><small>Reddit</small></li>
      </ul>
    </a>
    <p>
      Pokládej dotazy do subredditu pro začátečníky s programováním.
    </p>
  </li>
</ul>


<h3 id="mentors">Mentor</h3>
<p>
  Mentor ti pomůže s věcmi, se kterými si samostatně nevíš rady. Nemusí to být
  vyloženě mistr v oboru, stačí když bude v programování alespoň o něco
  zkušenější než ty. A klidně může stačit, když se uvidíte jednu hodinu týdně
  přes <a href="https://www.skype.com/cs/">Skype</a>.
</p>
<ul>
  <li>
    <a href="https://www.facebook.com/groups/ucimepython/">
      <h3>Učíme Python</h3>
      <ul>
        <li><small>Facebook</small></li>
      </ul>
    </a>
    <p>
      Poptej mentora ve skupině pro lidi se zájmem vyučovat Python.
    </p>
  </li>
  <li>
    <a href="https://pyworking.cz/">
      <h3>PyWorking Sessions</h3>
      <ul>
        <li><small>setkání</small></li>
      </ul>
    </a>
    <p>
      Zastav se na pravidelná setkání začátečníků, kde jsou i koučové.
    </p>
  </li>
  <li>
    <a href="https://github.com/lenadroid/awesome-oss-mentors#readme">
      <h3>Awesome OSS Mentors</h3>
    </a>
    <p>
      Kontaktuj někoho z těch, kdo se sami nabízí zaučovat nováčky na OSS projektech.
    </p>
  </li>
</ul>
<p class="class">
  Pokud znáš někoho, kdo by mohl být tvým mentorem, ale nemá s tím praktické zkušenosti,
  projděte spolu <a href="https://github.com/honzajavorek/become-mentor/blob/master/cs.md">tuto přednášku</a>
  a prostě to zkuste!
</p>

<h2 id="skills">Rozšiřuj si znalosti</h2>
<p>
  Umět programovat např. v Pythonu je dobrý základ, ale pro plnohodnotnou práci
  to nestačí. S prvními pokusy se uplatnit zjistíš, že by se ti hodilo
  aspoň trochu znát Git, HTML, SQL, JavaScript, &hellip; Pro každou takovou
  technologii existují kurzy, workshopy, knihy.
</p>
<p>
  Vždy, když narazíš na nový pojem nebo zkratku, přečti si alespoň co to je
  a k čemu se to používá. Pokud o tom uslyšíš poněkolikáté, zkus si najít víc
  a pochopit základy.
</p>

<h3 id="courses">Kde hledat kurzy?</h3>
<ul>
  <li>
    <a href="https://www.codecademy.com">
      <h3>Codecademy</h3>
    </a>
  </li>
  <li>
    <a href="https://www.coursera.org">
      <h3>Coursera</h3>
    </a>
  </li>
  <li>
    <a href="https://www.edx.org">
      <h3>edX</h3>
    </a>
  </li>
  <li>
    <a href="https://engeto.cz">
      <h3>Engeto</h3>
    </a>
  </li>
  <li>
    <a href="https://egghead.io">
      <h3>egghead.io</h3>
    </a>
  </li>
  <li>
    <a href="https://udacity.com">
      <h3>Udacity</h3>
    </a>
  </li>
  <li>
    <a href="https://www.udemy.com">
      <h3>Udemy</h3>
    </a>
  </li>
</ul>
<p class="list-note">
  Tento seznam je v abecedním pořadí. Pokud víš o dalším webu s kurzy,
  piš na <a href="mailto:ahoj&#64;junior.guru">ahoj&#64;<!---->junior.guru</a>.
</p>

<h3 id="workshops">Kde hledat workshopy?</h3>
<ul>
  <li>
    <a href="https://www.czechitas.cz/cs/kalendar-akci">
      <h3>Czechitas</h3>
      <ul>
        <li><small>ženy</small></li>
      </ul>
    </a>
  </li>
  <li>
    <a href="https://engeto.cz/workshopy">
      <h3>Engeto</h3>
    </a>
  </li>
  <li>
    <a href="https://pyworking.cz">
      <h3>PyWorking</h3>
    </a>
  </li>
</ul>
<p class="list-note">
  Tento seznam je v abecedním pořadí. Pokud víš o dalším webu s workshopy,
  piš na <a href="mailto:ahoj&#64;junior.guru">ahoj&#64;<!---->junior.guru</a>.
</p>

<h2 id="events">Najdi inspiraci, poznej lidi</h2>
<p>
  Je velmi těžké se učit zcela samostatně, bez kontaktu s dalšími samouky nebo
  lidmi z nového oboru. Důvodů, proč polevit, může nastat hodně. Proto je dobré
  pravidelně se setkávat s komunitou začínajících i pokročilých
  programátorů a nabíjet se tak novou energií a inspirací. Existují dva druhy
  setkání: místní srazy a celostátní konference.
</p>
<ul>
  <li>
    <a href="https://pyvo.cz">
      <h3>Pyvo</h3>
      <ul>
        <li><small>srazy</small></li>
      </ul>
    </a>
    <p>
      Poznej komunitu Python programátorů ve svém okolí.
    </p>
  </li>
  <li>
    <a href="https://cz.pycon.org">
      <h3>PyCon CZ</h3>
      <ul>
        <li><small>konference</small></li>
      </ul>
    </a>
    <p>
      Přijeď na českou Python konferenci.
    </p>
  </li>
  <li>
    <a href="https://2019.pycon.sk">
      <h3>PyCon SK</h3>
      <ul>
        <li><small>konference</small></li>
      </ul>
    </a>
    <p>
      Přijeď na slovenskou Python konferenci.
    </p>
  </li>
  <li>
    <a href="https://www.writethedocs.org/conf/">
      <h3>Write The Docs Prague</h3>
      <ul>
        <li><small>konference</small></li>
      </ul>
    </a>
    <p>
      Přijeď na konferenci o psaní technické dokumentace.
    </p>
  </li>
</ul>
<p>
  Všechny výše uvedené akce jsou vhodné i pro začátečníky a účastní se jich
  významné procento žen. Náplní těchto akcí jsou odborné přednášky pro různé
  úrovně znalostí a networking &ndash; povídání si s lidmi. Vždy se odehrávají
  v neformálním, pohodovém prostředí.
</p>
<p class="note">
  Na konference je potřeba si koupit lístek. Výše zmíněné konference mají velmi
  dostupné lístky se slevami (např. pro studenty), ale i tak je možné, že je
  mimo tvé finanční možnosti se účastnit. Pro takový případ konference poskytují
  „Financial Aid“ &ndash; finanční pomoc s lístkem, ubytováním nebo cestou.
</p>

<hr>

Máš praxi? <a href="/jobs/">Najdi si práci!</a>

{% endblock %}
