<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ data_dir }}/css/thumbnail.css">
  </head>
  {% if job_title and job_company and job_location %}
    <body class="thumbnail-job">
      <h1>Nabídka práce pro začínající programátory</h1>
      <h2>
        <strong class="job-company">{{ job_company }}</strong>
        <small class="job-location">{{ job_location }}</small>
      </h2>
      <p class="job-title">{{ job_title }}</p>
    </body>
  {% elif title %}
    <body class="thumbnail-title">
      <img src="{{ data_dir }}/images/logo.svg">
      <h1>
        {% if above_title %}<small>{{ above_title }}<small>{% endif %}
        <strong>{{ title }}</strong>
        {% if below_title %}<small>{{ below_title }}<small>{% endif %}
      </h1>
    </body>
  {% else %}
    <body class="thumbnail">
      <img src="{{ data_dir }}/images/logo.svg">
    </body>
  {% endif %}
</html>
