.navbar-light {
  background-color: $jg-yellow;
}

.navbar-container {
  @extend .container-xxl;
}

.navbar-brand {
  padding: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link.active {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: 700;
  text-decoration: none;
}

.navbar-buttons {
  @extend .order-md-last;
}

.navbar-buttons .btn:hover {
  background: $jg-black;
  border-color: $jg-black;
}

.nav-foldable {
  position: relative;
  top: $navbar-padding-y;
  flex-wrap: nowrap;
  width: 100vw;
  margin-right: $container-padding-x * -.5;
  margin-left: $container-padding-x * -.5;
  border-top: 1px solid $jg-yellow-dark;

  @include media-breakpoint-up(md) {
    position: static;
    top: 0;
    width: auto;
    margin-right: auto;
    margin-left: 0;
    border-top: none;
  }
}

@media (max-width: 350px) {
  .nav-foldable {
    @include font-size($font-size-sm);
  }
}
