.sidebar-comments {
  width: 100%;
  background: $white;
  border-top: 1px solid $jg-gray-light;

  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $jg-blue-light 50%, $white 50%);
  }
}

.sidebar-comments-container {
  @extend .container-md;
  display: flex;
  justify-content: center;
  max-width: map-get($container-max-widths, lg);
  padding-right: 0;
  padding-left: 0;
}

.sidebar-comments-container::before {
  display: block;
  content: "";

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: $main-toc-width;
  }

  @include media-breakpoint-up(xxl) {
    flex-grow: 0;
    width: $main-toc-width;
  }
}

.sidebar-comments-body {
  @extend .logos;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: $main-document-width;
  padding: 0 $spacer;
  margin-bottom: 0;
  background: $white;

  @include media-breakpoint-up(lg) {
    justify-content: space-evenly;
  }
}
