{% extends base_template %}
{% block title %}: Najdi práci{% endblock %}
{% block content %}

<h1>Jobs</h1>

<p>
    <a href="http://eepurl.com/gyG8Bb">Pracovní nabídky do emailu</a>
</p>

<hr>

<!--
https://gist.github.com/mpavlase/c40a51d2c2663638614cdf7c3df7fb09
https://www.czechitas.cz/cs/co-delame/prace-v-it
notes from Olga
testimonials od lidi, kteri si takto praci nasli

internships:
  navod na staze, automation, ...
  brigády na léto
  akce firem pro zacatecniky
    https://pythonweekend.cz/
    https://blog.seznam.cz/stitek/vyvojari/
-->

<!--
    Popsat kdo je junior a jaké jsou levely, co kdo dokáže v jaké fázi výuky,
    jaký je potřeba k němu mít přístup, co má hledat, apod. Popsat to pro ty
    juniory i pro ty firmy. Na toto téma mít články, které pak mohou být vydány
    nebo odpřednášeny i jinde. Levely znalostí se dají vnutit lidem jako zajeté
    termíny (viz kolonizátoři a správci), a mít to podchyceno ve formuláři
    na zadání inzerátu. Potom budou moct junioři filtrovat nabídky podle toho,
    jak moc toho umí.
-->

<!-- JobsDev CZ partnership? -->

<!-- Nejdřív by existovala buď jen stránka nebo jen mailinglist a bylo by to zadarmo, ale s tím, že by bylo jasně zvýrazněno, že to je jen akce do zaběhnutí portálu. -->

<p><a href="https://forms.gle/Nr2xhH2p2Cqj21Rq9" target="_blank">Post a job</a></p>
<ul>
{% for job in jobs %}
    <li>{{ job }}</li>
{% endfor %}
</ul>

<hr>

<p>
    <a href="http://eepurl.com/gyG8Bb">Pracovní nabídky do emailu</a>
</p>

{% endblock %}
