@use "../spaghetti/variables";

@media screen and (min-width: variables.$breakpoint-tablet) {
  .settings {
    display: flex;
  }

  .settings__block {
    box-sizing: border-box;
    width: 50%;
    padding-right: variables.$whitespace-3;
  }
}

