{% from 'macros.html' import img, logo with context -%}

<!DOCTYPE html>
<!--

  Ahoj! Zajima te, jak je junior.guru udelane? Mrkni na https://github.com/juniorguru/junior.guru/
  Diky sve zvedavosti navic ziskavas 5% slevu na objednavku clenstvi v klubu https://junior.guru/club/ :)
  Staci pri registraci zadat kupon „ZVEDAVOST“

-->
<html lang="cs" data-updated-at="{{ now }}">
<head prefix="og: https://ogp.me/ns# website: https://ogp.me/ns/website#">
  <meta charset="utf-8">
  {% block canonical %}<link rel="canonical" href="{{ page.canonical_url }}">{% endblock canonical %}

  {% if page %}
    <title>{{ page.meta.title }}</title>
  {% else %}
    <title>Stránka neexistuje</title>
  {% endif %}

  {% block meta %}
    {% if page and page.meta.noindex %}<meta name="robots" content="noindex">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data">

    <link rel="dns-prefetch" href="https://sa.junior.guru">

    <meta name="theme-color" content="#343434">
    <link rel="stylesheet" href="{{ 'static/css/index.css'|url }}">
    <link rel="preload" href="{{ ('static/assets/bootstrap-icons.woff2')|url }}" as="font" type="font/woff2" crossorigin="anonymous">
    <script defer src="{{ 'static/js/index.js'|url }}"></script>

    {% if page %}
      <meta property="og:title" content="{{ page.meta.title }}">
      <meta property="og:url" content="{{ page.canonical_url }}">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:locale" content="cs_CZ">

    <link href="https://mastodonczech.cz/@honzajavorek" rel="me">
    <meta name="fediverse:creator" content="@honzajavorek@mastodonczech.cz">
    <meta name="twitter:creator" content="@honzajavorek">

    {% if thumbnail_url %}
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
    {% endif %}

    {% if page and page.meta.description %}<meta name="description" content="{{ page.meta.description }}">{% endif %}
  {% endblock meta %}
</head>
<body>
  {#
  <a href="https://ep2025.europython.eu/beginners-day-unconference/" class="announcement" target="_blank" rel="noopener">
    <strong>ZAČÍNÁŠ V IT?</strong>
    V Praze bude 19.7. den plný diskuzí, workshopů a přednášek. Přijď taky!
  </a>
  #}
  <header id="header" class="mainnav">
    <nav class="mainnav-container">
      {% set main_nav_items = nav|mainnav|list %}

      <a class="mainnav-brand" href="{{ pages|docs_url('index.jinja')|url }}">
        {{ img('static/logo.svg', 'logo junior.guru', 90, 40, lazy=False) }}
      </a>

      <div class="mainnav-buttons">
        <a href="https://juniorguru.memberful.com/" target="_blank" rel="noopener" class="mainnav-btn account">
          {{ 'gear-fill'|icon }} Účet
        </a>
        {% set club_nav_item = main_nav_items|selectattr("url", "equalto", "club/")|first %}
        {% if not club_nav_item.is_active %}
          <a class="mainnav-btn club" href="{{ club_nav_item.url|url }}">
            {{ 'plus-circle-fill'|icon }} Přidej se
          </a>
        {% endif %}
      </div>

      {% if nav %}
      <ul class="mainnav-items">
        {% for nav_item in main_nav_items %}
        {% if nav_item != club_nav_item %}
        <li class="mainnav-item">
          <a {% if nav_item.is_active %}class="mainnav-link active" aria-current="page" {% else %}class="mainnav-link" {% endif
            %} href="{{ nav_item.url|url }}">
            {{ nav_item.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </header>

  {% block extra_header %}{% endblock %}

  <hr class="visually-hidden">

  {% block main %}
  <div class="main main-simple">
    <main class="content document">
      {% block content %}{{ page.content }}{% endblock %}
    </main>
  </div>
  {% endblock %}

  <hr class="visually-hidden">

  <div class="footer-yellow-bg">
    <footer class="footer-section promo footer-columns">
      <div class="footer-column">
        <h3 class="footer-subheading">{{ 'person-circle'|icon }} Příběhy juniorů</h3>
        {% for story in (promo_stories|list)[:2] %}
        <div class="footer-featured">
          {{ img('static/' + story.meta.interviewee_avatar_path, story.meta.interviewee, 100, 100, class='footer-featured-image') }}
          <div class="footer-featured-body">
            <a class="footer-featured-link" href="{{ pages|docs_url(story.src_uri)|url }}">{{ story.title }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="footer-column">
        <h3 class="footer-subheading">{{ 'play-circle-fill'|icon }} Klubové akce</h3>
        {% for event in (promo_events|list)[:2] %}
        <div class="footer-featured">
          {{ img('static/' + event.avatar_path, '', 100, 100, class='footer-featured-image') }}
          <div class="footer-featured-body">
            <a class="footer-featured-link" href="{{ pages|docs_url(event.page_url)|url }}">{{ event.title }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="footer-column wide">
        <h3 class="footer-heading">{{ 'envelope-paper-fill'|icon }} Novinky pravidelně v mailu</h3>
        <form class="newsletter-container" id="email-form" method="post" action="https://buttondown.com/api/emails/embed-subscribe/juniorguru">
          <fieldset>
            <label class="newsletter-label" for="newsletter-email">
              Zadej e-mail a přidej se k <strong>{{ newsletter_subscribers_count }} lidem</strong>, kteří sledují newsletter z junior.guru:
            </label>
            <div class="newsletter-controls">
              <input class="newsletter-email-control" type="email" id="newsletter-email" name="email">
              <input class="newsletter-submit-control" type="submit" value="Odebírat">
            </div>
            <p class="newsletter-note">
              {{ 'info-circle'|icon }} Tvůj e-mail se použije jen a pouze na zasílání novinek, které si můžeš kdykoliv zase odhlásit.
              <a href="{{ pages|docs_url('privacy.md')|url }}"> Zásady ochrany osobních údajů</a> popisují, jaká data o tobě junior.guru má a jak s nimi zachází.
            </p>
          </fieldset>
        </form>
      </div>
    </footer>
  </div>

  <div class="footer-dark-bg">
    {% if page.url not in ['love/', 'club/'] %}
    <footer class="footer-section footer-columns footer-hr">
      <div class="footer-column wide">
        <p>
          Na junior.guru je kromě klubu všechno <strong>zdarma</strong>.
          Bez paywallu, reklamy, affiliate odkazů, bez cookies.
          Provoz financuje {{ members_total_count }} členů klubu a tito sponzoři:
        </p>

        <div class="footer-sponsors">
          <ul class="sponsors-logos">
          {% for sponsor in sponsors %}
            {{ logo(sponsor.name, sponsor.logo_path, sponsor.url, class_prefix="sponsors-logos") }}
          {% endfor %}
          </ul>
          <ul class="sponsors-avatars">
          {% for sponsor in sponsors_github|shuffle %}
            <li class="sponsors-avatars-item">
              <a href="{{ sponsor.url }}" target="_blank" rel="noopener">
                {{ img('static/' + sponsor.avatar_path, sponsor.name, 50, 50) }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="footer-column wide footer-subcolumns">
        <div class="footer-subcolumn-wide">
          <h3 class="footer-heading">{{ 'heart-pulse-fill'|icon }} Čistý zisk</h3>
          {% set profit_goal_pct = (profit_ttm / 80000) * 100 %}
          {% set profit_goal_pct_clamped = [profit_goal_pct, 100]|min %}
          <div class="footer-progress" role="progressbar" aria-label="Aktuální čistý zisk projektu"
            aria-valuenow="{{ profit_goal_pct|round(1) }}" aria-valuemin="0" aria-valuemax="100">
            <div class="footer-progress-bar" style="width: {{ profit_goal_pct_clamped|round(1) }}%;">
              {{ profit_goal_pct|round|int }} %
            </div>
          </div>
          <p class="footer-goal">
            <span>Teď</span>
            <strong class="h4">{{ profit_ttm|thousands }} Kč/měs</strong>
          </p>
          <p class="footer-goal">
            <span>Cíl</span>
            <span>80.000 Kč/měs</span>
          </p>
          <p class="sponsors-note">
            Zdroje příjmů:
            {% for name, value_pct in revenue_ttm_breakdown|money_breakdown_ptc|revenue_categories %}
              {{ value_pct }} % {{ name }}
              {%- if not loop.last %}, {% endif %}
            {%- endfor %}.
            <a href="{{ pages|docs_url('about/finances.md')|url }}">Všechna čísla a grafy</a>
          </p>
        </div>
        <div class="footer-subcolumn-narrow footer-love">
          {{ img('static/heart-i.svg', 'srdíčko', 80, 80, lazy=False, class="heartbeat") }}
          <a href="{{ pages|docs_url("love.jinja")|url }}" class="love-btn btn-lg">
            <!-- {{ 'heart-fill'|icon }} -->
            Pošli LOVE
          </a>
        </div>
      </div>
    </footer>
    {% endif %}

    <footer class="footer-section footer-columns">
      <div class="footer-column">
        {{ img('static/logo-i.svg', 'Logo junior.guru', 90, 40, class='footer-logo') }}

        <ul class="footer-list">
          <li>
            <strong class="footer-list-heading">E-mail</strong>
            <span class="footer-list-data">{{ 'honza@junior.guru'|email_link }}</span>
          </li>
          <li>
            <strong class="footer-list-heading">IČO</strong>
            <span class="footer-list-data"><a href="https://ares.gov.cz/ekonomicke-subjekty?ico=74279858" target="_blank" rel="noopener">74279858</a></span>
          </li>
        </ul>

        <ul class="footer-icons">
          <li>
            <a href="https://www.youtube.com/@juniordotguru" target="_blank" rel="noopener">
              {{ 'youtube'|icon(alt='YouTube') }}
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/honzajavorek/" target="_blank" rel="noopener">
              {{ 'linkedin'|icon(alt='LinkedIn') }}
            </a>
          </li>
          <li>
            <a href="{{ pages|docs_url('club.md')|url }}">
              {{ 'discord'|icon(alt='Discord') }}
            </a>
          </li>
          <li>
            <a href="https://mastodonczech.cz/@honzajavorek/tagged/juniorguru" target="_blank" rel="noopener">
              {{ 'mastodon'|icon(alt='Mastodon') }}
            </a>
          </li>
          <li>
            <a href="https://github.com/juniorguru/" target="_blank" rel="noopener">
              {{ 'github'|icon(alt='GitHub') }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <ul class="footer-links">
          <li>
            <a href="{{ pages|docs_url('about/contact.md')|url }}">Kontakt</a>
          </li>
          <li>
            <a href="{{ pages|docs_url('about/finances.md')|url }}">Finanční výsledky</a>
          </li>
          <li>
            <a href="{{ pages|docs_url('about/mission.md')|url }}">Mise a hodnoty</a>
          </li>
          <li>
            <a href="{{ pages|docs_url('coc.md')|url }}">Pravidla chování</a>
          </li>
          <li>
            <a href="{{ pages|docs_url('tos.md')|url }}">Obchodní podmínky</a>
          </li>
          <li>
            <a href="{{ pages|docs_url('privacy.md')|url }}">Ochrana osobních údajů</a>
          </li>
        </ul>
        <p class="small">
          Licence obsahu: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" target="_blank" rel="noopener">CC BY-SA 4.0</a>
        </p>
      </div>

      <div class="footer-column wide">
        {% set years = today.year - 2015 %}
        <h4 class="footer-heading mb-3">
          <!-- {{ 'person-circle'|icon }} -->
          Honza Javorek pomáhá juniorům už {{ years }} {{ years|nplurals("rok", "roky", "let") }}
        </h4>
        <div class="footer-subcolumns">
          <div class="footer-subcolumn-wide">
            <p class="small">
              Začal dobrovolnicky v PyLadies.
              Praktické rady a pracovní nabídky dal na jedno místo,
              a tak vzniklo junior.guru.
              Z party nadšenců okolo projektu se pak zrodila komunita.
              Všechna čísla jsou veřejná, licence obsahu i kódu je otevřená.
            </p>
            <p class="small">
              Honza to táhne na volné noze a na většinu věcí je sám.
              Úspěchy i selhání upřímně každý týden popisuje na svém blogu.
              Záměrem je pomáhat a mít na živobytí, ne zbohatnout.
            </p>
          </div>
          <div class="footer-subcolumn-narrow footer-avatar">
            {{ img('static/avatars-participants/honza-javorek.jpg', 'Honza Javorek', 100, 100) }}
          </div>
        </div>
    </footer>
  </div>

  <script async src="https://sa.junior.guru/latest.js"></script>
  <noscript><img src="https://sa.junior.guru/noscript.gif" alt=""
      referrerpolicy="no-referrer-when-downgrade"></noscript>

  <dialog class="discord-dialog">
    <p>
      Odkaz vede do <strong>klubu</strong> na sociální síti <strong>Discord</strong>, kam mají přístup jen členové.
      Pokud v klubu nejsi, neotevře se ti to správně.
    </p>
    <a class="discord-dialog-continue">
      Otevřít
    </a>
    <a class="discord-dialog-club" href="{{ pages|docs_url('club.md')|url }}">
      Co je klub?
    </a>
  </dialog>
</body>
</html>
