<!DOCTYPE html>
<!--

  👋 AHOJ 🐣 Zajímá tě, jak je junior.guru udělané? Mrkni na https://github.com/juniorguru/junior.guru/
  Díky své zvědavosti navíc získáváš 5% slevu na objednávku členství v klubu https://junior.guru/club/ :)
  Stačí při registraci zadat kupón „ZVEDAVOST“

-->
<html lang="cs" data-updated-at="{{ now }}">
  <head prefix="og: https://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="utf-8">
    {% block canonical %}<link rel="canonical" href="{{ page.canonical_url }}">{% endblock canonical %}

    {% if page %}
      <title>{{ page.meta.title }}</title>
    {% else %}
      <title>Stránka neexistuje</title>
    {% endif %}

    {% block meta %}
      {% if page and page.meta.noindex %}<meta name="robots" content="noindex">{% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data">

      <link rel="dns-prefetch" href="https://sa.junior.guru">

      {% block stylesheet %}<link rel="stylesheet" href="{{ 'static/css_legacy/index.css'|url }}">{% endblock %}
      <link rel="preload" href="{{ ('static/assets/bootstrap-icons.woff2')|url }}" as="font" type="font/woff2" crossorigin="anonymous">
      <script defer src="{{ 'static/js/index.js'|url }}"></script>

      {% if page %}
        <meta property="og:title" content="{{ page.meta.title }}">
        <meta property="og:url" content="{{ page.canonical_url }}">
      {% endif %}
      <meta property="og:type" content="website">
      <meta property="og:locale" content="cs_CZ">

      <link href="https://mastodonczech.cz/@honzajavorek" rel="me">
      <meta name="fediverse:creator" content="@honzajavorek@mastodonczech.cz">
      <meta name="twitter:creator" content="@honzajavorek">

      {% if thumbnail_url %}
      <meta property="og:image" content="{{ thumbnail_url }}">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ thumbnail_url }}">
      {% endif %}

      {% if page and page.meta.description %}<meta name="description" content="{{ page.meta.description }}">{% endif %}
    {% endblock meta %}
  </head>
  {% block body %}
  <body class="body">
    <div class="body__container">
      <header class="header{% block header_modifier %}{% endblock %}">
        <div class="header__navbar">
          <div class="header__main">
            <div class="header__main-content">
              {% block header_content %}
              <a class="header__logo" href="{{ pages|docs_url('index.jinja')|url }}">
                <img class="header__logo-image" src="{{ 'static/logo-legacy.svg'|url }}" alt="junior.guru">
              </a>
              {% endblock %}
              {% if nav %}
                <nav class="header__nav">
                  <ol class="header__nav-tabs">
                    {%- for tab in (nav|list)[:5] -%}
                      <li class="header__nav-tab">
                        {{- '' -}}
                        <a class="
                          header__nav-tab-control
                          {% if tab.url == 'club/' %}
                            header__nav-tab-control--active
                          {% endif %}
                          {% if tab.active %}
                            header__nav-tab-control--active
                          {% endif %}
                        " href="{{ tab.url|url }}">
                          {{- tab.title -}}
                        </a>
                        {{- '' -}}
                      </li>
                    {%- endfor -%}
                  </ol>
                </nav>
              {% endif %}
            </div>
          </div>
          <hr class="header__divider">
        </div>
        {% block header_toc %}{% endblock %}
      </header>
      <main class="content content--mkdocs{% block content_modifier %}{% endblock %}">
        {% block content %}{{ page.content }}{% endblock %}
      </main>
      <hr>
      <footer>
        <div class="footer">
          <div class="editorial">
            <p class="editorial__section">
              Provozuje&nbsp;<a href="{{ pages|docs_url('club.md')|url }}#honza">Honza Javorek</a>,&nbsp;<a href="https://twitter.com/honzajavorek/">@honzajavorek</a>
            </p>
            <p class="editorial__section">
              <span class="editorial__item"><a href="{{ pages|docs_url('privacy.md')|url }}">Kontakt</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ pages|docs_url('privacy.md')|url }}">Ochrana osobních údajů</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ pages|docs_url('tos.md')|url }}">Obchodní podmínky</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ pages|docs_url('coc.md')|url }}">Pravidla chování</a></span>
            </p>
            <p class="editorial__section">
              <!--
              Témata, která řešíme v klubu:&nbsp;{% for page in nav.pages|selectattr('meta.topic', 'defined')|sort(attribute='title') %}
                <span class="editorial__item"><a href="{{ page.url|url }}">{{ page.meta.topic }}</a>{% if not loop.last %},&nbsp;{% endif %}</span>
              {% endfor %}
              -->
              <!-- TODO THIS IS DUPLICATED ACROSS BOTH BASE.HTML FILES -->
              <span class="editorial__item">Témata, která řešíme v klubu:&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/adventofcode/'|url }}">Advent of Code</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/codingbootcamppraha/'|url }}">Coding Bootcamp Praha</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/cs50/'|url }}">CS50</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/czechitas/'|url }}">Czechitas</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/djangogirls/'|url }}">Django Girls</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/engeto/'|url }}">Engeto</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/itnetwork/'|url }}">ITnetwork</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/javascript/'|url }}">JavaScript</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/primakurzy/'|url }}">PrimaKurzy</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/pyladies/'|url }}">PyLadies</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/python/'|url }}">Python</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/reactgirls/'|url }}">ReactGirls</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/sdacademy/'|url }}">SDAcademy</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/skillmea/'|url }}">Skillmea</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/udemy/'|url }}">Udemy</a>,&nbsp;</span>
              <span class="editorial__item"><a href="{{ 'topics/vsb/'|url }}">VŠB</a>&nbsp;</span>
            </p>
          </div>
          {% block author %}{% endblock %}
        </div>
      </footer>
    </div>

    <script async src="https://sa.junior.guru/latest.js"></script>
    <script async src="https://sa.junior.guru/auto-events.js"></script>
    <noscript><img src="https://sa.junior.guru/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"></noscript>
  </body>
  {% endblock %}
</html>
