/*
  JUNIOR.GURU BRAND

  If changing, see tests/test_css_py
  and https://logo.junior.guru/
*/

$jg-yellow: #fffa72;
$jg-yellow-dark: #e5df67;
$jg-yellow-light: lighten($jg-yellow, 22.2%);
$jg-blue: #1755d1;
$jg-blue-light: lighten($jg-blue, 52.2%);
$jg-blue-white: lighten($jg-blue, 53.2%);
$jg-white: #fff;
$jg-black: #000;
$jg-dark: #343434;
$jg-gray: lighten($jg-dark, 25%);
$jg-gray-light: lighten($jg-gray, 45%);
$jg-gray-white: lighten($jg-gray, 50%);
$jg-pink: #db61a2;
$jg-pink-dark: darken($jg-pink, 5%);
$jg-red: #dc3545;
$jg-green: #198754;

$jg-yellow-light-legacy: #fffee3; // equals to lighten($jg-yellow, 22.2%)
$jg-gray-light-legacy: darken($jg-white, 20%);

/*
  CHANGING BOOTSTRAP DEFAULTS
*/

/* stylelint-disable */
$font-family-sans-serif:
  "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
/* stylelint-enable */

$white: $jg-white;
$gray-100: $jg-gray-white;
$gray-200: $jg-gray-light;
$gray-600: $jg-gray;
$gray-800: $jg-dark;
$black: $jg-black;
$blue: $jg-blue;
$yellow: $jg-yellow;

$primary: $jg-blue;
$secondary: $gray-600;
$light: $jg-gray-light;
$dark: $jg-dark;

$body-color: $jg-dark;
$body-secondary-color: $jg-gray;
$code-color: $jg-blue;
$breadcrumb-divider-color: $jg-gray;

$display-font-weight: 400;
$lead-font-weight: 400;

$nav-link-color: $jg-dark;
$nav-link-hover-color: $jg-dark;
$nav-pills-link-active-bg: $jg-dark;
