/*
  BOOTSTRAP: BASE CONFIGURATION
*/
@import "../../../../node_modules/bootstrap/scss/functions";

/*
  CUSTOM: DEFAULTS
*/
@import "./defaults";

/*
  BOOTSTRAP: REMAINDER OF CONFIGURATION
*/
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/utilities";

/*
  BOOTSTRAP: LAYOUT AND COMPONENTS
*/
@import "../../../../node_modules/bootstrap/scss/accordion";
@import "../../../../node_modules/bootstrap/scss/alert";
@import "../../../../node_modules/bootstrap/scss/badge";
@import "../../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../../node_modules/bootstrap/scss/button-group";
@import "../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../node_modules/bootstrap/scss/card";
@import "../../../../node_modules/bootstrap/scss/carousel";
@import "../../../../node_modules/bootstrap/scss/close";
@import "../../../../node_modules/bootstrap/scss/containers";
@import "../../../../node_modules/bootstrap/scss/dropdown";
@import "../../../../node_modules/bootstrap/scss/forms";
@import "../../../../node_modules/bootstrap/scss/grid";
@import "../../../../node_modules/bootstrap/scss/images";
@import "../../../../node_modules/bootstrap/scss/list-group";
@import "../../../../node_modules/bootstrap/scss/modal";
@import "../../../../node_modules/bootstrap/scss/nav";
@import "../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../../node_modules/bootstrap/scss/pagination";
@import "../../../../node_modules/bootstrap/scss/placeholders";
@import "../../../../node_modules/bootstrap/scss/popover";
@import "../../../../node_modules/bootstrap/scss/progress";
@import "../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../node_modules/bootstrap/scss/root";
@import "../../../../node_modules/bootstrap/scss/spinners";
@import "../../../../node_modules/bootstrap/scss/tables";
@import "../../../../node_modules/bootstrap/scss/toasts";
@import "../../../../node_modules/bootstrap/scss/tooltip";
@import "../../../../node_modules/bootstrap/scss/transitions";
@import "../../../../node_modules/bootstrap/scss/type";

/*
  BOOTSTRAP: HELPERS AND UTILITIES
*/
@import "../../../../node_modules/bootstrap/scss/helpers";
@import "../../../../node_modules/bootstrap/scss/utilities/api";

/*
  BOOTSTRAP: ICONS
*/
$bootstrap-icons-font-dir: "../../../../node_modules/bootstrap-icons/font/fonts";
@import "../../../../node_modules/bootstrap-icons/font/bootstrap-icons";

/*
  CUSTOM: VARIABLES
*/
@import "./variables";

/*
  LITE YOUTUBE EMBED: CONTENT
*/
@import "../../../../node_modules/lite-youtube-embed/src/lite-yt-embed";

/*
  CUSTOM: CONTENT AS A DOCUMENT
*/
@import "./content/document";

/*
  CUSTOM: CONTENT COMPONENTS
*/
@import "./content/article";
@import "./content/audio";
@import "./content/blockquote";
@import "./content/brand-button";
@import "./content/breadcrumb";
@import "./content/c2a";
@import "./content/candidates";
@import "./content/card-badge";
@import "./content/charts";
@import "./content/club-teaser";
@import "./content/comparison";
@import "./content/details";
@import "./content/discord-dialog";
@import "./content/document-section";
@import "./content/document-toc";
@import "./content/event-circles";
@import "./content/figure";
@import "./content/github-profile";
@import "./content/guarantor";
@import "./content/icon-links";
@import "./content/illustration";
@import "./content/interests";
@import "./content/jobs-inline";
@import "./content/jobs";
@import "./content/link-cards";
@import "./content/logos";
@import "./content/love-button";
@import "./content/love-heart";
@import "./content/masthead";
@import "./content/media-cards";
@import "./content/members";
@import "./content/news-cards";
@import "./content/news-page";
@import "./content/newsletter-issue";
@import "./content/newsletter";
@import "./content/note-explainer";
@import "./content/note";
@import "./content/pagination";
@import "./content/pricing";
@import "./content/pulse";
@import "./content/see-also";
@import "./content/sponsor-avatars";
@import "./content/stage-cards";
@import "./content/stories";
@import "./content/table";
@import "./content/team";
@import "./content/tiers-cards";
@import "./content/topics";
@import "./content/wisdom";

/*
  CUSTOM: LAYOUT
*/
@import "./layout/announcement";
@import "./layout/comments";
@import "./layout/footer";
@import "./layout/logobar";
@import "./layout/main-sections";
@import "./layout/main-sidebar";
@import "./layout/main-simple";
@import "./layout/mainnav";
@import "./layout/subnav";
@import "./layout/theme-toggle";

/*
  CUSTOM: UTILITIES AND EXTRAS
*/
@import "./standout";

