:root {
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* if changing, edit also $dots-black, SVGs and https://logo.junior.guru/ */
  --color-black: #343434;
  --color-black-r: 52;
  --color-black-g: 52;
  --color-black-b: 52;

  /* if changing, edit also $dots-blue, SVGs, annotations.js, and https://logo.junior.guru/ */
  --color-blue: #1755d1;
  --color-blue-r: 23;
  --color-blue-g: 85;
  --color-blue-b: 209;

  /* if changing, edit also https://logo.junior.guru/ */
  --color-yellow: #fffa72;
  --color-yellow-r: 255;
  --color-yellow-g: 250;
  --color-yellow-b: 114;

  --color-yellow-light: #fffee3;
  --color-white: #ffffff;
  --color-gray: #ababab;
  --color-gray-light: #eee;
}
