.logobar {
  width: 100%;
  background: $white;
  border-bottom: 1px solid $jg-gray-light;

  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $jg-blue-light 50%, $white 50%);
  }
}

.logobar-container {
  @extend .container-md;
  display: flex;
  justify-content: center;
  max-width: map-get($container-max-widths, lg);
  padding-right: 0;
  padding-left: 0;
}

.logobar-heading {
  @extend .text-muted;
  @include font-size($sub-sup-font-size);
  display: flex;
  align-items: center;
  padding: 0 $spacer;
  margin: 0;
  font-weight: $font-weight-normal;
  line-height: 1;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    @include font-size($small-font-size);
  }

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: $main-toc-width;
  }

  @include media-breakpoint-up(xxl) {
    flex-grow: 0;
    width: $main-toc-width;
  }
}

.logobar-nonessential {
  display: none;

  @include media-breakpoint-up(sm) {
    display: inline;
  }
}

.logobar-list {
  @extend .logos;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: $main-document-width;
  padding: 0 $spacer;
  background: $white;

  @include media-breakpoint-up(lg) {
    justify-content: space-evenly;
  }
}

.logobar-item {
  @extend .logos-item;
  margin-bottom: 0;
}

.logobar-item:first-child {
  margin-left: 0;
}

.logobar-item:last-child {
  margin-right: 0;
}

.logobar-link {
  // @extend .logos-link;
  padding: $navbar-padding-y 0;
}

.logobar-image {
  @extend .logos-image;
  width: 100%;
  max-height: map-get($spacers, 3);

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  @include media-breakpoint-up(md) {
    max-height: map-get($spacers, 4);
  }
}
