@use "../spaghetti/variables";

.members {
  margin: variables.$whitespace-3 0;
}

.members__items,
.members__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.members__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members__item {
  margin-left: variables.$whitespace-3 * -0.3;
}

.members__item:first-child {
  margin-left: 0;
}

.members__item--count {
  margin-left: variables.$whitespace;
  @include variables.font-3;
  font-weight: bold;
  align-self: center;
  box-sizing: border-box;
  padding-bottom: variables.$whitespace-0;
}

.members__image {
  display: block;
  margin: 0;
  width: variables.$whitespace-3 * 1.5;
  border: variables.$border-width solid variables.$jg-white;
  border-radius: 100%;
}
