<p>
    Hezký den!
</p>
<p>
    Tento pravidelný, automatický e-mail vám přišel, protože máte inzerát
    na stránce https://junior.guru/jobs/, a to konkrétně tento:
</p>
<table style="border-collapse: collapse;">
    <tr>
        <td>
            <b>Pozice:</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            {{ title }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Firma:</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            {{ company_name }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Odkaz:</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <a href="{{ url }}">{{ url }}</a>
        </td>
    </tr>
</table>
<p>
    Jak se mu zatím daří?
</p>
<table style="border-collapse: collapse;">
    <tr>
        <td>
            Trvání:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <b>{{ start_days }}&nbsp;dní</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <small>inzerát schválen {{ starts_at.day }}.{{ starts_at.month }}.{{ starts_at.year }}</small>
        </td>
    </tr>
    <tr>
        <td>
            Zbývá:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <b>{{ end_days }}&nbsp;dní</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <small>inzerát vyprší {{ ends_at.day }}.{{ ends_at.month }}.{{ ends_at.year }}</small>
        </td>
    </tr>
    <tr>
        <td>Byl inzerát v&nbsp;newsletteru?&nbsp;&nbsp;&nbsp;</td>
        {%- if newsletter_at -%}
            <td>
                <b>ANO</b>&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <small>odeslán {{ newsletter_at.day }}.{{ newsletter_at.month }}.{{ newsletter_at.year }}, <a href="{{ newsletter_url }}">archiv</a></small>
            </td>
        {%- else -%}
            <td>
                <b>zatím NE</b>&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <small><a href="{{ newsletter_url }}">archiv</a></small>
            </td>
        {%- endif %}
    </tr>
    <tr>
        <td>
            Počet návštěvníků:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <b>{{ metrics.users }}</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Počet zobrazení:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <b>{{ metrics.pageviews }}</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    {% if metrics.applications %}
    <tr>
        <td>
            Počet uchazečů:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <b>{{ metrics.applications }}</b>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <small>kliknutí na&nbsp;tlačítko</small>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
    {% endif %}
</table>
<p>
    <b>Upozornění!</b> Statistiky jsou podhodnocené a pouze orientační. Čísla
    pocházejí z nástroje Google Analytics, který mohou internetové
    prohlížeče blokovat.
    {% if metrics.applications %}
        Počet uchazečů je měřen teprve od května 2020.
    {% endif %}
</p>
<p>
    Chcete-li inzerát změnit, zrušit, prodloužit, nebo máte-li jakýkoliv
    dotaz, jednoduše <b>odpovězte na tento e-mail</b>.
</p>
<p>
    Honza Javorek<br>
    <a href="https://junior.guru/">https://junior.guru</a><br>
</p>
