@use "../spaghetti/variables";

.features,
.feature {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: (2 * variables.$whitespace-3) 0;
}

.feature {
  width: 100%;
  box-sizing: border-box;
  padding: variables.$whitespace;
}

.feature--ribbon {
  overflow: hidden;
  position: relative;
}

.feature__heading {
  @include variables.font;
}

.feature__description {
  @include variables.font-0;
}

.feature__ribbon {
  margin: 0;
  padding: 0;
  background: variables.$jg-yellow;
  color: variables.$jg-black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  @include variables.font-0;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.feature__ribbon:before,
.feature__ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: variables.$jg-yellow;
}

.feature__ribbon:before {
  right: 100%;
}

.feature__ribbon:after {
  left: 100%;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: variables.$breakpoint-tablet) {
  .feature {
    width: 50%;
  }
}

@media screen and (min-width: variables.$breakpoint-desktop) {
  .feature {
    width: 33.33%;
  }
}
