{% macro job_macro(job) %}
  <li class="jobs__item{% if job.is_highlighted %} jobs__item--highlighted{% endif %}" itemscope itemtype="https://schema.org/JobPosting">
    <meta itemprop="industry" content="Informační technologie">
    <meta itemprop="datePosted" content="{{ job.first_seen_on.isoformat() }}">
    <meta itemprop="description" content="Pracovní nabídka pro začínající programátory: {{ job.title }} &mdash; {{ job.company_name }}, {{ job.location }}">

    <a class="jobs__link" href="{{ job.effective_url }}" data-metrics-utm data-metrics-utm-medium="job_board" data-metrics data-metrics-name="job" target="_blank" rel="noopener nofollow">
    <link itemprop="url" href="{{ job.effective_url }}">
      <div class="jobs__content">
        <div class="jobs__company-logo">
          {% if job.company_logo_path %}
            <img width="100" height="100" loading="lazy" class="jobs__company-logo-image" src="{{ url_for('static', filename=job.company_logo_path) }}" alt="Logo {{ job.company_name }}">
          {% endif %}
        </div>
        <div class="jobs__content-body">
          <h3 class="jobs__title" itemprop="title">
            {{ job.title|truncate(70) }}
          </h3>
          <p class="jobs__company" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">{{ job.company_name }}</span>
            {% if job.company_url %}<link itemprop="url" href="{{ job.company_url }}">{% endif %}
          </p>
          <p class="jobs__location" itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
            <span itemprop="address">{{ job.location }}</span>
          </p>
        </div>
      </div>
      <ul class="jobs__tags">
        {% for tag in job.tags() %}
          <li class="jobs__tag jobs__tag--{{ tag|lower|replace('_', '-') }}">{{ tag|tag_label }}</li>
        {% endfor %}
      </ul>
    </a>
  </li>
{% endmacro %}
