{% macro job_macro(job) %}
  <li class="jobs__item{% if job.is_highlighted %} jobs__item--highlighted{% endif %}" itemscope itemtype="https://schema.org/JobPosting">
    <meta itemprop="industry" content="Informační technologie">
    {% if job.source == 'juniorguru' %}
      <a class="jobs__link" href="{{ url_for('job', job_id=job.id) }}" itemprop="url">
    {% else %}
      <a class="jobs__link" href="{{ job.link }}"{% if 'utm_' not in job.link and 'linkedin.com' not in job.link %} data-metrics-utm data-metrics-utm-medium="job_board"{% endif %} data-metrics data-metrics-name="job" data-metrics-no-utm target="_blank" rel="noopener nofollow">
      <link itemprop="url" href="{{ job.link }}">
    {% endif %}
      <div class="jobs__content">
        <div class="jobs__company-logo">
          {% if job.company_logo_path %}
            <img width="100" height="100" loading="lazy" class="jobs__company-logo-image" src="{{ url_for('static', filename=job.company_logo_path) }}" alt="Logo {{ job.company_name }}">
          {% endif %}
        </div>
        <div class="jobs__content-body">
          <h3 class="jobs__title" itemprop="title">{{ job.title|truncate(70) }}</h3>
          <p class="jobs__company" itemprop="hiringOrganization">{{ job.company_name }}</p>
          <p class="jobs__location" itemprop="jobLocation">{{ job.location }}</p>
        </div>
      </div>
      <ul class="jobs__tags">
        {% for tag in job.tags() %}
          <li class="jobs__tag jobs__tag--{{ tag|lower|replace('_', '-') }}">{{ tag|tag_label }}</li>
        {% endfor %}
      </ul>
    </a>
  </li>
{% endmacro %}
