{% macro job_inline_macro(job, jobs_link='jobs') %}
  <li class="jobs__item" itemscope itemtype="https://schema.org/JobPosting">
    <meta itemprop="industry" content="Informační technologie">
    <meta itemprop="datePosted" content="{{ job.first_seen_on.isoformat() }}">
    <meta itemprop="description" content="Pracovní nabídka pro začínající programátory: {{ job.title }} &mdash; {{ job.company_name }}, {{ job.location }}">
    <div itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
      <meta itemprop="address" content="{{ job.location }}">
    </div>

    <a class="jobs__link" href="{{ job.effective_url|relative_url }}">
      <link itemprop="url" href="{{ job.effective_url }}">
      <div class="jobs__content">
        <div class="jobs__company-logo">
          {% if job.company_logo_path %}
            <img width="100" height="100" loading="lazy" class="jobs__company-logo-image" src="{{ url_for('static', filename=job.company_logo_path) }}" alt="Logo {{ job.company_name }}">
          {% endif %}
        </div>
        <div class="jobs__content-body">
          <h3 class="jobs__title" itemprop="title">
            {{ job.title|truncate(70) }}
          </h3>
          <p class="jobs__company" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">{{ job.company_name }}</span>
            <link itemprop="url" href="{{ job.company_url }}">
          </p>
        </div>
      </div>
    </a>
  </li>
{% endmacro %}
