.news-card {
  @extend .card;
  display: flex;
  flex-direction: row;
  margin: 0 0 map-get($spacers, 4) 0;
  overflow: hidden;
  background: $jg-blue-light;
  border: 1px solid transparent;
}

.news-card:hover {
  background: lighten($jg-blue-light, 1%);
  border-color: $jg-blue-light;
  transition: all .2s ease-out;
}

.news-card-media {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20%;
  padding: $spacer 0 $spacer $spacer;
}

.news-card-image {
  @extend .rounded-circle;
  width: 100%;
  height: auto;
  filter: contrast(1.1);
}

.news-card:hover .news-card-image {
  transition: all .2s ease-out;
}

.news-card-title {
  @extend .card-title;
  @extend .fs-5;
  margin-top: 0;
}

.news-card-subtitle {
  @extend .fs-6;
}

.news-card-title a:visited { color: $link-color; }
.news-card-title a:visited:hover { color: $link-hover-color; }

.news-card-link {
  @extend .stretched-link;
}

.news-card-body {
  @extend .card-body;
  padding-top: $spacer;
}

.news-card-text {
  @extend .card-text;
}
