@import "./variables.css";

:root {
  --spacer-sm: 1rem;
  --spacer: 2rem;

  /* mirroring _variables.scss in Bootstrap */
  --font-size-base: 1rem;
  --font-size-lead: 1.25rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-dark);
  background: var(--color-yellow);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  display: flex;
  height: 30vh;
  padding: 0 5vh;
  background: var(--color-white);
}

div {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  width: 33%;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 20vh;
}

.heart img {
  width: 35%;
}

aside {
  margin-top: 10vh;
}

p {
  padding: var(--spacer-sm) var(--spacer);
  margin: 0;
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  text-align: center;
  background: var(--color-blue);
  border-radius: .3rem;
  box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

p strong {
  display: block;
}
