@import "../../node_modules/@fontsource/inter";
@import "../scss/index";


body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  padding: map-get($spacers, 3);
  background-color: $jg-yellow;
}

.podcast-photos img {
  @extend .rounded-circle;
  display: inline-block;
  width: 25vw;
  margin: 0 map-get($spacers, 3);
}

h1 {
  margin: 0;
}

.podcast-url img {
  width: 20vw;
}

button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  margin: 0;
  font-size: $h3-font-size;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

footer p {
  margin: 0;
}
