@import "../../node_modules/@fontsource/inter";
@import "../css/index";


html {
  font-family: Inter, sans-serif;
}

.thumbnail {
  width: 100vw;
  height: 100vh;
}

.thumbnail-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: calc(2vw + 2vh);
  border-top: $jg-blue 3vh solid;
}

.thumbnail-title {
  margin: 0;
  font-size: 10vh;
  font-weight: $font-weight-bold;
  text-align: center;
}

.thumbnail-title.medium {
  font-size: 7vh;
}

.thumbnail-title.long {
  font-size: 6vh;
}

.thumbnail-hr {
  width: 50vw;
  margin: 3vh 0 5vh;
  border-width: 1vh;
  opacity: 1;
}

.thumbnail-image {
  @extend .rounded-circle;
  display: block;
  width: 30vh;
  height: 30vh;
  margin: 0;
}

.thumbnail-badge {
  @extend .badge;
  @extend .bg-primary;
  margin-top: 10vh;
  font-size: 5vh;
}

.thumbnail-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  padding: 0 calc(2vw + 2vh);
  background: $jg-yellow;
}

.thumbnail-logo {
  display: block;
  width: auto;
  height: 10vh;
}

.thumbnail-claim {
  margin: 0;
  font-size: 2.5vw;
}
