:root {
  --font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --color-white: #fff;
  --color-yellow-light-legacy: #fffee3;
  --color-yellow: #fffa72;
  --color-dark: #343434;
  --color-blue: #1755d1;
}
