.announcement {
  @extend .small;
  display: block;
  padding: map-get($spacers, 1);
  text-align: center;
  text-decoration: none;
  background-color: $link-color;
}

.announcement,
.announcement:hover,
.announcement:focus,
.announcement:active {
  color: $white;
}

.announcement:hover,
.announcement:focus,
.announcement:active {
  background-color: $link-hover-color;
}
