@use "sass:map";
@use "sass:color";

@keyframes footer-progress-breathe {
  0%,
  68% {
    transform: scaleX(1);
  }

  88% {
    transform: scaleX(1.06);
  }

  91% {
    transform: scaleX(1.08);
  }

  93% {
    transform: scaleX(.98);
  }

  100% {
    transform: scaleX(1);
  }
}

$footer-spacer-sm: map.get($spacers, 2);
$footer-spacer: $spacer;
$footer-spacer-md: $spacer * 2;

.footer-dark-bg {
  --bs-secondary-color: #{color.adjust($jg-white, $lightness: -20%)};
  color: $jg-white;
  background-color: $jg-dark;
}

.footer-yellow-bg {
  --bs-secondary-color: #{color.adjust($jg-dark, $lightness: 20%)};
  background-color: $jg-yellow;
}

.footer-dark-bg,
.footer-yellow-bg {
  a {
    color: inherit;
  }
}

.footer-section {
  @extend .container-xxl;
  padding: $main-spacer $footer-spacer-md;
}

.footer-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
}

.footer-subheading {
  @extend .small;
  @extend .font-monospace;
  @extend .text-uppercase;
  margin-bottom: $spacer;
}

.footer-list {
  @extend .list-unstyled;
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  row-gap: $footer-spacer-sm;
  column-gap: $footer-spacer-md;
  margin-bottom: $footer-spacer;
}

.footer-list li {
  display: contents;
}

.footer-list-heading {
  display: block;
  grid-column: 1;
  min-width: 0;
}

.footer-list-data {
  grid-column: 2;
}

.footer-hr {
  border-bottom: 1px solid rgba($white, .2);
}

.footer-columns {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 2 * $footer-spacer-md;
  column-gap: $footer-spacer-md;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-column .footer-subheading {
  margin-top: $footer-spacer-md;
}

.footer-column .footer-subheading:first-of-type {
  margin-top: 0;
}

.footer-column *:last-child {
  margin-bottom: 0;
}

.footer-column.wide {
  @include media-breakpoint-up(sm) {
    grid-column: span 2;
  }

  @include media-breakpoint-up(lg) {
    padding-right: $footer-spacer-md - $spacer;
  }
}

.footer-subsection {
  margin-bottom: $footer-spacer-md;
}

.footer-logo {
  width: 100%;
  max-width: 10rem;
  height: auto;
  margin-bottom: $footer-spacer-md;
}

.footer-icons {
  @extend .list-unstyled;
  @extend .h3;
  display: flex;
  gap: $footer-spacer-sm;
  margin: $footer-spacer-md 0;
}

.footer-links {
  @extend .list-unstyled;
  @extend .small;
  display: flex;
  flex-direction: column;
  gap: $footer-spacer-sm;
}

.footer-avatar {
  float: right;
  width: 4rem;
  height: 4rem;
  margin-top: .3rem;
  margin-bottom: .1rem;
  margin-left: 1rem;
  clip-path: circle(50%);
  shape-outside: circle(50%);
  border-radius: 100%;
}

.footer-progress {
  @extend .progress;
  height: 1.8rem;
  margin: $footer-spacer 0;
  background-color: color.mix($jg-pink, $jg-dark, 50%);
}

.footer-progress-bar {
  @extend .progress-bar;
  font-weight: 600;
  color: $jg-white;
  background-color: $jg-pink;
  transform-origin: left center;
  animation: footer-progress-breathe 5s ease-in-out infinite;
}

.footer-goal {
  display: flex;
  gap: $footer-spacer-sm;
  align-items: center;
  justify-content: space-between;
}

.footer-featured {
  position: relative;
  display: grid;
  grid-template-columns: 4rem minmax(0, 1fr);
  gap: $footer-spacer-sm;
  align-items: center;
  margin-bottom: map.get($spacers, 4);
}

.footer-featured:last-child {
  margin-bottom: 0;
}

.footer-featured-body {
  min-width: 0;
}

.footer-featured-link {
  @extend .stretched-link;
}

.footer-featured-link:hover {
  color: color.adjust($jg-dark, $lightness: -10%);
  text-decoration: underline;
}

.footer-featured-image {
  width: 100%;
  height: 4rem;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.footer-sponsors {
  display: flex;
  flex-direction: column;
  gap: $footer-spacer;
  align-items: center;
  padding: $footer-spacer;
  color: $jg-dark;
  background-color: $jg-white;
  border-radius: $border-radius;

  @include media-breakpoint-up(sm) {
    padding: $footer-spacer-md;
  }

  @include media-breakpoint-up(lg) {
    padding: $footer-spacer;
  }

  @include media-breakpoint-up(xl) {
    padding: $footer-spacer-md;
  }
}

.footer-love {
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: $footer-spacer-sm;
  // font-size: map.get($spacers, 3);
  // color: $jg-pink;
  // animation: heartbeat 1s infinite;
}
