$footer-gray-text: darken($white, 30%);
$footer-spacer-sm: map-get($spacers, 2);
$footer-spacer: $spacer;
$footer-spacer-md: $spacer * 2;

.footer {
  color: $white;
  background-color: $jg-dark;

  a {
    color: $white;
  }
}

.footer-section {
  @extend .container-xxl;
  padding: $footer-spacer-md;
}

.footer-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
}

.footer-subheading {
  @extend .small;
  @extend .font-monospace;
  @extend .text-uppercase;
  color: $footer-gray-text;
}

/*
  FOOTER: PROMO
*/

.footer-promo {
  // padding: $main-spacer $footer-spacer-md;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: $footer-spacer;
  color: $jg-dark;
  background-color: $jg-yellow;
  // border-top: 1px solid #e5df67;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-promo .footer-heading,
.footer-promo .footer-subheading {
  color: $jg-dark;
}

.footer-featured {
  @extend .card;
  position: relative;
  border: none;
}

.footer-featured-body {
  @extend .card-body;
}

.footer-featured-link {
  @extend .card-title;
  @extend .stretched-link;
  text-decoration: none;
}

.footer-featured-link:hover {
  color: darken($jg-dark, 10%);
  text-decoration: underline;
}

.footer-featured-image {
  @extend .card-img-top;
  width: 100%;
  height: 8rem;
}

.footer-promo a {
  color: $jg-blue;
}

.footer-promo a:hover {
  color: darken($jg-blue, 10%);
  text-decoration: underline;
}

.footer-promo-item.wide {
  @include media-breakpoint-up(sm) {
    grid-column: span 2;
  }
}

/*
  FOOTER: ADDRESS
*/

.footer-address {
  @extend .container-fluid;
  margin-bottom: 0;
  border-bottom: map-get($border-widths, 1) solid rgba($white, .2);
}

.footer-address-list {
  @extend .list-unstyled;
  display: grid;
  gap: $footer-spacer;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0;
  }
}

.footer-address-logo {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links-email,
.footer-links-icons {
  @extend .fs-4;
  margin-bottom: 0;
}

.footer-icons-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.footer-icons-item {
  margin-right: $footer-spacer-sm;
}

/*
  FOOTER: ABOUT
*/

.footer-about-content {
  @extend .row;
  @extend .g-0;
}

.footer-about-text {
  @extend .col-lg-9;
  padding-bottom: $footer-spacer-md;

  @include media-breakpoint-up(lg) {
    padding-right: $footer-spacer-md;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-about-text p:last-child {
  margin-bottom: 0;
}

.footer-about-finances {
  @extend .col-lg-3;
}

.footer-about-avatar {
  float: right;
  width: 100%;
  max-width: 6rem;
  height: auto;
  margin-top: $footer-spacer-sm;
  margin-bottom: $footer-spacer-sm;
  margin-left: $footer-spacer-sm;
  shape-outside: circle(50%);
  clip-path: circle(50%);
  border-radius: 100%;

  @include media-breakpoint-up(md) {
    max-width: 8rem;
  }

  @include media-breakpoint-up(md) {
    max-width: 10rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: map-get($spacers, 4);
  }
}

/*
  FOOTER: FINANCES
*/

.footer-finances-number {
  @extend .h3;
  @extend .lh-1;
  margin-bottom: $footer-spacer-md;
}

.footer-finances-list {
  @extend .list-unstyled;
  margin-bottom: $footer-spacer-md;
}

.footer-finances-value {
  display: inline-block;
  min-width: 3em;
}

.footer-finances-actions {
  display: inline-block;
  margin-bottom: 0;
}

.footer-finances-button {
  display: block;
  margin-bottom: $footer-spacer-sm;
}

.footer-finances-link a {
  color: $footer-gray-text;
}

/*
  FOOTER: NAVIGATION
*/

.footer-nav-container {
  background-color: lighten($jg-dark, 5%);

  p,
  a {
    color: $footer-gray-text;
  }
}

.footer-nav {
  p {
    margin-bottom: $footer-spacer-md;
  }
}

.footer-nav > *:last-child {
  margin-bottom: 0;
}

/*
  FOOTER: RULES
*/

.footer-rules {
  padding-top: $footer-spacer;
  padding-bottom: $footer-spacer;
}

.footer-rules a {
  @extend .small;
  color: $footer-gray-text;
}

.footer-rules-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-rules-item {
  padding-right: $footer-spacer-sm;
  padding-left: $footer-spacer-sm;
  white-space: nowrap;
}
