@use "sass:map";

$footer-gray-text: darken($white, 30%);
$footer-spacer-sm: map.get($spacers, 2);
$footer-spacer: $spacer;
$footer-spacer-md: $spacer * 2;

html {
  background: linear-gradient(to bottom, $jg-dark 0%, $jg-dark 50%, $jg-yellow 50%, $jg-yellow 100%);
  background-color: $jg-dark;
}

.footer-dark-bg {
  color: $white;
  background-color: $jg-dark;

  a {
    color: $white;
  }

  .footer-subheading {
    color: $footer-gray-text;
  }
}

.footer-yellow-bg {
  background-color: $jg-yellow;

  a {
    color: $jg-dark;
  }
}

.footer-section {
  @extend .container-xxl;
  padding: $main-spacer $footer-spacer-md;
}

.footer-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
}

.footer-subheading {
  @extend .small;
  @extend .font-monospace;
  @extend .text-uppercase;
  margin-bottom: $spacer;
}

.footer-list {
  @extend .list-unstyled;
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  row-gap: $footer-spacer-sm;
  column-gap: $footer-spacer-md;
  margin-bottom: $footer-spacer;
}

.footer-list li {
  display: contents;
}

.footer-list-heading {
  display: block;
  grid-column: 1;
  min-width: 0;
}

.footer-list-data {
  grid-column: 2;
}

.footer-hr {
  border-bottom: map.get($border-widths, 1) solid rgba($white, .2);
}

.footer-columns {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: $footer-spacer-md;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-column .footer-subheading {
  margin-top: $footer-spacer-md;
}

.footer-column .footer-subheading:first-of-type {
  margin-top: 0;
}

.footer-column *:last-child {
  margin-bottom: 0;
}

.footer-column.wide {
  @include media-breakpoint-up(sm) {
    grid-column: span 2;
  }

  @include media-breakpoint-up(lg) {
    padding-right: $footer-spacer-md - $spacer;
  }
}

.footer-subsection {
  margin-bottom: $footer-spacer-md;
}

.footer-logo {
  width: 100%;
  max-width: 10rem;
  height: auto;
  margin-bottom: $footer-spacer-md;
}

.footer-icons {
  @extend .list-unstyled;
  @extend .h3;
  display: flex;
  gap: $footer-spacer-sm;
}

.footer-links {
  @extend .list-unstyled;
  @extend .small;
  display: flex;
  flex-direction: column;
  gap: $footer-spacer-sm;
}

.footer-avatar {
  float: right;
  width: 4rem;
  height: 4rem;
  margin-top: .3rem;
  margin-bottom: .1rem;
  margin-left: 1rem;
  clip-path: circle(50%);
  shape-outside: circle(50%);
  border-radius: 100%;
}

.footer-progress {
  @extend .progress;
  height: 1.8rem;
  margin: $footer-spacer 0;
  background-color: darken($jg-blue, 15%);
}

.footer-progress-bar {
  @extend .progress-bar;
}

.footer-progress-label {
  @extend .list-unstyled;

  display: flex;
  gap: $footer-spacer-sm;
  justify-content: space-between;
  width: 100%;
}

.footer-progress-label-item {
  display: flex;
  flex-direction: column;
}

.footer-featured {
  position: relative;
  display: grid;
  grid-template-columns: 4rem minmax(0, 1fr);
  gap: $footer-spacer-sm;
  align-items: center;
  margin-bottom: map.get($spacers, 4);
}

.footer-featured:last-child {
  margin-bottom: 0;
}

.footer-featured-body {
  min-width: 0;
}

.footer-featured-link {
  @extend .stretched-link;
}

.footer-featured-link:hover {
  color: darken($jg-dark, 10%);
  text-decoration: underline;
}

.footer-featured-image {
  width: 100%;
  height: 4rem;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
