@use "sass:color";

$jg-footer-gray-text: color.adjust($white, $lightness: -30%);
$jg-footer-spacer-sm: map-get($spacers, 2);
$jg-footer-spacer: $spacer;
$jg-footer-spacer-md: $spacer * 2;

.footer {
  color: $white;
  background-color: $jg-dark;

  a {
    color: $white;
  }
}

.footer-section {
  @extend .container-xxl;
}

.footer-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;
}

.footer-subheading {
  @extend .small;
  @extend .font-monospace;
  @extend .text-uppercase;
  color: $jg-footer-gray-text;
}

/*
  FOOTER: ADDRESS
*/

.footer-address-container {
  border-bottom: map-get($border-widths, 1) solid rgba($white, .2);
}

.footer-address {
  @extend .container-fluid;
  padding-top: $jg-footer-spacer-md;
  padding-bottom: $jg-footer-spacer-md;
  margin-bottom: 0;
}

.footer-address-list {
  @extend .list-unstyled;
  @extend .row;
  @extend .g-0;
  margin-bottom: 0;
}

.footer-address-item {
  @extend .col-sm-6;
  @extend .col-lg-3;
  padding-top: $jg-footer-spacer;
  padding-bottom: $jg-footer-spacer;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-address-item:first-child {
  padding-top: 0;
}

.footer-address-item:last-child {
  padding-bottom: 0;
}

.footer-address-item:nth-child(1),
.footer-address-item:nth-child(2) {
  @include media-breakpoint-up(sm) {
    padding-top: 0;
  }
}

.footer-address-item:nth-child(3),
.footer-address-item:nth-child(4) {
  @include media-breakpoint-up(sm) {
    padding-bottom: 0;
  }
}

.footer-address-logo {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links-email,
.footer-links-icons {
  @extend .fs-4;
  margin-bottom: 0;
}

.footer-icons-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.footer-icons-item {
  margin-right: $jg-footer-spacer-sm;
}

/*
  FOOTER: ABOUT
*/

.footer-about {
  padding-top: $jg-footer-spacer-md;
  padding-bottom: $jg-footer-spacer-md;
}

.footer-about-content {
  @extend .row;
  @extend .g-0;
}

.footer-about-text {
  @extend .col-lg-9;
  padding-bottom: $jg-footer-spacer-md;

  @include media-breakpoint-up(lg) {
    padding-right: $jg-footer-spacer-md;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-about-text p:last-child {
  margin-bottom: 0;
}

.footer-about-finances {
  @extend .col-lg-3;
}

.footer-about-avatar {
  float: right;
  width: 100%;
  max-width: 6rem;
  height: auto;
  margin-top: $jg-footer-spacer-sm;
  margin-bottom: $jg-footer-spacer-sm;
  margin-left: $jg-footer-spacer-sm;
  shape-outside: circle(50%);
  clip-path: circle(50%);
  border-radius: 100%;

  @include media-breakpoint-up(md) {
    max-width: 8rem;
  }

  @include media-breakpoint-up(md) {
    max-width: 10rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: map-get($spacers, 4);
  }
}

/*
  FOOTER: FINANCES
*/

.footer-finances-number {
  @extend .h3;
  @extend .lh-1;
  margin-bottom: $jg-footer-spacer-md;
}

.footer-finances-list {
  @extend .list-unstyled;
  margin-bottom: $jg-footer-spacer-md;
}

.footer-finances-value {
  display: inline-block;
  min-width: 3em;
}

.footer-finances-actions {
  display: inline-block;
  margin-bottom: 0;
}

.footer-finances-button {
  display: block;
  margin-bottom: $jg-footer-spacer-sm;
}

.footer-finances-link a {
  color: $jg-footer-gray-text;
}

/*
  FOOTER: NAVIGATION
*/

.footer-nav-container {
  background-color: color.adjust($jg-dark, $lightness: 5%);

  p,
  a {
    color: $jg-footer-gray-text;
  }
}

.footer-nav {
  padding-top: $jg-footer-spacer-md;
  padding-bottom: $jg-footer-spacer-md;

  p {
    margin-bottom: $jg-footer-spacer-md;
  }
}

.footer-nav > *:last-child {
  margin-bottom: 0;
}

/*
  FOOTER: RULES
*/

.footer-rules {
  padding-top: $jg-footer-spacer;
  padding-bottom: $jg-footer-spacer;
}

.footer-rules a {
  @extend .small;
  color: $jg-footer-gray-text;
}

.footer-rules-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-rules-item {
  padding-right: $jg-footer-spacer-sm;
  padding-left: $jg-footer-spacer-sm;
  white-space: nowrap;
}
