.logobar {
  width: 100%;
  background: $white;
  border-bottom: 1px solid $jg-gray-light;

  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $jg-blue-light 50%, $white 50%);
  }
}

.logobar-container {
  @extend .container-md;
  display: flex;
  justify-content: center;
  max-width: map-get($container-max-widths, lg);
  padding-right: 0;
  padding-left: 0;
}

.logobar-heading {
  margin: 0;

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: $jg-main-toc-width;
  }

  @include media-breakpoint-up(xxl) {
    flex-grow: 0;
    width: $jg-main-toc-width;
  }
}

.logobar-list {
  @extend .logos;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: $jg-main-document-width;
  padding: 0 $spacer;
  margin-bottom: 0;
  background: $white;

  @include media-breakpoint-up(lg) {
    justify-content: space-evenly;
  }
}

.logobar-item {
  @extend .logos-item;
}

.logobar-item:first-child {
  margin-left: 0;
}

.logobar-item:last-child {
  margin-right: 0;
}

.logobar-list .logobar-item {
  margin-bottom: 0;
}

.logobar-link {
  padding: $navbar-padding-y 0;
}

.logobar-image {
  @extend .logos-image;
  max-height: map-get($spacers, 3);

  @include media-breakpoint-up(md) {
    max-height: map-get($spacers, 4);
  }
}
