.mainnav {
  @extend .navbar;
  background-color: $jg-yellow;
}

.mainnav-container {
  @extend .container-xxl;
}

.mainnav-brand {
  @extend .navbar-brand;
  padding: 0;
}

.mainnav-items {
  @extend .nav;
  @extend .justify-content-center;

  position: relative;
  top: $navbar-padding-y;
  flex-wrap: nowrap;
  width: 100vw;
  margin-right: $container-padding-x * -.5;
  margin-left: $container-padding-x * -.5;
  border-top: 1px solid $jg-yellow-dark;
  @include font-size($font-size-sm);

  @include media-breakpoint-up(md) {
    position: static;
    top: 0;
    width: auto;
    margin-right: auto;
    margin-left: 0;
    border-top: none;
    @include font-size($font-size-base);
  }
}

.mainnav-item {
  @extend .nav-item;
}

.mainnav-link {
  @extend .nav-link;
}

.mainnav-link:hover,
.mainnav-link:focus,
.mainnav-link:active,
.mainnav-link.active {
  text-decoration: underline;
}

.mainnav-link.active {
  font-weight: 700;
  text-decoration: none;
}

.mainnav-buttons {
  @extend .order-md-last;
  display: inline-flex;
  gap: map-get($spacers, 2);
  align-items: center;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: map-get($spacers, 4);
  height: map-get($spacers, 4);
  padding: 0;
  color: $jg-dark;
  background: none;
  border: none;
}

.theme-toggle:hover,
.theme-toggle:focus {
  color: $jg-blue;
}

.theme-toggle:focus-visible {
  outline: 2px solid $jg-blue;
  outline-offset: 2px;
}

.theme-toggle-icon {
  display: none;
  line-height: 1;
}

.theme-toggle-glyph {
  font-size: map-get($spacers, 3);
}

.theme-toggle-icon--moon {
  display: inline-flex;
}

:root[data-theme="dark"] .theme-toggle-icon--sun {
  display: inline-flex;
}

:root[data-theme="dark"] .theme-toggle-icon--moon {
  display: none;
}

:root[data-theme="light"] .theme-toggle-icon--sun {
  display: none;
}

:root[data-theme="light"] .theme-toggle-icon--moon {
  display: inline-flex;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) .theme-toggle-icon--sun {
    display: inline-flex;
  }

  :root:not([data-theme]) .theme-toggle-icon--moon {
    display: none;
  }
}
