.main-sidebar {
  @include media-breakpoint-up(lg) {
    background-image: linear-gradient(90deg, $jg-blue-light 50%, $white 50%);
  }
}

.main-sidebar .content-container {
  @extend .container-lg;
  max-width: map-get($container-max-widths, lg);
  padding-right: 0;
  padding-left: 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-sidebar .toc {
  padding: ($spacer * 2) $spacer;
  background-color: $jg-blue-light;

  @include media-breakpoint-up(lg) {
    flex-shrink: 0;
    flex-basis: $jg-main-toc-width;
    order: -1;
    width: $jg-main-toc-width;
    padding-top: $jg-main-spacer;
    padding-right: $container-padding-x * .5;
    padding-bottom: $jg-main-spacer;
    padding-left: $container-padding-x;
  }
}

.main-sidebar .toc-container {
  padding-right: $container-padding-x * .5;

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 2);
  }
}

.toc-heading {
  @extend .fs-4;
  @extend .font-monospace;
  @extend .text-uppercase;

  @include media-breakpoint-up(lg) {
    margin-bottom: $jg-main-spacer;
  }
}

.toc-list {
  @extend .list-unstyled;
  margin: 0;
}

.toc-link {
  display: block;
  margin-top: map-get($spacers, 3);
  line-height: $line-height-sm;
  color: $body-color;
  text-decoration: none;
  border-color: $body-color;
  border-style: solid;
  border-width: 0 0 map-get($border-widths, 1);
}

.toc-link:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}

.toc-item.active .toc-link {
  font-weight: $headings-font-weight;
  color: $link-color;
  border-color: $link-color;
  border-width: 0 0 map-get($border-widths, 2);
}

.toc-item.active .toc-link:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}

.main-sidebar .content {
  @extend .container-md;
  padding-top: $jg-main-spacer;
  padding-bottom: $jg-main-spacer;
  background-color: $white;

  @include media-breakpoint-up(lg) {
    flex-shrink: 1;
    flex-basis: 100% - $jg-main-toc-width;
    max-width: $jg-main-document-width;
    padding-right: $container-padding-x;
    padding-left: $jg-main-spacer;
    margin: 0;
  }
}

.main-sidebar .breadcrumb {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
