@use "../spaghetti/variables";

html {
  font-family: variables.$font-family;
  font-size: variables.$font-size;
}

html, body {
  background: variables.$jg-black;
  scroll-behavior: smooth;
}

html {
  color: variables.$jg-black;
}

.body__container {
  background: variables.$jg-white;
}
