<p style="background: #fffa72; padding: 5px 3px;">
  <img src="{{ url_logo }}" alt="junior.guru logo" width="150" style="display: block;">
</p>
<p>
  Hezký den!
</p>
<p>
  Tento pravidelný, automatický e-mail vám přišel, protože máte inzerát na stránce {{ url_jobs }}, a to konkrétně tento:
</p>
<table style="border-collapse: collapse;">
  <tr>
    <td>
      <b>Pozice:</b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      {{ title }}
    </td>
  </tr>
  <tr>
    <td>
      <b>Firma:</b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      {{ company_name }}
    </td>
  </tr>
  <tr>
    <td>
      <b>Odkaz:</b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <a href="{{ url }}">{{ url }}</a>
    </td>
  </tr>
</table>
<p>
  Jak se mu zatím daří?
</p>
<table style="border-collapse: collapse;">
  <tr>
    <td>
      Trvání:&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <b>{{ start_days }} dní</b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <small>inzerát schválen {{ ':%-d.%-m.%Y'.format(start_at) }}</small>
    </td>
  </tr>
  <tr>
    <td>
      Zbývá:&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <b>{{ end_days }} dní</b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <small>inzerát vyprší {{ ':%-d.%-m.%Y'.format(event.end_at) }}</small>
    </td>
  </tr>
  <tr>
    <td>
      Statistiky návštěvnosti:&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <b><a href="{{ url_analytics }}">Simple Analytics</a></b>&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <small>čísla a graf vyfiltrované přímo pro váš inzerát</small>&nbsp;&nbsp;&nbsp;
    </td>
  </tr>
</table>
{% if expires_soon %}
<p><b>
  Inzerát brzy vyprší! Za 1.199 Kč</a> jej můžete prodloužit o dalších 30 dní. Stačí, když odpovíte na tento e-mail.
</b></p>
{% endif %}
<p>
  Statistiky jsou pouze orientační, měření nikdy nezachytí vše. Chcete-li inzerát změnit, zrušit, prodloužit, nebo máte-li jakýkoliv dotaz, jednoduše <b>odpovězte na tento e-mail</b>.
</p>
<p>
  Najímáte juniory? Možná by se vám vyplatilo <a href="https://junior.guru/club/">členství v klubu</a>. Mrkněte na <a href="https://junior.guru/pricing/">ceník</a> a pokud by vám něco z toho dávalo smysl, můžeme si napsat, zavolat, doladit detaily.
</p>
<p>
  Za <a href="{{ url_index }}">junior.guru</a>,<br>
  Honza Javorek
</p>
