@use "sass:math";

@use "variables";

a {
  @include variables.color-links(variables.$jg-dark, variables.$jg-blue);
}

h4, h3, h2, h1, html, body {
  margin: 0;
  padding: 0;
}

small {
  @include variables.font-0;
}

body, h4 {
  @include variables.font;
}

p {
  margin-top: variables.$whitespace-0;
}

p, h4 {
  margin-bottom: variables.$whitespace-0;
}

h3 {
  @include variables.font-2;
  margin-bottom: variables.$whitespace;
}

h2 {
  @include variables.font-3;
  margin-bottom: variables.$whitespace-2;
}

h1 {
  @include variables.font-4;
  margin-bottom: variables.$whitespace-3;
}

ul, ol {
  margin-bottom: variables.$whitespace-3;

  ul, ol {
    margin-top: variables.$whitespace-3;
  }
}

ul li {
  list-style-type: square;
}

.sponsors {
  h2 {
    display: none;
  }

  p {
    @include variables.font-0;
    padding: 0;
    margin: 0;
    margin-bottom: variables.$whitespace;
    min-height: auto;
  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  li {
    box-sizing: border-box;
    padding: variables.$whitespace;
    width: 25rem;
    border: 1px dotted variables.$jg-gray;
    color: variables.$jg-gray;
    line-height: 1.3;
    margin: 0 variables.$whitespace-0 variables.$whitespace variables.$whitespace-0;
  }

  li a {
    @include variables.color-links(variables.$jg-gray, variables.$jg-blue);
  }
}

.legacy-button, .legacy-button-secondary {
  display: inline-block;
  text-decoration: none;
  @include variables.font-2;
  font-weight: 300;
  padding: variables.$whitespace variables.$whitespace-2;
  padding-top: variables.$whitespace - 0.1rem;
  cursor: pointer;
}

.legacy-button {
  color: variables.$jg-white;
  background: variables.$jg-dark;

  &:hover, &:focus, &:active {
    background: variables.$jg-blue;
  }
}

.legacy-button, .legacy-button a {
  color: variables.$jg-white;

  &:hover, &:focus, &:active {
    color: variables.$jg-white;
  }
}

.legacy-button.legacy-button-inverted, a.legacy-button.legacy-button-inverted {
  color: variables.$jg-dark;
  background: variables.$jg-yellow;
}

a.legacy-button.legacy-button-inverted {
  &:hover, &:focus, &:active {
    color: variables.$jg-white;
    background: variables.$jg-blue;
  }
}

a.legacy-button-secondary {
  color: variables.$jg-dark;
  background: transparent;
  font-weight: 300;
  border: 0.2rem variables.$jg-dark solid;
  padding: (variables.$whitespace - 0.2rem) (variables.$whitespace-2 - 0.2rem);
}

a.legacy-button-secondary.legacy-button-inverted {
  color: variables.$jg-yellow;
  border-color: variables.$jg-yellow;
}

a.legacy-button-secondary, a.legacy-button-secondary.legacy-button-inverted {
  &:hover, &:focus, &:active {
    border-width: 0.3rem;
    padding: (variables.$whitespace - 0.3rem) (variables.$whitespace-2 - 0.3rem);
  }
}

hr {
  border: none;
  height: 2px;
  background: variables.$dots-dark;
  margin: (2 * variables.$whitespace-3) 0;
}

.cartoon {
  display: block;
  margin: variables.$whitespace auto;
  width: 20rem;

  @media screen and (min-width: variables.$grid-breakpoint) {
    & {
      float: right;
      margin: variables.$whitespace;
      margin-left: variables.$whitespace-2;
    }
  }
}

.cartoon[src*="pylady"] {
  width: 15rem;
}

.cartoon-center {
  float: none;
  margin: variables.$whitespace auto;
  width: 10rem;
}

.note {
  @include variables.font-0;
}

.hidden {
  display: none;
}

html[lang="cs"] figure::after {
  content: "“"; // https://www.zoul.cz/uvozovky/
}

html[lang="en"] figure::after {
  content: "”"; // https://www.zoul.cz/uvozovky/
}

ul.list {
  padding: 0;
  margin: variables.$whitespace-3 0;

  @media screen and (min-width: variables.$grid-breakpoint) {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: variables.$whitespace;
        grid-row-gap: variables.$whitespace-2;
        grid-template-columns: repeat(auto-fit, minmax(variables.$grid-block-size, 1fr));
      }
    }
  }

  & > li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: variables.$whitespace-2;
    max-width: 65rem;

    @media screen and (min-width: variables.$grid-breakpoint) {
      @supports (display: grid) {
        & {
          max-width: none;
          margin: 0;
        }
      }
    }

    h3, p {
      display: inline-block;
      background: variables.$jg-white;
      margin-left: variables.$whitespace;
      margin-right: variables.$whitespace;
      padding: 0.3rem 0.5rem;
    }

    h3 {
      margin-top: variables.$whitespace;
    }

    p {
      margin-bottom: variables.$whitespace;

      small {
        margin-top: 0.5rem;
        display: inline-block;
        font-size: 1.5rem;
      }
    }

    & > a {
      display: block;
      text-decoration: none;
      position: relative;
      background: variables.$dots-dark;
    }

    a {
      color: variables.$jg-dark;
    }

    & > a:hover, & > a:focus, & > a:active,
    &:hover > a, &:focus > a, &:active > a {
      background: none;
      color: variables.$jg-blue;

      img {
        filter: grayscale(0%);
        opacity: 0.7;
      }

      ul li small {
        background: variables.$jg-blue;
      }
    }

    &:hover, &:focus, &:active {
      background: variables.$dots-blue;
      color: variables.$jg-blue;

      a { color: variables.$jg-blue; }
    }
  }
}

.list-labels {
  position: absolute;
  top: 0;
  right: 0;

  &, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: block;
    text-align: right;
  }

  small {
    display: inline;
    background: variables.$jg-dark;
    color: variables.$jg-white;
    padding: 0.4rem 1rem 0.5rem 1rem;
  }
}

.list-image {
  box-shadow: inset 0 0 variables.$whitespace-2 rgba(190, 190, 190, 0.8);

  // https://www.codecaptain.io/blog/web-development/responsive-images-and-preventing-page-reflow/474
  height: 0;
  padding-top: 56.25%; // images are 640x360, which means 36/64 = 0.5625
  position: relative;

  img {
    display: block;
    opacity: 0.6;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-note {
  margin: variables.$whitespace-2 0;
  text-align: left;
  color: variables.$jg-gray;

  a {
    @include variables.color-links(variables.$jg-gray, variables.$jg-blue);
  }
}

ul.items {
  box-sizing: border-box;
  list-style-type: none;
  margin: variables.$whitespace-3 0;
  padding: 0;

  & > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid variables.$jg-yellow-light;
  }

  & > li:first-child {
    border-top: none;
  }
}

.item-summary {
  a {
    display: inline-block;
    padding: variables.$whitespace-3;
    padding-left: 0;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
  }

  a.active {
    color: variables.$jg-blue;
  }

  h3 {
    display: block;
    background: none;
    padding: 0;
    margin: 0 !important;
    @include variables.font-2;
    text-decoration: underline;
  }
}

.item-summary-wrapper {
  border-left: variables.$whitespace solid variables.$jg-yellow;
  padding-left: variables.$whitespace;

  a:hover &, a:focus &, a:active &, a.active & {
    border-color: variables.$jg-blue;
  }
}

.item-summary-details {
  padding: 0;
  margin: 0;
}

.job {
  header {
    text-align: center;
    margin-bottom: 2 * variables.$whitespace-3;

    p {
      min-height: 0;
      height: auto;
    }
  }

  h2 {
    display: inline-block;
    background-color: variables.$jg-yellow;
    margin-top: variables.$whitespace-3;
    padding: 0.3rem 0.5rem;
  }

  ul + h2, ol + h2 {
    margin-top: 0.8rem;
  }

  .call-to-action {
    margin-top: 3 * variables.$whitespace-2;
    padding: 0;

    .legacy-button {
      padding-left: variables.$whitespace-3;
      padding-right: variables.$whitespace-3;
      @include variables.font;

      small {
        @include variables.font-0;
      }
    }

    p.legacy-button {
      cursor: text;

      &:hover, &:focus, &:active {
        background: variables.$jg-dark;
      }
    }

    @media screen and (min-width: 600px) {
      .legacy-button { @include variables.font-2; }
      .legacy-button small { @include variables.font; }
    }
  }

  .engage {
    margin: variables.$whitespace-3 0;
  }
}

.teaser {
  padding: 0 variables.$whitespace;

  h2 {
    background: none;
    @include variables.font-4;
    line-height: 1.25;
  }

  h2 small {
    display: block;
    margin: 0 0 math.div(variables.$whitespace, 1.5) 0;
  }

  h2 strong {
    padding: math.div(variables.$whitespace-0, 4) math.div(variables.$whitespace, 1.5);
    background: variables.$jg-yellow;
    color: variables.$jg-dark;
  }

  h2 .no-wrap {
    white-space: nowrap;
  }

  .advice {
    margin-top: variables.$whitespace-3;

    strong {
      padding: math.div(variables.$whitespace-0, 4) math.div(variables.$whitespace, 1.5);
      background: variables.$jg-yellow;
    }
  }
}

.call-to-action {
  text-align: center;
  margin: variables.$whitespace-2 0 variables.$whitespace-3 0;

  .announcement {
    @include variables.font-2;
    margin-bottom: variables.$whitespace-2;
  }

  &.next {
    overflow: hidden;

    .legacy-button {
      display: inline-block;
      background: variables.$jg-dark;
      padding-right: variables.$whitespace-3;
      margin-top: variables.$whitespace-3;
      @include variables.arrow;
      overflow: hidden !important;

      &:hover, &:focus, &:active {
        background: variables.$jg-blue;
      }
    }
  }
}

footer {
  .body__container > & { padding: 0; }

  a {
    @include variables.color-links(variables.$jg-dark, variables.$jg-blue);
  }

  &, a {
    @include variables.font-0;
  }
}

.author {
  background: variables.$jg-dark;
  text-align: left;
  color: variables.$jg-white;
  @include variables.font-0;

  p a {
    @include variables.color-links(variables.$jg-white, variables.$jg-white);
  }
}

.author-wrapper {
  @include variables.page-width;
  padding: variables.$whitespace-3 variables.$whitespace;
}

.author-photo {
  display: block;
  margin-right: variables.$whitespace;
  margin-top: math.div(variables.$whitespace, 2);
  float: left;
  width: 3 * variables.$whitespace-3;
  min-width: 3 * variables.$whitespace-3;
  align-self: flex-start;
}

.author-text-outer {
  margin: 0;
  min-width: 0;
  text-align: left;
}

.author .call-to-action {
  margin: 0;
  margin-top: variables.$whitespace-2;
}

.author .legacy-button {
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .author-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .author-photo {
    float: none;
    margin-right: 0;
  }

  .author-text-outer {
    display: flex;
  }

  .author-text-inner {
    display: block;
    padding: 0 variables.$whitespace;
  }

  .author .call-to-action {
    margin: 0;
    align-self: center;
  }

  .author .legacy-button {
    margin-left: variables.$whitespace;
  }
}

.donate-author img {
  float: right;
  width: 4 * variables.$whitespace-3;
  margin: 0 0 variables.$whitespace variables.$whitespace;
}

.donate-image {
  width: 3 * variables.$whitespace-3;
  min-width: 3 * variables.$whitespace-3;
  min-height: 3 * variables.$whitespace-3;
}

.donate-image-patreon {
  background: url('./images/donate/patreon.svg') center no-repeat;
}

.donate-image-github {
  background: url('./images/donate/github.svg') center no-repeat;
}

.donate-image-paypal {
  background: url('./images/donate/card.svg') center no-repeat;
}

div.donate-image {
  background-size: contain;
}

ul.donate,
.donate li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.donate li {
  margin-top: variables.$whitespace-3;
}

.donate-option {
  display: flex;
  align-items: flex-start; // safari bug https://stackoverflow.com/q/57516373/325365
  flex-wrap: wrap;
  justify-content: center;
}

a.donate-option {
  text-decoration: none;

  h3 {
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }

  .legacy-button {
    @include variables.font;
    padding: math.div(variables.$whitespace, 2) variables.$whitespace;
    float: right;
    margin-left: variables.$whitespace-2;
  }

  &:hover, &:focus, &:active {
    .legacy-button {
      background: variables.$jg-blue;
    }

    .donate-image-patreon {
      background-image: url('./images/donate/patreon-blue.svg');
    }

    .donate-image-github {
      background-image: url('./images/donate/github-blue.svg');
    }

    .donate-image-paypal {
      background-image: url('./images/donate/card-blue.svg');
    }
  }
}

.donate-description {
  width: 100%;
}

.donate-description-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donate-interview {
  text-align: center;

  & > a {
    display: block;
    margin: variables.$whitespace-3 auto variables.$whitespace auto;
    width: 100%;
    max-width: 80rem;
  }

  img {
    display: block;
    width: 100%;
  }

  span {
    @include variables.font-0;
    display: block;
    margin: variables.$whitespace auto;
  }
}

@media screen and (min-width: 700px) {
  .donate li {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
  }

  .donate-option {
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
  }

  .donate-image {
    align-self: center;
  }

  .donate-description {
    box-sizing: border-box;
    min-width: 0;
    max-width: 20 * variables.$whitespace-3;
    padding-left: variables.$whitespace-2;
  }

  .donate-description h3 {
    margin-top: 0;
  }

  .donate-description p:last-child {
    margin-bottom: 0;
  }
}

.numbers {
  max-width: 80rem;
  padding: 0 variables.$whitespace ((variables.$whitespace-3 * 2) - variables.$whitespace) 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &, li {
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
    padding-bottom: variables.$whitespace;
    width: 100%;

    @media screen and (min-width: 700px) {
      & {
        width: auto;
      }
    }
  }

  strong {
    @include variables.font-4;
    font-size: 6rem;
  }

  strong, small {
    display: block;
  }
}

.numbers--standalone {
  margin-top: variables.$whitespace-3;
  margin-bottom: variables.$whitespace-3;
}
