body.body--index {
  .content {
    padding-top: 0;
  }

  .content__section h2 {
    background: none;
    padding: 0;
    display: block;
    margin-bottom: $whitespace-3;
  }

  .hidden {
    display: none;
  }
}

.billboard {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    margin: 0;
    margin-bottom: $whitespace-2;
    padding: 0;
    background: 0;
    @include font-4;
    line-height: 1.2;
  }

  .billboard-content {
    @include page-width;
    padding: (2 * $whitespace-3) $whitespace;
  }

  .billboard-buttons {
    margin-top: $whitespace-2;
  }

  @media screen and (min-width: 650px) {
    .billboard-content-limiter {
      width: 60rem;
    }

    .billboard-buttons {
      white-space: nowrap;
    }
  }

  p {
    margin-bottom: $whitespace-0;
  }

  .legacy-button, .legacy-button-secondary {
    margin-bottom: $whitespace-2;
  }

  .legacy-button {
    margin-top: $whitespace-3;

    @media screen and (min-width: 650px) {
      & {
        margin-right: $whitespace;
      }
    }
  }

  .legacy-button, .legacy-button-secondary {
    display: block;

    @media screen and (min-width: 650px) {
      & {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.billboard-learn {
  background-color: var(--color-yellow);
  background-image: url('./images/billboard-learn.jpg');
  background-position: right 35% center;
  color: var(--color-black);

  @media screen and (min-width: 650px) {
    & {
      background-position: center;
    }

    .billboard-content-limiter {
      margin-right: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to left,
      rgba(var(--color-yellow), 0.5) 30%,
      rgba(var(--color-yellow), 0.9) 60%
    );
  }
}

.billboard-jobs {
  background-color: var(--color-black);
  background-image: url('./images/billboard-jobs.jpg');
  color: var(--color-white);

  @media screen and (min-width: 650px) {
    & {
      text-align: right;
    }

    .billboard-content-limiter {
      margin-left: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to right,
      rgba(var(--color-black), 0.5) 30%,
      rgba(var(--color-black), 0.9) 60%
    );
  }

  p a {
    color: var(--color-yellow);
    @include color-links(var(--color-white), var(--color-white));
  }
}

.billboard-note {
  &::before {
    content: "";
    display: block;
    height: $whitespace / 2;
    background: repeating-linear-gradient(
      -45deg,
      var(--color-black),
      var(--color-black) ($whitespace * 2),
      var(--color-yellow) ($whitespace * 2),
      var(--color-yellow) ($whitespace * 4)
    );
  }

  p {
    margin: 0;
    @include page-width;
    padding: $whitespace;
    text-align: center;
  }

  .billboard-learn & {
    p { color: var(--color-black); }
    a { @include color-links(var(--color-black), var(--color-black)); }
  }

  .billboard-jobs & {
    p { color: var(--color-white); }
    a { @include color-links(var(--color-white), var(--color-white)); }
  }
}

.how-it-works {
  background: var(--color-black);
  color: var(--color-white);
  padding: (2 * $whitespace-3) 0;

  ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ol {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 850px) {
      flex-wrap: nowrap;
    }
  }

  li::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto (4 * $whitespace-3);
    padding-top: 4 * $whitespace-3;
    margin-bottom: 2 * $whitespace;
  }

  li {
    margin-top: $whitespace-3;
    margin-bottom: $whitespace;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .how-it-works-content {
    @include page-width($padding: $whitespace);
  }

  li:nth-child(1)::before { background-image: url('./images/chick1-i.svg'); }
  li:nth-child(2)::before { background-image: url('./images/chick2-i.svg'); }
  li:nth-child(3)::before { background-image: url('./images/chick3-i.svg'); }

  .handbook-block {
    display: block;
    position: relative;
    padding-left: $whitespace-3 + $whitespace;
    padding-right: $whitespace;
    color: var(--color-white);
  }

  /*
  .handbook-block::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $whitespace-3;
    background: var(--color-white);
    color: var(--color-black);
    text-align: center;
    font-weight: bold;
  }

  li:nth-child(1) .handbook-block::before { content: "1"; }
  li:nth-child(2) .handbook-block::before { content: "2"; }
  li:nth-child(3) .handbook-block::before { content: "3"; }
  */

  h3 {
    margin: 0;
    padding: 0;
  }
}
