@use "sass:math";

@use "variables";

body.body--index {
  .content {
    padding-top: 0;
  }

  .content__section h2 {
    background: none;
    padding: 0;
    display: block;
    margin-bottom: variables.$whitespace-3;
  }

  .hidden {
    display: none;
  }
}

.billboard {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    margin: 0;
    margin-bottom: variables.$whitespace-2;
    padding: 0;
    background: 0;
    @include variables.font-4;
    line-height: 1.2;
  }

  .billboard-content {
    @include variables.page-width;
    padding: (2 * variables.$whitespace-3) variables.$whitespace;
  }

  .billboard-buttons {
    margin-top: variables.$whitespace-2;
  }

  @media screen and (min-width: 650px) {
    .billboard-content-limiter {
      width: 60rem;
    }

    .billboard-buttons {
      white-space: nowrap;
    }
  }

  p {
    margin-bottom: variables.$whitespace-0;
  }

  .legacy-button, .legacy-button-secondary {
    margin-bottom: variables.$whitespace-2;
  }

  .legacy-button {
    margin-top: variables.$whitespace-3;

    @media screen and (min-width: 650px) {
      & {
        margin-right: variables.$whitespace;
      }
    }
  }

  .legacy-button, .legacy-button-secondary {
    display: block;

    @media screen and (min-width: 650px) {
      & {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.billboard-learn {
  background-color: variables.$jg-yellow;
  background-image: url('./images/billboard-learn.jpg');
  background-position: right 35% center;
  color: variables.$jg-black;

  @media screen and (min-width: 650px) {
    & {
      background-position: center;
    }

    .billboard-content-limiter {
      margin-right: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to left,
      rgba(variables.$jg-yellow, 0.5) 30%,
      rgba(variables.$jg-yellow, 0.9) 60%
    );
  }
}

.billboard-jobs {
  background-color: variables.$jg-black;
  background-image: url('./images/billboard-jobs.jpg');
  color: variables.$jg-white;

  @media screen and (min-width: 650px) {
    & {
      text-align: right;
    }

    .billboard-content-limiter {
      margin-left: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to right,
      rgba(variables.$jg-dark, 0.5) 30%,
      rgba(variables.$jg-dark, 0.9) 60%
    );
  }

  p a {
    color: variables.$jg-yellow;
    @include variables.color-links(variables.$jg-white, variables.$jg-white);
  }
}

.billboard-note {
  &::before {
    content: "";
    display: block;
    height: math.div(variables.$whitespace, 2);
    // TODO, THIS PROBABLY DOESNT WORK NOW:
    // background: repeating-linear-gradient(
    //   -45deg,
    //   variables.$jg-black,
    //   variables.$jg-black (variables.$whitespace * 2),
    //   variables.$jg-yellow (variables.$whitespace * 2),
    //   variables.$jg-yellow (variables.$whitespace * 4)
    // );
  }

  p {
    margin: 0;
    @include variables.page-width;
    padding: variables.$whitespace;
    text-align: center;
  }

  .billboard-learn & {
    p { color: variables.$jg-black; }
    a { @include variables.color-links(variables.$jg-black, variables.$jg-black); }
  }

  .billboard-jobs & {
    p { color: variables.$jg-white; }
    a { @include variables.color-links(variables.$jg-white, variables.$jg-white); }
  }
}

.how-it-works {
  background: variables.$jg-black;
  color: variables.$jg-white;
  padding: (2 * variables.$whitespace-3) 0;

  ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ol {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 850px) {
      flex-wrap: nowrap;
    }
  }

  li::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto (4 * variables.$whitespace-3);
    padding-top: 4 * variables.$whitespace-3;
    margin-bottom: 2 * variables.$whitespace;
  }

  li {
    margin-top: variables.$whitespace-3;
    margin-bottom: variables.$whitespace;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .how-it-works-content {
    @include variables.page-width($padding: variables.$whitespace);
  }

  li:nth-child(1)::before { background-image: url('./images/chick1-i.svg'); }
  li:nth-child(2)::before { background-image: url('./images/chick2-i.svg'); }
  li:nth-child(3)::before { background-image: url('./images/chick3-i.svg'); }

  .handbook-block {
    display: block;
    position: relative;
    padding-left: variables.$whitespace-3 + variables.$whitespace;
    padding-right: variables.$whitespace;
    color: variables.$jg-white;
  }

  /*
  .handbook-block::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $whitespace-3;
    background: variables.$jg-white;
    color: variables.$jg-black;
    text-align: center;
    font-weight: bold;
  }

  li:nth-child(1) .handbook-block::before { content: "1"; }
  li:nth-child(2) .handbook-block::before { content: "2"; }
  li:nth-child(3) .handbook-block::before { content: "3"; }
  */

  h3 {
    margin: 0;
    padding: 0;
  }
}
