body.body--hire-juniors {
  h2 {
    background: none;
    padding: 0;
    margin: 0;
    margin-bottom: $whitespace-3;
    text-align: center;
    display: block;
    @include font-4;
  }

  .pricing {
    margin-top: $whitespace-3;  // hotfix
  }

  .pricing h2 {
    margin-bottom: $whitespace-3;  // hotfix
  }

  h2.hidden {
    display: none;
  }

  .call-to-action {
    margin: 0;
    padding-top: (2 * $whitespace-2);
  }

  .why {
    padding-left: $whitespace;
    padding-right: $whitespace;

    figure {
      margin-top: 0;
      margin-bottom: ($whitespace-3 * 2);
    }
  }

  .candidate-content {
    padding: $whitespace;
  }

  .candidate-subsections {
    @media screen and (min-width: 700px) {
      & {
        display: flex;
      }
    }

    .candidate-subsection {
      padding: $whitespace-2;
      margin-top: $whitespace-2;

      @media screen and (min-width: 700px) {
        & {
          box-sizing: border-box;
          width: 50%;
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: $whitespace-2;
        text-align: center;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        margin-top: $whitespace / 3;
      }
    }

    .candidate-traits {
      background: var(--color-yellow);
    }
  }

  .sponsor-handbook {
    .pricing {
      margin-top: ($whitespace-3 * 2);
    }

    .sponsor-handbook-badge {
      text-align: center;

      small {
        @include font-0;
        white-space: nowrap;
        background: var(--color-blue);
        color: var(--color-white);
        padding: ($whitespace / 2) $whitespace;
        position: relative;
        bottom: $whitespace;
      }
    }

    ul {
      margin-bottom: 0;
    }

    .sponsor-handbook-content,
    .pricing > .pricing__note {
      padding-left: $whitespace;
      padding-right: $whitespace;
    }

    .sponsor-handbook-content {
      img {
        width: 12rem;
        float: right;
        margin: 0 0 $whitespace $whitespace;
      }
    }
  }

  .content a[href^="#"] {
    &:hover, &:focus, &:active {
      &::before, &::after {
        display: none;
      }
    }
  }
}
