$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 62.5%; // = 10px, rem base

// See:
// * https://gregrickaby.com/2013/05/using-the-golden-ratio-and-rems/
// * https://grtcalculator.com/
$font-base: 20;
$line-height-base: 34;

$border-width: 0.2rem;

$line-height-0: ($line-height-base / 18);
$line-height: ($line-height-base / 10) * 1rem;
$line-height-2: ($line-height-base / 25);
$line-height-3: ($line-height-base / 32);
$line-height-4: 1;

@mixin font-0 { font-size: 1.6rem; line-height: $line-height-0; font-weight: 300; }
@mixin font { font-size: 2rem; line-height: $line-height; }
@mixin font-2 { font-size: 2.5rem; line-height: $line-height-2; }
@mixin font-3 { font-size: 3.2rem; line-height: $line-height-3; }
@mixin font-4 { font-size: 4.1rem; line-height: $line-height-4; }

// when changing, change it also in SVGs and press.html
$black: #343434;
$black-number: "343434";

// when changing, change it also in SVGs and press.html
$blue: #1755d1;
$blue-number: "1755d1";

$white: #ffffff;
$yellow: #fffa72;  // when changing, change it also in press.html
$gray: #ababab;
$gray-light: #ededed;

$grid-breakpoint: 900px;
$grid-block-size: 28rem;

$breakpoint-desktop: 800px;
$breakpoint-tablet: 700px;
$breakpoint-larger-phone: 375px;

$dots-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{$black-number}' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
$dots-blue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{$blue-number}' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

$whitespace-0: 0.8rem;
$whitespace: 1.3rem;
$whitespace-2: 2.1rem;
$whitespace-3: 3.4rem;

$logo-height: 4rem;
$logo-height-small: 3rem;
$logo-height-large: 5.5rem;
$logo-height-index: 10rem;

$logos-height: 4rem;
$toc-width: 30rem;
$target-offset: 12rem; // should be same as offset in toc.js
$target-offset-logos: $target-offset + $logos-height;

@mixin hyphens { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

@mixin skew($n) { transform: skew($n); -o-transform: skew($n); -moz-transform: skew($n); -webkit-transform: skew($n); }

@mixin page-width($padding: 0) {
  box-sizing: border-box;
  max-width: 136rem;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}

@mixin arrow {
  & {
    box-sizing: border-box;
    border-right: none;
    position: relative;
    overflow: visible;
  }

  &:before, &:after {
    content: "";
    display: block;
    box-sizing: border-box;
    background: $white;
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50%;
  }

  &:before {
    top: -1.5px;
    @include skew(15deg);
  }

  &:after {
    bottom: -1.5px;
    @include skew(-15deg);
  }
}

@mixin color-links($color, $color-hover) {
  color: $color;

  &:hover, &:focus, &:active {
    color: $color-hover;
  }
}

@-webkit-keyframes target-animation {
  0% { text-shadow: rgba($black, 0.2) 0 0 0; }
  100% { text-shadow: rgba($black, 0) 0 0 4rem; }
}

@keyframes target-animation {
  0% { text-shadow: rgba($black, 0.2) 0 0 0; }
  100% { text-shadow: rgba($black, 0) 0 0 4rem; }
}
