.brand-button {
  @extend .btn;
  margin-bottom: map-get($spacers, 1);
}

.brand-button.spotify {
  @include button-variant(
    #1db954,
    #1db954,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.apple {
  @include button-variant(
    #872ec4,
    #872ec4,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.youtube {
  @include button-variant(
    #f00,
    #f00,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.rss {
  @include button-variant(
    #f26522,
    #f26522,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.discord {
  @include button-variant(
    #5865f2,
    #5865f2,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.email {
  @include button-variant(
    $jg-dark,
    $jg-dark,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}

.brand-button.calendar {
  @include button-variant(
    #4285f4,
    #4285f4,
    $jg-white,
    $hover-color: $jg-white,
    $active-color: $jg-white,
    $disabled-color: $jg-white
  );
}
