.c2a {
  padding: $main-spacer $spacer;
  text-align: center;
  background: $jg-blue-light;
  border-radius: $border-radius;
}

.c2a.highlighted {
  background: $jg-yellow;
}

.c2a-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.c2a-small {
  margin: map-get($spacers, 2) 0 0;
}
