.course-provider {
  @extend .card;
  background: $jg-blue-light;
  border-color: $jg-white;
}

.highlighted.course-provider {
  background-color: $jg-yellow-light;
  border: 1px solid $jg-yellow;
}

.course-provider-header {
  padding: $spacer;
  padding-bottom: map-get($spacers, 4);
  text-align: center;
  border-radius: $border-radius $border-radius 0 0;
}

.course-provider-logo {
  width: auto;
  height: 6rem;
  padding: $spacer;
  background-color: $jg-white;
  border-radius: $border-radius;
}

.course-provider-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    flex-direction: row-reverse;
  }
}

.course-provider-image,
.course-provider-body {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.course-provider-image {
  padding: $spacer;
}

.course-provider-screenshot {
  width: 100%;
  height: auto;
  border: 1px solid $jg-gray-light;
  border-radius: $border-radius;
}

.course-provider-heading {
  @extend .small;
  @extend .font-monospace;
  @extend .text-uppercase;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  margin: $spacer 0 0 0;
  border-bottom: 1px solid $jg-white;
}

.highlighted .course-provider-heading {
  border-color: $jg-yellow;
}

.course-provider-items {
  @extend .list-group;
  @extend .list-group-flush;
}

.course-provider-items:first-child {
  margin-top: $list-group-item-padding-y;
}

.course-provider-item {
  @extend .list-group-item;
  background-color: transparent;
  border-color: transparent;
}
