html {
  font-family: $font-family;
  font-size: $font-size;
}

html, body {
  background: $white;
}


html {
  color: $black;
}

a {
  @include color-links($black, $blue);
}

h4, h3, h2, h1, html, body {
  margin: 0;
  padding: 0;
}

small {
  @include font-0;
}

body, h4 {
  @include font;
}

p {
  margin-top: $whitespace-0;
}

p, h4 {
  margin-bottom: $whitespace-0;
}

h3 {
  @include font-2;
  margin-bottom: $whitespace;
}

h2 {
  @include font-3;
  margin-bottom: $whitespace-2;
}

h1 {
  @include font-4;
  margin-bottom: $whitespace-3;
}

ul, ol {
  margin-bottom: $whitespace-3;

  ul, ol {
    margin-top: $whitespace-3;
  }
}

ul li {
  list-style-type: square;
}

nav ol, nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > * {
  padding-left: $whitespace;
  padding-right: $whitespace;
}

main {
  @include page-width;
}

main > header, .job > header {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: $whitespace-3 * 3;

  h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: $whitespace-3 * 2;
  }

  p {
    @include font-2;
    min-height: 16rem;

    img {
      float: right;
      margin: $whitespace;
      height: 4 * $whitespace-3;
    }
  }
}

.toc {
  margin-top: $whitespace-3 * 1.5;

  h2 {
    @include font;
    font-weight: normal;
    margin: 0;
    background: $black;
    color: $white;
    padding: 0 0.8rem;
    display: inline-block;
  }

  ul {
    margin: 0;
    background: $dots-black;
    text-align: center;
    padding: $whitespace;
    position: relative;
    box-sizing: border-box;

    &, li {
      list-style-type: none;
    }

    li {
      display: inline;
      background: $white;
      padding: 0.3rem 0.8rem;
      margin: 0 0.3rem;
      line-height: $line-height-0;
    }

    a {
      white-space: nowrap;
      text-decoration: none;
      @include color-links($black, $blue);
    }
  }
}

main > header, main > section {
  margin-bottom: $whitespace-3 * 2;
}

main > section {
  h2 {
    display: inline-block;
    background-color: $yellow;
    padding: 0.3rem 0.5rem;
  }

  h3 {
    margin-top: $whitespace-3;
  }
}

.button, a.button {
  display: inline-block;
  color: $white;
  text-decoration: none;
  @include font-2;
  font-weight: 300;
  background: $black;
  padding: $whitespace $whitespace-2;
  padding-top: $whitespace - 0.1rem;
  cursor: pointer;

  a, a:hover, a:focus, a:active {
    color: $white;
  }
}

a.button {
  &:hover, &:focus, &:active {
    color: $white;
    background: $blue;
  }
}

hr {
  border: none;
  height: 2px;
  background: $dots-black;
  margin: (2 * $whitespace-3) 0;
}

body > header + hr {
  display: none;
}

.cartoon {
  display: block;
  margin: $whitespace auto;
  width: 20rem;

  @media screen and (min-width: $grid-breakpoint) {
    & {
      float: right;
      margin: $whitespace;
      margin-left: $whitespace-2;
    }
  }
}

.cartoon[src*="pylady"] {
  width: 15rem;
}

.cartoon-center {
  float: none;
  margin: $whitespace auto;
  width: 10rem;
}

.note {
  @include font-0;
}

figure.quote {
  background: $dots-blue;
  color: $blue;
  margin: $whitespace-3 0;
  padding: $whitespace;
  position: relative;

  blockquote, figcaption {
    background: $white;
    padding: $whitespace-2;
  }

  blockquote {
    @include font-2;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  &::after {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
  }

  figcaption {
    padding-top: 0;
  }

  figcaption::before {
    content: "—";
  }
}

html[lang="cs"] figure::after {
  content: "“"; // https://www.zoul.cz/uvozovky/
}

html[lang="en"] figure::after {
  content: "”"; // https://www.zoul.cz/uvozovky/
}

ul.list {
  padding: 0;
  margin: $whitespace-3 0;

  @media screen and (min-width: $grid-breakpoint) {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: $whitespace;
        grid-row-gap: $whitespace-2;
        grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
      }
    }
  }

  & > li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: $whitespace-2;
    max-width: 65rem;

    @media screen and (min-width: $grid-breakpoint) {
      @supports (display: grid) {
        & {
          max-width: none;
          margin: 0;
        }
      }
    }

    h3, p {
      display: inline-block;
      background: $white;
      margin-left: $whitespace;
      margin-right: $whitespace;
      padding: 0.3rem 0.5rem;
    }

    h3 {
      margin-top: $whitespace;
    }

    p {
      margin-bottom: $whitespace;

      small {
        margin-top: 0.5rem;
        display: inline-block;
        font-size: 1.5rem;
      }
    }

    & > a {
      display: block;
      text-decoration: none;
      position: relative;
      background: $dots-black;
    }

    a {
      color: $black;
    }

    & > a:hover, & > a:focus, & > a:active,
    &:hover > a, &:focus > a, &:active > a {
      background: none;
      color: $blue;

      img {
        filter: grayscale(0%);
        opacity: 0.7;
      }

      ul li small {
        background: $blue;
      }
    }

    &:hover, &:focus, &:active {
      background: $dots-blue;
      color: $blue;

      a { color: $blue; }
    }
  }
}

.list-labels {
  position: absolute;
  top: 0;
  right: 0;

  &, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: block;
    text-align: right;
  }

  small {
    display: inline;
    background: $black;
    color: $white;
    padding: 0.4rem 1rem 0.5rem 1rem;
  }
}

.list-image {
  box-shadow: inset 0 0 $whitespace-2 rgba(190, 190, 190, 0.8);

  // https://www.codecaptain.io/blog/web-development/responsive-images-and-preventing-page-reflow/474
  height: 0;
  padding-top: 56.25%; // images are 640x360, which means 36/64 = 0.5625
  position: relative;

  img {
    display: block;
    opacity: 0.6;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-note {
  margin: $whitespace-2 0;
  text-align: left;
  color: $gray;

  a {
    @include color-links($gray, $blue);
  }
}

ul.items {
  box-sizing: border-box;
  list-style-type: none;
  margin: $whitespace-3 0;
  padding: 0;

  & > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid $gray-light;
  }

  & > li:first-child {
    border-top: none;
  }
}

.item-summary {
  a {
    display: inline-block;
    padding: $whitespace-3;
    padding-left: 0;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
  }

  a.active {
    color: $blue;
  }

  h3 {
    display: block;
    background: none;
    padding: 0;
    margin: 0;
    @include font-2;
    text-decoration: underline;
  }
}

.item-summary-wrapper {
  border-left: $whitespace solid $yellow;
  padding-left: $whitespace;

  a:hover &, a:focus &, a:active &, a.active & {
    border-color: $blue;
  }
}

.item-summary-details {
  padding: 0;
  margin: 0;
}

.job {
  header {
    text-align: center;
    margin-bottom: 2 * $whitespace-3;

    p {
      min-height: 0;
      height: auto;
    }
  }

  h2 {
    display: inline-block;
    background-color: $yellow;
    margin-top: $whitespace-3;
    padding: 0.3rem 0.5rem;
  }

  ul + h2, ol + h2 {
    margin-top: 0.8rem;
  }

  .call-to-action {
    margin-top: 3 * $whitespace-2;
    padding: 0;

    .button {
      padding-left: $whitespace-3;
      padding-right: $whitespace-3;
      @include font;

      small {
        @include font-0;
      }
    }

    @media screen and (min-width: 600px) {
      .button { @include font-2; }
      .button small { @include font; }
    }
  }
}

.teaser {
  padding: 0 $whitespace;

  h2 {
    background: none;
    @include font-4;
    line-height: 1.25;
  }

  h2 small {
    display: block;
    margin: 0 0 ($whitespace / 1.5) 0;
  }

  h2 strong {
    padding: ($whitespace-0 / 4) ($whitespace / 1.5);
    background: $yellow;
    color: $black;
  }

  h2 .no-wrap {
    white-space: nowrap;
  }

  .advice {
    margin-top: $whitespace-3;

    strong {
      padding: ($whitespace-0 / 4) ($whitespace / 1.5);
      background: $yellow;
    }
  }
}

.call-to-action {
  text-align: center;
  margin: $whitespace-2 0 $whitespace-3 0;

  .announcement {
    @include font-2;
    margin-bottom: $whitespace-2;
  }

  &.next {
    overflow: hidden;

    .button {
      display: inline-block;
      background: $black;
      padding-right: $whitespace-3;
      margin-top: $whitespace-3;
      @include arrow;
      overflow: hidden !important;

      &:hover, &:focus, &:active {
        background: $blue;
      }
    }
  }
}

body > header {
  padding: 0;
  margin-bottom: $whitespace-3;
  background: $yellow;

  nav {
    @include page-width;
    display: flex;
    justify-content: space-between;
    padding: 0 $whitespace;
  }

  .logo {
    display: block;
    align-self: center;

    img {
      display: block;
      height: 5.5rem;
    }
  }

  ol {
    align-self: flex-end;
    display: flex;
    @include font-2;
    overflow: hidden;

    li {
      margin-left: $whitespace-0;
      padding-top: $whitespace-0;
    }

    a {
      box-sizing: border-box;
      display: block;
      background: $black;
      color: $white;
      text-decoration: none;
      padding: $whitespace $whitespace-2;
    }

    a::before {
      box-sizing: border-box;
      display: block;
      float: left;
      text-align: center;
      margin-right: $whitespace;
      font-weight: bold;
    }

    li:nth-child(1) a::before { content: "1"; }
    li:nth-child(2) a::before { content: "2"; }
    li:nth-child(3) a::before { content: "3"; }
  }

  @media screen and (max-width: 810px) {
    .logo img {
      height: 4rem;
    }

    ol a {
      padding: $whitespace-0 ($whitespace + 0.3rem);
    }

    ol a::before {
      float: none;
      margin: 0 0.3rem;
    }

    ol a span {
      display: none;
    }
  }
}

body > header ol a:hover,
body > header ol a:focus,
body > header ol a:active {
  &, &::before {
    background: $blue;
    color: $white;
  }
}

body.page-learn > header li:nth-child(1) a,
body.page-practice > header li:nth-child(2) a,
body.page-candidate > header li:nth-child(3) a,
body.page-jobs > header li:nth-child(3) a,
body.page-job > header li:nth-child(3) a {
  &, &::before {
    background: $white;
    color: $blue;
  }
}

footer {
  padding: 0;

  a {
    @include color-links($black, $blue);
  }

  &, a {
    @include font-0;
  }

  address {
    display: flex;
    flex-wrap: wrap;
  }

  address, p {
    font-style: normal;
    @include page-width;
    margin-bottom: $whitespace;
  }

  @media screen and (min-width: 650px) {
    address {
      justify-content: center;
    }

    p {
      text-align: center;
    }
  }
}

.address-wrapper {
  padding: 0 $whitespace;
}

.author {
  background: $black;
  margin-top: 2 * $whitespace-3;
  text-align: left;
  color: $white;
  @include font-0;

  a {
    @include color-links($white, $white);
  }
}

.author-wrapper {
  @include page-width;
  padding: $whitespace-3 $whitespace;
}

.author img {
  display: block;
  margin-right: $whitespace;
  margin-top: $whitespace / 2;
  float: left;
  width: 3 * $whitespace-3;
  min-width: 3 * $whitespace-3;
}

.author p {
  margin: 0;
  min-width: 0;
  text-align: left;
}

.author-donate img {
  float: right;
  width: 4 * $whitespace-3;
  margin: 0 0 $whitespace $whitespace;
}

@media screen and (min-width: 650px) {
  .author-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .author img {
    float: none;
  }
}

.donate img {
  width: 3 * $whitespace-3;
  min-width: 3 * $whitespace-3;
}

ul.donate,
.donate li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.donate li {
  margin-top: $whitespace-3;
}

.donate-option {
  display: flex;
  align-items: flex-start; // safari bug https://stackoverflow.com/q/57516373/325365
  flex-wrap: wrap;
  justify-content: center;
}

a.donate-option {
  text-decoration: none;

  h3 {
    text-decoration: underline;
  }
}

@media screen and (min-width: 700px) {
  .donate li {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .donate-option {
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
  }

  .donate img {
    align-self: center;
  }

  .donate-description {
    box-sizing: border-box;
    min-width: 0;
    max-width: 20 * $whitespace-3;
    padding-left: $whitespace-2;
  }

  .donate-description h3 {
    margin-top: 0;
  }

  .donate-description p:last-child {
    margin-bottom: 0;
  }
}

body.page-jobs, body.page-job, body.page-donate {
  main {
    max-width: 100%;
    padding: 0;
  }

  main > header,
  main > article,
  main > section {
    padding-left: $whitespace;
    padding-right: $whitespace;
  }

  main > article,
  main > section {
    @include page-width;
  }
}
