// base
@use "spaghetti/variables"; // legacy spaghetti code
@use "base/body";
@use "spaghetti/common"; // legacy spaghetti code

// content (not exactly BEM)
@use "content/checklist";
@use "content/tooltips";
@use "content/quote";

// BEM components
@use "components/button-compartment";
@use "components/button";
@use "components/content";
@use "components/editorial";
@use "components/engage";
@use "components/features";
@use "components/filters";
@use "components/header";
@use "components/hero";
@use "components/intro";
@use "components/jobs";
@use "components/list";
@use "components/logos";
@use "components/members";
@use "components/mentions";
@use "components/more";
@use "components/plans";
@use "components/price";
@use "components/pricing";
@use "components/settings";
@use "components/stories";
@use "components/support";
@use "components/toc-button";
@use "components/toc-permalink";
@use "components/toc";
@use "components/value-explanation";

// page-specific legacy spaghetti code
@use "spaghetti/page-index";
@use "spaghetti/page-hire-juniors";
