// CSS custom props shared across the 'web' and 'sync' packages
@import '../../../../data/css/vars.css';

// base
@import 'spaghetti/variables'; // legacy spaghetti code ??
@import 'base/body';
@import 'spaghetti/common'; // legacy spaghetti code ??

// content (not exactly BEM)
@import 'content/checklist';
@import 'content/tooltips';
@import 'content/quote';

// BEM components
@import 'components/button-compartment';
@import 'components/button';
@import 'components/content';
@import 'components/editorial';
@import 'components/engage';
@import 'components/features';
@import 'components/filters';
@import 'components/header';
@import 'components/hero';
@import 'components/intro';
@import 'components/jobs';
@import 'components/list';
@import 'components/logos';
@import 'components/members';
@import 'components/mentions';
@import 'components/more';
@import 'components/plans';
@import 'components/price';
@import 'components/pricing';
@import 'components/settings';
@import 'components/stories';
@import 'components/support';
@import 'components/testimonials';
@import 'components/toc-button';
@import 'components/toc-permalink';
@import 'components/toc';
@import 'components/value-explanation';

// page-specific legacy spaghetti code ??
@import 'spaghetti/page-index';
@import 'spaghetti/page-hire-juniors';
