@import 'shared';

html {
  font-family: $font-family;
  font-size: $font-size;
}

html, body {
  background: $white;
}


html, a {
  color: $black;
}

h4, h3, h2, h1, html, body {
  margin: 0;
  padding: 0;
}

small {
  @include font-0;
}

body, h4 {
  @include font;
}

p {
  margin-top: $whitespace-0;
}

p, h4 {
  margin-bottom: $whitespace-0;
}

h3 {
  @include font-2;
  margin-bottom: $whitespace;
}

h2 {
  @include font-3;
  margin-bottom: $whitespace-2;
}

h1 {
  @include font-4;
  margin-bottom: $whitespace-3;
}

ul, ol {
  margin-bottom: $whitespace-3;

  ul, ol {
    margin-top: $whitespace-3;
  }
}

ul li {
  list-style-type: square;
}

nav ol, nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > * {
  padding-left: $whitespace;
  padding-right: $whitespace;
}

main {
  @include page-width;
}

main > header {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: $whitespace-3 * 3;

  h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: $whitespace-3 * 2;
  }

  p {
    @include font-2;
    min-height: 16rem;

    img {
      float: right;
      margin: $whitespace;
      height: 15rem;
    }
  }
}

.toc {
  margin-top: $whitespace-3 * 1.5;

  h2 {
    @include font;
    font-weight: normal;
    margin: 0;
    background: $black;
    color: $white;
    padding: 0 0.8rem;
    display: inline-block;
  }

  ul {
    margin: 0;
    background: $dots-black;
    text-align: center;
    padding: $whitespace;
    position: relative;
    box-sizing: border-box;

    &, li {
      list-style-type: none;
    }

    li {
      display: inline;
      background: $white;
      padding: 0.3rem 0.8rem;
      margin: 0 0.3rem;
      line-height: $line-height-0;
    }

    a {
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

main > header, main > section, main > details {
  margin-bottom: $whitespace-3 * 2;
}

main > section, main > details {
  h2 {
    display: inline-block;
    background-color: $yellow;
    padding: 0.3rem 0.5rem;
  }

  h3 {
    margin-top: $whitespace-3;
  }
}

main > details {
  & > summary {
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
    &::-webkit-details-marker, &::before { display: none; }

    h2::after, h3::after {
      display: inline;
      content: "▸";
      margin-left: $whitespace;
    }
  }

  & > summary:hover,
  & > summary:focus,
  & > summary:active,
  &[open] > summary {
    h2, h3 {
      background-color: $blue;
      color: $white;
    }

    h2::after, h3::after {
      content: "▾";
      background-color: $blue;
      color: $white;
    }
  }
}

a {
  &:hover, &:focus, &:active {
    color: $blue;
  }
}

.button, a.button {
  display: inline-block;
  color: $white;
  text-decoration: none;
  @include font-2;
  font-weight: 300;
  background: $black;
  padding: $whitespace $whitespace-2;
  padding-top: $whitespace - 0.1rem;

  &:hover, &:focus, &:active {
    color: $white;
    background: $blue;
  }
}

hr {
  border: none;
  height: 2px;
  background: $dots-black;
  margin: (2 * $whitespace-3) 0;
}

body > header + hr {
  display: none;
}

.cartoon {
  display: block;
  margin: $whitespace auto;
  width: 20rem;
}

.cartoon[src*="pylady"] {
  width: 15rem;
}

@media screen and (min-width: $grid-breakpoint) {
  .cartoon {
    float: right;
    margin: $whitespace;
    margin-left: $whitespace-2;
  }
}

.note {
  @include font-0;
}

div.side-note {
  background: $dots-black;
  padding: $whitespace;
  margin: $whitespace-3 0;

  p {
    padding: $whitespace ($whitespace + 0.3rem);
    margin: 0;
    background: $white;
  }
}

figure.quote {
  background: $dots-blue;
  color: $blue;
  margin: $whitespace-3 0;
  padding: $whitespace;
  position: relative;

  blockquote, figcaption {
    background: $white;
    padding: $whitespace-2;
  }

  blockquote {
    @include font-2;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  &::after {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
  }

  figcaption {
    padding-top: 0;
  }

  figcaption::before {
    content: "—";
  }
}

html[lang="cs"] figure::after {
  content: "“"; // https://www.zoul.cz/uvozovky/
}

html[lang="en"] figure::after {
  content: "”"; // https://www.zoul.cz/uvozovky/
}

ul.list {
  padding: 0;
  margin: $whitespace-3 0;

  @media screen and (min-width: $grid-breakpoint) {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: $whitespace;
        grid-row-gap: $whitespace-2;
        grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
      }
    }
  }

  & > li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: $whitespace-2;
    max-width: 65rem;

    @media screen and (min-width: $grid-breakpoint) {
      @supports (display: grid) {
        & {
          max-width: none;
          margin: 0;
        }
      }
    }

    h3, p {
      display: inline-block;
      background: $white;
      margin-left: $whitespace;
      margin-right: $whitespace;
      padding: 0.3rem 0.5rem;
    }

    h3 {
      margin-top: $whitespace;
    }

    p {
      margin-bottom: $whitespace;

      small {
        margin-top: 0.5rem;
        display: inline-block;
        font-size: 1.5rem;
      }
    }

    & > a {
      display: block;
      text-decoration: none;
      position: relative;
      background: $dots-black;
    }

    & > a:hover, & > a:focus, & > a:active,
    &:hover > a, &:focus > a, &:active > a {
      background: none;
      color: $blue;

      img {
        filter: grayscale(0%);
        opacity: 0.7;
      }

      ul li small {
        background: $blue;
      }
    }

    &:hover, &:focus, &:active {
      background: $dots-blue;
      color: $blue;

      a { color: $blue; }
    }
  }
}

.list-labels {
  position: absolute;
  top: 0;
  right: 0;

  &, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: block;
    text-align: right;
  }

  small {
    display: inline;
    background: $black;
    color: $white;
    padding: 0.4rem 1rem 0.5rem 1rem;
  }
}

.list-image {
  box-shadow: inset 0 0 $whitespace-2 rgba(190, 190, 190, 0.8);

  // https://www.codecaptain.io/blog/web-development/responsive-images-and-preventing-page-reflow/474
  height: 0;
  padding-top: 56.25%; // images are 640x360, which means 36/64 = 0.5625
  position: relative;

  img {
    display: block;
    opacity: 0.6;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-note {
  margin: $whitespace-2 0;
  text-align: left;
  color: $gray;

  a {
    color: $gray;
  }

  a:hover, a:focus, a:active {
    color: $blue;
  }
}

ul.jobs {
  list-style-type: none;
  margin: (2 * $whitespace-3) 0;
  padding: 0;

  & > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: $whitespace;
  }
}

ul.jobs li.job-add {
  padding: $whitespace;
  background: $yellow;

  .call-to-action {
    background: $white;
    margin: 0;
    padding: $whitespace;
  }

  .button {
    @include font-0;
    padding: $whitespace-0 $whitespace;
    padding-top: $whitespace-0 - 0.1rem;
  }
}

ul.jobs li.job {
  padding: $whitespace;
  background: $dots-black;
  position: relative;

  &:hover, &:focus, &:active, &.job-open {
    background: $dots-blue;

    .job-title, .job-company, .job-company a {
      color: $blue;
    }

    .button {
      background: $blue;
    }
  }

  .job-summary {
    background: $white;
    padding: $whitespace;
    padding-top: $whitespace + 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.job-title {
  margin: 0;
  padding: 0;
  padding-top: 1.7rem;
  padding-right: $whitespace;
}

.job-company {
  position: absolute;
  top: $whitespace * 2;
  left: $whitespace * 2;
  display: inline;
  margin: 0;
  @include font-0;

  a {
    font-weight: bold;
  }
}

.job-attributes {
  text-align: center;
  @include font-0;
}

/*
.job-requirements {
  padding: 0 $whitespace;
  margin: $whitespace 0;
  text-align: center;
  @include font-0;

  span {
    display: inline-block;
    border: 1px solid $black;
    margin: 0.3rem 0.3rem;
    padding: 0 1rem 0 1rem;
  }
}

.job-description {
  padding: $whitespace $whitespace-2;

  ul, ol {
    margin: $whitespace 0;
  }

  h4 {
    margin-top: $whitespace-2;
  }

  & > *:first-child {
    margin-top: 0;
  }
}

.job-apply.call-to-action {
  padding: 0 $whitespace $whitespace-3 $whitespace;
  margin: 0;
  margin-top: $whitespace;
  margin-left: auto;

  .button {
    margin: 0;
    padding: $whitespace-0 $whitespace-3;

    small {
      display: block;
      margin-bottom: -1rem;
      @include font-0;
    }
  }
}
*/

.job-summary .job-apply.call-to-action {
  padding: 0;

  .button {
    @include font-0;
    padding: $whitespace-0 $whitespace-2;
  }
}

.call-to-action {
  text-align: center;
  margin: $whitespace-2 0 $whitespace-3 0;

  .announcement {
    @include font-2;
    margin-bottom: $whitespace-2;
  }

  &.next {
    overflow: hidden;

    .button {
      display: inline-block;
      background: $black;
      padding-right: $whitespace-3;
      margin-top: $whitespace-3;
      @include arrow;
      overflow: hidden !important;

      &:hover, &:focus, &:active {
        background: $blue;
      }
    }
  }
}

body > header {
  padding: 0;
  margin-bottom: $whitespace-3;
  background: $yellow;

  nav {
    @include page-width;
    display: flex;
    justify-content: space-between;
    padding: 0 $whitespace;
  }

  .logo {
    display: block;
    align-self: center;

    img {
      display: block;
      height: 5.5rem;
    }
  }

  ol {
    align-self: flex-end;
    display: flex;
    @include font-2;
    overflow: hidden;

    li {
      margin-left: $whitespace-0;
      padding-top: $whitespace-0;
    }

    a {
      box-sizing: border-box;
      display: block;
      background: $black;
      color: $white;
      text-decoration: none;
      padding: $whitespace $whitespace-2;
    }

    a::before {
      box-sizing: border-box;
      display: block;
      float: left;
      text-align: center;
      margin-right: $whitespace;
      font-weight: bold;
    }

    li:nth-child(1) a::before { content: "1"; }
    li:nth-child(2) a::before { content: "2"; }
    li:nth-child(3) a::before { content: "3"; }
  }

  @media screen and (max-width: 810px) {
    .logo img {
      height: 4rem;
    }

    ol a {
      padding: $whitespace-0 ($whitespace + 0.3rem);
    }

    ol a::before {
      float: none;
      margin: 0 0.3rem;
    }

    ol a span {
      display: none;
    }
  }
}

body > header ol a:hover,
body > header ol a:focus,
body > header ol a:active {
  &, &::before {
    background: $blue;
    color: $white;
  }
}

body.page-learn > header li:nth-child(1) a,
body.page-practice > header li:nth-child(2) a,
body.page-jobs > header li:nth-child(3) a,
body.page-job > header li:nth-child(3) a {
  &, &::before {
    background: $white;
    color: $blue;
  }
}

footer {
  padding: 0 $whitespace;
  padding-bottom: $whitespace-3;

  &, a {
    @include font-0;
  }

  address {
    display: flex;
    flex-wrap: wrap;
  }

  address, p {
    font-style: normal;
    @include page-width;
    margin-bottom: $whitespace;
  }

  @media screen and (min-width: 650px) {
    address {
      justify-content: center;
    }

    p {
      text-align: center;
    }
  }
}

body.page-index {
  main {
    max-width: 100%;
    padding: 0;
  }

  nav, aside {
    @include page-width;
    padding-left: $whitespace;
    padding-right: $whitespace;
  }

  & > header {
    padding: 0;
    padding-top: $whitespace-2;
    margin-bottom: $whitespace-3;
    background: $yellow;

    .logo {
      display: block;
      margin: 0;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        height: 12rem;
      }
    }
  }

  .tagline {
    background: $black;
    color: $white;
    font-weight: 300;
    @include font-2;
    margin: 0;
    margin-top: $whitespace-2;

    @media screen and (min-width: 650px) {
      & {
        text-align: center;
      }
    }

    p {
      margin: 0;
      @include page-width;
      padding: $whitespace $whitespace-2;
    }
  }

  nav {
    .chicken, ol {
      margin: $whitespace-3 0;

      @media screen and (min-width: $grid-breakpoint) {
        @supports (display: grid) {
          & {
            display: grid;
            grid-gap: $whitespace;
            grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
          }
        }
      }
    }

    .chicken {
      display: none;
      margin: 0;

      @media screen and (min-width: $grid-breakpoint) {
        @supports (display: grid) {
          & {
            display: grid;
          }
        }
      }
    }

    .chick, li {
      margin: auto;
      margin-bottom: $whitespace;
      max-width: 65rem;

      @media screen and (min-width: $grid-breakpoint) {
        @supports (display: grid) {
          & {
            max-width: none;
            margin: 0;
          }
        }
      }
    }

    .chick img {
      display: block;
      height: 10rem;
      margin: 0 auto;
    }

    li {
      overflow: hidden;

      a {
        display: block;
        padding: $whitespace;
        padding-right: 5.5rem;
        background: $dots-black;
        height: 100%;
        text-decoration: none;
        @include arrow;
      }

      a:hover, a:focus, a:active {
        background: $dots-blue;

        * {
          color: $blue;
        }

        h2::before {
          color: $white;
          background: $blue;
        }
      }

      p {
        box-sizing: border-box;
        background: $white;
        padding: 0.3rem 0.5rem;
        @include font-0;
        line-height: $line-height;
        @include hyphens;
      }
    }

    h2 {
      display: inline-block;
      background: $white;
      padding: 0.3rem 0.5rem;
      @include font-2;
      margin-bottom: $whitespace;
    }

    h2::before {
      display: block;
      padding: 0.3rem 1.5rem;
      background: $yellow;
      position: absolute;
      top: 0;
      right: 0;
    }

    li:nth-child(1) h2::before { content: "1"; }
    li:nth-child(2) h2::before { content: "2"; }
    li:nth-child(3) h2::before { content: "3"; }
  }

  .jobs {
    padding: 0 $whitespace;

    h2 {
      background: none;
      @include font-4;
      line-height: 1.25;
    }

    h2 small {
      display: block;
      margin: 0 0 ($whitespace / 1.5) 0;
    }

    h2 strong {
      padding: ($whitespace-0 / 4) ($whitespace / 1.5);
      background: $yellow;
      color: $black;
    }

    h2 .no-wrap {
      white-space: nowrap;
    }
  }

  aside {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: $whitespace-3 $whitespace-2;
        grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
      }
    }

    section {
      margin-bottom: $whitespace;

      @supports (display: grid) {
        & {
          margin: 0;
        }
      }
    }

    h2 {
      display: inline-block;
      background-color: $yellow;
      padding: 0.3rem 0.5rem;
    }

    .call-to-action, .note {
      text-align: left;
    }

    .companies .call-to-action, .note {
      margin-bottom: 0;
    }

    .cartoon {
      display: none;
    }

    @media screen and (min-width: $grid-breakpoint) {
      .cartoon {
        display: block;
        width: 10rem;
        margin-top: 0;
      }
    }
  }
}
