body.page-index-beta {
  main {
    max-width: 100%;
    padding: 0;
  }

  .divider {
    display: block;
    margin: 0;
    background-color: $yellow;
  }

  .hidden {
    display: none;
  }

  .body-container > header .logo img {
    height: 10rem;
    margin: ($whitespace / 2) 0 ($whitespace / 2) 0;
  }

  .body-container > header > nav {
    justify-content: center;
  }

  .body-container > header ol {
    display: none;
  }
}

body.page-index-beta { // TODO remove later

.stories {
  @include page-width;
  padding-left: $whitespace;
  padding-right: $whitespace;
}

.billboard {
  margin: 0;

  h2 {
    margin: 0;
    padding: 0;
    background: 0;
    @include font-4;
  }

  .billboard-wrapper {
    @include page-width;
    padding: (2 * $whitespace-3) $whitespace;
  }

  h2, p, .button, .button-secondary {
    margin-bottom: $whitespace;
  }

  .button {
    margin-top: $whitespace-3;
  }

  .button, .button-secondary {
    display: block;

    @media screen and (min-width: 650px) {
      display: inline-block;
      margin: 0;
      margin-right: $whitespace;
    }
  }
}

.billboard-learn {
  background: $yellow;
  color: $black;
}

.billboard-jobs {
  background: $black;
  color: $white;
  text-align: right;

  p a {
    color: $yellow;
    @include color-links($white, $white);
  }
}

.stories {
  &, .items {
    margin-bottom: 0;
  }

  @media screen and (min-width: 700px) {
    .items {
      column-count: 2;
      column-gap: 2.1rem;
    }

    .items li {
      border: none;
    }
  }

  .item-summary a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .item-summary img {
    display: block;
    width: 9rem;
    min-width: 9rem;
    margin-left: 1rem;
  }
}

} // TODO remove later
