body.page-index {
  main {
    max-width: 100%;
    padding: 0;
  }

  main > section > h2 {
    background: none;
    padding: 0;
    display: block;
    margin-bottom: $whitespace-3;
    text-align: center;
  }

  .divider {
    display: block;
    margin: 0;
    background-color: $yellow;
  }

  .hidden {
    display: none;
  }

  .body-container > header {
    nav {
      align-items: center;
      flex-direction: column;
      padding-bottom: ($whitespace / 4);

      @media screen and (min-width: 550px) {
        & {
          flex-direction: row;
        }
      }
    }

    .logo img {
      $logo-height: 10rem;
      height: $logo-height;
      line-height: $logo-height - 1rem;
      vertical-align: center;
    }

    ol {
      display: none;
    }
  }

  .logo-heading {
    padding: 0;
    margin: 0;
  }

  .claim {
    text-align: center;
    padding: 0;
    margin: 0;
    @include font-0;

    @media screen and (min-width: 550px) {
      & {
        text-align: right;
        font-weight: normal;
        padding-left: 2 * $whitespace;
        @include font;
      }
    }

    @media screen and (min-width: 650px) {
      & {
        @include font-2;
      }
    }
  }
}

.billboard {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    margin: 0;
    margin-bottom: $whitespace / 2;
    padding: 0;
    background: 0;
    @include font-4;
    line-height: 1.2;
  }

  .billboard-content {
    @include page-width;
    padding: (2 * $whitespace-3) $whitespace;
  }

  @media screen and (min-width: 650px) {
    .billboard-content-limiter {
      width: 60rem;
    }

    .billboard-buttons {
      white-space: nowrap;
    }
  }

  p, .button, .button-secondary {
    margin-bottom: $whitespace-2;
  }

  .button {
    margin-top: $whitespace-3;

    @media screen and (min-width: 650px) {
      & {
        margin-right: $whitespace;
      }
    }
  }

  .button, .button-secondary {
    display: block;

    @media screen and (min-width: 650px) {
      & {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.billboard-learn {
  background-color: $yellow;
  background-image: url('./images/billboard-learn.jpg');
  background-position: right 35% center;
  color: $black;

  @media screen and (min-width: 650px) {
    & {
      background-position: center;
    }

    .billboard-content-limiter {
      margin-right: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to left,
      rgba($yellow, 0.5) 30%,
      rgba($yellow, 0.9) 60%
    );
  }
}

.billboard-jobs {
  background-color: $black;
  background-image: url('./images/billboard-jobs.jpg');
  color: $white;

  @media screen and (min-width: 650px) {
    & {
      text-align: right;
    }

    .billboard-content-limiter {
      margin-left: auto;
    }
  }

  .billboard-wrapper {
    background-image: linear-gradient(
      to right,
      rgba($black, 0.5) 30%,
      rgba($black, 0.9) 60%
    );
  }

  p a {
    color: $yellow;
    @include color-links($white, $white);
  }
}

.billboard-note {
  &::before {
    content: "";
    display: block;
    height: $whitespace / 2;
    background: repeating-linear-gradient(
      -45deg,
      $black,
      $black ($whitespace * 2),
      $yellow ($whitespace * 2),
      $yellow ($whitespace * 4)
    );
  }

  p {
    margin: 0;
    @include page-width;
    padding: $whitespace;
    text-align: center;
  }

  .billboard-learn & {
    p { color: $black; }
    a { @include color-links($black, $black); }
  }

  .billboard-jobs & {
    p { color: $white; }
    a { @include color-links($white, $white); }
  }
}

.how-it-works {
  @include page-width($padding: $whitespace);
  margin-top: 2 * $whitespace-3;

  h2 {
    text-align: center;
  }

  ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ol {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 850px) {
      flex-wrap: nowrap;
    }
  }

  li::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto (4 * $whitespace-3);
    padding-top: 4 * $whitespace-3;
    margin-bottom: 2 * $whitespace;
  }

  li {
    margin-top: $whitespace-3;
    margin-bottom: $whitespace;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li:nth-child(1)::before { background-image: url('./images/chick1.svg'); }
  li:nth-child(2)::before { background-image: url('./images/chick2.svg'); }
  li:nth-child(3)::before { background-image: url('./images/chick3.svg'); }

  a {
    display: block;
    position: relative;
    padding-left: $whitespace-3 + $whitespace;
    padding-right: $whitespace;
    text-decoration: none;
  }

  a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $whitespace-3;
    background: $black;
    color: $white;
    text-align: center;
    font-weight: bold;
  }

  a:hover, a:focus, a:active, a.active {
    &::before {
      background-color: $blue;
    }
  }

  li:nth-child(1) a::before { content: "1"; }
  li:nth-child(2) a::before { content: "2"; }
  li:nth-child(3) a::before { content: "3"; }

  h3 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
}

.join {
  background: $black;
  color: $white;
  text-align: center;
  padding: ($whitespace-3 * 2);

  h2 {
    margin: 0 !important;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    @include page-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    display: block;
    margin-top: $whitespace-3;
  }

  li a::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2 * $whitespace-3;
    padding-top: 2 * $whitespace-3;
  }

  .join-f a::before { background-image: url('./images/f-logo-i.svg'); }
  .join-newsletter a::before { background-image: url('./images/mail-i.svg'); }

  a {
    display: block;
    @include color-links($white, $white);
  }
}

.stories {
  @include page-width($padding: $whitespace);

  &, .items {
    margin-bottom: 0;
  }

  @media screen and (min-width: 700px) {
    .items {
      column-count: 2;
      column-gap: 2.1rem;
    }

    .items li {
      border: none;
    }
  }

  .item-summary a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: 700px) {
      flex-wrap: nowrap;
    }
  }

  .item-summary img {
    display: block;
    width: 9rem;
    min-width: 9rem;
    margin: $whitespace 0 0 auto;

    @media screen and (min-width: 700px) {
      margin: 0 0 0 $whitespace;
    }
  }
}
