/*
  JUNIOR.GURU BRAND

  If changing, see tests/test_css_py
  and https://logo.junior.guru/
*/

$jg-white: #fff;
$jg-yellow: #fffa72;
$jg-yellow-dark: #e5df67;
$jg-yellow-light: lighten($jg-yellow, 22.2%);
$jg-blue: #1755d1;
$jg-blue-light: lighten($jg-blue, 52.2%);
$jg-gray: #6c757d;  // equals to $gray-600, the most used gray in Bootstrap
$jg-gray-light: lighten($jg-gray, 45%);
$jg-gray-white: lighten($jg-gray, 50%);
$jg-dark: #343434;
$jg-black: #000;

$jg-yellow-light-legacy: #fffee3;  // equals to lighten($jg-yellow, 22.2%)
$jg-gray-light-legacy: darken($jg-white, 20%);


/*
  CHANGING BOOTSTRAP DEFAULTS
*/

$font-family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$white: $jg-white;
$blue: $jg-blue;
$dark: $jg-dark;
$light: $jg-gray-light;
$secondary: $jg-gray;
$text-muted: $jg-gray;
$body-color: $jg-dark;

$display-font-weight: 400;
$lead-font-weight: 400;

$nav-link-color: $jg-dark;
$nav-link-hover-color: $jg-dark;
$nav-pills-link-active-bg: $jg-dark;
