/*
  CUSTOM STYLING FOR MAGIC SNOWFLAKES

  See:
  https://www.npmjs.com/package/magic-snowflakes
  https://github.com/hcodes/snowflakes/blob/master/CHANGELOG.md#v400
  https://hcodes.github.io/snowflakes/examples/balls.html

  See also: snow.js in JavaScript files of this project
*/

.snowflake__inner:before {
  background-color: white;
  border-radius: 100%;
}
