html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  display: none
};

header.lead {
  text-align: center;

  h1 {
    display: block;
    height: 5rem;
    background: rgb(255, 250, 114);
    background-image: url('/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
