// See:
// * https://gregrickaby.com/2013/05/using-the-golden-ratio-and-rems/
// * https://grtcalculator.com/
$font-base: 20;
$line-height-base: 34;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%; // = 10px, rem base
}

html, body {
  background: #fff;
}

html, a {
  color: #222;
}

h4, h3, h2, h1, html, body {
  margin: 0;
  padding: 0;
}

small {
  font-size: 1.6rem;
	// line-height: ($line-height-base / 28);
}

body, h4 {
  font-size: 2rem;
  line-height: ($line-height-base / 10) * 1rem;
}

p {
  margin-top: 0.8rem;
}

p, h4 {
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 2.5rem;
  line-height: ($line-height-base / 25);
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 3.2rem;
  line-height: ($line-height-base / 32);
  margin-bottom: 2.1rem;
}

h1 {
  font-size: 4.1rem;
  line-height: ($line-height-base / 41);
  margin-bottom: 3.4rem;
}

section, ul, ol {
  margin-bottom: 3.4rem;
}

nav ol, nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1.3rem;
}

body > * {
  padding: 1.3rem;
}

main {
  max-width: 73rem;
  margin: auto;
}

body.page-index {
  @supports (display: grid) {
    main {
      max-width: 103rem;
    }
  }

  header {
    text-align: center;
    padding: 0.5rem 0;
    background: #fffa72;

    h1 {
      display: block;
      box-sizing: border-box;
      margin: 0;
      height: 8rem;
      background-image: url('/images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tagline {
    padding: 1.3rem;
    margin: 0;
    text-transform: uppercase;
  }

  nav {
    ol {
      @media screen and (min-width: 900px) {
        @supports (display: grid) {
          & {
            display: grid;
            grid-gap: 1.3rem;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
          }
        }
      }
    }

    li {
      overflow: hidden;
      margin-bottom: 1.3rem;

      @media screen and (min-width: 900px) {
        @supports (display: grid) {
          & {
            margin: 0;
          }
        }
      }

      a {
        display: block;
        box-sizing: border-box;
        padding: 1.3rem;
        padding-right: 2.6rem;
        height: 100%;
        background: #eee;
        // border: 1px dashed #222;
        border-right: none;
        position: relative;
        overflow: visible;
        text-decoration: none;
      }

      a:before, a:after {
        content: "";
        display: block;
        box-sizing: border-box;
        background: #fff;
        // border-left: dashed 1px #222;
        width: 50%;
        height: 100%;
        position: absolute;
        right: -50%;
      }

      a:before {
        // border-top: solid 1px #fff;
        top: -1.5px;
        transform: skew(15deg);
        -o-transform: skew(15deg);
        -moz-transform: skew(15deg);
        -webkit-transform: skew(15deg);
      }

      a:after {
        // border-bottom: solid 1px #fff;
        bottom: -1.5px;
        transform: skew(-15deg);
        -o-transform: skew(-15deg);
        -moz-transform: skew(-15deg);
        -webkit-transform: skew(-15deg);
      }
    }

    h2 {
      padding-right: 5.3rem;
    }

    h2::before {
      display: block;
      font-size: 4.1rem;
      padding: 0.3rem 1.5rem;
      background: #fffa72;
      position: absolute;
      top: 0;
      right: 0;
    }

    li:nth-child(1) h2::before { content: "1"; }
    li:nth-child(2) h2::before { content: "2"; }
    li:nth-child(3) h2::before { content: "3"; }
  }

  aside {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: 1.3rem;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
      }
    }

    section {
      margin-bottom: 1.3rem;
      background: #eee;

      @supports (display: grid) {
        & {
          margin: 0;
        }
      }
    }
  }
}

.note {
  color: #555;
}
