// See:
// * https://gregrickaby.com/2013/05/using-the-golden-ratio-and-rems/
// * https://grtcalculator.com/
$font-base: 20;
$line-height-base: 34;

$line-height-0: ($line-height-base / 28);
$line-height: ($line-height-base / 10) * 1rem;
$line-height-2: ($line-height-base / 25);
$line-height-3: ($line-height-base / 32);
$line-height-4: ($line-height-base / 41);

@mixin font-0 { font-size: 1.6rem; line-height: $line-height-0 }
@mixin font { font-size: 2rem; line-height: $line-height; }
@mixin font-2 { font-size: 2.5rem; line-height: $line-height-2; }
@mixin font-3 { font-size: 3.2rem; line-height: $line-height-3; }
@mixin font-4 { font-size: 4.1rem; line-height: $line-height-4; }

$black-number: "222222";
$blue-number: "1755d1";

$white: #ffffff;
$black: unquote("##{$black-number}");
$yellow: #fffa72;
$blue: unquote("##{$blue-number}");

$grid-breakpoint: 900px;
$grid-block-size: 28rem;

$main-width: 73rem;
$main-wide-width: 103rem;;

$dots-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{$black-number}' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
$dots-blue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{$blue-number}' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

$whitespace-0: 0.8rem;
$whitespace: 1.3rem;
$whitespace-2: 2.1rem;
$whitespace-3: 3.4rem;

@mixin hyphens { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
@mixin skew($n) { transform: skew($n); -o-transform: skew($n); -moz-transform: skew($n); -webkit-transform: skew($n); }


html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%; // = 10px, rem base
}

html, body {
  background: $white;
}

html, a {
  color: $black;
}

h4, h3, h2, h1, html, body {
  margin: 0;
  padding: 0;
}

small {
  @include font-0;
}

body, h4 {
  @include font;
}

p {
  margin-top: $whitespace-0;
}

p, h4 {
  margin-bottom: $whitespace-0;
}

h3 {
  @include font-2;
  margin-bottom: $whitespace;
}

h2 {
  @include font-3;
  margin-bottom: $whitespace-2;
}

h1 {
  @include font-4;
  margin-bottom: $whitespace-3;
}

section, ul, ol {
  margin-bottom: $whitespace-3;
}

nav ol, nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > * {
  padding-left: $whitespace;
  padding-right: $whitespace;
}

main {
  max-width: $main-width;
  margin: auto;
}

body.page-index {
  @supports (display: grid) {
    main {
      max-width: $main-wide-width;
    }
  }

  header {
    padding: 0;
    padding-top: $whitespace-2;
    margin-bottom: $whitespace-2;
    background: $yellow;

    h1 {
      text-align: center;
      display: block;
      box-sizing: border-box;
      margin: 0;
      height: 12rem;
      background-image: url('/images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tagline {
    background: $black;
    color: $white;
    font-weight: 300;
    @include font-2;
    padding: $whitespace $whitespace-2 $whitespace-2 $whitespace-2;
    margin: 0;
    margin-top: $whitespace-2;
  }

  nav {
    ol {
      @media screen and (min-width: $grid-breakpoint) {
        @supports (display: grid) {
          & {
            display: grid;
            grid-gap: $whitespace;
            grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
          }
        }
      }
    }

    li {
      overflow: hidden;
      margin: auto;
      margin-bottom: $whitespace;
      max-width: 65rem;

      @media screen and (min-width: $grid-breakpoint) {
        @supports (display: grid) {
          & {
            max-width: auto;
            margin: 0;
          }
        }
      }

      a {
        display: block;
        box-sizing: border-box;
        padding: $whitespace;
        padding-right: 5.5rem;
        height: 100%;
        background: $dots-black;
        border-right: none;
        position: relative;
        overflow: visible;
        text-decoration: none;
      }

      a:before, a:after {
        content: "";
        display: block;
        box-sizing: border-box;
        background: $white;
        width: 50%;
        height: 100%;
        position: absolute;
        right: -50%;
      }

      a:before {
        top: -1.5px;
        @include skew(15deg);
      }

      a:after {
        bottom: -1.5px;
        @include skew(-15deg);
      }

      a:hover, a:focus, a:active {
        background: $dots-blue;

        * {
          color: $blue;
        }

        h2::before {
          color: $white;
          background: $blue;
        }
      }

      p {
        box-sizing: border-box;
        background: $white;
        padding: 0.3rem 0.5rem;
        @include font-0;
        line-height: $line-height;
        @include hyphens;
      }
    }

    h2 {
      display: inline-block;
      background: $white;
      padding: 0.3rem 0.5rem;
      @include font-2;
      margin-bottom: $whitespace;
    }

    h2::before {
      display: block;
      padding: 0.3rem 1.5rem;
      background: $yellow;
      position: absolute;
      top: 0;
      right: 0;
    }

    li:nth-child(1) h2::before { content: "1"; }
    li:nth-child(2) h2::before { content: "2"; }
    li:nth-child(3) h2::before { content: "3"; }
  }

  aside {
    @supports (display: grid) {
      & {
        display: grid;
        grid-gap: $whitespace;
        grid-template-columns: repeat(auto-fit, minmax($grid-block-size, 1fr));
      }
    }

    section {
      margin-bottom: $whitespace;

      @supports (display: grid) {
        & {
          margin: 0;
        }
      }
    }
  }
}

section {
  h2 {
    display: inline-block;
    background-color: $yellow;
    padding: 0.3rem 0.5rem;
  }
}

a {
  &.button {
    display: inline-block;
    color: $white;
    text-decoration: none;
    @include font-2;
    font-weight: 300;
    background: $black;
    padding: $whitespace $whitespace-2;
    padding-top: $whitespace - 0.1rem;

    &:hover, &:focus, &:active {
      background: $blue;
    }
  }
}

.call-to-action {
  text-align: center;
  margin: $whitespace-2 0;
}

footer {
  background: $black;
  color: $white;

  a {
    color: $white;
  }

  address {
    font-style: normal;
  }
}
