<script type="application/ld+json">{{ job.to_json_ld() }}</script>

<h1>{{ job.title }}</h1>

<p class="job-subtitle">
  <a href="{{ job.company_url }}">{{ job.company_name }}</a>
  {% if job.locations %}
    – {{ job.location_text|default("?", true) }}
  {% endif %}
</p>

{{ job.submitted_job.description_html|safe }}
