{% from 'macros.html' import img, lead, podcast_player with context %}

<h1>{{ podcast_episode.format_title(affiliation=false) }}</h1>

{#
{% call lead() %}
  ...
{% endcall %}
#}

{{ img('static/' + podcast_episode.image_path, podcast_episode.format_title(), 100, 100, class='news-page-image') }}
<p>
  <strong>{{ '{:%-d.%-m.%Y}'.format(podcast_episode.publish_on) }}</strong> — {{ podcast_episode.description|md }}
</p>
{{ podcast_player(podcast_episode, class='news-page-player') }}

<div class="pagination">
  <div class="pagination-control">
    <a href="{{ (page|parent_page).url|url }}" class="pagination-button">
      {{ 'arrow-left'|icon }}
      Všechny epizody
    </a>
  </div>
</div>
