{% from 'macros.html' import img, lead, podcast_player with context %}

<h1>{{ podcast_episode.format_title(affiliation=false) }}</h1>

<ul class="article-details">
  <li class="article-details-item">
    <a class="article-details-author" href="https://www.linkedin.com/in/pavlinafronkova/" target="_blank" rel="noopener">
      {{ img('static/avatars-participants/pavlina-fronkova.jpg', 'Pavlína Froňková, profilovka', 50, 50, lazy=False, class='article-details-avatar') }}
      <strong>Pavlína Froňková</strong>
    </a>
  </li>
  <li class="article-details-item">{{ '{:%-d.%-m.%Y}'.format(podcast_episode.publish_on) }}</li>
</ul>

<div class="article-lead">
{{ img('static/' + podcast_episode.image_path, podcast_episode.format_title() + ', foto', 100, 100, lazy=False, class='article-image') }}
{% call lead() %}
{{ podcast_episode.description }}
{% endcall %}
</div>

{{ podcast_player(podcast_episode, class='news-page-player') }}
