@use "../spaghetti/variables";

html {
  font-family: var(--font-family);
  font-size: variables.$font-size;
}

html, body {
  background: var(--color-black);
  scroll-behavior: smooth;
}

html {
  color: var(--color-black);
}

.body__container {
  background: var(--color-white);
}
