ul.checklist {
  margin: $whitespace-2 0;

  &, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 2.5rem;
    background: url('./images/check.svg') no-repeat;
    background-position: 0 1rem;
    background-size: 1.5rem auto;
  }
}

ul.checklist--unchecked li {
  background-image: url('./images/bullet.svg');
}
