@use "sass:math";

@use "../spaghetti/variables";

.quote {
  background: variables.$dots-blue;
  color: var(--color-blue);
  margin: variables.$whitespace-3 0;
  padding-left: variables.$whitespace;
  position: relative;

  a {
    @include variables.color-links(var(--color-blue), var(--color-blue));
  }

  blockquote, figcaption {
    background: var(--color-white);
  }

  blockquote {
    @include variables.font-2;
    font-weight: bold;
    margin: 0;
    padding: math.div(variables.$whitespace-2, 2) variables.$whitespace-3 0 variables.$whitespace-2;
    text-transform: uppercase;
  }

  &::after {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
  }

  figcaption {
    padding: 0 variables.$whitespace-2 math.div(variables.$whitespace-2, 2) variables.$whitespace-2;
  }

  figcaption::before {
    content: "— ";
  }
}
