@mixin tooltip($text) {
  position: relative;
  z-index: 10;
  overflow: visible;

  &::before,
  &::after {
    z-index: 20;
    visibility: hidden;
  }

  &::before {
    position: absolute;
    top: 110%;
    left: 5%;
    margin-top: 5px;
    padding: 0 $whitespace-0;
    background-color: $blue;
    color: $white;
    content: $text;
    font-size: 1.3rem;
    line-height: ($line-height-base / 15);
    font-weight: 300;
    white-space: nowrap;
  }

  &::after {
    position: absolute;
    top: 110%;
    left: 5%;
    margin-left: 5px;
    width: 0;
    border-bottom: 5px solid $blue;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  &:hover, &:focus, &:active {
    z-index: 15;

    &::before, &::after {
      visibility: visible;
    }
  }
}

.text {
  h3 {
    margin-top: $whitespace-3;
  }

  a[href^="#"] {
    @include tooltip("skok na jinou část této stránky");
    text-decoration-style: dashed;
  }

  a[href^="/"] {
    @include tooltip("odkaz jinam na junior.guru");
    text-decoration-style: dashed;
  }
}

.text--tooltips-disabled {
  a[href^="#"],
  a[href^="/"] {
    &:hover,
    &:focus,
    &:active {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
