{% extends 'admin_base.html' %}
{% block body %}
<h1>Newsletter ({{ jobs|length }})</h1>
{% for job in jobs %}
  <hr>
  <h2>
    {% if job.source == 'juniorguru' %}
      <a href="{{ url_for('job', job_id=job.id, _external=True) }}">
        <strong>{{ job.title }}</strong>
      </a>
    {% else %}
      <a href="{{ job.link }}">
        <strong>{{ job.title }}</strong>
      </a>
    {% endif %}
  </h2>
  {{ job.company_name }}
  &mdash;
  {{ job.location }}
  {% set tags = job.tags()|reject('eq', 'NEW')|list %}
  {% if tags %}
    &mdash;
    {% for tag in tags %}
      {{ tag|tag_label }}{% if not loop.last %},{% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% endblock %}
