{% extends 'admin_base.html' %}
{% block body %}
<h1>Nabídky ({{ jobs|length }})</h1>
{% if not jobs %}
    <p>Do databáze nebylo nic staženo.</p>
{% else %}
  {% for job in jobs %}
    <hr>
    <h2 id="{{ job.id }}">
      <a href="{{ job.link }}" target="_blank">
        <strong>{{ job.title }}</strong>
      </a>
    </h2>
    <p>
      {% if job.company_link %}
        <a href="{{ job.company_link }}" target="_blank">{{ job.company_name }}</a>
      {% else %}
        {{ job.company_name }}
      {% endif %}
      &mdash;
      {{ job.location }}
      &mdash;
      {{ job.posted_at|ago }}
    </p>
    <p>
      <small>
        <a href="#{{ job.id }}">#id</a>
        &mdash;
        <code>{{ job.id }}</code>
        &mdash;
        <code>{{ job.source }}</code>
        &mdash;
        <a href="{{ job.response_url }}" target="_blank">Zdrojové URL</a>
        {% if job.response_backup_path %}
          &mdash;
          <a href="{{ url_for('admin_responses_backup', path=job.response_backup_path) }}" target="_blank">HTTP odpověď</a>
        {% endif %}
      </small>
    </p>
    <details>
      <summary>Metrics</summary>
      <pre>{{ job.metrics|pprint }}</pre>
    </details>
    <details>
      <summary>Features ({{ job.item.features|length }}) &mdash; JUNIOR RANK: {{ job.item.junior_rank }}</summary>
      <table>
      {% for feature in job.item.features|sort(attribute='name') %}
        <tr>
          <th>{{ feature.name }}</th>
          <td>
            {{ feature.sentence }}<br>
            {% for pattern in feature.patterns|default([]) %}
              <small><code>⇢ {{ pattern }}</code></small><br>
            {% endfor %}
          </td>
          <td><small>{{ feature.origin }}</small></td>
        </tr>
      {% endfor %}
      </table>
    </details>
    <details>
      <summary>Sections ({{ job.item.sections|length }})</summary>
      <pre>{{ job.item.sections|sections }}</pre>
    </details>
    <details>
      <summary>Description</summary>
      <textarea rows="20" cols="100">{{ job.item.description_html }}</textarea>
    </details>
    <details>
      <summary>Data</summary>
      <pre>{{ job|pprint }}</pre>
    </details>
    <div>Is Junior by Magical Leviathan:<strong>{{ job.magic_is_junior }}<span>Report wrong classification</span></strong></div>
  {% endfor %}
{% endif %}
{% endblock %}
