{% extends 'admin_base.html' %}
{% block body %}
<h1>Čísla</h1>
<table>
    {% for name, value in metrics.items()|sort(0) %}
        <tr><th>{{ name }}</th><td>{{ value }}</td><td><small>displayed as {{ value|metric }}</small></td></tr>
    {% endfor %}
</table>

<h1>Záložky</h1>
<ul>
    <li>
        <a href="https://trello.com/b/DblUSa65/juniorguru">Trello Board</a>
    </li>
    <li>
        <a href="https://github.com/honzajavorek/junior.guru">GitHub Repo</a>
    </li>
    <li>
        <a href="https://vercel.com/honzajavorek/juniorguru">Vercel Project</a>
    </li>
    <li>
        <a href="https://circleci.com/gh/honzajavorek/junior.guru/tree/master">CircleCI Master Build</a>
    </li>
    <li>
        <a href="https://docs.google.com/spreadsheets/d/1TO5Yzk0-4V_RzRK5Jr9I_pF5knZsEZrNn2HKTXrHgls/edit#gid=0">Google Spreadsheet</a>
    </li>
    <li>
        <a href="https://forms.gle/Nr2xhH2p2Cqj21Rq9">Google Form</a>
    </li>
    <li>
        <a href="https://publish.buffer.com/">Buffer Publish Queue</a>
    </li>
    <li>
        <a href="https://app.sendgrid.com/email_activity">SendGrid Activity Feed</a>
    </li>
    <li>
        <a href="https://us3.admin.mailchimp.com/lists/members?id=642073">MailChimp Audience</a>
    </li>
    <li>
        <a href="https://analytics.google.com/analytics/web/#/report-home/a1316071w205174520p198392474">Google Analytics</a>
    </li>
    <li>
        <a href="https://search.google.com/search-console?resource_id=sc-domain:junior.guru">Google Search Console</a>
    </li>
</ul>
{% endblock %}
