<!DOCTYPE html>
<html lang="cs" data-updated-at="{{ updated_at.to('Europe/Prague') }}">
  <head prefix="og: https://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="utf-8">
    <link rel="canonical" href="{{ request.url }}">
    <title>
      {% block title %}Jak se naučit programovat a získat první práci v IT{% endblock %} | junior.guru
    </title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1316071-22"></script>
    <script>
      if (window.location.hostname === 'junior.guru') {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-1316071-22');
      }
    </script>

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">

    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:image" content="{{ url_for('static', filename=thumbnail, _external=True) }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="photo">
    <meta name="twitter:image" content="{{ url_for('static', filename=thumbnail, _external=True) }}">
    <meta name="twitter:creator" content="@honzajavorek">
  </head>
  <body{% block body_attrs %} class="page"{% endblock %}>
    <div class="body-container">
    {% block body %}
      {% block header %}
      <header>
        <nav>
          {% block logo %}
          <a class="logo" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="junior.guru">
          </a>
          {% endblock %}
          {% block nav %}
          <ol class="navigation">
            <li>
              <a href="{{ url_for('learn') }}">
                <span>Nauč se základy</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('practice') }}">
                <span>Získej praxi</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('jobs') }}">
                <span>Najdi práci</span>
              </a>
            </li>
          </ol>
          {% endblock %}
        </nav>
      </header>
      {% endblock %}
      {% block divider %}<hr>{% endblock %}
      <main>
        {% block main %}{% endblock %}
      </main>
      <hr>
      <footer>
        <div class="footer">
          <div class="address-wrapper">
            <address>
              <span>Pište na {{ 'ahoj@junior.guru'|email_link }},&nbsp;</span>
              <span>tweetujte na <a href="https://twitter.com/honzajavorek/">@honzajavorek</a>,&nbsp;</span>
              <span>zdrojáky jsou na <a href="https://github.com/honzajavorek/junior.guru">honzajavorek/junior.guru</a>.</span>
            </address>
            <p>
              <a href="{{ url_for('privacy') }}">Zpracování osobních údajů</a>
            </p>
          </div>
          {% block author %}
          <div class="author" id="honza">
            <div class="author-wrapper">
              <p class="author-text-outer">
                <img class="author-photo" alt="Fotka Honzy Javorka" src="{{ url_for('static', filename='images/honza.jpg') }}" loading="lazy">
                <span class="author-text-inner">
                Ahoj! Jmenuji se <a href="{{ url_for('donate') }}#about">Honza Javorek</a> a jsem autor tohoto průvodce.
                Ukázal ti tento průvodce cestu k&nbsp;programování? K&nbsp;lepší práci?
                Můžeš mi <a href="{{ url_for('donate') }}">poděkovat dobrovolným příspěvkem</a>.
                Veškerý obsah zde nechávám volně přístupný, aby pomohl co nejvíce lidem.
                Příspěvky zajistí, že tyto stránky budu moci vylepšovat a dál provozovat.
                </span>
              </p>
              <div class="call-to-action">
                <a href="{{ url_for('donate') }}" class="button button-inverted">
                  Přispět
                </span>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </footer>
    {% endblock %}
    </div>
    <script defer src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
