{% extends 'base.html' %}

{% block body_attrs %} class="page-index-beta"{% endblock %}

{% block logo %}
<h1 class="logo">
  {{ self.logo_image() }}
</h1>
{% endblock %}

{% block main %}
<section class="billboard billboard-learn">
  <div class="billboard-wrapper">
    <h2>Návod jak se i ty můžeš naučit programovat</h2>
    <p>Programování není jen pro ajťáky! Pomáhá vědcům, úředníkům nebo novinářům &mdash; a práci může usnadnit i tobě. Základy zvládneš za několik týdnů.</p>
    <a href="{{ url_for('learn') }}#learn" class="button">Začni hned teď</a>
    <a href="{{ url_for('learn') }}#why" class="button-secondary">Proč se učit programovat?</a>
  </div>
</section>
<hr class="hidden">

<section class="billboard billboard-jobs">
  <div class="billboard-wrapper">
    <h2>Návod jak si i ty můžeš najít dobrou práci v IT</h2>
    <p>Programátorů je dlouhodobě nedostatek. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent VŠ. Vydej se na cestu za lepší životní úrovní.</p>
    <a href="{{ url_for('jobs') }}" class="button button-inverted">Procházet nabídky práce</a>
    <a href="http://eepurl.com/gyG8Bb" target="_blank" class="button-secondary button-inverted">Nabídky do e-mailu</a>
    <p class="note"><a href="{{ url_for('jobs') }}#add">Inzerujte na junior.guru</a> &mdash; <strong>od 0 Kč!</strong></p>
  </div>
</section>
<hr class="hidden">

<section>
<h2>Jak to funguje</h2>
<ol>
  <li>
    <a href="{{ url_for('learn') }}">
      <h2>Nauč se základy</h2>
      <p>
        Ručně vybrané, nej&shy;e&shy;fek&shy;ti&shy;vněj&shy;ší
        vý&shy;uko&shy;vé ma&shy;te&shy;ri&shy;á&shy;ly do startu pro samouky.
      </p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('practice') }}">
      <h2>Získej praxi</h2>
      <p>
        Znáš základy? Získej a&shy;les&shy;poň mi&shy;ni&shy;mál&shy;ní
        praxi, najdi men&shy;to&shy;ra, dál si roz&shy;ši&shy;řuj
        zna&shy;los&shy;ti.
      </p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('jobs') }}">
      <h2>Najdi práci</h2>
      <p>
        Znáš základy a máš praxi? Nastal okam&shy;žik zkusit své štestí
        na pra&shy;cov&shy;ním trhu.
      </p>
    </a>
  </li>
</ol>
</section>
<hr>

<section>
  <h2>Buď v obraze</h2>
  <ul>
    <li><a href="https://www.facebook.com/groups/junior.guru">Facebooková skupina</a></li>
    <li><a href="http://eepurl.com/gyG8Bb">Nabídky práce do e-mailu</a></li>
  </ul>
</section>
<hr>

<section class="stories" id="stories">
  <h2>Příběhy lidí jako ty</h2>
  <ul class="items">
  {% for story in stories %}
    <li class="item-summary">
      <a href="{{ story.url }}">
        <div class="item-summary-wrapper">
          <h3>{{ story.title }}</h3>
          <small class="item-summary-details">
            {{ story.publisher }}
            &mdash;
            {{ story.date.month }}/{{ story.date.year }}
          </small>
        </div>
        <img src="{{ url_for('static', filename=story.image_path) }}" width="100">
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
