<h1 id="beta">junior.guru</h1>
<p>TODO menu</p>
<hr>

<section>
<h2>Návod jak se i ty můžeš naučit programovat</h2>
<p>Programování není jen pro ajťáky! Pomáhá vědcům, úředníkům nebo novinářům &mdash; a práci může usnadnit i tobě. Základy zvládneš za několik týdnů.</p>
<button>Začni hned teď</button>
<button>Proč se učit programovat</button>
</section>
<hr>

<section>
<h2>Návod jak si i ty můžeš najít dobrou práci v IT</h2>
<p>Programátorů je dlouhodobě nedostatek. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent VŠ. Vydej se na cestu k lepší životní úrovni.</p>
<button>Nabídky práce</button>
<button>Odebírat nabídky do e-mailu</button>
<p><small>Pro firmy: <a href="#beta">Inzerujte na junior.guru</a> &mdash; od 0 Kč!</small></p>
</section>
<hr>

<section>
<h2>Zmínky o junior.guru</h2>
<ul>
    <li>#HolkyzMarketingu</li>
    <li>Czechitas</li>
    <li>PyLadies</li>
    <li>KaranTéma Hospodářských Novin</li>
    <li>Lupa.cz</li>
    <li>Zdrojak.cz</li>
    <li>Rychlofky.cz</li>
    <li>Deník N</li>
    <li>prace.rovnou.cz</li>
    <li>DigiKoalice</li>
    <li>Kafemlejnek.TV</li>
    <li>Marie Claire</li>
</ul>
<blockquote>TODO: junior quote</blockquote>
<blockquote>TODO: company quote</blockquote>
</section>
<hr>

<section>
<h2>Jak to funguje</h2>
<ol>
  <li>
    <a href="{{ url_for('learn') }}">
      <h2>Nauč se základy</h2>
      <p>
        Ručně vybrané, nej&shy;e&shy;fek&shy;ti&shy;vněj&shy;ší
        vý&shy;uko&shy;vé ma&shy;te&shy;ri&shy;á&shy;ly do startu pro samouky.
      </p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('practice') }}">
      <h2>Získej praxi</h2>
      <p>
        Znáš základy? Získej a&shy;les&shy;poň mi&shy;ni&shy;mál&shy;ní
        praxi, najdi men&shy;to&shy;ra, dál si roz&shy;ši&shy;řuj
        zna&shy;los&shy;ti.
      </p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('jobs') }}">
      <h2>Najdi práci</h2>
      <p>
        Znáš základy a máš praxi? Nastal okam&shy;žik zkusit své štestí
        na pra&shy;cov&shy;ním trhu.
      </p>
    </a>
  </li>
</ol>
</section>
<hr>

<section>
  <h2>Buď v obraze</h2>
  <ul>
    <li><a href="#beta">Facebooková skupina</a></li>
    <li><a href="#beta">Nabídky práce do e-mailu</a></li>
  </ul>
</section>
<hr>

<section>
  <h2>Inspirativní příběhy</h2>
  <ul>
  {% for story in stories %}
    <li>
      <a href="{{ story.url }}">
        <h3>{{ story.title }}</h3>
        <small>
          {{ story.publisher }}
          &mdash;
          {{ story.date.month }}/{{ story.date.year }}
        </small>
        <img src="{{ url_for('static', filename=story.image_path) }}" width="100">
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
<hr>

<p>
  TODO patička
</p>
