{% extends 'base.html' %}

{% block body_attrs %} class="page-index-beta"{% endblock %}

{% block logo %}
<h1 class="logo">
  {{ self.logo_image() }}
</h1>
{% endblock %}

{% block divider %}<hr class="divider">{% endblock %}

{% block main %}
<section class="billboard billboard-learn">
  <div class="billboard-wrapper">
    <div class="billboard-content">
      <div class="billboard-content-limiter">
        <h2>I&nbsp;ty&nbsp;se&nbsp;můžeš naučit programovat</h2>
        <p>Programování není jen pro&nbsp;ajťáky! Pomáhá vědcům, úředníkům nebo&nbsp;novinářům &mdash;&nbsp;a&nbsp;práci může usnadnit i&nbsp;tobě. Základy zvládneš za&nbsp;několik týdnů. Začni hned teď!</p>
        <a href="{{ url_for('learn') }}" class="button">Návod zdarma</a>
        <a href="{{ url_for('learn') }}#why" class="button-secondary">Proč se to učit?</a>
      </div>
    </div>
  </div>
</section>
<hr class="hidden">

<section class="billboard billboard-jobs">
  <div class="billboard-wrapper">
    <div class="billboard-content">
      <div class="billboard-content-limiter">
        <h2>I&nbsp;ty&nbsp;si&nbsp;můžeš najít dobrou práci&nbsp;v&nbsp;IT</h2>
        <p>Programátorů je&nbsp;dlouhodobě nedostatek. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent&nbsp;VŠ. Vydej se&nbsp;na&nbsp;cestu za&nbsp;lepší životní úrovní.</p>
        <a href="{{ url_for('jobs') }}" class="button button-inverted">Aktuální nabídky práce</a>
        <a href="http://eepurl.com/gyG8Bb" target="_blank" class="button-secondary button-inverted">Nabídky do e-mailu</a>
        <p class="note"><a href="{{ url_for('jobs') }}#add">Inzerujte na junior.guru</a> &mdash; <strong>od 0 Kč!</strong></p>
      </div>
    </div>
  </div>
</section>
<hr class="hidden">

<section class="how-it-works" id="how-it-works">
  <div class="heading-container">
    <h2>Jak to&nbsp;funguje</h2>
  </div>
  <ol>
    <li>
      <a href="{{ url_for('learn') }}">
        <h3>Nauč se&nbsp;základy</h3>
        <p>
          Ručně vybrané, nej&shy;e&shy;fek&shy;ti&shy;vněj&shy;ší
          vý&shy;uko&shy;vé ma&shy;te&shy;ri&shy;á&shy;ly do startu pro samouky.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('practice') }}">
        <h3>Získej praxi</h3>
        <p>
          Znáš základy? Získej a&shy;les&shy;poň mi&shy;ni&shy;mál&shy;ní
          praxi, najdi men&shy;to&shy;ra, dál si roz&shy;ši&shy;řuj
          zna&shy;los&shy;ti.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jobs') }}">
        <h3>Najdi práci</h3>
        <p>
          Znáš základy a máš praxi? Nastal okam&shy;žik zkusit své štestí
          na pra&shy;cov&shy;ním trhu.
        </p>
      </a>
    </li>
  </ol>
</section>
<hr class="hidden">

<section class="join" id="join">
  <h2>Buď&nbsp;v&nbsp;obraze</h2>
  <ul>
    <li class="join-newsletter"><a href="http://eepurl.com/gyG8Bb" target="_blank">Nabídky práce do e-mailu</a></li>
    <li class="join-f"><a href="https://www.facebook.com/groups/junior.guru" target="_blank">Facebooková skupina</a></li>
  </ul>
</section>
<hr class="hidden">

<section class="stories" id="stories">
  <div class="heading-container">
    <h2>Příběhy lidí jako&nbsp;ty</h2>
  </div>
  <ul class="items">
  {% for story in stories %}
    <li class="item-summary">
      <a href="{{ story.url }}">
        <div class="item-summary-wrapper">
          <h3>{{ story.title }}</h3>
          <small class="item-summary-details">
            {{ story.publisher }}
            &mdash;
            {{ story.date.month }}/{{ story.date.year }}
          </small>
        </div>
        <img src="{{ url_for('static', filename=story.image_path) }}" width="100">
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
