{% extends 'base.html' %}
{% block title %}Jak se připravit na pohovor a hledat první práci v IT{% endblock %}

{% block description -%}
Nastal okamžik zkusit své štestí na pracovním trhu. Co můžeš udělat pro to, aby tě někde přijali?
{%- endblock %}

{% block main %}
<header class="intro">
  <h1 class="intro__title">Příručka hledání první práce v&nbsp;IT</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/handbook.svg') }}">
    Chystáš se zkusit své štěstí na pracovním trhu?
    1.&nbsp;9.&nbsp;2020 se tady objeví ucelený soubor rad pro juniory v rozsahu více než&nbsp;30&nbsp;normostran. Nebude to ebook, ale veřejně dostupná a stále aktualizovaná webová stránka.
  </p>
</header>

<section class="main__section handbook-preview">
  <div class="text">
    <figure class="quote">
      <blockquote>
        Nauč se programovat, firmy v&nbsp;IT berou z nedostatku lidí každého, kdo má jen zájem. Do začátku si řekni aspoň o pade.
      </blockquote>
      <figcaption>
        český programátorský folklór
      </figcaption>
    </figure>
    <p>
      Tyto věty u nás slyšel asi každý začátečník &mdash; přitom jde o nesmysly. Ano, senioři mají navrch a firmy jim nadbíhají, junioři si však musí vše vydřít.
    </p>
    <p>
      Nováčci projdou úvodními kurzy a pak zjistí, že sehnat první práci vůbec není tak snadné. Místo dobrých rad se jim dostalo mýtů, takže se na vypsané nabídky hlásí nepřipravení a s nerealistickými očekáváními.
    </p>
    <p>
      A aby toho nebylo málo, přišla letos ještě pandemie &mdash; propouštění, opatrnost, vyčkávání s najímáním nových lidí.
    </p>
    <p>
      <strong>Příručka chce situaci změnit.</strong> Ukázat juniorům, jak se kvalitně připravit na hledání své první práce, jak se zorientovat, jak projít pohovorem. Jak lze vystupovat profesionálně i přesto, že je někdo začátečník.
    </p>
    <p>
      Čím více lidí si příručku přečte, tím kultivovanější bude český trh s juniorními kandidáty. Odpovědi na inzeráty budou relevantnější, pozitivní příběhy častější a firmy motivovanější najímat juniory.
    </p>
  </div>
  <p class="button-compartment">
    <a class="button" href="{{ url_for('donate') }}">Přispěj na&nbsp;příručku</a>

    <small class="button-compartment__note"><a href="{{ url_for('hire_juniors') }}#handbook">Sponzorujte příručku jako firma</a></small>
  </p>
</section>

<section class="main__section main__section--wide engage">
  <div class="engage__content">
    <div class="engage__illustrated-block">
      <h2 class="engage__heading">Buď mezi prvními</h2>
      <div class="engage__illustration-container">
        <img class="engage__illustration" width="120" alt="Vejce" src="{{ url_for('static', filename='images/chick2.svg') }}">
      </div>
      <div class="engage__text">
        <p>
          {{ metrics.subscribers|metric }} odběratelů <a href="http://eepurl.com/gyG8Bb" target="_blank" rel="noopener">nabídek práce a novinek</a> bude mít k textu příručky přístup ještě o něco dříve, než vyjde oficiálně. Pokud chceš být mezi nimi, není nic jednoduššího, než se přihlásit taky. Klidně si prohlédni <a href="https://us3.campaign-archive.com/home/?u=7d3f89ef9b2ed953ddf4ff5f6&id=e231b1fb75" target="_blank" rel="noopener">všechny minulé e-maily</a>, ať víš, do čeho jdeš. Můžeš se samozřejmě kdykoliv odhlásit.
        </p>
      </div>
    </div>
    <p class="button-compartment button-compartment--consistent-minimal-margin">
      <a class="button" href="http://eepurl.com/gyG8Bb" target="_blank" rel="noopener">Hlídat příručku</a>
    </p>
  </div>
</section>

<section class="main__section handbook-preview">
  <h2 class="main__heading">Na co se můžeš těšit?</h2>

  <div class="text">
    <p>
      Lenka, která dostala příručku k přečtení v předstihu, ještě před jejím dokončením, o ní napsala toto:
    </p>
    <figure class="quote">
      <blockquote>
        Příručka je naprosto boží, přečetla jsem ji jedním dechem a nasbírala inspiraci na další "akce", co ještě udělat. Tolik tipů na jednom místě člověk nikde jinde nenajde.
      </blockquote>
      <figcaption>
        Lenka Erbenová, frontendistka, absolventka PyLadies a Czechitas
      </figcaption>
    </figure>
  </div>

  <div class="text handbook-preview__toc">
    <h3>Témata</h3>
    <ul>
      <li>Jak dlouho trvá si sehnat první práci v&nbsp;IT</li>
      <li>Kdy začít hledat</li>
      <li>Jaké budou požadavky zaměstnavatele</li>
      <li>Jaká mít očekávání: mzda, práce na dálku</li>
      <li>Po jakých pozicích se jako začátečník poohlížet</li>
      <li>Typy firem: produkt, agentura</li>
      <li>Typy firem podle velikosti: velká firma, startup</li>
      <li>Stáže, dobrovolnictví</li>
      <li>Příprava na pohovor, životopis</li>
      <li>Vlastní projekt a první praxe, základy algoritmizace</li>
      <li>Hledání práce na internetu, recruiting, networking</li>
      <li>Pohovor, pravdomluvnost, otázky, odmítnutí</li>
      <li>Firemní kultura</li>
      <li>Vlastní aktivita navíc</li>
    </ul>
  </div>
  <div class="text text--tooltips-disabled handbook-preview__screenshots">
    <h3>Ukázky</h3>
    <ul>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-01.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-01.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-02.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-02.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-03.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-03.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-04.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-04.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-05.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-05.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-06.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-06.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-07.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-07.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-08.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-08.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-09.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-09.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-10.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-10.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-11.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-11.png') }}" loading="lazy"></a></li>
      <li><a href="{{ url_for('static', filename='images/handbook-preview/preview-12.png') }}" target="_blank"><img width="200" src="{{ url_for('static', filename='images/handbook-preview/preview-12.png') }}" loading="lazy"></a></li>
    </ul>
  </div>
</section>
{% endblock %}
