{% extends 'base.html' %}
{% block title %}Jak se připravit na hledání první práce v IT{% endblock %}

{% block description -%}
Nastal okamžik zkusit své štestí na pracovním trhu. Co můžeš udělat pro to, aby tě někde přijali?
{%- endblock %}

{% block body_attrs %} class="page-candidate"{% endblock %}

{% block main %}
<header>
  <h1>Hledání první práce v IT</h1>
  <p>
    <img src="{{ url_for('static', filename='images/chick3.svg') }}">
    Znáš <a href="{{ url_for('learn') }}">základy</a> a máš <a href="{{ url_for('practice') }}">praxi</a>?
    {{ self.description() }}
  </p>

  <div class="toc">
    <h2>Obsah</h2>
    <ul>
      <li><a href="#how-long">Jak dlouho to trvá?</a></li>&#32;
      <li><a href="#ready">Kdy začít hledat</a></li>&#32;
      <li><a href="#requirements">Co budou chtít</a></li>&#32;
      <li><a href="#university">Je potřeba VŠ?</a></li>&#32;
      <li><a href="#discrimination">Záleží na věku? Pohlaví?</a></li>&#32;
      <li><a href="#expectations">Jaká mít očekávání</a></li>&#32;
      <li><a href="#strategy">Jakou zvolit strategii</a></li>&#32;
      <li><a href="#tactics">Taktika při pohovorech</a></li>&#32;
      <li><a href="#seeking">Kde hledat</a></li>&#32;
    </ul>
  </div>
</header>


<section id="how-long">
  <h2>Jak dlouho to trvá?</h2>
  <p>
    Jak dlouho zabere rekvalifikace na programování? Jak dlouho
    potom trvá najít si první práci?
    Tyto otázky si klade hodně lidí, ale odpoveď na ně neexistuje.
    Záleží na tom, jak intenzivně se věnuješ
    učení, jak k němu přistupuješ, jaké máš příležitosti. Někdo tomu může věnovat
    osm hodin každý den, takže to zvládne za týdny. Někdo se učí
    po večerech a stráví s tím klidně <strong>dva roky</strong> nebo i více. Přitom
    ani jedno nic nevypovídá o talentu.
  </p>
  <p>
    Raději neplánuj s ohledem na čas. <strong>Jeď si tempo, které můžeš skloubit se zbytkem svého života, a soustřeď se na to,
    ať umíš <a href="#requirements">základní minimum</a>.</strong> Potom si začni hledat práci.
  </p>
  <figure class="quote">
    <blockquote>
      Dva roky jsem se při rodičovské učila programovat, než jsem si začala hledat práci. Jestli tě to baví, uč se uč, čas nepočítej.
    </blockquote>
    <figcaption>
      Iveta Česalová, bývalá účetní, absolventka začátečnického kurzu <a href="https://pyladies.cz/">PyLadies</a>
    </figcaption>
  </figure>
</section>


<section id="ready">
  <h2>Kdy začít hledat</h2>
  <p>
    <strong>Kdy je člověk připraven?</strong>
    Na to existuje jednoduchá odpověď: <strong>Nikdy!</strong>
    Každý obor v rámci IT má jiné počáteční nároky. Každá firma má na juniory
    jiné nároky. Možná si říkáš: „Čím více toho umím, tím lépe se mi bude hledat práce!“
    Ale tak to nefunguje. Programátoři se nikdy nepřestávají učit.
    Od určité chvíle prostě musíš začít hledat, i když máš pocit, že toho
    ještě umíš strašně málo. Ten pocit se totiž neztratí nikdy, <a href="https://overreacted.io/things-i-dont-know-as-of-2018/">ani dlouho po tom, co
    už budeš v IT pracovat</a>. <strong>Splň <a href="#requirements">základní minimum</a> a pak si hned začni hledat práci.</strong>
  </p>

  <figure class="quote">
    <blockquote>
      Bez ohledu na to, jak moc zkušený člověk je, stejně se nakonec motá mezi
      pocitem, že je zdatný, neschopný („<a href="https://www.google.cz/search?q=impostor+syndrome&lr=lang_cs">Impostor syndrom</a>“) nebo příliš
      sebejistý („<a href="https://cs.wikipedia.org/wiki/Dunning%C5%AFv%E2%80%93Kruger%C5%AFv_efekt">Dunning–Kruger efekt</a>“).
    </blockquote>
    <figcaption>
      Dan Abramov, vývojář ve Facebooku známý svou prací na projektech Redux a React
    </figcaption>
  </figure>
</section>


<section id="requirements">
  <h2>Co budou chtít</h2>
  <p>
    Nikdo od tebe nečeká, že budeš oslňovat technickými znalostmi.
    Dej najevo, že tu práci fakt chceš, že jsi <strong>motivovaná osoba</strong>, která má <strong>chuť se učit</strong>, a že do jejich týmu přineseš <strong>nadšení</strong>. Z programátorských veteránů
    nadšení vyvanulo už před lety a samozřejmostí není ani u <a href="#university">absolventů VŠ</a>.
    Tvůj přístup a <em>soft skills</em> jsou důležitější
    než <em>hard skills</em>.
  </p>

  <figure class="quote">
    <blockquote>
      Po roce tvrdé práce a citlivého vedení jsou na tom junioři lépe než leckteří samozvaní senioři. Především potřebuji vidět jiskru v oku a nadšení pro věc.
    </blockquote>
    <figcaption>
      Luboš Račanský, profesionální programátor, autor článku <a href="https://blog.zvestov.cz/software%20development/2018/01/26/o-naboru-junioru.html">O náboru juniorů</a>
    </figcaption>
  </figure>

  <p>
    Neboj se toho,
    že umíš Python, ale v nabídkách je Java. Důležité je především <strong>umět
    programovat</strong> &mdash; jiný jazyk nebo technologie se dá vždy doučit.
    Některé firmy přeučení i nabízejí.
  </p>
  <p>
    Neuč se zbytečně povrchně další věci, které někde jen zaslechneš. <strong>Vyber si
    <a href="{{ url_for('practice') }}#projects">projekt</a> a na tom pracuj.</strong>
    Když se zasekneš, nech si poradit od <a href="{{ url_for('practice') }}#mentors">mentora</a>.
    Zkušenosti získáš aktivně na projektu, ne čtením knih. Práce na projektu
    ti sama ukáže, co se potřebuješ doučit. Z nabídek práce a pohovorů potom
    zjistíš, na co se podívat dál.
  </p>

  <figure class="quote">
    <blockquote>
      Na pohovoru mě nezajímá, co kdo vystudoval, ale jak přemýšlí
      a jaké má vlastní projekty. Nemusí být nijak světoborné, je to však
      praxe, kterou ani čerstvý inženýr často nemá.
    </blockquote>
    <figcaption>
      Josef Skládanka, profesionální programátor
    </figcaption>
  </figure>

  <h3>Základní minimum</h3>
  <ul>
    <li>
      Znalost jakéhokoliv běžného jazyka alespoň
      v rozsahu začátečnického kurzu na <a href="{{ url_for('learn') }}#learn">Nauč se Python!</a>
    </li>
    <li>
      Mít vytvořený nějaký <a href="{{ url_for('practice') }}#projects">malý vlastní projekt</a>
      nebo aspoň jakoukoliv jinou praktickou ukázku své práce.
    </li>
    <li>
      Mít na projektech vytrénovanou schopnost dostat zadání a rozložit
      ho na podproblémy (algoritmizace).
    </li>
  </ul>

  <h3>Velmi užitečné znalosti navíc</h3>
  <ul>
    <li>
      <a href="{{ url_for('learn') }}#english">Angličtina</a>, čím víc tím líp!
    </li>
    <li>
      Základy práce s <a href="https://naucse.python.cz/course/pyladies/sessions/foss/">Gitem</a>.
    </li>
    <li>
      Práce s příkazovou řádkou
      (ideálně tou v <a href="https://cs.wikipedia.org/wiki/Linux">Linuxu</a>, tzn. Bash).
    </li>
  </ul>

  <h3 id="junior">Co přesně znamená „junior“</h3>
  <p>
    Chápání slova junior není mezi firmami ustálené. Někde stačí výše popsané základní minimum,
    jinde na tebe budou nechápavě kulit oči. Někteří jako juniora označují
    člověka, který toho akorát „umí méně“ a „déle mu to trvá“, ale v oboru už pár let pracuje.
  </p>
  <p>
    Nenech se tím vykolejit! <strong>Při prvním kontaktu s firmou
    se ujisti, že jste na stejné vlně</strong> a doopravdy hledají člověka,
    pro kterého to bude první práce v IT (anglicky <em>entry job</em>).
    Ušetříte si čas a zklamání na obou stranách.
  </p>
</section>

<section id="university">
  <h2>Je potřeba VŠ?</h2>
  <p>
    <a href="{{ url_for('learn') }}#university">Ne</a>. Běžní zaměstnavatelé ocení
    <a href="{{ url_for('practice') }}">praxi</a> víc než titul. <strong>Webovky nebo mobilní appky
    udělá samouk stejně dobře jako absolvent.</strong> Studenti VŠ jsou tvá největší konkurence, ale na rozdíl
    od tebe jsou semletí pěti lety v českém školství.
    Nadšení z nich zpravidla nesrší a nemají moc praxe. Žena po rodičovské,
    která si rok šla za svým a učila se při všem shonu programovat po večerech,
    smete svou motivací každé ucho z VŠ jako nic.
  </p>
  <p>
    Zrovna v inzerátech nabízející první práci v IT nebo částečný úvazek se však
    ještě stále lze setkat s <strong>omezením, že jsou jen pro studenty či absolventy</strong>.
    Je to proto, že lidi na druhé straně inzerátu (recruitery, šéfy) vůbec
    nenapadlo, že nováčci v oboru se rodí i jinde než na univerzitě. <strong>Zkus se
    ozvat i tak.</strong> Nic za to nedáš. Buď firmě otevřeš oči, nebo se rozloučíte
    už při prvním kontaktu.
  </p>
</section>

<section id="discrimination">
  <h2>Záleží na věku? Pohlaví?</h2>
  <p>
    <a href="{{ url_for('learn') }}#teen">Ne</a> a <a href="{{ url_for('learn') }}#ladies">ne</a>. Programování není balet,
    <a href="https://www.youtube.com/watch?v=dKclZ55d_F0">začít se dá v jakémkoli věku</a>.
    Byť jsou stále ještě v menšině, ženy se dnes programátorkami stávají běžně.
    IT už dávno nevypadá jako na <a href="https://www.forum24.cz/jak-dopadli-chlapci-z-brutalni-parby-informatiku-2/">této fotce</a>,
    i když si toho někteří možná ještě nevšimli. <strong>Pokud je z pracovního inzerátu
    cítit diskriminace, vůbec se jím nezabývej</strong>. Kromě toho, že je to
    <a href="https://www.google.cz/search?q=pracovn%C3%AD%20inzer%C3%A1t%20diskriminace">protizákonné</a>,
    tak firma, která se myšlenkově zasekla ve středověku, nebude zrovna
    dobrým přístavem pro začátečníky.
  </p>
</section>

<section id="expectations">
  <h2>Jaká mít očekávání</h2>

  <h3>Kde jsou firmy, které berou každého?</h3>
  <p>
    „Nauč se programovat, firmy v IT berou z nedostatku lidí každého, kdo má jen zájem.“
    Toto je bohužel <strong>mýtus</strong>. IT&nbsp;rozhodně je přístupný obor a projít změnou kariéry
    za poměrně krátkou dobu lze, ale jednoduché to není a hned to také není.
    Firmy nemají dostatek lidí, kteří umí programovat, často se však
    rozhodnou investovat spoustu času i peněz do hledání zkušených,
    než aby přijali juniora a tomu se pak museli věnovat. <strong>Počítej s tím, že můžeš projít i deset pohovorů,
    než najdeš svou první práci v IT.</strong> Je to běžné. Připrav se na to, že hledání
    práce ti může zabrat i měsíc, a obrň své sebevědomí, aby vydrželo ten kolotoč.
  </p>

  <h3>Proč práci nabízí hlavně velké firmy?</h3>
  <p>
    Pro firmu je zaměstnání juniora velký výdaj. I když je to levné z hlediska
    platu, firma tě musí všechno učit a věnovat se ti. Byť se dají najít
    nabídky i od středních či malých firem, <strong>obecně jsou do juniorů ochotny investovat
    spíše větší firmy, které na to mají jak peníze, tak zázemí</strong>.
  </p>
  <p>
    Dalším prostředím, kam se probojuješ snadněji, je <strong>státní správa</strong>.
    Firmy se předbíhají v tom, jaké finanční podmínky nebo benefity nabídnou
    zkušeným lidem, takže pro většinu z nich není atraktivní pro veřejné instituce
    pracovat (to si raději vezmou velký plat jinde a pak
    <a href="https://cesko.digital/">dobrovolničí</a> ve volném čase). Pro tebe
    ale může být toto prostředí i platové ohodnocení dobrým startem.
  </p>

  <h3>Jaký budu mít plat?</h3>
  <p>
    Bavíme se o první práci. Budeš se muset ještě hodně učit
    a bude nejspíš trvat i pár let, než dosáhneš na ty <a href="https://www.czso.cz/documents/10180/95632581/063009-18.pdf/0f4ba681-c6b3-4226-b81e-6634cac046fb?version=1.2">vysoké
    platy, kterými se všichni ohání</a>.
    Podle dvou anket Simtia (<a href="https://blog.smitio.com/clanek-mzdy-v-it-podle-smitia">první</a>, <a href="https://blog.smitio.com/clanke-mzdy-absolventu-ocima-firem-a-ajtaku">druhá</a>)
    začínají nováčci průměrně na 30&nbsp;000&nbsp;Kč.
  </p>

  <h3>Najdu práci externě, na dálku?</h3>
  <p>
    Práci na dálku si většinou musíš <strong>vysloužit svou samostatností</strong>. Na začátku kariéry
    se budeš hodně učit, budeš se topit a volat o pomoc, budeš potřebovat někoho, kdo
    ti ke konkrétním věcem, které firma dělá, vysvětlí kontext. Toto se i v dnešní
    době dělá na dálku dost blbě. Lepší je, když se můžeš otočit na židli a zeptat,
    nebo když si k tobě někdo přisedne a ukáže ti jak a co. <strong>S prací na dálku počítej
    spíš jako s něčím, co si budeš za pár let moci dovolit, ale v začátku by ti to spíš uškodilo.</strong>
  </p>
</section>

<section id="strategy">
  <h2>Jakou zvolit strategii</h2>

  <h3>Proč začínat programováním</h3>
  <p>
    Programování je nejlepší způsob, jak začít v IT. <strong>Kolem tvorby softwaru se motá spousta dalších profesí, které tě časem mohou zaujmout více, ale teď o nich ještě ani nevíš. Dokud je neuvidíš v praxi, nebudeš si umět jejich práci ani představit, natož se na ni rovnou hlásit.</strong> Programování má oproti tomu jasně zmapovanou cestu, jak se dá začít učit, a lze z něj časem snadno odskočit jinam. I pokud se nakonec najdeš jinde, ten znalostní základ, který si programováním vytvoříš, se ti nikdy neztratí. Z toho důvodu začni programováním a pak dej volný průchod tomu, kam tě život zavane.
  </p>

  <figure class="quote">
    <blockquote>
      Firma rychle poznala, že umím komunikovat s ostatními a posouvat věci dopředu: Víc než kódit jsem začal odstraňovat překážky a ladit procesy. Posun do role „Scrum Mastera“ byl nabíledni.
    </blockquote>
    <figcaption>
       Michal Havelka, autor článku <a href="https://www.zdrojak.cz/clanky/jak-jsem-se-nestal-front-end-vyvojarem/">Jak jsem se (ne)stal front-end vývojářem</a>
    </figcaption>
  </figure>

  <h3>Začínání na jiné technické pozici</h3>
  <p>
    Vyplatí se začít jako testerka, tester, <a href="https://cs.wikipedia.org/wiki/Quality_assurance">QA</a>, technická podpora? Reálné příběhy juniorů
    praví, že tato povolání sice občas mohou zafungovat jako přestupní stanice
    k vývojářské pozici, ale mnohem častěji je to <strong>zbytečná odbočka</strong> na tvé cestě.
    Firmy ti slíbí, že budeš testovat, ale že toho programování bude čím dál více (např. automatické testy), že tě časem přeřadí plně na programování, ale potom skutek utek'. Než to prokoukneš a odhodláš se ke změně, rok nebo dva strávíš na pozici, kterou vlastně nechceš dělat. Zkušenosti s programováním si neprohloubíš (testování vyžaduje jiné dovednosti), takže na pohovorech budeš ve stejné pozici, jako předtím.
  </p>
  <p>
    Pokud <strong>chceš</strong> dělat technickou podporu nebo testování, protože cítíš, že tě to bude bavit, tak do toho jdi, na tom rozhodně není nic špatného!
    <strong>Pokud chceš programovat, tak si rovnou hledej práci na vývojářskou pozici.</strong> Ano, může to zabrat více času, úsilí, a chce to sebevědomí, ale
    i se <a href="#requirements">základním minimem</a> lze takovou práci najít.
  </p>

  <h3>Jakým směrem se vydat?</h3>
<!-- automation engineer -->

<!--
Určitě se vrhnout směrem na automatizované testy, na ně se hledá spousta lidí, zkusit si něco naprogramovat v knihovně Selenium, trochu se podívat, jak se dělají webové stránky, aby člověk rozuměl tomu, jak se odchytávají prvky na stránce.... vyplatí se naučit cokoliv navíc

## Vyplatí se začít v operations, SRE, nebo jako automation engineer?

Já bych doporučila na začátek zkusit práci automation inženýra. Jsou to většinou jednodušší, menší projekty, na kterých se dají pobírat zkušenosti a pak bych až zkusila programátorskou pozici 🙂
-->

<!--
"Viete mi odporučiť akým smerom sa vybrať, čomu sa venovať, na čo sa zamerať, aby som sa vedel v budúcnosti zamestnať? Nie som nejako vyhranený, že viem presne čo by som chcel robiť a nič iné robiť nebudem."

Tohle je taková zvláštní otázka, zatím jsem úplně nepochopil, co tím tazatelé vlastně myslí a jak na ni odpovědět. Je mezi začátečníky velmi častá. Proč do toho IT šli, když tohle nevědí? :) Mohl bys to zkusit třeba přes "misi" než technologii. Vyber si nějakou firmu nebo organizaci, která ti přijde sympatická, a najdi nějaký průnik, co oni potřebují a co ty bys mohl dělat. Když mě bylo +- 20, tak jsem sice nevěděl, "co všechno v IT existuje", ale tušil jsem, že chci "programovat servery". Spolužák zase programoval herní engine. Jiný spolužák zase už od pohledu rostl pro nějakou manažerskou pozici. Další spolužák zase rejpal do všeho možného hardwarového. Ono je to možná tím, že začátečníci, kteří jdou do kurzu/bootcampu a za pár měsíců by ideálně chtěli mít práci (což nemyslím nijak negativně), mají pro zorientování se a získání rozhledu mnohem méně času, než když jsem si s programováním hrál celý gympl a VŠ.

Možná je v tom obava, že jsou nějaký skilly, který moc uplatnitelný na trhu práce nejsou.Což v IT je a není pravda.

Ano, znám třeba někoho, kdo by rád programoval v Clojure, ale nepovedlo se mu najít zajímavou práci tak dělá v Pythonu a znám někoho, kdo chtěl programovat v Pythonu a programuje v JavaScriptu, protože se nepodařilo najít zajímavou práci v Pythonu…

Nicméně hraničně zaměstnatelní začátečníci uměj tak málo, že přeučit se z Pythonu na JavaScript neznamená, že by toho nějak moc zahodili, takže hurá do toho co tě zajímá.

Jestli tě láká dělat weby, aplikace pro počítače, mobily nebo třeba pro nějaký hardware už bys možná tušit mohl a máš hned možnost se na něco zaměřit (zeptat se tím směrem).
-->

  <h3>Stáže</h3>
<!--
<p>
    Někdy tě firma odmítne pro nedostatečné znalosti proto, že se jim mění
    situace pod rukama a i když původně hledali juniora, najednou by se jim hodil
    zkušenější člověk. - zeptat se na staz
  </p>

Ahoj, chtěl jsem se zeptat jestli někdo nedělá stáže ve firmách pro úplné začátečníky kteří by chtěli získat trochu praxe a podívat se jak to vlastně v takových firmách chodí. Jsem z Brna a vím že něco podobného tu bylo nedávno pro Prahu. Díky za tipy.

```
Já teda nevím, ale myslím si tohle: stáže vyloženě skoro nikdo nevypisuje, protože pak na ty inzeráty bude psát hromada jantarů a kdo se s tím má babrat. HR oddělení má na práci hromadu jiných věcí, a senioři/team leadeři taky nemají moc čas tohle řešit. Ale často se stává, že se někdo nějak objeví (už jsem viděl stážisty a stážistky nalezené/dohozené přes bratrance, klienty, na plesu, při blablacar spolujízdě) a když si pak někdo konkrétní v té firmě řekně "proč ne, tenhle člověk vypadá inteligentně, jsem tomu ochoten věnovat trochu energie", tak se to dá dohromady.

Je dobře, že se ptáš i tu na FB, vlastně to je začátek přesně té aktivity, kterou ti tu radím :) Jen jsem chtěl napsat něco k tomu, že lidi hledají takovéto stáže a nemůžou je moc najít (googlením).

V Praze na Pyvu je někdy vyloženě "pracovní burza" - lidi, co hledají nebo nabízí práci si stoupnou, představí a odprezentují se (krátce). Teď nevím, jestli to dokonce od Brna není opsané?

Pokud studuješ VŠ, tak bývají nástěnky, poradenská centra, job veletrhy, webové stránky studentských spolků, webové stránky nebo i offline prezentace výzkumných pracovních skupin, v neposlední řadě spolužáci, cvičící, přednášející...
```

Markéta Mužíková Koukej se po internshipech. Bohuzel to neni 100 %, ale jsou takovy, kdy hledaj klidne nekoho bez praxe, s tim, ze te zacvici a po nejaky dobe se rozhodnou, jestli te vezmou (vetsinou jo, kdyz do tebe investovali cas a nejsi uplne marnej). Takhle jsme to meli my, ale pak nas koupila firma, co dela polovodice a nevi (a nenechaj si poradit), jak to chodi v software firmach, takze po lidech chtej titul z IT🙄A praxi. A to delame mainframe, kde nikdo moc nepracuje a pracovat nechce...

nekdy se zmeni podminky firmam pod rukama a i kdyz hledali juniora, najednou chteji vic seniornejsi osobu - zeptat se na staz (vetsinou nejdou nikde vyhledat verejne)

networking!

staz - zkusis, naucis se, praxe, brigada na leto

navod na staze, automation, ...
brigády na léto

akce firem pro zacatecniky
    https://pythonweekend.cz/
    https://blog.seznam.cz/stitek/vyvojari/
-->
</section>


<section id="tactics">
  <h2>Taktika při pohovorech</h2>
<!--
Máš nějakou představu o oboru, ve kterém bys chtěl dělat? Web, data, hry, ops, ...?

zorientovat se, IT svet je velky, mit prehled co presne z toho sveta chtit delat, kde ziskat prehled?

zkouset to, chodit co nejvic, ucit se v prubehu
posilit tech background pres podobne prace (tech support, QA)

pripravit si seznam konkretni veci, ktere jsou pro tebe dulezite, a ten si odskrtavat u kazde nabidky, nehledat naslepo "neco", nenechat se zviklat a hledat, vydrzet i kdyz mesic shanim a neni to

vedet co chci, nezapominat na checklist a na sebe

Buď sebevědomá, ale měj pokoru. Jsi junior a ne hotovy programátor. Budeš se muset ještě hodně učit. Mas na to dostat práci, ale sklon hlavu a příjmi menší plat nebo méně atraktivni práci než vysloužili programátoři - zacinas!

https://yangshun.github.io/tech-interview-handbook/

https://welearncode.com/career-advice/
https://twitter.com/ASpittel/status/1214979863683174400

nebojte se chodit na pohovory, i když na to nemáte
když je v inzerátu něco, co chceš dělat, i dkyž to neumíš, stejně tam běž
neboj se říci si o feedback z pohovoru
nepodceňujte se, v inzerátech je ideál, abyste zjistili, co se na té pozici skutečně chce
budte drze, fakt
* muž potřebuje ~60% znalostí, aby se odhodlal jít na pohovor
* žena potřebuje ~115% znalostí, aby se odhodlala jít na pohovor
* zahoďte předsudky, že tohle žena nemůže udělat
* i PyLadies nekdy stačí k tomu to jít někam zkusit
-->
  <h3>Otázky na pohovoru</h3>
<!--
https://dev.to/macmacky/70-javascript-interview-questions-5gfi?utm_campaign=Juniors%20in%20Tech&utm_medium=email&utm_source=Revue%20newsletter

brat si vsude notysek a zapisovat si veci, ktere nevim a doma se na ne po kazdem pohovoru podivat, learn from interviews

priprav si svoje otázky https://github.com/viraptor/reverse-interview

https://twitter.com/ASpittel/status/1214979863683174400

říkej pravdu a dosteneš se tam, kde chceš
-->
  <h3>Životopis</h3>
<!--
linkedin

https://blog.zvestov.cz/software%20development/2018/01/26/o-naboru-junioru.html
-->
  <h3>Projekt</h3>
<!--
https://www.benfrederickson.com/github-wont-help-with-hiring/
https://blog.zvestov.cz/software%20development/2018/01/26/o-naboru-junioru.html

Nikdo dnes neodpovídá na inzerát bytu, když nemá fotky.

dat neco na github, uplne cokoliv, priklady z codewars, nemusi to byt vazny projekt, ukazky kodu, oni si aspon udelaji predstavu co te maji naucit, treba projekt z #project na /practice/

udělejte si vlastní projekt, "hele, tohle jsem udělala" - dělá dobrý dojem na pohovoru

kecat dokáže každý "rád se učím", aspoň něco ukázat vlastního, že nekecá naprázdno
-->
  <h3>Projev aktivitu</h3>
<!--
There are meetups and conferences where you can give presentations as a junior. That’s a fast way to impress some folks and pick up referrals. My first non-internship job was got that way at Ohio LinuxFest.

Open Source (docs, triaging, ...)

organizing meetups, courses, conferences, ... coaching at pyladies, czechitas, ...

Muj citat o tom, ze jsem se naucil python tim, ze jsem zalozil pyvo v brne
-->
  <h3>Tým</h3>
<!--
diversity
red flags
bude se o me nekdo starat? venovat se mi? <-- strasne dulezity
lunch round - setkani s tymem, jak si sednete, kultura prijemna pro novacka?

když ti nesedne kolektiv, neboj se to zkusit jinde
-->
  <h3>Jak zvládnout odmítnutí</h3>
<!--
10+ pohovoru bezne
10+ pohovoru nebo pokusu (screening nebo 3-4. kolo), 1.5 mesice hledani prace na fulltime

ne neznamena spatne, ale ze existuje jina cesta, treba i lepsi - kdyz se nedari, obratit to ve svuj prospech (nedostala do pyladies, tak zalozila svoje)

nebrat to jako odmitani, jde i o me, nejsme kompatibilni, bylo by z toho jen mrzeni, setrime si cas, nejen firma se rozhoduje ale i ty, nemuzes brat prvni nabidku muze to byt ztrata casu, nerozhodovat se ve stresu

brat to optimisticky, ucim se tim, neni to FAIL, je to nejaky stav mezi tebou a konkretni firmou

brat si vsude notysek a zapisovat si veci, ktere nevim a doma se na ne po kazdem pohovoru podivat, learn from interviews
-->
</section>

<section id="seeking">
  <h2>Kde hledat</h2>
  <h3>Recruiteři</h3>
  <h3>Networking</h3>
  <h3>Nástěnky</h3>
<!--
job boardy

Go to meetups, meet people, tell them that you're looking. If they have openings, they'll let you know and refer you. Complete strangers have referred me to jobs either out of the goodness of their heart or for the referral bonus. Everyone knows that referrals are the ONLY way in these days, so talk to people and be personable.

I would hear this type of thing a lot when I was an instructor at a bootcamp. I would say, "Ok, but how many meetups have you been to or other social events? And when you're there, do you just talk to other bootcamp alumns the whole time?"

Networking is how you get jobs

junior.guru


### Recruiters

muzes to zkusit, ale pravdepodobne ti recruiter spis uskodi nez pomuze, aspon v ceskem prostredi - je tam provize a firme se musi vyplatit provizi zaplatit - junior ma hodnotu nula dokud se z nej neco nevyklube, naopak se do nej musi investovat, takze junior pres recruitera muze mit i mensi sanci nez kdyz napise do firmy sam bez prostrednika

Doporucovat personalky jako 3queens nebo BIG
-->
</section>

<p class="call-to-action next">
  <a href="{{ url_for('jobs') }}" class="button">Nabídky práce!</a>
</p>
{% endblock %}

