{% extends 'layouts/base.html' %}

{% block meta %}
  {{ super() }}
  <script type="text/javascript">
    window.MemberfulOptions = {site: "https://juniorguru.memberful.com"};

    (function() {
      var s   = document.createElement('script');

      s.type  = 'text/javascript';
      s.async = true;
      s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

      setup = function() { window.MemberfulEmbedded.setup(); }

      s.addEventListener("load", setup, false);

      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script>
{% endblock %}

{% block title %}Klub pro začátečníky v programování{% endblock %}

{% block description -%}
Přidej se na junior.guru Discord! Jsme komunita začátečníků, dobrovolníků, mentorů, profesionálů, sponzorů a dalších, které baví sdílet spolu tipy, názory, pomáhat si a podávat juniorům pomocnou ruku při hledání jejich první práce.
{%- endblock %}

{% block content %}
<header class="intro intro--without-illustration">
  <h1 class="intro__title">Klub, který tě nastartuje</h1>
  <p class="intro__lead">
    Jsme klub začátečníků, dobrovolníků, mentorů, profesionálů a dalších, které baví sdílet spolu tipy a podávat juniorům pomocnou ruku.
  </p>
</header>
<section class="content__section">
  <div class="hero">
    <div class="hero__image-container">
      <img class="hero__image" src="{{ url_for('static', filename='images/club.png') }}" alt="Snímek obrazovky, na kterém je klub pro začátečníky">
    </div>
    <div class="hero__info">
      <h2 class="hero__info-heading">Přidej se</h2>
      <ul class="plans">
        <li class="plans__plan">
          <ul class="plans__benefits">
            <li class="plans__benefit">Prvních 14 dní zdarma</li>
            <li class="plans__benefit">Můžeš to kdykoliv zrušit</li>
          </ul>
          <a class="button button--nowrap" href="https://juniorguru.memberful.com/checkout?plan=59515" data-metrics data-metrics-name="club-button-monthly">
            109 Kč <sup class="button__unit">měsíčně
          </a>
        </li>
        <li class="plans__plan">
          <ul class="plans__benefits">
            <li class="plans__benefit">Prvních 14 dní zdarma</li>
            <li class="plans__benefit">Jeden měsíc ušetříš</li>
          </ul>
          <a class="button button--nowrap button--secondary" href="https://juniorguru.memberful.com/checkout?plan=59574" data-metrics data-metrics-name="club-button-yearly">
            1199 Kč <sup class="button__unit">ročně</sup>
          </a>
        </li>
      </ul>
      <p class="hero__note">
        <a href="{{ url_for('membership') }}">Rozcestník pro členy</a>
      </p>
    </div>
  </div>
</section>
<section class="content__section">
  <div class="members">
    <ul class="members__items">
      {% for member in members|sample(20) %}
        <li class="members__item">
          <img width="51" height="51" class="members__image" src="{{ url_for('static', filename=member.avatar_path) }}" alt="Profilovka člena {{ member.id }}">
        </li>
      {% endfor %}
      <li class="members__item members__item--count">
        a&nbsp;{{ members_total_count - 20 }}&nbsp;dalších
      </li>
    </ul>
  </div>
  <div class="logos">
    <ul class="logos__items">
      <li class="logos__item logos__item--caption">
        <span class="logos__link">
          <span>S&#32;klubem&#32;<a href="#companies">spolupracují</a>:</span>
        </span>
      </li>
      {% for logo in logos %}
        <li class="logos__item">
          <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="{{ logo.link }}" target="_blank" rel="noopener" title="{{ logo.name }} podporuje juniory účastí v klubu">
            <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/' + logo.filename) }}" alt="{{ logo.name }}">
          </a>
        </li>
      {% endfor %}
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://coreskill.tech/" target="_blank" rel="noopener" title="CoreSkill podporuje juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/coreskill.svg') }}" alt="CoreSkill">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://www.skoumal.com/" target="_blank" rel="noopener" title="Skoumal podporuje juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/skoumal.png') }}" alt="Skoumal">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://creatiweb.cz/" target="_blank" rel="noopener" title="Creatiweb podporuje juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/creatiweb.svg') }}" alt="Creatiweb">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://lynt.cz/" target="_blank" rel="noopener" title="Lynt services podporuje juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/lynt.svg') }}" alt="Lynt services">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://inuits.eu/" target="_blank" rel="noopener" title="Inuits podporují juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/inuits.svg') }}" alt="Inuits">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" data-metrics-utm data-metrics-utm-medium="logo" data-metrics-utm-campaign="sponsorship" data-metrics data-metrics-name="club-logo" href="https://cybermagnolia.com/" target="_blank" rel="noopener" title="CyberMagnolia podporuje juniory účastí v klubu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/cybermagnolia.svg') }}" alt="CyberMagnolia">
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="content__section">
  <ul class="features">
    <li class="feature">
      <h3 class="feature__heading">Přidej se k těm, kteří to myslí vážně</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Představení Lenky" src="{{ url_for('static', filename='images/features/people.png') }}">
      <p class="feature__description">
        Někdy pomůže nejvíc, když máš kolem sebe lidi se stejným cílem. Posouvej se s těmi, kdo se rozhodli něco investovat.
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Prober to s profíky</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Tip od Michala" src="{{ url_for('static', filename='images/features/tips.png') }}">
      <p class="feature__description">
        V klubu jsou i seniorní programátoři a náboráři. Už teď např. odborníci na frontend, Python, data, bezpečnost…
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Přispívej na junior.guru</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Srdce" src="{{ url_for('static', filename='images/features/love.png') }}">
      <p class="feature__description">
        Předplatným podporuješ vylepšování a rozšiřování junior.guru. Máš prostor říct, co dalšího by ti pomohlo.
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Dostaň zpětnou vazbu</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Zhodnocení CV" src="{{ url_for('static', filename='images/features/review.png') }}">
      <p class="feature__description">
        Nech si okomentovat projekty, GitHub profil, CV, LinkedIn.
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Konzultuj svá rozhodnutí</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Konverzace o směřování kariéry" src="{{ url_for('static', filename='images/features/carreer.png') }}">
      <p class="feature__description">
        Prober s ostatními strategii pro svou kariéru.
      </p>
    </li>
    <li class="feature feature--ribbon">
      <h3 class="feature__heading">Hledej práci efektivněji <small class="feature__ribbon">Připravuje se</small></h3>
      <img class="feature__image" width="400" loading="lazy" alt="Zpětná vazba od Jáchyma" src="{{ url_for('static', filename='images/features/interviews.png') }}">
      <p class="feature__description">
        Sleduj nejnovější inzeráty. Diskutuj nabídky a pohovory.
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Nové rady čti první</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Nová kapitola do příručky" src="{{ url_for('static', filename='images/features/handbook.png') }}">
      <p class="feature__description">
        Pročítej a komentuj kapitoly do příručky pro juniory ještě předtím, než se na webu objeví pro všechny.
      </p>
    </li>
    <li class="feature">
      <h3 class="feature__heading">Využívej virtuální učebny</h3>
      <img class="feature__image" width="400" loading="lazy" alt="Učebny" src="{{ url_for('static', filename='images/features/classrooms.png') }}">
      <p class="feature__description">
        Covid tě nezastaví. Díky hlasovým kanálům si uspořádáš studijní kroužek i na dálku.
      </p>
    </li>
    <li class="feature feature--ribbon">
      <h3 class="feature__heading">Využij slevy pro členy <small class="feature__ribbon">Připravuje se</small></h3>
      <img class="feature__image" width="400" loading="lazy" alt="Promo kanály" src="{{ url_for('static', filename='images/features/promo.png') }}">
      <p class="feature__description">
        Získej díky členství v klubu slevy na software, kurzy, knihy.
      </p>
    </li>
  </ul>
</section>
<section class="content__section">
  <div class="testimonials">
    <ul class="testimonials__items">
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Ahoj, tak jsem dostal ten job! Ty na tom máš obrovský podíl! Musím ti za to ohromně poděkovat!
          </blockquote>
          <figcaption>
            Jan
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Co mě vždy jako kluka z vesnice na programování nejvíce štvalo, bylo to, že jsem na to byl vždycky hrozně moc sám. Proto jsem opravdu vděčný za tuto komunitu, jednak Honzovi, ale i vám ostatním, co tu jste.
          </blockquote>
          <figcaption>
            Lukáš
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Nacpat se sem do klubu byl moc dobrej napád. Kromě toho, že podpořím junior.guru, což jsem stejně měla v plánu, je to pro me i při současném víceméně "pasivním" používání taková ta jemně popostrkující a nějakou činnost vyvolávající a podněcující síla, kterou jsem potřebovala.
          </blockquote>
          <figcaption>
            Radka
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Tak dneska druhé kolo pohovoru na junior JavaScript programátora a 1.5. nastupuju 🎉 🎉 🎉 😀 Jsem z toho úplně mimo 😀
          </blockquote>
          <figcaption>
            Tomáš
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Mně přijde, že je dost problém najít komunitu, která je fakt o nějaký vzájemný pomoci a výměně informací, než o honění ega... Dost často se setkávám s tím, že se někdo na něco zeptá a dostane akorát výsměch, nebo odpověď „Google“, případně třeba odpověď k tématu, ale s takovou zvláštní příměsí nadřazenosti... Proto mám třeba i radši víc ženský skupiny. Tam mi přijde, že to tolik nevídám. Ale tady je to třeba krásná výjimka. Jsem fakt ráda, že toho můžu být součástí.
          </blockquote>
          <figcaption>
            Hanka
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Díky junior.guru klubu jsem si za dva týdny sehnala práci 😉 Děkuji!
          </blockquote>
          <figcaption>
            Vladlena
          </figcaption>
        </figure>
      </li>
      <li class="testimonials__item">
        <figure class="quote testimonials__item-content">
          <blockquote>
            Ty diskuse jsou úžasné. Když to lidi zaplatí, tak je to úplně jiné. Extrémně kultivované, srozumitelné, každý příspěvek dává smysl.
          </blockquote>
          <figcaption>
            Jakub
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
<section class="content__section">
  <h2 class="content__section-heading">Otázky a odpovědi</h2>
  <h3 class="content__subsection-heading" id="juniors-only">Je klub pouze pro začátečníky?</h3>
  <p>
    Vůbec ne. Cílem naopak je, aby jeho skladba byla pestrá. Pomoc a rozvoj začátečníků je to hlavní, k čemu slouží, ale členy klubu jsou už teď i mnozí profíci, mentoři, náboráři a další.
  </p>
  <h3 class="content__subsection-heading" id="seniors">Co mám z členství v klubu jako senior?</h3>
  <p>
    Pokud chceš pomáhat začátečníkům, nebo se motáš kolem vzdělávání v IT, bude se ti v klubu fakt líbit. Členství se ale může hodit i leckomu dalšímu. Nezávislí profesionálové mohou členům nabízet svá školení, mentoři spolupráci, organizátoři je mohou zvát na své akce. No a pro někoho může být členství prostě i jen způsobem, jak junior.guru finančně podpořit v tom, co pro začátečníky dělá.
  </p>
  <h3 class="content__subsection-heading" id="companies">Co bude mít z členství v klubu naše firma?</h3>
  <p>
    Firmy, které s klubem spolupracují, do něj mají především přístup. Mohou vyhlížet talentované juniory, promovat vůči členům své akce, dávat jim slevy na své produkty, mohou se zapojit do diskuzí a poradit nebo poskytovat pohled z druhé strany. Je na vás, jak to uchopíte a co z toho „vyždímete“. Už jen tím, že svými financemi podpoříte existenci junior.guru a budete zde mít logo, si budujete dobré jméno jak mezi lidmi z nastupující generace vývojářů, tak mezi zainteresovanými profíky. Máte-li o partnerství zájem, napište na {{ 'ahoj@junior.guru'|email_link }}.
  </p>
  <h3 class="content__subsection-heading" id="discord">Jak to přesně funguje?</h3>
  <p>
    Dokud platíš měsíční předplatné, jsi členem klubu a máš přístup do klubovny. Pokud ti měsíční placení nevyhovuje, předplatné můžeš se slevou zaplatit na celý rok dopředu. Klubovna má podobu uzavřeného komunitního chatu na službě <a href="https://discord.com/">Discord</a>. Jsou k tomu aplikace na mobil i počítač, ale funguje to i jen tak v prohlížeči. Jako člen se můžeš účastnit dění v klubovně, psát si s ostatními soukromé zprávy, nebo skočit do některé z hlasových místností a probrat něco naživo. Můžeš se tak ve virtuální učebně na jeden klik sejít s mentorem nebo s kamarády a nemusíte řešit, který software na videohovory použijete. Samozřejmě, pokud chceš junior.guru jen finančně podpořit, do klubovny vůbec chodit nemusíš.
  </p>
  <h3 class="content__subsection-heading" id="money">Proč je to placené?</h3>
  <p>
    Klub neprovozuje žádná firma, ale jednotlivec, <a href="{{ url_for('donate') }}#about">Honza Javorek</a>. Jedna osoba, rodina, nájem, jídlo, a tak dále. Klub musí být placený, protože se chci juniorům věnovat opravdu naplno. Více jsem o své motivaci spustit klub napsal v <a href="https://honzajavorek.cz/blog/spoustim-klub/">rozsáhlém článku na svém blogu</a>.
  </p>
  <p>
    Rady, které jsem na junior.guru sesbíral a sepsal, zůstávají nadále zdarma na webu a plánuji je v této podobě dál rozšiřovat. Začátečníci ale potřebují víc než jen sepsané rady. Nejvíc je posune, když v tom všem nejsou sami a může jim někdo pomoci se zapeklitou situací, dát zpětnou vazbu, dodat motivaci. A mě toto všechno hodně baví dělat. Chci pracovat pro juniory, být jejich ambasadorem, průvodcem po nelehké cestě. Stejně jako třeba doktor, nejraději bych pomohl všem, ale musím z něčeho žít. Kdybych nabízel profesionální placené konzultace, mohl by si to dovolit jen málokdo. Díky klubu si ale může kousek toho, co dělám, předplatit skoro každý. Prvních 14 dní má navíc každý zdarma.
  </p>
  <h3 class="content__subsection-heading" id="anonymity">Co když nechci řešit své problémy před zraky potenciálních zaměstnavatelů?</h3>
  <p>
    Šikovný junior není ten, který vše ví, ale ten, který se nebojí zeptat a pracuje na řešení svých nedostatků. Lidé, kteří v klubu jsou, tvou aktivitu spíše ocení, než že by si o tobě něco zlého pomysleli. Každopádně ale lze úplně bez problémů využívat klub a zůstat přitom v anonymitě. Pro registraci na junior.guru sice musíš zadat jméno, ale to se objeví maximálně na účetním dokladu. Na samotném Discordu můžeš být klidně beruška97.
  </p>
  <h3 class="content__subsection-heading" id="payments">Jsou údaje o mé platební kartě v bezpečí?</h3>
  <p>
    Jasně! K údajům o tvé kartě nemá nikdo z junior.guru přístup, jsou bezpečně uchovány platební bránou <a href="https://stripe.com/">Stripe</a>. Je to světoznámá služba, která má hromadu zabezpečení a certifikátů.
  </p>
  <h3 class="content__subsection-heading" id="difference">Jaký je rozdíl mezi klubem a skupinou na Facebooku?</h3>
  <p>
    Do Facebookových skupin se může přidat každý. V klubu se oproti tomu koncentrují lidé, kteří „to myslí vážně“, ať už jde o pomoc druhým, nebo vlastní rozvoj. Je to kultivované místo, kde nehrozí, že se někdo bude vysmívat tvému dotazu. Diskuse je strukturovanější díky odděleným kanálům pro různá témata a kromě textových zpráv si členové mohou snadno i zavolat. Co se týče konkrétně <a href="https://www.facebook.com/groups/junior.guru">skupiny pro příznivce junior.guru</a>, tak ta bude nadále existovat, ale dlouhodobý plán je, že jednou ji klub zcela nahradí.
  </p>
  <h3 class="content__subsection-heading" id="supporters">Mám přístup do klubu, když tě podporuji na GitHub Sponsors nebo na Patreonu?</h3>
  <p>
    Ano! Napiš mi prosím na {{ 'ahoj@junior.guru'|email_link }} a domluvíme se, jak to provedeme. Dlouhodobý plán je takový, že by členství v klubu zcela nahradilo dobrovolné příspěvky.
  </p>
  <h3 class="content__subsection-heading" id="handbook">Budou nové rady na junior.guru už pouze pro členy klubu?</h3>
  <p>
    Ne, nic se neruší. Naopak, přidává se! Všechen současný obsah junior.guru zůstává nadále zdarma na webu a stejně jako doposud se bude i rozšiřovat o další kapitoly. Klub je způsob, jak tuto dobročinnost mohu financovat a posunout ji na interaktivnější úroveň. O nových kapitolách je možno v klubu diskutovat, mohu tam sbírat tipy, zpětnou vazbu, vysledovat další zajímavá témata.
  </p>
</section>
<hr>
<section class="content__section">
  <p class="support">
    <span class="support__content">
      <img class="support__image" alt="Fotka Honzy Javorka" src="{{ url_for('static', filename='images/honza.jpg') }}" width="400" loading="lazy" alt="">
      <span class="support__text">
        Pokud máš jakékoliv otázky, Honza je rád zodpoví.<br>
        Pište na&nbsp;{{ 'ahoj@junior.guru'|email_link }}.
      </span>
    </span>
  </p>
</section>
{% endblock %}
