{% extends 'layouts/base.html' %}

{% block title %}Pravidla chování na junior.guru{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Pravidla chování</h1>
</header>

<section class="content__section">
  <p>
    Jsme klub začátečníků, dobrovolníků, mentorů, profesionálů, sponzorů a dalších. Rozmanitost je jednou z našich silných stránek, ale může vést i k nedorozuměním a nespokojenosti. Proto máme pár společných pravidel, které bychom chtěli, aby lidé dodržovali. Tato pravidla platí rovnocenně pro všechny. Pravidla nejsou vyčerpávajícím seznamem věcí, které nemáš dělat. Měly by ti spíš dát obecnou představu, jaký je jejich záměr.
  </p>
  <p>
    Pravidla platí pro všechny účastníky akcí a diskuzí pod hlavičkou Junior Guru, a to na všech místech, kde spolu členové klubu komunikují. Kromě toho, i prohřešky mimo tato místa mohou ovlivnit, jakým způsobem bude dané osobě umožněno se akcí a diskuzí pod hlavičkou Junior Guru účastnit.
  </p>
  <ul>
    <li>
      <strong>Jsme přátelští a trpěliví.</strong>
    </li>
    <li>
      <strong>Jsme přívětiví.</strong> Jsme klub, který je otevřený a bezpečný všem, a to bez ohledu na pohlaví, věk, sexuální orientaci, postižení, fyzický vzhled, tělesné rozměry, národnost, rasu, víru, původ, kulturu, politický názor nebo sociální vrstvu.
    </li>
    <li>
      <strong>Máme k sobě respekt.</strong> Nemusíme spolu vždy souhlasit, ale nesouhlas není omluvou pro špatné chování. Občas každý z nás pociťuje nějakou frustraci, ale nenecháváme ji přerůst v osobní útoky. Kolektiv, kde se lidé cítí nepohodlně nebo ohroženě, je neproduktivní.
    </li>
    <li>
      <strong>Vážíme slova.</strong> Jsme klub profesionálů a chováme se podle toho. Jsme k ostatním laskaví, neurážíme je, ani nestíráme. Jakékoliv diskriminující nebo obtěžující chování je zcela nepřípustné. Kromě jiného například:
      <ul>
        <li>
          Násilné vyhrožování a osobní útoky,
        </li>
        <li>
          diskriminace, a to i pokud jde o vtipy,
        </li>
        <li>
          zveřejnění čehokoliv sexuální nebo násilné povahy,
        </li>
        <li>
          zveřejnění (nebo hrozba zveřejnění) osobních údajů (“doxing”),
        </li>
        <li>
          sexuální obtěžování, návrhy, nevítaná pozornost, pronásledování (“stalking”),
        </li>
        <li>
          obhajoba nebo povzbuzování kteréhokoliv z výše zmíněných prohřešků,
        </li>
        <li>
          opakované obtěžování ostatních. Jinými slovy, když ti někdo řekne, že máš s něčím přestat, tak přestaň.
        </li>
      </ul>
    </li>
    <li>
      <strong>Když nesouhlasíme, snažíme se pochopit proč.</strong> Odlišné názory a neshody jsou běžnou součástí lidské komunikace a práce s technologiemi. V našem klubu se je však snažíme řešit konstruktivně. Každý přišel z jiného prostředí a přinesl si jinou zkušenost.
    </li>
    <li>
      <strong>Chybovat je lidské.</strong> Obviňování nikam nevede. Chyba je standardní součástí lidského učení. Pomáháme řešit následky a zamýšlíme se nad poučením do budoucna.
    </li>
  </ul>
  <p>
    Inspirováno <a href="https://www.djangoproject.com/conduct/">Django Code of Conduct</a>. Děkujeme!
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Otázky a odpovědi</h2>
  <h3 class="content__subsection-heading">Jak nahlásit porušení?</h3>
  <p>
    Pokud jsi svědkem nevhodného chování, nebo dokonce jeho terčem, neprodleně kontaktuj realizační tým, organizátory nebo moderátory. Popiš co se stalo a pošli to na {{ 'chovani@junior.guru'|email_link }}. Upozornění vždy zůstávají tajná a zodpovědné osoby se zavazují je řešit.
  </p>
  <h3 class="content__subsection-heading">Proč potřebujeme pravidla chování?</h3>
  <p>
    Určitě by bylo lepší, kdybychom si mohli říct, že se k sobě budeme chovat hezky, a to by stačilo. Jenže praxe ukazuje, že ne každý se umí chovat hezky a že všichni máme zcela odlišnou představu o tom, kde “hezky” končí.
  </p>
  <p>
    Sepsaná pravidla chování, i když jsou vágní, pomáhají našemu klubu jasně prohlásit, že jsou v něm vítáni všichni bez rozdílů, a zároveň sjednocuje očekávání všech zúčastněných o tom, kde jsou hranice.
  </p>
  <h3 class="content__subsection-heading">Není to přetvářka?</h3>
  <p>
    Každý jsme jiný a ve svém soukromí nebo v úzkém kruhu známých se můžeme chovat jak chceme, ale v profesionálním kolektivu je žádoucí a produktivnější, když obrousíme hrany a vytvoříme prostor, v němž je příjemně opravdu každému.
  </p>
  <p>
    Je těžké najít dobré analogie, když i prezident ČR běžně mluví sprostě, ale řekněme, že když jdeš na pohovor nebo do divadla, taky se chováš jinak, než v soukromí. Pravidla chování ti neříkají co si máš oblékat, ale že pokud se chceš účastnit akcí a diskuzí, je vyžadováno oblečení.
  </p>
  <h3 class="content__subsection-heading">Není to cenzura?</h3>
  <p>
    Na svých akcích a diskuzích si můžeš si říkat nebo psát, co chceš. Na našich akcích a diskuzích máme těchto pár pravidel, které musíš dodržovat. Nikdo ti nebrání účastnit se akcí a diskuzí na téma začátečníků v programování, kde jsou pravidla jiná. Pokud neexistují, můžeš si je zorganizovat.
  </p>
  <p>
    V MHD tě také mohou vyloučit z přepravy, a to i s platnou jízdenkou, pokud nedodržuješ jejich podmínky, poškozuješ nebo znečišťuješ vozidlo, ohrožuješ nebo obtěžuješ spolucestující.
  </p>
  <h3 class="content__subsection-heading">Co se stane při porušení pravidel?</h3>
  <p>
    Zodpovědné osoby se zavazují zabývat se porušením pravidel, pokud si ho samy všimnou, nebo jej někdo nahlásí.
  </p>
  <p>
    Popisy incidentů mohou být v rámci transparentnosti zveřejněny, ale nahlášení zůstává v tajnosti. Pokud nemáš jistotu, zda jsi svědkem porušení pravidel nebo ne, stejně to nahlaš. Raději budeme mít o pár nahlášení víc, i když nevyústí v žádnou akci, než abychom se nedověděli o něčem, co porušení pravidel je.
  </p>
  <p>
    Při nahlašování ideálně zmiň:
  </p>
  <ul>
    <li>Nějaký kontakt na sebe, ať můžeme komunikovat,</li>
    <li>jména (přezdívky, pseudonymy, to je jedno) těch, kterých se věc týká,</li>
    <li>kdy a kde se to stalo (čím přesnější popis, tím lepší). Pokud jde o něco, co má veřejný záznam na internetu, připoj prosím odkaz nebo snímek obrazovky.</li>
    <li>Tvůj vlastní popis toho, co se stalo,</li>
    <li>jakýkoliv další kontext, který by mohl být důležitý.</li>
  </ul>
  <p>
    Co se stane potom?
  </p>
  <ul>
    <li>Zodpovědné osoby zjistí co se stalo,</li>
    <li>jestli je to porušení pravidel,</li>
    <li>kdo je porušil.</li>
  </ul>
  <p>
    Následně přijde reakce. Ta může zahrnovat:
  </p>
  <ul>
    <li>Nic (nedošlo k porušení pravidel),</li>
    <li>soukromé pokárání,</li>
    <li>veřejné pokárání,</li>
    <li>dočasné nebo stálé vyloučení z akcí nebo diskuzí pod hlavičkou Junior Guru,</li>
    <li>požadavek na veřejnou omluvu.</li>
  </ul>
</section>
{% endblock %}
