<section class="engage">
  <p>
    Kariéra v&nbsp;IT?
    <a href="{{ url_for('index') }}">junior.guru</a> je&nbsp;tu pro&nbsp;tebe!
  </p>
  <ul>
    <li>
      <a href="{{ url_for('jobs') }}">
        Procházej nabídky&nbsp;práce
      </a>
    </li>
    <li>
      <a href="http://eepurl.com/gyG8Bb" target="_blank">
        Dostávej práci do&nbsp;e-mailu
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/junior.guru" target="_blank">
        Přidej&nbsp;se do&nbsp;FB&nbsp;skupiny
      </a>
    </li>
    <li>
      <a href="{{ url_for('donate') }}">
        Pošli LOVE
      </a>
    </li>
  </ul>
</section>
