<section class="main__section main__section--wide engage">
  <div class="engage__content">
    <div class="engage__links">
      <h2 class="engage__links-heading">Nepřehlédni</h2>
      <ul class="engage__items">
        <li class="engage__item engage__item--jobs">
          <a class="engage__item-link" href="{{ url_for('jobs') }}">Nabídky&nbsp;práce</a>
        </li>
        <li class="engage__item engage__item--newsletter">
          <a class="engage__item-link" href="http://eepurl.com/gyG8Bb" target="_blank" rel="noopener">Práce do&nbsp;e-mailu</a>
        </li>
        <li class="engage__item engage__item--f">
          <a class="engage__item-link" href="https://www.facebook.com/groups/junior.guru" target="_blank" rel="noopener">FB&nbsp;skupina</a>
        </li>
        <li class="engage__item engage__item--donate">
          <a class="engage__item-link" href="{{ url_for('donate') }}">LOVE</a>
        </li>
      </ul>
    </div>
    <div class="engage__handbook">
      <div class="engage__handbook-content engage__illustration--desktop">
        <h3 class="engage__handbook-heading">Příručka hledání první práce v&nbsp;IT</h3>
        <p class="engage__text engage__illustration--phones">
          Jak si sehnat první práci? Jak se připravit na pohovor?
          Tak přesně o tom tady 1.&nbsp;9.&nbsp;2020
          <a href="{{ url_for('candidate_handbook_teaser') }}">vyjde ucelený soubor rad</a> v rozsahu více než 30 normostran.
          <strong>Odebírej newsletter</strong> a text příručky budeš mít k dispozici ještě před datem vydání!
        </p>
      </div>
      <p class="button-compartment button-compartment--consistent-minimal-margin">
        <a class="button" href="http://eepurl.com/gyG8Bb" target="_blank" rel="noopener">Hlídat příručku</a>
      </p>
    </div>
  </div>
</section>
