{% extends 'layouts/base.html' %}

{% block title %}Přednášky a další akce pro začátečníky v programování{% endblock %}

{% block description -%}
Přednášky a další akce pro členy klubu junior.guru. Seznam akcí proběhlých i budoucích.
{%- endblock %}

{% block content %}
<header class="intro intro--without-illustration">
  <h1 class="intro__title">Klubové akce</h1>
  <p class="intro__lead">
    <a href="{{ url_for('club') }}">Klub pro začátečníky</a> občas pořádá nějakou akci, nejčastěji přednášku. Tady najdeš jejich seznam, ať víš, na co se můžeš těšit. Aktuálně jsou to především večerní přednášky expertů pro členy klubu. Členství je na první dva týdny zdarma, takže si jej klidně zřiď i jen kvůli účasti na akci, která tě zrovna zajímá. Nijak nám to nevadí.
  </p>
</header>
<section class="content__section" id="planned">
  <h2 class="content__section-heading">Plánované</h2>
  {% if events_planned|length %}
    {% for event in events_planned %}
      <h3 class="content__subsection-heading" id="{{ event.slug }}">{{ event.title }}</h3>
      <p class="note">
        <strong>{{ event.start_at_prg.day }}.&nbsp;{{ event.start_at_prg.month }}.&nbsp;{{ event.start_at_prg.year }},
        {{ event.start_at|local_time }} online v klubovně</strong>
      </p>
      {{ event.description|md }}
      {{ event.bio|md }}
    {% endfor %}
  {% else %}
    <p>Příští akce ještě nebyly oznámeny.</p>
  {% endif %}
</section>
<section class="content__section" id="archive">
  <h2 class="content__section-heading">Archiv</h2>
  {% for event in events_archive %}
    <h3 class="content__subsection-heading" id="{{ event.slug }}">{{ event.title }}</h3>
    <p class="note">
      <strong>{{ event.start_at_prg.day }}.&nbsp;{{ event.start_at_prg.month }}.&nbsp;{{ event.start_at_prg.year }},
      {{ event.start_at|local_time }} online v klubovně</strong>{% if event.recording_url %},
      <a href="{{ event.recording_url }}">záznam</a>{% endif %}
    </p>
    {{ event.description|md }}
    {{ event.bio|md }}
  {% endfor %}
</section>
<section class="content__section" id="info">
  <h2 class="content__section-heading">Jak to funguje?</h2>
  <p>
    Večerní tematické přednášky jsou vždy předem oznámeny na konkrétní datum a čas. Pokud chceš přednášku slyšet, připoj se v ten čas do hlasové místnosti #klubovna. Po skončení přednášky není žádný další oficiální program. Cílem je, aby přednášky byly spíše rychlé a časté, než plánované do celovečerních bloků. Tak nezaberou příliš mnoho času a můžeš se připojit, i když máš nabitý den, nebo prostě jen nechceš trávit celý večer na nějakém srazu.
  </p>
  <p>
    Pokud si chceš povídat, můžeš po přednášce zůstat v místnosti #klubovna, stejně jako to jde i kdykoliv jindy. Není to ale už součástí programu, takže tohoto povídání se nemusí účastnit organizátoři a diskuze není moderovaná.
  </p>
  <p>
    Nepořizujeme profesionální záznam, ale snažíme se alespoň nahrát obrazovku, aby si přednášku mohli pustit i členové, kteří v čas přednášky nemají čas. Nedáváme žádnou záruku na existenci záznamu ani jeho kvalitu. Pokud existuje, je členům k dispozici skrze tajný odkaz na YouTube. Odkaz na video veřejně prosím nesdílej, ale kamarádům jej klidně pošli &mdash; asi stejně jako když pro známé odemykáš placený článek v novinách.
  </p>

  <h3 class="content__subsection-heading" id="speakers-info">Instrukce pro přednášející</h3>
  <p>
    Pokud chceš přednášet v klubu, ozvi se prosím na {{ 'ahoj@junior.guru'|email_link }}. Přednáška se odehrává přímo v klubu, tedy přes platformu <a href="https://discord.com/">Discord</a>. Ta umožňuje videohovory i sdílení obrazovky. Jako poděkování za přednášku dostaneš <strong>roční členství v klubu zdarma</strong>. To můžeš hned využít k tomu, že si ještě před přednáškou ve volné chvíli v kterékoliv hlasové místnosti vyzkoušíš, zda ti funguje video, sdílení obrazovky, apod. Případné problémy vyřešíme v místnosti #meta.
  </p>
  <p>
    Přednášky jsou zpravidla v úterky v 18:00, ale pokud by ti to vyhovovalo jinak, není problém se domluvit. Je fajn, pokud před akcí dodáš nějaké základní info o sobě, název přednášky a pár vět, které lidi namotivují, aby se dostavili. Publikum jsou především junioři, začátečníci v programování, studenti, lidé všeho věku rekvalifikující se do IT. Členy klubu jsou ale i senioři nebo mentoři a mohou přijít také, pokud je bude téma zajímat. Jestli si chceš udělat konkrétnější obrázek, projdi si místnost #ahoj.
  </p>
  <p>
    Jsi jediná hvězda večera. Na přednášku není časový limit, ale předpoklad je, že se běžně vejde i s následnými dotazy do hodiny času. Je na tobě, jestli ti dává smysl mluvit 20, 30, nebo 40 minut.
  </p>
  <p>
    Ve výchozím nastavení Discord udělá zvuk při každé aktivitě v hlasovém kanálu, např. při připojení nového účastníka, odpojení, vypnutí zvuku, zapnutí, apod., což tě bude rušit při přednášení. Zvuky si vypni v <em>User Settings</em>, stránka <em>Notifications</em>, sekce <em>Sounds</em>. Většina zvuků souvisí s hovory, takže je potřeba povypínat skoro vše.
  </p>
</section>
{% endblock %}
