{% extends 'layouts/base.html' %}

{% block title %}Přednášky a další akce pro začátečníky v programování{% endblock %}

{% block description -%}
Přednášky a další akce pro členy klubu junior.guru. Seznam akcí proběhlých i budoucích.
{%- endblock %}

{% block content %}
<header class="intro intro--without-illustration">
  <h1 class="intro__title">Klubové akce</h1>
  <p class="intro__lead">
    <a href="{{ url_for('club') }}">Klub pro začátečníky</a> občas pořádá nějakou akci, nejčastěji přednášku. Tady najdeš jejich seznam, ať víš, na co se můžeš těšit. Aktuálně jsou to především večerní přednášky expertů pro členy klubu. Členství je na první dva týdny zdarma, takže si jej klidně zřiď i jen kvůli účasti na akci, která tě zrovna zajímá. Nijak nám to nevadí.
  </p>
</header>
<section class="content__section" id="planned">
  <h2 class="content__section-heading">Plánované</h2>
  <p>
    Aktuálně není oznámená žádná další přednáška.
  </p>
</section>
<section class="content__section" id="archive">
  <h2 class="content__section-heading">Archiv</h2>
  <h3 class="content__subsection-heading" id="2021-05-05T18-00-00">AMA: Jiří Psotka</h3>
  <p class="note">
    <strong>5.&nbsp;5.&nbsp;2021, 18:00 online v klubovně</strong> <a href="https://discord.com/channels/769966886598737931/789046675247333397/839582722480799795">záznam</a>
  </p>
  <p>
    AMA znamená <em>ask me anything</em>. V uvedený čas se host připojí do klubovny a bude živě odpovídat na cokoliv, co vás bude zajímat. Otázky můžeš pokládat přímo hlasem, ale i textem přes chat. Pokud tě něco napadne už teď, můžeš to do chatu rovnou napsat a nejpozději během AMA na ně host odpoví. Tímto způsobem se můžeš ptát, i pokud se nemůžeš v daný čas připojit, nebo prostě s předstihem, kdykoliv tě něco napadne.
  </p>
  <p>
    Příklady otázek, které jsme řešili:
  </p>
  <ul>
    <li>Je lepší začít hodně dole s nějakou stáží a podobně, nebo raději mít nastudováno a zkusit naskočit co nejvýš?</li>
    <li>Kolik bylo let nejmladšímu juniorovi bez praxe, kterého jsi přijímal, a naopak kolik bylo let nejstaršímu?</li>
    <li>Jak to máte s juniory na full remote? Jsem z druhého konce republiky.</li>
    <li>Očekáváš nějakou zkušenost s Open Source?</li>
    <li>Co bývá v prvních měsících pro nově nastupující juniory nejtěžší? A co pro ty, co je zaškolují a věnují se jim?</li>
    <li>Uvádět do životopisu netechnické vzdělání nebo neuvádět žádné?</li>
    <li>Co děláte v případě, když si kandidát řekne o míň peněz?</li>
    <li>Jaké je typické zvýšení mzdy juniora a kdy?</li>
    <li>Proč firmy nezaměstnávají zaměstnance na zkrácené úvazky?</li>
    <li>Když procházíš CV, co bys určil jako takový jeden největší nebo tři největší nešvary, které ti brání efektivně se jimi probrat a vyhodnotit kandidáta?</li>
    <li>Jak bys popsal potřebnou úroveň angličtiny?</li>
    <li>O jakou mzdu si mám říct jako junior?</li>
    <li>Jaký je poměr v týmech mezi seniory a juniory, jakou pozornost může junior očekávat, když nastoupí?</li>
  </ul>
  <p>
    <a href="https://www.linkedin.com/in/jiripsotka/">Jirka Psotka</a> je seniorní recruiter v <a href="https://jobs.redhat.com/">Red Hatu</a>, který se ve své práci podstatnou měrou zabývá přijímáním juniorů. Ve volném čase jako dobrovolník spoluorganizuje brněnský sraz Python programátorů <a href="https://pyvo.cz/brno-pyvo/">Pyvo</a> a věnuje se <a href="https://www.facebook.com/Hazement/">DJingu</a>. Doma má nekonečnou <a href="https://hearthis.at/krmelec-prostor/dj-hotdogg/">sbírku vinylů</a>.
  </p>
  <h3 class="content__subsection-heading" id="2021-04-13T18-00-00">Designování vysněné práce</h3>
  <p class="note">
    <strong>27.&nbsp;4.&nbsp;2021, 18:00 online v klubovně</strong>, <a href="https://discord.com/channels/769966886598737931/789046675247333397/836906198426320906">záznam</a>
  </p>
  <p><strong>Přednášku jsme kvůli zdravotní nesnázi přesunuli z 13.&nbsp;4. na 27.&nbsp;4.</strong></p>
  <p>
    Jak se z lektorky angličtiny stane frontendistka? První část přednášky je o těžkých rozhodnutích, motivaci, překážkách a pomoci na cestě k vysněné práci. V druhé se podíváme na související obory s vývojem webů a aplikací, včetně user experience.
  </p>
  <p>
    <a href="https://adinafoxova.cz/">Adina Foxová</a> je tlumočnice mezi designem a frontendem. Na volné noze vylepšuje staré a designuje nové weby a aplikace, v kódu se pak hlavně stará o architekturu stylů v React aplikacích. Má vášeň pro design systémy, zajímavé problémy a dinosaury. Už čtvrtým rokem staví s firmou Leveris kompletní bankovní platformu. Ve volném čase moderuje události v IT a její nejoblíbenější místo je Lucerna, když se koná WebExpo.
  </p>
  <h3 class="content__subsection-heading" id="2021-03-31T18-00-00">Jamstack</h3>
  <p class="note">
    <strong>31.&nbsp;3.&nbsp;2021, 18:00 online v klubovně</strong>, <a href="https://discord.com/channels/769966886598737931/789046675247333397/826872579427794955">záznam</a>
  </p>
  <p>
    Co jsou „staticky generované stránky“? Co je Jamstack a jak ti může pomoci tvořit webovky? Jak se orientovat v existujících řešeních a jak si můžeš na Jamstacku vytvořit třeba vlastní blog?
  </p>
  <p>
    <a href="https://www.prskavec.net/">Láďa Prskavec</a> je programátor, školitel a organizátor srazů. Jeho oblíbenými jazyky jsou Node.js, Ruby a Go. Dříve pracoval v LMC a Apiary, dnes je seniorním manažerem SRE v Oracle.
  </p>

  <h3 class="content__subsection-heading" id="2021-03-16T18-00-00">#Junioring 101 - How Not To Go Bonkers At The Start</h3>
  <p class="note">
    <strong>16.&nbsp;3.&nbsp;2021, 18:00 online v klubovně</strong>, <a href="https://discord.com/channels/769966886598737931/789046675247333397/822066882298642462">záznam</a>
  </p>
  <p>
    Máš svou první práci v IT? Výborně! Ale co teď? Jak být užitečným členem týmu, jak se dál vzdělávat a jak se z toho všeho nezbláznit? Přednáška bude v angličtině.
  </p>
  <p>
    <a href="https://cybermagnolia.com/blog/daria-grudzien-interview/">Daria Grudzien</a> is a Site Reliability Engineer and a <a href="https://cybermagnolia.com/">CyberMagnolia community</a> founder. She has switched career from a businesswoman to an engineer and now she’s mentoring other juniors starting their career. In her work she’s helping developers deploy code to production faster and brings visibility to production systems. She’s passionate about the topic of oncall training and making sure that all engineers carrying the pager feel confident. Check out also <a href="https://cybermagnolia.com/blog/daria-grudzien-interview/">interview with Daria</a> or her <a href="https://dariagrudzien.com/posts/the-one-about-managing-self-as-a-junior/">blog post on a similar topic</a>!
  </p>

  <h3 class="content__subsection-heading" id="2021-02-11T18-30-00">První klubový sraz</h3>
  <p class="note">
    <strong>11.&nbsp;2.&nbsp;2021, 18:30 online v klubovně</strong>
  </p>
  <p>
    Začneme několika <em>lightning talks</em>, pokud se někdo přihlásí. Pak bude volná debata podobně jako když se lidi sejdou v hospodě.
  </p>
  <ul>
    <li>Honza Javorek – Co a jak s GitHub profilem</li>
    <li>Daniel Srb – Jak si přepočítat hodinovku jako OSVČ na mzdu zaměstnance a opačně</li>
    <li>Karolina Surma - OSM + uMap + GitHub a špetka Bashe = dynamická mapa do každé domácnosti</li>
  </ul>
</section>
<section class="content__section" id="info">
  <h2 class="content__section-heading">Jak to funguje?</h2>
  <p>
    Večerní tematické přednášky jsou vždy předem oznámeny na konkrétní datum a čas. Pokud chceš přednášku slyšet, připoj se v ten čas do hlasové místnosti #klubovna. Po skončení přednášky není žádný další oficiální program. Cílem je, aby přednášky byly spíše rychlé a časté, než plánované do celovečerních bloků. Tak nezaberou příliš mnoho času a můžeš se připojit, i když máš nabitý den, nebo prostě jen nechceš trávit celý večer na nějakém srazu.
  </p>
  <p>
    Pokud si chceš povídat, můžeš po přednášce zůstat v místnosti #klubovna, stejně jako to jde i kdykoliv jindy. Není to ale už součástí programu, takže tohoto povídání se nemusí účastnit organizátoři a diskuze není moderovaná.
  </p>
  <p>
    Nepořizujeme profesionální záznam, ale snažíme se alespoň nahrát obrazovku, aby si přednášku mohli pustit i členové, kteří v čas přednášky nemají čas. Nedáváme žádnou záruku na existenci záznamu ani jeho kvalitu. Pokud existuje, je členům k dispozici skrze tajný odkaz na YouTube. Odkaz na video veřejně prosím nesdílej, ale kamarádům jej klidně pošli &mdash; asi stejně jako když pro známé odemykáš placený článek v novinách.
  </p>

  <h3 class="content__subsection-heading" id="speakers-info">Instrukce pro přednášející</h3>
  <p>
    Pokud chceš přednášet v klubu, ozvi se prosím na {{ 'ahoj@junior.guru'|email_link }}. Přednáška se odehrává přímo v klubu, tedy přes platformu <a href="https://discord.com/">Discord</a>. Ta umožňuje videohovory i sdílení obrazovky. Jako poděkování za přednášku dostaneš <strong>roční členství v klubu zdarma</strong>. To můžeš hned využít k tomu, že si ještě před přednáškou ve volné chvíli v kterékoliv hlasové místnosti vyzkoušíš, zda ti funguje video, sdílení obrazovky, apod. Případné problémy vyřešíme v místnosti #meta.
  </p>
  <p>
    Přednášky jsou zpravidla v úterky v 18:00, ale pokud by ti to vyhovovalo jinak, problém se domluvit. Je fajn, pokud před akcí dodáš nějaké základní info o sobě, název přednášky a pár vět, které lidi namotivují, aby se dostavili. Publikum jsou především junioři, začátečníci v programování, studenti, lidé všeho věku rekvalifikující se do IT. Členy klubu jsou ale i senioři nebo mentoři a mohou přijít také, pokud je bude téma zajímat. Jestli si chceš udělat konkrétnější obrázek, projdi si místnost #ahoj.
  </p>
  <p>
    Jsi jediná hvězda večera. Na přednášku není časový limit, ale předpoklad je, že se běžně vejde i s následnými dotazy do hodiny času. Je na tobě, jestli ti dává smysl mluvit 20, 30, nebo 40 minut.
  </p>
  <p>
    Ve výchozím nastavení Discord udělá zvuk při každé aktivitě v hlasovém kanále, např. při připojení nového účastníka, odpojení, vypnutí zvuku, zapnutí, apod., což tě bude rušit při přednášení. Zvuky si vypni v <em>User Settings</em>, stránka <em>Notifications</em>, sekce <em>Sounds</em>. Většina zvuků souvisí s hovory, takže je potřeba povypínat skoro vše.
  </p>
</section>
{% endblock %}
