{% extends 'layouts/base.html' %}

{% block title %}Přednášky a další akce pro začátečníky v programování{% endblock %}

{% block description -%}
Přednášky a další akce pro členy klubu junior.guru. Seznam akcí proběhlých i budoucích.
{%- endblock %}

{% block content %}
<header class="intro intro--without-illustration">
  <h1 class="intro__title">Klubové akce</h1>
  <p class="intro__lead">
    <a href="{{ url_for('club') }}">Klub pro začátečníky</a> občas pořádá nějakou akci, nejčastěji přednášku. Tady najdeš jejich seznam, ať víš, na co se můžeš těšit. Aktuálně jsou to především večerní přednášky expertů pro členy klubu.
  </p>
</header>
<section class="content__section" id="planned">
  <h2 class="content__section-heading">Plánované</h2>
  {#
  <p>
    Aktuálně není oznámená žádná další přednáška.
  </p>
  #}
  <h3 class="content__subsection-heading" id="2021-03-31T18-00-00">Jamstack</h3>
  <p class="note">
    <strong>31.&nbsp;3.&nbsp;2021, 18:00 online v klubovně</strong>
  </p>
  <p>
    Co jsou „staticky generované stránky“? Co je Jamstack a jak ti může pomoci tvořit webovky? Jak se orientovat v existujících řešeních a jak si můžeš na Jamstacku vytvořit třeba vlastní blog?
  </p>
  <p>
    <a href="https://www.prskavec.net/">Láďa Prskavec</a> je programátor, školitel a organizátor srazů. Jeho oblíbenými jazyky jsou Node.js, Ruby a Go. Dříve pracoval v LMC a Apiary, dnes je seniorním manažerem SRE v Oracle.
  </p>
</section>
<section class="content__section" id="archive">
  <h2 class="content__section-heading">Archiv</h2>
  <h3 class="content__subsection-heading" id="2021-03-16T18-00-00">#Junioring 101 - How Not To Go Bonkers At The Start</h3>
  <p class="note">
    <strong>16.&nbsp;3.&nbsp;2021, 18:00 online v klubovně</strong>, <a href="https://discord.com/channels/769966886598737931/789046675247333397/822066882298642462">záznam</a>
  </p>
  <p>
    Máš svou první práci v IT? Výborně! Ale co teď? Jak být užitečným členem týmu, jak se dál vzdělávat a jak se z toho všeho nezbláznit? Přednáška bude v angličtině.
  </p>
  <p>
    <a href="https://cybermagnolia.com/blog/daria-grudzien-interview/">Daria Grudzien</a> is a Site Reliability Engineer and a <a href="https://cybermagnolia.com/">CyberMagnolia community</a> founder. She has switched career from a businesswoman to an engineer and now she’s mentoring other juniors starting their career. In her work she’s helping developers deploy code to production faster and brings visibility to production systems. She’s passionate about the topic of oncall training and making sure that all engineers carrying the pager feel confident. Check out also <a href="https://cybermagnolia.com/blog/daria-grudzien-interview/">interview with Daria</a> or her <a href="https://dariagrudzien.com/posts/the-one-about-managing-self-as-a-junior/">blog post on a similar topic</a>!
  </p>
  <h3 class="content__subsection-heading" id="2021-02-11T18-30-00">První klubový sraz</h3>
  <p class="note">
    <strong>11.&nbsp;2.&nbsp;2021, 18:30 online v klubovně</strong>
  </p>
  <p>
    Začneme několika <em>lightning talks</em>, pokud se někdo přihlásí. Pak bude volná debata podobně jako když se lidi sejdou v hospodě.
  </p>
  <ul>
    <li>Honza Javorek – Co a jak s GitHub profilem</li>
    <li>Daniel Srb – Jak si přepočítat hodinovku jako OSVČ na mzdu zaměstnance a opačně</li>
    <li>Karolina Surma - OSM + uMap + GitHub a špetka Bashe = dynamická mapa do každé domácnosti</li>
  </ul>
</section>
<section class="content__section" id="info">
  <h2 class="content__section-heading">Jak to funguje?</h2>
  <p>
    Večerní tematické přednášky jsou vždy předem oznámeny na konkrétní datum a čas. Pokud chceš přednášku slyšet, připoj se v ten čas do hlasové místnosti #klubovna. Po skončení přednášky není žádný další oficiální program. Cílem je, aby přednášky byly spíše rychlé a časté, než plánované do celovečerních bloků. Tak nezaberou příliš mnoho času a můžeš se připojit, i když máš nabitý den, nebo prostě jen nechceš trávit celý večer na nějakém srazu.
  </p>
  <p>
    Pokud si chceš povídat, můžeš po přednášce zůstat v místnosti #klubovna, stejně jako to jde i kdykoliv jindy. Není to ale už součástí programu, takže tohoto povídání se nemusí účastnit organizátoři a diskuze není moderovaná.
  </p>
  <p>
    Nepořizujeme profesionální záznam, ale snažíme se alespoň nahrát obrazovku, aby si přednášku mohli pustit i členové, kteří v čas přednášky nemají čas. Nedáváme žádnou záruku na existenci záznamu ani jeho kvalitu. Pokud existuje, je členům k dispozici skrze tajný odkaz na YouTube. Odkaz na video veřejně prosím nesdílej, ale kamarádům jej klidně pošli &mdash; asi stejně jako když pro známé odemykáš placený článek v novinách.
  </p>

  <h3 class="content__subsection-heading" id="speakers-info">Instrukce pro přednášející</h3>
  <p>
    Pokud chceš přednášet v klubu, ozvi se prosím na {{ 'ahoj@junior.guru'|email_link }}. Přednáška se odehrává přímo v klubu, tedy přes platformu <a href="https://discord.com/">Discord</a>. Ta umožňuje videohovory i sdílení obrazovky. Jako poděkování za přednášku dostaneš <strong>roční členství v klubu zdarma</strong>. To můžeš hned využít k tomu, že si ještě před přednáškou ve volné chvíli v kterékoliv hlasové místnosti vyzkoušíš, zda ti funguje video, sdílení obrazovky, apod. Případné problémy vyřešíme v místnosti #meta.
  </p>
  <p>
    Přednášky jsou zpravidla ve středy v 18:00, ale pokud by ti to vyhovovalo jinak, problém se domluvit. Je fajn, pokud před akcí dodáš nějaké základní info o sobě, název přednášky a pár vět, které lidi namotivují, aby se dostavili. Publikum jsou především junioři, začátečníci v programování, studenti, lidé všeho věku rekvalifikující se do IT. Členy klubu jsou ale i senioři nebo mentoři a mohou přijít také, pokud je bude téma zajímat. Jestli si chceš udělat konkrétnější obrázek, projdi si místnost #ahoj.
  </p>
  <p>
    Jsi jediná hvězda večera. Na přednášku není časový limit, ale předpoklad je, že se běžně vejde i s následnými dotazy do hodiny času. Je na tobě, jestli ti dává smysl mluvit 20, 30, nebo 40 minut.
  </p>
  <p>
    Ve výchozím nastavení Discord udělá zvuk při každé aktivitě v hlasovém kanále, např. při připojení nového účastníka, odpojení, vypnutí zvuku, zapnutí, apod., což tě bude rušit při přednášení. Zvuky si vypni v <em>User Settings</em>, stránka <em>Notifications</em>, sekce <em>Sounds</em>. Většina zvuků souvisí s hovory, takže je potřeba povypínat skoro vše.
  </p>
</section>
{% endblock %}
