{% extends 'base.html' %}
{% block title %}Najímejte odhodlané juniory &mdash; ceník pro firmy{% endblock %}

{% block description -%}
Hledáte juniorní programátory? Najímejte ty, kteří si svou kariéru v&nbsp;IT rozhodli vydřít. Podpořte D&I (diversity & inclusion) při náboru ve vaší firmě oslovením i začínajících programátorek.
{%- endblock %}

{% block body_modifier %} body--hire-juniors{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Když juniory, tak ty odhodlané!</h1>
  <p class="intro__lead">
    <a href="{{ url_for('jobs') }}">Nabídky práce na junior.guru</a> navště&shy;vu&shy;jí pře&shy;de&shy;vším ti, kdo si svou kariéru v&nbsp;IT rozhodli vydřít.
    Na inzerát se vám ozvou <strong>od&shy;hod&shy;la&shy;ní a mo&shy;ti&shy;vo&shy;va&shy;ní junioři</strong>. Navíc máte šanci oslovit <strong>pestrou škálu lidí, včetně pro&shy;gra&shy;má&shy;to&shy;rek</strong>.
  </p>
</header>

<section class="content__section why">
  <h2 class="hidden">Proč junior.guru?</h2>

  <ul class="numbers">
    <li><strong>{{ metrics.avg_monthly_users|metric }}</strong> <small>návštěvníků měsíčně</small></li>
    <li><strong>{{ metrics.avg_monthly_pageviews|metric }}</strong> <small>zobrazení měsíčně</small></li>
    <li><strong>{{ metrics.subscribers|metric }}</strong> <small>odběratelů newsletteru</small></li>
  </ul>

  <div class="logos">
    <ul class="logos__items">
      {#
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/czechcrunch.svg') }}" alt="CzechCrunch" title="CzechCrunch se zmínili o junior.guru">
      </li>
      #}
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/denikn.svg') }}" alt="Deník N" title="Deník N se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/hn.svg') }}" alt="KaranTéma HN" title="Newsletter KaranTéma HN se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/kafemlejnek.png') }}" alt="Kafemlejnek.TV" title="Kafemlejnek.TV měl díl o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/lupa.svg') }}" alt="Lupa.cz" title="Lupa.cz se zmínila o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/marieclaire.svg') }}" alt="Marie Claire" title="Časopis Marie Claire se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/root.svg') }}" alt="Root.cz" title="Root.cz se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/zdrojak.svg') }}" alt="Zdroják.cz" title="Zdroják.cz se zmínil o junior.guru">
      </li>
    </ul>
  </div>
</section>

<section id="pricing" class="content__section pricing">
  <h2 class="pricing__heading pricing__heading--mobile-only">Inzerujte pracovní nabídky</h2>
  <div class="pricing__plans pricing__plans--2">
    <div class="pricing__plan">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading">Komunita</h3>
        <ul class="checklist">
          <li>Inzerát na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a></li>
          <li>Objeví se v příštím <a href="https://us3.campaign-archive.com/home/?u=7d3f89ef9b2ed953ddf4ff5f6&id=e231b1fb75" target="_blank" rel="noopener">newsletteru</a></li>
          <li>Platnost inzerátu <strong>30 dní</strong></li>
        </ul>
        <p class="pricing__note">
          <strong>Pouze:</strong> Dobrovolnictví, brigády, stáže, neziskovky, malé projekty, firmy spolupracující s <a href="https://pyladies.cz/" target="_blank" rel="noopener">PyLadies</a>.
        </p>
      </div>
      <p class="pricing__plan-price">
        <strong class="pricing__plan-price-amount">0&nbsp;Kč</strong>
        <small class="pricing__plan-price-note">ano, zdarma</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=0+CZK+%E2%80%94+Community+(Komunita)" target="_blank" rel="noopener" class="button button--secondary">
          Přidat inzerát
        </a>
      </p>
    </div>
    <div class="pricing__plan pricing__plan--highlight">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading">Standard</h3>
        <ul class="checklist">
          <li>Inzerát na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a></li>
          <li>Inzerát je <strong>zvýrazněný</strong></li>
          <li>Objeví se v příštím <a href="https://us3.campaign-archive.com/home/?u=7d3f89ef9b2ed953ddf4ff5f6&id=e231b1fb75" target="_blank" rel="noopener">newsletteru</a></li>
          <li>Platnost inzerátu <strong>30 dní</strong></li>
        </ul>
      </div>
      <p class="pricing__plan-price">
        <strong class="pricing__plan-price-amount">500&nbsp;Kč</strong>
        <small class="pricing__plan-price-note">neplátce DPH</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=500+CZK+%E2%80%94+Standard" target="_blank" rel="noopener" class="button">
          Přidat inzerát
        </a>
      </p>
    </div>
    <div class="pricing__plan">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading content__target content__target-heading" id="pricing-annual-flat-rate">Roční paušál</h3>
        <p>
          Na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a>
          budete moci libovolně vystavovat, prodlužovat nebo rušit inzeráty.
        </p>
        <ul class="checklist">
          <li>Nejvýše <strong>3&nbsp;inzeráty současně</strong></li>
          <li>Inzeráty jsou <strong>zvýrazněné</strong></li>
          <li>Objeví se v&nbsp;každém <a href="https://us3.campaign-archive.com/home/?u=7d3f89ef9b2ed953ddf4ff5f6&id=e231b1fb75" target="_blank" rel="noopener">newsletteru</a></li>
          <li>Platnost paušálu <strong>365 dní</strong> od&nbsp;prvního inzerátu</li>
        </ul>
      </div>
      <p class="pricing__plan-price">
        <strong class="pricing__plan-price-amount">5000&nbsp;Kč</strong>
        <small class="pricing__plan-price-note">neplátce DPH</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=5000+CZK+%E2%80%94+Annual+Flat+Rate,+first+posting+(Ro%C4%8Dn%C3%AD+pau%C5%A1%C3%A1l,+prvn%C3%AD+inzer%C3%A1t)" target="_blank" rel="noopener" class="button">
          Přidat první inzerát
        </a>
      </p>
    </div>
  </div>
</section>

<hr>
<section class="candidate content__section more">
  <div class="candidate-content">
    <h2>Jaké kan&shy;di&shy;dá&shy;ty zde najdete</h2>
    <div class="tooltips">
      <h3>Motivované</h3>
      <p>
        Ač jsou zde studenti VŠ vítáni, junior.guru se snaží oslovovat především <strong>kandidáty z nového zdroje:</strong> Lidi bez původního vzdělání v&nbsp;IT, kteří se našli v&nbsp;pro&shy;gra&shy;mo&shy;vá&shy;ní a nyní se snaží změnit profesi. Jsou typicky starší než studenti, mají přesah z jiných oborů, a nyní udělali krok do neznáma, aby se dostali do IT. Investovali do své výuky a <strong>sami se po ve&shy;če&shy;rech vlastní pílí pro&shy;pra&shy;co&shy;va&shy;li k prvním úspě&shy;chům, hnáni vlastní vnitřní motivací</strong>.
      </p>

      <figure class="quote">
        <blockquote>
          Překvapilo mě, kolik vnitřní mo&shy;ti&shy;va&shy;ce pro&shy;ká&shy;za&shy;li ucha&shy;ze&shy;či o naši stáž.
          junior.guru má kva&shy;lit&shy;ní pu&shy;bli&shy;kum z ko&shy;mu&shy;ni&shy;tních kruhů.
        </blockquote>
        <figcaption>
          Vašek Chalupníček, dtlab
        </figcaption>
      </figure>

      <h3>Rozmanité</h3>
      <p>
        Aktuálně je v Českém IT <a href="https://www.ceskovdatech.cz/clanek/128-neni-ajtak-jako-ajtak/">pouze 9,9 % žen</a>, což je méně než v Turecku. Také <a href="https://www.irozhlas.cz/zpravy-domov/it-informatika-odbornik-cesko-studium-fis-cvut-zeny-muzi_1904141943_lac">mezi VŠ studenty je podíl žen stále malý</a>. To znamená, že <strong>pokud se omezíte jen na hledání zkušenějších programátorů, rozmanitost svého týmu neposílíte.</strong> Díky tomu, jak je junior.guru tvořeno a s jakými komunitami od svého počátku spolupracuje, oslovuje pestrou škálu lidí, včetně mnoha programátorek.
      </p>
    </div>
  </div>

  <div class="logos">
    <ul class="logos__items">
      <li class="logos__item">
        <a class="logos__link" href="https://cesko.digital/" target="_blank" rel="noopener" title="Česko.Digital">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/ceskodigital.svg') }}" alt="Česko.Digital">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" href="https://digikoalice.cz/" target="_blank" rel="noopener" title="Česká národní koalice pro digitální pracovní místa">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/digikoalice.png') }}" alt="DigiKoalice">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" href="https://holkyzmarketingu.cz/" target="_blank" rel="noopener" title="#HolkyzMarketingu">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/holkyzmarketingu.png') }}" alt="#HolkyzMarketingu">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" href="https://pyladies.cz/" target="_blank" rel="noopener" title="PyLadies CZ">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/pyladies.svg') }}" alt="PyLadies">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" href="https://pyvec.org/" target="_blank" rel="noopener" title="Pyvec">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/pyvec.svg') }}" alt="Pyvec">
        </a>
      </li>
      <li class="logos__item">
        <a class="logos__link" href="https://www.reactgirls.com/" target="_blank" rel="noopener" title="Reactgirls">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/reactgirls.png') }}" alt="Reactgirls">
        </a>
      </li>
    </ul>
  </div>

  <div class="candidate-subsections">
    <div class="candidate-subsection candidate-traits">
      <h3>Uchazeči z junior.guru</h3>
      <ul class="checklist">
        <li>Znají <strong>běžný programovací jazyk</strong> v rozsahu <a href="https://naucse.python.cz/">kurzu pro začátečníky</a>.</li>
        <li>Mají na projektech naučenou <strong>schopnost dostat zadání a rozložit jej na podproblémy</strong>.</li>
        <li>Mají <strong>vlastní projekt</strong> či jinou praktickou ukázku své práce.</li>
        <li>Zvládají <strong>editor, Git, příkazovou řádku</strong>.</li>
        <li>Mívají dobrou <strong>angličtinu</strong>.</li>
        <li>Mívají velkou <strong>vnitřní motivaci</strong> učit se a uspět.</li>
        <li>Mívají <strong>předchozí zkušenosti z jiného oboru</strong>, bývají to všestranné, komunikativní osobnosti.</li>
        <li>Mnohdy mohou nastoupit ihned.</li>
      </ul>
    </div>
    <div class="candidate-subsection">
      <h3>Vaše alternativy</h3>
      <ul class="checklist checklist--unchecked">
        <li>Hledat <strong>zkušenější programátory</strong>, kterých je ale nedostatek. Budete je hledat dlouho a draze.</li>
        <li>Oslovovat <strong>studenty</strong>. Mívají kvalitnější teoretické znalosti, ale menší praxi na projektech.
          Některé velké firmy investují do spolupráce s univerzitami a šikovní studenti jdou často rovnou k nim.</li>
        <li>Hledat v <strong>zahraničí</strong>. Západní Evropa je sice přebraná, ale např. na východ od nás je mnoho šikovných
          lidí. Abyste ovšem mohli najmout programátory ze Srbska nebo Ukrajiny, musí vaše firma být <em>English-first</em>.
          Vyřizování víza nemusí být nutně problém, ale může trvat měsíce.</li>
      </ul>
    </div>
  </div>

  <p class="call-to-action">
    <a href="https://forms.gle/Nr2xhH2p2Cqj21Rq9" target="_blank" rel="noopener" class="legacy-button">
      Přidat inzerát
    </a>
  </p>
  <p class="support">
    <span class="support-content">
      <img alt="Fotka Honzy Javorka" src="{{ url_for('static', filename='images/honza.jpg') }}" loading="lazy">
      <span class="support-text">
        Pokud máte jakékoliv otázky, Honza vám je rád zodpoví.<br>
        Pište na&nbsp;{{ 'honza@junior.guru'|email_link }}.
      </span>
    </span>
  </p>
</section>

<hr>


<section id="handbook" class="content__section sponsor-handbook">
  <!-- keeping for backward compatibility of links -->
  <span id="sponsor-handbook"><span id="handbook-pricing"></span></span>

  <h2 class="content__target content__target-heading">Sponzorujte unikátní příručku</h2>
  <div class="sponsor-handbook-content">
    {# <img width="200" src="{{ url_for('static', filename='images/handbook.svg') }}"> #}
    <p>
      1. září 2020 vyšel na junior.guru <a href="{{ url_for('candidate_handbook') }}">ucelený soubor rad pro juniory</a> v rozsahu více než&nbsp;30&nbsp;normostran. Není to e-book, ale <strong>živá a stále aktualizovaná webová stránka</strong>. Díky placeným firemním logům je tento jedinečný obsah všem přístupný zdarma. Příručka má skvělé ohlasy:
    </p>

    <div class="testimonials">
      <ul class="testimonials__items">
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Honza Javorek vydal super reálnou “knížku” Příručka o hledání první práce v IT. Budeme ji určitě zmiňovat na kariérních workshopech.
            </blockquote>
            <figcaption>
              Monika Ptáčníková, spoluzakladatelka <a href="https://www.czechitas.cz/">Czechitas</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Ty jo! Skoro se mi chce vrátit zpátky do minulýho tisíciletí a znovu si začít hledat svou první práci v IT… Díky za to, dobrá práce!
            </blockquote>
            <figcaption>
              Michal Špaček, <a href="https://www.michalspacek.cz/">odborník na bezpečnost webových aplikací</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Příručka je naprosto boží, přečetla jsem ji jedním dechem a nasbírala inspiraci, co ještě udělat. Tolik tipů na jednom místě člověk nikde jinde nenajde.
            </blockquote>
            <figcaption>
              Lenka Erbenová, frontendistka, absolventka <a href="https://pyladies.cz/">PyLadies</a> a <a href="https://www.czechitas.cz/">Czechitas</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Zvažujete přechod do IT? Tohle je super úvod.
            </blockquote>
            <figcaption>
              Jan Cibulka, datový novinář <a href="https://data.irozhlas.cz/">Českého Rozhlasu</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Úplně super - krásně se to čte a je v tom mrtě užitečných informací. Smekám, že to Honza dal takhle srozumitelně dohromady!
            </blockquote>
            <figcaption>
              Magdalena Kabátová, GIS specialistka a testerka, absolventka <a href="https://pyladies.cz/">PyLadies</a> a <a href="https://djangogirls.org/">Django Girls</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Když se moji klienti dostali na úroveň, kdy si mohli začít hledat první práci v IT, radil jsem jim přesně to, co si teď mohou sami přečíst v téhle skvěle sepsané příručce.
            </blockquote>
            <figcaption>
              Daniel Srb, <a href="https://coreskill.tech" target="_blank" rel="noopener">CoreSkill.tech</a>
            </figcaption>
          </figure>
        </li>
        <li class="testimonials__item">
          <figure class="quote testimonials__item-content">
            <blockquote>
              Jsem opravdu překvapená, jak komplexně, prakticky a přívětivě je příručka zpracovaná. Klobouk dolů. Myslím, že pomůže nejen juniorům, ale i firmám, které je a další IT profesionály nabírají.
            </blockquote>
            <figcaption>
              Iveta Woffová, Talent Development v <a href="https://www.greycortex.com/" target="_blank" rel="noopener">GREYCORTEX</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>

  <div class="pricing">
    <div class="pricing__plans pricing__plans--3">
      <div class="pricing__plan">
        <div class="pricing__plan-content">
          <h3 class="pricing__plan-heading">Logo na&nbsp;3&nbsp;měsíce</h3>
          <ul class="checklist">
            <li>Klikatelné logo v záhlaví příručky</li>
            <li>Logo bude vidět <strong>90&nbsp;dní</strong></li>
          </ul>
        </div>
        <p class="pricing__plan-price">
          <strong class="pricing__plan-price-amount">9&nbsp;000&nbsp;Kč</strong>
          <small class="pricing__plan-price-note">neplátce DPH</small>
        </p>
      </div>
      <div class="pricing__plan pricing__plan--highlight">
        <div class="pricing__plan-content">
          <h3 class="pricing__plan-heading">Logo na&nbsp;rok</h3>
          <ul class="checklist">
            <li>Klikatelné logo v záhlaví příručky</li>
            <li>Logo bude vidět <strong>365&nbsp;dní</strong></li>
          </ul>
        </div>
        <div class="pricing__plan-price">
          <h3 class="pricing__note">
            <strong class="pricing__discount">Sleva 1&nbsp;měsíc</strong> Ušetříte 3&nbsp;000&nbsp;Kč
          </h3>
          <p>
            <strong class="pricing__plan-price-amount">33&nbsp;000&nbsp;Kč</strong>
            <small class="pricing__plan-price-note">neplátce DPH</small>
          </p>
        </div>
      </div>
      <div class="pricing__plan">
        <div class="pricing__plan-content">
          <h3 class="pricing__plan-heading">Logo +&nbsp;paušál</h3>
          <ul class="checklist">
            <li>Klikatelné logo v záhlaví příručky</li>
            <li>Logo bude vidět <strong>365&nbsp;dní</strong></li>
            <li><a href="#pricing-annual-flat-rate">Roční paušál na inzerci</a> v ceně</li>
          </ul>
        </div>
        <div class="pricing__plan-price">
          <h3 class="pricing__note">
            <strong class="pricing__discount">Nejvýhodnější</strong> Ušetříte 5&nbsp;000&nbsp;Kč
          </h3>
          <p>
            <strong class="pricing__plan-price-amount">36&nbsp;000&nbsp;Kč</strong>
            <small class="pricing__plan-price-note">neplátce DPH</small>
          </p>
        </div>
      </div>
    </div>
    <p class="button-compartment">
      <strong class="button">
        Máte zájem?&nbsp;Pište&nbsp;na
        <span class="button__note">{{ 'ahoj@junior.guru'|email_link }}</span>
      </strong>
    </p>
  </div>

  <div class="sponsor-handbook-content">
    <h3 class="content__subsection-heading">Statistiky</h3>
    <p>
      Čísla, která vidíte, jsou <strong>průměrné hodnoty na 1 měsíc počítané z posledních 4 měsíců</strong>. Automaticky se každý den přepočítávají.
      Údaje jsou podhodnocené a pouze orientační. Pocházejí z nástroje Google Analytics, který mohou uživatelé blokovat.
    </p>
    <ul class="numbers numbers--standalone">
      <li><strong>{{ metrics.avg_monthly_handbook_users|metric }}</strong> <small>návštěvníků příručky</small></li>
      <li><strong>{{ metrics.avg_monthly_handbook_pageviews|metric }}</strong> <small>zobrazení sponzorských log</small></li>
      <li><strong>~{{ metrics.avg_monthly_handbook_logo_clicks|metric }}</strong> <small>kliknutí na sponzorská loga</small></li>
    </ul>

    <h3 class="content__subsection-heading">Proč sponzorovat</h3>
    <ul class="checklist">
      <li>Budujete značku vůči příštím kandidátům a představujete se jako místo, kde na juniory myslí, umí to s nimi, a kam je zkrátka radost nastoupit.</li>
      <li>Díky vašemu příspěvku bude text komukoliv veřejně zdarma přístupný. Příručka přitom dá jasně najevo, že tento v Česku unikátní obsah je zdarma právě díky vám.</li>
      <li>Financováním junior.guru podpoříte příchod nových lidí na trh. V&nbsp;dlouhodobém horizontu zlepšíte výběr a rozmanitost kandidátů v&nbsp;ČR &mdash; náplň pro vaše aktivity v <abbr title="Diversity &amp; Inclusion">D&I</abbr> nebo <abbr title="Corporate Social Responsibility">CSR</abbr> (společenská odpovědnost).</li>
      <li>Příručka zvýší a standardizuje úroveň juniorních uchazečů v&nbsp;ČR.</li>
    </ul>
  </div>

  <p class="support">
    <span class="support-content">
      <img alt="Fotka Honzy Javorka" src="{{ url_for('static', filename='images/honza.jpg') }}" loading="lazy">
      <span class="support-text">
        Pokud máte jakékoliv otázky, Honza vám je rád zodpoví.<br>
        Pište na&nbsp;{{ 'honza@junior.guru'|email_link }}.
      </span>
    </span>
  </p>
</section>
{% endblock %}

{% block author %}{% endblock %}
