{% extends 'layouts/base.html' %}

{% block title %}Najímejte odhodlané juniory &mdash; ceník pro firmy{% endblock %}

{% block description -%}
Hledáte juniorní programátory? Najímejte ty, kteří si svou kariéru v&nbsp;IT rozhodli vydřít. Podpořte D&I (diversity & inclusion) při náboru ve vaší firmě oslovením i začínajících programátorek.
{%- endblock %}

{% block body_modifier %} body--hire-juniors{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Když juniory, tak ty odhodlané!</h1>
  <p class="intro__lead">
    <a href="{{ url_for('jobs') }}">Nabídky práce na junior.guru</a> navště&shy;vu&shy;jí pře&shy;de&shy;vším ti, kdo si svou kariéru v&nbsp;IT rozhodli vydřít.
    Na inzerát se vám ozvou <strong>od&shy;hod&shy;la&shy;ní a mo&shy;ti&shy;vo&shy;va&shy;ní junioři</strong>. Navíc máte šanci oslovit <strong>pestrou škálu lidí, včetně pro&shy;gra&shy;má&shy;to&shy;rek</strong>.
  </p>
</header>

<section class="content__section why">
  <h2 class="hidden">Proč junior.guru?</h2>

  <ul class="numbers">
    <li><strong>{{ metrics.avg_monthly_users|metric }}</strong> <small>návštěvníků měsíčně</small></li>
    <li><strong>{{ metrics.avg_monthly_pageviews|metric }}</strong> <small>zobrazení měsíčně</small></li>
    <li><strong>{{ members_total_count|metric }}</strong> <small>členů klubu</small></li>
  </ul>

  <div class="logos logos--greyscale">
    <ul class="logos__items">
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/czechcrunch.svg') }}" alt="CzechCrunch" title="CzechCrunch se zmínili o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/denikn.svg') }}" alt="Deník N" title="Deník N se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/hn.svg') }}" alt="KaranTéma HN" title="Newsletter KaranTéma HN se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/kafemlejnek.svg') }}" alt="Kafemlejnek.TV" title="Kafemlejnek.TV měl díl o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/lupa.svg') }}" alt="Lupa.cz" title="Lupa.cz se zmínila o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/marieclaire.svg') }}" alt="Marie Claire" title="Časopis Marie Claire se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/navolnenoze.svg') }}" alt="Na volné noze" title="Portál Na volné noze se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/root.svg') }}" alt="Root.cz" title="Root.cz se zmínil o junior.guru">
      </li>
      <li class="logos__item logos__item--without-link">
        <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/zdrojak.svg') }}" alt="Zdroják.cz" title="Zdroják.cz se zmínil o junior.guru">
      </li>
    </ul>
  </div>
</section>

<section id="pricing" class="content__section pricing">
  <h2 class="pricing__heading pricing__heading--mobile-only">Inzerujte pracovní nabídky</h2>
  <div class="pricing__plans pricing__plans--3">
    <div class="pricing__plan">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading">Komunita</h3>
        <ul class="checklist">
          <li>Inzerát na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a></li>
          <li>Platnost inzerátu <strong>30 dní</strong></li>
        </ul>
        <p class="pricing__note">
          <strong>Pouze:</strong> Dobrovolnictví, brigády, stáže, neziskovky, malé projekty, firmy spolupracující s <a href="https://pyladies.cz/" target="_blank" rel="noopener">PyLadies</a>.
        </p>
      </div>
      <p class="price">
        <strong class="price__amount">0&nbsp;Kč</strong>
        <small class="price__note">ano, zdarma</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=0+CZK+%E2%80%94+Community+(Komunita)" target="_blank" rel="noopener" class="button button--secondary">
          Přidat inzerát
        </a>
      </p>
    </div>
    <div class="pricing__plan pricing__plan--highlight">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading">Standard</h3>
        <ul class="checklist">
          <li>Inzerát na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a></li>
          <li>Inzerát je <strong>zvýrazněný</strong></li>
          <li>Platnost inzerátu <strong>30 dní</strong></li>
        </ul>
      </div>
      <p class="price">
        <strong class="price__amount">500&nbsp;Kč</strong>
        <small class="price__note">neplátce DPH</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=500+CZK+%E2%80%94+Standard" target="_blank" rel="noopener" class="button">
          Přidat inzerát
        </a>
      </p>
    </div>
    <div class="pricing__plan">
      <div class="pricing__plan-content">
        <h3 class="pricing__plan-heading content__target content__target-heading" id="pricing-annual-flat-rate">Roční paušál</h3>
        <p>
          Na <a href="{{ url_for('jobs') }}">stránce s nabídkami</a>
          budete moci libovolně vystavovat, prodlužovat nebo rušit inzeráty.
        </p>
        <ul class="checklist">
          <li>Nejvýše <strong>3&nbsp;inzeráty současně</strong></li>
          <li>Inzeráty jsou <strong>zvýrazněné</strong></li>
          <li>Platnost paušálu <strong>365 dní</strong> od&nbsp;prvního inzerátu</li>
        </ul>
      </div>
      <p class="price">
        <strong class="price__amount">5000&nbsp;Kč</strong>
        <small class="price__note">neplátce DPH</small>
      </p>
      <p class="button-compartment">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=pp_url&entry.1851983044=5000+CZK+%E2%80%94+Annual+Flat+Rate,+first+posting+(Ro%C4%8Dn%C3%AD+pau%C5%A1%C3%A1l,+prvn%C3%AD+inzer%C3%A1t)" target="_blank" rel="noopener" class="button">
          Přidat první inzerát
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
