{% extends 'base.html' %}

{% block description -%}
Nauč se programovat a získej svou první práci v IT
{%- endblock %}

{% block body_attrs %} class="page-index"{% endblock %}

{% block header %}
<header>
  <h1 class="logo">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="junior.guru">
  </h1>
  <div class="tagline">
    <p>
      Nauč&nbsp;se programovat
      a&nbsp;získej svou první
      práci&nbsp;v&nbsp;IT
    </p>
  </div>
</header>
{% endblock %}

{% block main %}
<nav>
  <div class="chicken">
    <div class="chick"><img src="{{ url_for('static', filename='images/chick1.svg') }}"></div>
    <div class="chick"><img src="{{ url_for('static', filename='images/chick2.svg') }}"></div>
    <div class="chick"><img src="{{ url_for('static', filename='images/chick3.svg') }}"></div>
  </div>
  <ol>
    <li>
      <a href="{{ url_for('learn') }}">
        <h2>Nauč se základy</h2>
        <p>
          Ručně vybrané, nej&shy;e&shy;fek&shy;ti&shy;vněj&shy;ší
          vý&shy;uko&shy;vé ma&shy;te&shy;ri&shy;á&shy;ly do startu pro samouky.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('practice') }}">
        <h2>Získej praxi</h2>
        <p>
          Znáš základy? Získej a&shy;les&shy;poň mi&shy;ni&shy;mál&shy;ní
          praxi, najdi men&shy;to&shy;ra, dál si roz&shy;ši&shy;řuj
          zna&shy;los&shy;ti.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jobs') }}">
        <h2>Najdi práci</h2>
        <p>
          Znáš základy a máš praxi? Nastal okam&shy;žik zkusit své štestí
          na pra&shy;cov&shy;ním trhu.
        </p>
      </a>
    </li>
  </ol>
  <section class="call-to-action">
    <p>
      <a href="{{ url_for('learn') }}#learn" class="button">Začni teď hned!</a>
    </p>
    <p class="note">
      <a href="{{ url_for('learn') }}#why">Proč se učit programovat?</a>
    </p>
  </section>
</nav>

<hr>
<section class="jobs-teaser call-to-action">
  <h2>
    <small>{{ since.days }} dní od spuštění je zde</small>

    <strong class="no-wrap">{{ jobs_count }} nabídek</strong>
    <span class="no-wrap">práce</span>
    <span class="no-wrap">pro juniory</span>
    <span class="no-wrap">
      od <strong>{{ companies_count }} firem</strong>
    </span>
  </h2>
  <p>
    <a href="{{ url_for('jobs') }}" class="button">Procházet nabídky</a>
  </p>
</section>

<hr>
<aside>
  <section class="juniors">
    <h2>Pro juniory</h2>
    <p>
      Nech si na e-mail zasílat aktuální nabídky práce pro začátečníky:
    </p>
    <div class="call-to-action">
      <p>
        <a href="http://eepurl.com/gyG8Bb" target="_blank" class="button">
          Přihlásit se k odběru
        </a>
        <img class="cartoon" src="{{ url_for('static', filename='images/mail.svg') }}">
      </p>
    </div>
    <p>Diskutuj materiály a pracovní nabídky na Facebooku:</p>
    <div class="call-to-action">
      <p>
        <a href="https://www.facebook.com/groups/junior.guru" target="_blank" class="button">
          Hurá do skupiny
        </a>
        <img class="cartoon" src="{{ url_for('static', filename='images/f-logo.svg') }}">
      </p>
    </div>
  </section>
  <section class="companies">
    <h2>Pro firmy</h2>
    <p>
      Inzerujte práci pro juniory tam, kde začínají &mdash; ať už je to
      plný úvazek, částečný úvazek, stáž, nebo dobrovolnictví.
    </p>
    <div class="call-to-action">
      <p>
        <a href="https://forms.gle/Nr2xhH2p2Cqj21Rq9" target="_blank" class="button">
          Přidat nabídku &mdash;&nbsp;0&nbsp;Kč
        </a>
        <img class="cartoon" src="{{ url_for('static', filename='images/posts.svg') }}">
      </p>
      <p class="note">
        Do <strong>konce tohoto roku</strong> je přidávání nabídek práce <strong>zdarma</strong>!
      </p>
    </div>
  </section>
</aside>

{% if articles|length %}
<hr>
<section class="articles" id="articles">
  <h2>
    Inspirativní příběhy
  </h2>
  <ul>
  {% for article in articles %}
    <li class="article">
      <div class="article-wrapper">
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
        <p><small>{{ article.publisher }} &mdash; {{ article.date.month }}/{{ article.date.year }}</small></p>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
{% endblock %}
