{% extends 'layouts/base.html' %}

{% block description -%}
Průvodce programováním pro samouky a nabídky práce pro juniory.
{%- endblock %}

{% block body_modifier %} body--index{% endblock %}

{% block header_modifier %} header--index{% endblock %}

{% block header_content %}
<h1 class="header__logo-heading">
  {{ super() }}
</h1>
<p class="header__claim">
  Průvodce programováním pro&nbsp;samouky
</p>
{% endblock %}

{% block content %}
<section class="billboard billboard-learn">
  <div class="billboard-wrapper">
    <div class="billboard-content">
      <div class="billboard-content-limiter">
        <h2>I&nbsp;ty&nbsp;se&nbsp;můžeš naučit programovat</h2>
        <p>Programování není jen pro&nbsp;ty, kdo chtějí pracovat v&nbsp;IT. Pomáhá vědcům, úředníkům nebo&nbsp;novinářům &mdash;&nbsp;a&nbsp;práci může usnadnit i&nbsp;tobě. Základy zvládneš za&nbsp;několik týdnů. Začni hned teď!</p>
        <div class="billboard-buttons">
          <a href="{{ url_for('learn') }}" class="legacy-button">Návod jak začít</a>
          <a href="{{ url_for('learn') }}#why" class="legacy-button-secondary">Proč se to učit?</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="hidden">

<section class="billboard billboard-jobs">
  <div class="billboard-wrapper">
    <div class="billboard-content">
      <div class="billboard-content-limiter">
        <h2>I&nbsp;ty&nbsp;si&nbsp;můžeš najít dobrou práci&nbsp;v&nbsp;IT</h2>
        <p>Programátorů je&nbsp;dlouhodobě nedostatek. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent&nbsp;VŠ. Projdi si {{ metrics.jobs_count }} nabídek &mdash; všechny pro začátečníky!</p>
        <div class="billboard-buttons">
          <a href="{{ url_for('jobs') }}" class="legacy-button legacy-button-inverted">Aktuální nabídky práce</a>
          <a href="{{ url_for('candidate_handbook') }}" class="legacy-button-secondary legacy-button-inverted">Příručka o&nbsp;hledání práce</a>
        </div>
        <p class="note"><a href="{{ url_for('hire_juniors') }}">Inzerujte na junior.guru</a> &mdash; <strong>od 0 Kč!</strong></p>
      </div>
    </div>
    <div class="billboard-note">
      <p>
        Jak na tom bude IT po pandemii COVID-19? Přečti si,
        <a href="{{ url_for('learn') }}#covid19">co způsobí koronavirus</a>.
      {#
        1.&nbsp;září tady vyšla <a href="{{ url_for('candidate_handbook') }}">příručka</a>,
        která tě provede hledáním první práce v&nbsp;IT. Než začneš, mrkni na ni!
      #}
      </p>
    </div>
  </div>
</section>
<hr class="hidden">

<section class="content__section how-it-works" id="how-it-works">
  <h2>Jak to funguje?</h2>
  <ol>
    <li>
      <a href="{{ url_for('learn') }}">
        <h3>Nauč se&nbsp;základy</h3>
        <p>
          Ručně vybrané, nej&shy;e&shy;fek&shy;ti&shy;vněj&shy;ší
          vý&shy;uko&shy;vé ma&shy;te&shy;ri&shy;á&shy;ly do startu pro samouky.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('practice') }}">
        <h3>Získej praxi</h3>
        <p>
          Znáš základy? Získej a&shy;les&shy;poň mi&shy;ni&shy;mál&shy;ní
          praxi, najdi men&shy;to&shy;ra, dál si roz&shy;ši&shy;řuj
          zna&shy;los&shy;ti.
        </p>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jobs') }}">
        <h3>Najdi práci</h3>
        <p>
          Znáš základy a máš praxi? Nastal okam&shy;žik zkusit své štestí
          na pra&shy;cov&shy;ním trhu.
        </p>
      </a>
    </li>
  </ol>
</section>
<hr class="hidden">

<section class="content__section content__section--wide join" id="join">
  <h2>Přidej&nbsp;se</h2>
  <ul>
    <li class="join-club"><a href="{{ url_for('club') }}">Klub pro začátečníky</a></li>
    <li class="join-newsletter"><a href="http://eepurl.com/gyG8Bb" target="_blank" rel="noopener">Nabídky práce do e-mailu</a></li>
  </ul>
</section>
<hr class="hidden">

<section class="content__section stories" id="stories">
  <h2 class="stories__heading">Příběhy lidí jako&nbsp;ty</h2>
  <ul class="stories__items">
  <!-- Data from stories.yml -->
  {% for story in stories %}
    <li class="stories__item">
      <a class="stories__content" href="{{ story.url }}">
        <div class="stories__text">
          <h3 class="stories__title">{{ story.title }}</h3>
          <small class="stories_details">
            {{ story.publisher }}
            &mdash;
            {{ story.date.month }}/{{ story.date.year }}
          </small>
        </div>
        <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}

{% block author %}{% endblock %}
