{% extends 'layouts/base.html' %}

{% block description -%}
Klub pro začátečníky v programování, průvodce programováním pro samouky, nabídky práce pro juniory.
{%- endblock %}

{% block body_modifier %} body--index{% endblock %}

{% block content %}
<section class="billboard billboard-learn">
  <div class="billboard-wrapper">
    <div class="billboard-content">
      <div class="billboard-content-limiter">
        <h2>I&nbsp;ty&nbsp;můžeš programovat</h2>
        <p>
          Programování je <strong>příležitost</strong>. Je to tvá výhoda v kanclu, laborce, redakci. Tvá šance během covidu, tvá kariéra po rodičovské.
        </p>
        <p>
          A toto je tvůj <strong>klub</strong>. Najdeš tu informace, motivaci, rady. Kromě toho ale i parťáky, podporu, kontakty a pracovní nabídky.
        </p>
        <div class="billboard-buttons">
          <a href="{{ url_for('club') }}" class="legacy-button">Přidej se</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="hidden">

<section class="content__section content__section--wide how-it-works" id="how-it-works">
  <div class="how-it-works-content">
    <h2>Začni s&nbsp;příručkou</h2>
    <p>
      Programování není jen pro&nbsp;ty, kdo chtějí pracovat v&nbsp;IT. Pomáhá vědcům, úředníkům nebo&nbsp;novinářům &mdash;&nbsp;a&nbsp;práci může usnadnit i&nbsp;tobě. Základy zvládneš za&nbsp;několik týdnů. Zároveň je&nbsp;dlouhodobě nedostatek programátorů. Samouk přitom může jejich běžnou práci zvládnout stejně dobře jako absolvent&nbsp;VŠ. Projdi si příručku, která tě tím vším provede od začátku až do konce.
    </p>
    <ol>
      <li>
        <div class="handbook-block"></div>
      </li>
      <li>
        <div class="handbook-block"></div>
      </li>
      <li>
        <div class="handbook-block"></div>
      </li>
    </ol>
    <p class="button-compartment button-compartment--row">
      <a class="button button--inverted button--spaced" href="{{ url_for('learn') }}">Návod jak začít</a>
      <a class="button button--secondary button--inverted button--spaced" href="{{ url_for('motivation') }}">Proč se to učit?</a>
    </p>
  </div>
</section>
<hr class="hidden">

<section class="content__section stories" id="stories">
  <h2 class="stories__heading">Příběhy lidí jako&nbsp;ty</h2>
  <ul class="stories__items">
  {% for story in stories %}
    <li class="stories__item">
      <a class="stories__content" href="{{ story.url }}">
        <div class="stories__text">
          <h3 class="stories__title">{{ story.title }}</h3>
          <small class="stories_details">
            {{ story.publisher }}
            &mdash;
            {{ story.date.month }}/{{ story.date.year }}
          </small>
        </div>
        <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
