{% extends 'base.html' %}
{% block title %}{{ job.title }} &mdash; {{ job.company_name }} &mdash; {{ job.location }}{% endblock %}

{% block description -%}
Pracovní nabídka pro začínající programátory: {{ job.title }} &mdash; {{ job.company_name }}, {{ job.location }}
{%- endblock %}

{% block content %}
<article class="content__section job">
  <header class="intro">
    <h1 class="intro__title">{{ job.title }}</h1>

    <p class="intro__lead job-attributes">
      <a href="{{ job.company_link }}" data-metrics-utm data-metrics-utm-medium="job_board">{{ job.company_name }}</a>
      &mdash;
      {{ job.location }}
      {# FIXME
      &mdash;
      {{ job.employment_types|employment_types }}
      #}
    </p>
  </header>

  {{ job.description_html|safe }}

  <div class="call-to-action">
    {% if job.link %}
      <a id="apply" data-metrics-utm data-metrics-utm-medium="job_board" data-metrics data-metrics-page-url data-metrics-name="apply" class="legacy-button" href="{{ job.link }}">
        Mám zájem!
      </a>
    {% else %}
      <p id="apply" data-metrics data-metrics-page-url data-metrics-name="apply" class="legacy-button">
        Máš zájem? Napiš na<br><small>{{ job.email|email_link }}</small>
      </p>
    {% endif %}
  </div>
</article>

<hr>
<section class="teaser call-to-action">
  <h2>
    <small>Nic pro tebe? Nevadí! Je tady celkem</small>

    <strong class="no-wrap">{{ jobs_count }} nabídek</strong>
    <span class="no-wrap">práce</span>
    <span class="no-wrap">pro juniory</span>
    <span class="no-wrap">
      od <strong>{{ companies_count }} firem</strong>
    </span>
  </h2>
  <p>
    <a href="{{ url_for('jobs') }}" class="legacy-button">Procházet další nabídky</a>
  </p>
</section>
{% endblock %}
