{% extends 'base.html' %}
{% block title %}{{ job.title }} &mdash; {{ job.company_name }} &mdash; {{ job.location }}{% endblock %}

{% block description -%}
Pracovní nabídka pro začínající programátory: {{ job.title }} &mdash; {{ job.company_name }}, {{ job.location }}, {{ job.employment_types|employment_types(' / ') }}.
{%- endblock %}

{% block body_attrs %} class="page-job"{% endblock %}

{% block main %}
<article class="job">
  <header>
    <h1>{{ job.title }}</h1>

    <p class="job-attributes">
      <a href="{{ job.company_link_utm }}">{{ job.company_name }}</a>
      &mdash;
      {{ job.location }}
      &mdash;
      {{ job.employment_types|employment_types }}
    </p>
    <!-- TODO https://github.com/honzajavorek/junior.guru/issues/161
    <p class="job-since">
      <small>zadáno {{ job.posted_at|ago }}</small>
    </p>
    -->
  </header>

  {{ job.description|md }}

  <div class="call-to-action">
    {% if job.link %}
      <a id="apply" class="legacy-button" href="{{ job.link_utm }}">
        Mám zájem!
      </a>
    {% else %}
      <p id="apply" class="legacy-button">
        Máš zájem? Napiš na<br><small>{{ job.email|email_link }}</small>
      </p>
    {% endif %}
  </div>
</article>

<hr>
<section class="teaser call-to-action">
  <h2>
    <small>Nic pro tebe? Nevadí! Je tady celkem</small>

    <strong class="no-wrap">{{ jobs_count }} nabídek</strong>
    <span class="no-wrap">práce</span>
    <span class="no-wrap">pro juniory</span>
    <span class="no-wrap">
      od <strong>{{ companies_count }} firem</strong>
    </span>
  </h2>
  <p>
    <a href="{{ url_for('jobs') }}" class="legacy-button">Procházet další nabídky</a>
  </p>
</section>
{% endblock %}
