{% extends 'jobs.html' %}
{% block title %}Junior programátor na dálku, remote &mdash; nabídky práce, stáže{% endblock %}

{% block description -%}
Tento portál je na tvé straně! Už žádné „požadujeme 4 roky zkušeností“. Tady najdeš jen nabídky práce, stáže a brigády v oboru IT zaměřené výhradně na začátečníky a juniory bez komerční praxe, a to na dálku.
{%- endblock %}

{% block intro %}
<header class="intro">
  <h1 class="intro__title">Práce pro juniory na dálku</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick3.svg') }}">
    Chceš pracovat v&nbsp;IT, na dálku? Pokud máš <a href="{{ url_for('learn') }}">základy</a> a <a href="{{ url_for('practice') }}">minimální praxi</a>,
    pročti si <a href="{{ url_for('candidate_handbook') }}">příručku o hledání práce</a>
    a procházej nabídky. Tady najdeš pouze ty juniorní.
  </p>
</header>
<section class="content__section">
  <div class="engage">
    <div class="engage__content">
      <p class="engage__single-paragraph">
        <strong>Seženeš jako junior práci na dálku?</strong>
        Dává to vůbec smysl?
        Přesně o tom je <a href="{{ url_for('candidate_handbook') }}#remote-work">celá kapitola</a> v příručce!
      </p>
    </div>
  </div>
</section>
{% endblock %}

{% block after_jobs %}{{ self.engage_jobs() }}{% endblock %}
