{% extends 'base.html' %}
{% block title %}Práce pro začínající programátory{% endblock %}

{% block description -%}
Znáš základy a máš praxi? Nastal okamžik zkusit své štestí na pracovním trhu.
{%- endblock %}

{% block body_attrs %} class="page-jobs"{% endblock %}

{% block main %}
<header>
  <h1>Najdi svou první práci v IT</h1>
  <p>
    <img src="{{ url_for('static', filename='images/chick3.svg') }}">
    Znáš <a href="{{ url_for('learn') }}">základy</a> a máš <a href="{{ url_for('practice') }}">praxi</a>?
    Nastal okamžik začít zkoušet své štestí na pracovním trhu.
    Projdi si {{ jobs_count }}&nbsp;aktuálních nabídek práce od&nbsp;{{ companies_count }}&nbsp;firem,
    všechny přímo pro juniory, tedy začínající programátory.
  </p>
</header>

<hr>
<section>
  <div class="call-to-action">
      <p>
        <img class="cartoon cartoon-center" src="{{ url_for('static', filename='images/mail.svg') }}">
      </p>
      <p class="note">Nech si zasílat nabídky práce na e-mail</p>
      <a href="http://eepurl.com/gyG8Bb" target="_blank" class="button">Přihlásit se k odběru</a>
  </div>
</section>

<hr>
<section id="jobs">
  <ul class="items">
  {% for job in jobs %}
    <li class="item-summary" id="job-{{ job.id }}">
      <a href="{{ url_for('job', job_id=job.id) }}">
        <div class="item-summary-wrapper">
          <h3>{{ job.title }}</h3>
          <small class="item-summary-details">
            {{ job.company_name }}
            &mdash;
            {{ job.location }}
            &mdash;
            {{ job.employment_types|employment_types }}
          </small>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<hr>
<section id="jobs-bot">
  <h2>Nabídky odjinud</h2>
  <p>
    Každý den se robot ve službách <a href="{{ url_for('index') }}">junior.guru</a> rozhlíží po různých místech
    na internetu a hledá nabídky práce pro juniory. Ty podle přísných kritérií
    třídí, a jen ty, které jsou nejvíc přístupné začátečníkům, se dostanou až sem.
  </p>
  <p>
    <strong>Zatím je robot v testovacím provozu</strong>. Pokud najdeš
    nesrovnalost, napiš prosím na {{ 'ahoj@junior.guru'|email_link }}.
  </p>
  <ul class="items">
  {% for job in jobs_bot %}
    <li class="item-summary" id="job-{{ job.id }}">
      <a href="{{ job.link }}" target="_blank" rel="nofollow">
        <div class="item-summary-wrapper">
          <h3>{{ job.title }}</h3>
          <small class="item-summary-details">
            {{ job.company_name }}
            &mdash;
            {{ job.location }}
            &mdash;
            {{ job.employment_types|employment_types }}
          </small>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<hr>
<section class="teaser call-to-action" id="add">
  <p>
    <img class="cartoon cartoon-center" src="{{ url_for('static', filename='images/posts.svg') }}">
  </p>
  <h2>
    Inzerujte přímo na místě, kam junioři chodí
  </h2>
  <p>
    <a href="https://forms.gle/Nr2xhH2p2Cqj21Rq9" target="_blank" class="button">
      Přidat nabídku
    </a>
  </p>
  <p class="advice">
    Zadávejte cokoliv od dobrovolnictví po plný úvazek.<br>
    <strong>Cenu za inzerát si určujete sami!</strong>
  </p>
</section>

<hr>
<section>
  <p>
    Celý tento projekt by nikdy nevznikl bez <a href="https://pyladies.cz">PyLadies CZ</a>.
    Pracovní nabídky zadané ve spolupráci s nimi nebudou nikdy zpoplatněny.
    Projekt je členem <a href="https://digikoalice.cz/">České národní koalice pro digitální pracovní místa</a>.
  </p>
</section>
{% endblock %}
