{% extends 'jobs.html' %}
{% block title %}Junior programátor {{ region.name }} &mdash; nabídky práce, stáže{% endblock %}

{% block description -%}
Tento portál je na tvé straně! Už žádné „požadujeme 4 roky zkušeností“. Tady najdeš jen nabídky práce, stáže a brigády v oboru IT zaměřené výhradně na začátečníky a juniory bez komerční praxe, a to {{ region.name_in }}.
{%- endblock %}

{% block intro %}
<header class="intro">
  <h1 class="intro__title">Práce pro juniory {{ region.name_in }}</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick3.svg') }}">
    Chceš pracovat v&nbsp;IT, {{ region.name_in }}? Pokud máš <a href="{{ url_for('learn') }}">základy</a> a <a href="{{ url_for('practice') }}">minimální praxi</a>,
    pročti si <a href="{{ url_for('candidate_handbook') }}">příručku o hledání práce</a>
    a procházej nabídky. Tady najdeš pouze ty juniorní.
  </p>
</header>
{% endblock %}

{% block after_jobs %}{{ self.engage_jobs() }}{% endblock %}
