{% extends 'layouts/base.html' %}
{% from 'macros/job.html' import job_macro %}

{% block title %}Práce v IT pro programátory začátečníky{% endblock %}

{% block description -%}
Tento portál je na tvé straně! Už žádné „požadujeme 4 roky zkušeností“. Tady najdeš jen nabídky práce, stáže a brigády v oboru IT zaměřené výhradně na začátečníky a juniory bez komerční praxe.
{%- endblock %}

{% block value_explanation %}
<section class="content__section value-explanation">
  <div class="value-explanation__block">
    <p class="value-explanation__text">
      S více než <strong>{{ metrics.avg_monthly_users|metric }} návštěvníky měsíčně</strong> je junior.guru významným pracovním portálem pro juniory v Česku.
      Přímo zde už <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=sf_link">inzerovalo</a> <strong>{{ metrics.companies_count }} firem</strong>, mimo jiné například:
    </p>
    <div class="logos logos--greyscale logos--without-margin">
      <ul class="logos__items">
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/cznic.svg') }}" alt="CZ.NIC">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/csob.svg') }}" alt="ČSOB">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/jetbrains.svg') }}" alt="JetBrains">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/oracle.svg') }}" alt="Oracle">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/redhat.svg') }}" alt="Red Hat">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/rossum.svg') }}" alt="Rossum">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/seznam.svg') }}" alt="Seznam.cz">
        </li>
      </ul>
    </div>
  </div>
  <div class="value-explanation__block">
    <p class="value-explanation__text">
      Kromě toho dnes robot prošel i <strong>{{ metrics.approved_jobs_count + metrics.rejected_jobs_count }} nabídek</strong>
      z dalších zdrojů. Nechal jen {{ metrics.approved_jobs_count }}, o&nbsp;kterých usoudil, že jsou opravdu pro začátečníky.
      To nechceš dělat ručně!
    </p>
    <div class="logos logos--greyscale logos--without-margin">
      <ul class="logos__items">
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/li.svg') }}" alt="LinkedIn">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/remoteok.svg') }}" alt="RemoteOK">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/startupjobs.svg') }}" alt="StartupJobs">
        </li>
        <li class="logos__item logos__item--without-link">
          <img class="logos__image" width="150" src="{{ url_for('static', filename='images/logos/wwr.svg') }}" alt="We Work Remotely">
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block engage_jobs %}
<section class="content__section">
  <div class="engage">
    <div class="engage__content">
      <ul class="engage__items">
        <li class="engage__item engage__item--handbook">
          <a class="engage__item-link" href="{{ url_for('candidate_handbook') }}">Příručka o hledání práce</a>
        </li>
        <li class="engage__item engage__item--club">
          <a class="engage__item-link" href="{{ url_for('club') }}">Klub pro juniory</a>
        </li>
        <li class="engage__item engage__item--jobs">
          <a class="engage__item-link" target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSfSZNK30dPAAYmqIGNCs1vBRlf-5b3BFuR8YxgvWxrvY1tIVQ/viewform?usp=sf_link" data-annotate-circle>Přidat inzerát</a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
{% block intro %}
<header class="intro">
  <h1 class="intro__title">Najdi svou první práci v&nbsp;IT</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick3.svg') }}">
    Znáš <a href="{{ url_for('learn') }}">základy</a> a máš <a href="{{ url_for('practice') }}">minimální praxi</a>?
    Pročti si <a href="{{ url_for('candidate_handbook') }}">příručku o hledání první práce v&nbsp;IT</a>
    a procházej nabídky práce. Na&nbsp;této stránce najdeš pouze ty pro juniory.
  </p>
</header>
{{ self.value_explanation() }}
{{ self.engage_jobs() }}
{% endblock %}
<section class="content__section filters" id="listing">
  <div class="filters__block">
    <ul class="filters__list">
      <li class="filters__item{% if not region and not remote %} filters__item--active{% endif %}">
        <a class="filters__link" href="{{ url_for('jobs') }}">Všechny nabídky</a>&#32;
      </li>
      <li class="filters__item{% if remote %} filters__item--active{% endif %}">
        <a class="filters__link" href="{{ url_for('jobs_remote') }}">Práce na&nbsp;dálku</a>&#32;
      </li>
    </ul>
    <h3 class="filters__heading">Technologická centra</h3>
    <ul class="filters__list">
    {% for reg in regions|selectattr('type', 'eq', 'tech_hub') %}
      <li class="filters__item{% if region and region.id == reg.id %} filters__item--active{% endif %}">
        <a class="filters__link" href="{{ url_for('jobs_region', region_id=reg.id) }}">
          {{- reg.name -}}
        </a>&#32;
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="filters__block filters__block--large">
    <h3 class="filters__heading">Regiony</h3>
    <ul class="filters__list">
    {% for reg in regions|selectattr('type', 'eq', 'region') %}
      <li class="filters__item{% if region and region.id == reg.id %} filters__item--active{% endif %}">
        <a class="filters__link" href="{{ url_for('jobs_region', region_id=reg.id) }}">
        {{- reg.name -}}
        </a>&#32;
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="filters__block">
    <h3 class="filters__heading">Okolní země</h3>
    <ul class="filters__list">
    {% for reg in regions|selectattr('type', 'eq', 'country') %}
      <li class="filters__item{% if region and region.id == reg.id %} filters__item--active{% endif %}">
        <a class="filters__link" href="{{ url_for('jobs_region', region_id=reg.id) }}">
          {{- reg.name -}}
        </a>&#32;
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
<section class="content__section">
  {% if jobs %}
    <ul class="jobs">
    {% for job in jobs %}
      {{ job_macro(job) }}
    {% endfor %}
    </ul>
    {% if region and jobs|length <= 3 %}
      <div class="engage">
        <div class="engage__content">
          <h2 class="engage__heading engage__heading--centered">Málo nabídek</h2>
          <p class="engage__single-paragraph">
            Robot toho dnes {{ region.name_in }} našel dost málo.
            Zkus omrknout i <a href="{{ url_for('jobs') }}">ostatní nabídky</a>.
            Nejvíce jich bývá v technologických centrech, jako jsou
            {% for reg in regions|selectattr('type', 'eq', 'tech_hub') %}
              {% if loop.last %} nebo {% endif %}<a href="{{ url_for('jobs_region', region_id=reg.id) }}">{{ reg.name }}</a>{% if loop.last %}.{% else %}, {% endif %}
            {% endfor %}
            V následujícím výpisu najdeš <a href="{{ url_for('jobs_remote') }}">nabídky práce na&nbsp;dálku</a>.
          </p>
        </div>
      </div>
      <ul class="jobs">
        {% for job in jobs_remote %}
          {{ job_macro(job) }}
        {% endfor %}
      </ul>
    {% endif %}
  {% elif region %}
    <div class="engage">
      <div class="engage__content">
        <h2 class="engage__heading engage__heading--centered">Žádné nabídky</h2>
        <p class="engage__single-paragraph">
          Robot dnes nenašel žádné nabídky práce pro juniory {{ region.name_in }}.
          Zkus omrknout <a href="{{ url_for('jobs') }}">ostatní nabídky</a>.
          Nejvíce jich bývá v technologických centrech, jako jsou
          {% for reg in regions|selectattr('type', 'eq', 'tech_hub') %}
            {% if loop.last %} nebo {% endif %}<a href="{{ url_for('jobs_region', region_id=reg.id) }}">{{ reg.name }}</a>{% if loop.last %}.{% else %}, {% endif %}
          {% endfor %}
          V následujícím výpisu najdeš <a href="{{ url_for('jobs_remote') }}">nabídky práce na&nbsp;dálku</a>.
        </p>
      </div>
    </div>
    <ul class="jobs">
      {% for job in jobs_remote %}
        {{ job_macro(job) }}
      {% endfor %}
    </ul>
  {% elif remote %}
    <div class="engage">
      <div class="engage__content">
        <h2 class="engage__heading engage__heading--centered">Žádné nabídky</h2>
        <p class="engage__single-paragraph">
          Robot dnes nenašel žádné nabídky práce na dálku pro juniory.
          Zkus omrknout <a href="{{ url_for('jobs') }}">ostatní nabídky</a>.
        </p>
      </div>
    </div>
  {% else %}
    <div class="engage">
      <div class="engage__content">
        <h2 class="engage__heading engage__heading--centered">Žádné nabídky</h2>
        <p class="engage__single-paragraph">
          Robot dnes nenašel vůbec žádné nabídky práce pro juniory.
          To je dost podezřelé a nejspíš se jedná o chybu. Pokud tento stav
          přetrvává, napiš prosím na {{ 'honza@junior.guru'|email_link }}.
        </p>
      </div>
    </div>
  {% endif %}
</section>
{% block after_jobs %}
  {{ self.engage_jobs() }}
{% endblock %}
{% endblock %}
