{% extends 'layouts/base_handbook.html' %}

{% block title %}Jak se naučit programovat? Rozcestník na nejlepší materiály{% endblock %}

{% block description -%}
Jak začít programovat? Zde najdeš pečlivě nachystané jen to, co pro tebe bude do úplného startu nejlepší a nejefektivnější.
{%- endblock %}

{% block content_modifier %} content--toc{% endblock %}

{% block header_toc %}
<nav class="header__tocbar">
  <div class="header__tocbar-content">
    <ul class="header__tocbar-items">
      <li class="header__tocbar-item">
        <a class="toc-button" href="#toc">
          <span class="toc-button__label">Obsah</span>
        </a>
      </li>
      <li class="header__tocbar-item header__tocbar-heading">
        Nauč se základy programování
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Nauč se základy programování</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick1.svg') }}">
    {{ self.description() }} Až tím projdeš, můžeš začít <a href="{{ url_for('practice') }}">získávat praxi</a>.
  </p>
</header>

<nav id="toc" class="toc content__target">
  <div class="toc__content">
    <h2 class="toc__heading content__target-heading">Obsah</h2>
    <ol class="toc__items">
      <li class="toc__item"><a class="toc__link" href="#requirements">Co budeš potřebovat</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#equipment">Vybavení, které musíš mít</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#friends">Sežeň si kamarády</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#prerequisities">Co je dobré umět předem</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#price">Kolik to bude stát</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#time">Kolik času potřebuješ</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#learning">Nauč se učit</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#myths">Co nepotřebuješ</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#python">Proč Python?</a></li>
      <li class="toc__item"><a class="toc__link" href="#learn">Jak začít</a></li>
      <li class="toc__item"><a class="toc__link" href="#ladies">Dámy mají přednost</a></li>
      <li class="toc__item"><a class="toc__link" href="#help">Kde najdeš pomoc</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#questions">Kde a jak se ptát</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#english">Jak si zlepšit angličtinu</a></li>
    </ol>
  </div>
</nav>

<section id="requirements" class="content__section">
  <h2 class="content__section-heading">Co budeš potřebovat</h2>
  <div class="tooltips">
    <h3 id="equipment" class="content__subsection-heading">Vybavení, které musíš mít</h3>
    <p>
      Především budeš potřebovat <strong>počítač a internet</strong>. Na mobilu ani tabletu se programovat prakticky nedá a bez připojení nebudeš mít materiály, ani nenajdeš potřebnou pomoc.
    </p>
    <p>
      Ideální je mít svůj vlastní počítač, nad kterým máš plnou kontrolu a na němž je operační systém Linux, Windows nebo macOS. Pokud máš jiný systém, jako Android nebo ChromeOS, možná se ti povede na něm programování rozjet, ale v praxi je k tomu nikdo nepoužívá a budeš mít velký problém sehnat někoho, kdo ti poradí v případě problémů. Na mobilu můžeš některé věci procvičovat, ale je to jako se v appce učit akordy, vzorečky nebo slovíčka &mdash; praktické znalosti tím nezískáš.
    </p>

    <h3 id="friends" class="content__subsection-heading">Sežeň si kamarády</h3>
    <p>
      Říká se, že <strong>navazování mezilidských vztahů</strong> by mělo vyplňovat téměř čtvrtinu času, který trávíš učením (tzv. <a href="https://en.wikipedia.org/wiki/70/20/10_Model_(Learning_and_Development)">model 70-20-10</a>). Navíc budeš potřebovat <strong>velké množství motivace</strong>. Možná si čteš tento text a přijde ti, že jí máš vrchovatě, ale věř tomu, že už zítra jí bude méně a za týden jí bude polovina. Zvláště pokud neděláš prezenční kurz a chystáš se do toho jít jako samouk, nebudeš mít ani žádné termíny, ani lidi kolem sebe, díky kterým se u učení udržíš. Je snadné další lekci odložit, protože se ti to zrovna nehodí, potom ji odložit znova, a tak dále.
    </p>
    <p>
      Najdi si proto <strong>studijní skupinu</strong>. Ať už do toho půjdeš s kamarádkou nebo místním zájmovým kroužkem, v partě to prostě odsýpá lépe a máš mnohonásobně, opravdu mnohonásobně vyšší šanci na úspěch. Využít můžeš přímo i <a href="{{ url_for('club') }}">zdejší online klub</a>.
    </p>

    <h3 id="prerequisities" class="content__subsection-heading">Co je dobré umět předem</h3>
    <p>
      S programováním můžeš začít úplně v pohodě pouze se <strong>základy ovládání počítače</strong>. Potřebuješ umět vytvořit a najít soubor nebo adresář (složku). Potřebuješ umět nainstalovat nový program.
    </p>
    <p>
      Dále se ti mohou hodit <strong>základy matematiky ze základky</strong>: třeba co je to dělení se zbytkem nebo obsah čtverce. Detaily nejsou potřeba, vzorečky se dají najít na Wikipedii. Spíš potřebuješ vědět, že když máš pokoj tři krát čtyři metry, tak se tyhle čísla dají nějak zkombinovat a zjistíš výměru podlahy.
    </p>
    <p>
      Budeš mít výhodu, pokud budeš <a href="{{ url_for('learn') }}#english"><strong>rozumět alespoň psané angličtině</strong></a>. Materiály a kurzy pro začátečníky najdeš i v češtině, ale brzy zjistíš, že spoléhat se jen na ně je velmi omezující.
    </p>

    <h3 id="price" class="content__subsection-heading">Kolik to bude stát</h3>
    <p>
      Nemusí to stát <strong>žádné peníze</strong>. Ano, existují placené kurzy, placení mentoři, <a href="{{ url_for('club') }}">placené komunity</a>, ale jde to i bez toho. Pokud máš počítač a internet, můžeš se naučit programovat bez jakýchkoliv dalších investic. Některé kurzy dávají své materiály zdarma k dispozici, na problémy můžeš najít řešení v diskuzích na internetu, učební kroužek si můžeš zorganizovat i mezi svými kamarády. Pokud ale nějaké peníze do svého učení investovat můžeš, <strong>mohou tvou cestu usnadnit a urychlit</strong>.
    </p>

    <h3 id="time" class="content__subsection-heading">Kolik času potřebuješ</h3>
    <p>
      Úplně první program vytvoříš v řádu hodin nebo dní, ale pokud chceš mít rozumné základy programování, budeš se tomu potřebovat věnovat <strong>alespoň 3 měsíce po 10 hodinách týdně</strong> (orientační odhad, každý má jiné možnosti, tempo, výdrž…). Je to stejné jako u sportu nebo hry na hudební nástroj: Princip možná pochopíš rychle, ale budeš muset vždy hodně procvičovat, než to budeš umět správně použít v praxi.
    </p>
    <p>
      Co když <strong>nemáš čas</strong>? „Nemám čas“ znamená „nechci si jej vyhradit, jelikož mám důležitější věci, nebo věci, které mě baví víc“. Možná se ti jen líbí představa, že umíš programovat, ale nechce se ti to doopravdy dělat, stejně jako se spoustě lidem líbí představa, že umí hrát na kytaru, ale nemají chuť si po večerech brnkat a cvičit akordy. Je úplně v pořádku dělat důležitější nebo zábavnější věci, akorát <a href="https://twitter.com/mjavorek/status/687386493036396544">je dobré si to přiznat</a>, vědomě to nechat plavat a nevyčítat si to.
    </p>
    <p>
      Možná opravdu chceš, ale máš náročnou práci, chodíš domů po večerech a během volna se sotva stíháš zrelaxovat nebo postarat o rodinu. Bohužel, bez času to nejde. Naučit se při tom všem programovat bude velmi těžké. I takoví se ale našli! <strong>Nevzdávej to a zkus vymyslet, jak by šlo tvůj den uspořádat jinak</strong>, jestli by některé povinnosti nemohli dělat jiní lidé, atd. Někdo se učí o víkendech nebo po večerech, když usnou děti. Někdo má prostoje ve svém zaměstnání, tak se učí během nich.
    </p>
    <figure class="quote">
      <blockquote>
        Měla jsem dvě děti a k tomu zaměstnání na plný úvazek, ale po večerech jsem stíhala dělat vlastní projekty, nebo se učit do školy. Byl to koníček, takže mi nevadilo u toho trávit volný čas. Akorát seriály musely jít stranou.
      </blockquote>
      <figcaption>
        Vladlena Benešová, bývalá manažerka a podnikatelka, nyní programátorka
      </figcaption>
    </figure>

    <h3 id="learning" class="content__subsection-heading">Nauč se učit</h3>
    <p>
      Jakmile se jednou pustíš do programování, nastoupíš do vlaku, jenž už se nikdy nezastaví. Technologie se vyvíjejí rychle a tak je programování, možná více než jiné obory, o neustálém učení. Někdo to dovádí do extrému a hltá hned každou novinku, ale ani <strong>běžný programátor nemůže úplně zaspat a často se téměř každý týden naučí něco nového</strong>, třeba i průběžně během práce.
    </p>
    <p>
      Neočekávej, že se programování jednou naučíš a vystačíš si s tím. Neměj ale ani hrůzu z toho, že se učíš programovat dva roky a stále toho ještě spoustu neumíš. <strong>Učí se neustále i ti, kteří mají desítky let zkušeností.</strong> Nemá tedy smysl se tím příliš trápit. Najdi si vlastní tempo a způsob, jakým se dokážeš učit efektivně a jak tě to bude nejvíce bavit. Někdo leží v knihách, jiný si pouští návody na YouTube, další si zase nejraději zkouší věci prakticky. Cokoliv z toho je v pořádku, hlavně pokud ti to sedí.
    </p>

    <h3 id="myths" class="content__subsection-heading">Co nepotřebuješ</h3>
    <p>
      O programování <a href="{{ url_for('motivation') }}#myths">koluje řada mýtů</a>. Třeba že se o něj můžeš zajímat jen pokud jsi geniální na matematiku, že se to musí roky studovat na vysoké škole, že to není pro holky, že už je pro tebe pozdě začít. Jsou to pouze předsudky, nenech se jimi odradit! Raději si projdi <a href="{{ url_for('index') }}#stories">příběhy lidí, kteří se programovat naučili</a> a dnes jim to pomáhá při práci, nebo se tím začali přímo živit.
    </p>
  </div>
  <p class="note list-note">
    Rady v této kapitole volně vychází i z <a href="https://naucse.python.cz/2021/online-jaro/adm/intro/">úvodní lekce týmového online kurzu Petra Viktorina</a>, se svolením autora. Díky!
  </p>
</section>

<section id="python" class="content__section more">
  <h2 class="content__section-heading">Proč Python?</h2>
  <div class="tooltips">
    <p>
      <img class="cartoon" src="{{ url_for('static', filename='images/pylady.svg') }}" loading="lazy">
      Ať už budeš nakonec dělat cokoliv, začít s programovacím jazykem <a href="https://python.cz">Python</a> je skvělý tah. Je to nejvhodnější první jazyk.
    </p>
    <ul>
      <li>
        Dobře se učí. Neobsahuje příliš mnoho divných značek, vypadá spíš jako anglická věta.
      </li>
      <li>
        Má přátelskou komunitu lidí, kteří píšou materiály pro začátečníky a pořádají nejrůznější akce.
      </li>
      <li>
        Dobře se hledá pomoc při řešení problémů během učení, a to i v češtině.
      </li>
      <li>
        Je to dnes jeden z nejpoužívanějších a nejoblíbenějších jazyků vůbec.
        <ul>
          <li>
            <a href="https://meterpreter.org/python-will-become-the-official-programming-language-for-french-high-schools/">
              InfoTech News: Oficiální jazyk pro výuku ve Francii
            </a>
          </li>
          <li>
            <a href="https://www.economist.com/graphic-detail/2018/07/26/python-is-becoming-the-worlds-most-popular-coding-language">
              The Economist: Stává se nejoblíbenějším jazykem na světě
            </a>
          </li>
          <li>
            <a href="https://insights.stackoverflow.com/survey/2019">
              StackOverflow: Jazyk s nejrychleji rostoucí popularitou a druhý nejmilovanější
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=cKzP61Gjf00">
              Vývoj dat ze StackOverflow: Během 10 let se stal nejoblíbenějším jazykem
            </a>
          </li>
          <li>
            <a href="https://www.jetbrains.com/research/devecosystem-2018/">
              JetBrains: Třetí jazyk, který lidé mají jako hlavní. První, který se nejvíc učí
            </a>
          </li>
          <li>
            <a href="https://www.zdnet.com/article/programming-languages-python-predicted-to-overtake-c-and-java-in-next-4-years/">
              ZDNet: Odhaduje se, že do několika let bude nejpoužívanější na světě
            </a>
          </li>
        </ul>
      </li>
      <li>
        Je univerzální: tvorba webu, servery, datová analýza, automatizace, vědecké výpočty, &hellip;
      </li>
      <li>
        Existuje pro něj <a href="http://python.cz/prace">mnoho nabídek práce</a>.
      </li>
    </ul>
    <p>
      Co když ale bude nakonec v pracovním inzerátu Java? Důležité je především umět programovat &mdash; další jazyk nebo technologie se dá doučit poměrně rychle.
    </p>
    <figure class="quote">
      <blockquote>
        Píšou mi lidi, že se chtějí naučit programovat. Posílám je na kurzy Pythonu.
      </blockquote>
      <figcaption>
        Jakub Mrozek, propagátor jazyka JavaScript
      </figcaption>
    </figure>
  </div>
</section>

<section id="learn" class="content__section">
  <h2 class="content__section-heading">Jak začít</h2>
  <div class="tooltips">
    <p>
      Nemusíš se přebírat hromadami možností a přemýšlet, do které se vyplatí
      investovat. Tyto materiály prošly pečlivým a přísným
      výběrem. Jsou to ty nejlepší dostupné. Vyber si jeden z následujících materiálů
      podle toho, jestli ti více vyhovuje kurz nebo kniha, a začni!
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://naucse.python.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/naucse.python.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Nauč se Python!</h3>
        <ul class="list-labels">
            <li><small>materiály</small></li>
        </ul>
      </a>
      <p>
        Nejlepší české textové materiály.
      </p>
    </li>
    <li>
      <a href="https://engeto.com/cs/katalog/python-1-uvod-do-programovani">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/engeto.com!cs!katalog!python-1-uvod-do-programovani.jpg') }}" loading="lazy">
        </div>
        <h3>Engeto</h3>
        <ul class="list-labels">
            <li><small>online kurz</small></li>
        </ul>
      </a>
      <p>
        Kurz v češtině kombinující textové materiály a video.
      </p>
    </li>
    <li>
      <a href="https://www.coursera.org/learn/python">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/coursera.org!learn!python.jpg') }}" loading="lazy">
        </div>
        <h3>Coursera</h3>
        <ul class="list-labels">
          <li><small>online kurz</small></li>
          <li><small>anglicky</small></li>
        </ul>
      </a>
      <p>
        Profesionálně vedený video kurz University of Michigan.
      </p>
    </li>
    <li>
      <a href="https://www.codecademy.com/learn/learn-python-3">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codecademy.com!learn!learn-python-3.jpg') }}" loading="lazy">
        </div>
        <h3>Codecademy</h3>
        <ul class="list-labels">
          <li><small>online kurz</small></li>
          <li><small>anglicky</small></li>
        </ul>
      </a>
      <p>
        Kurz založený na textu a cvičeních. Rychlejší postup, méně hloubky.
      </p>
    </li>
    <li>
      <a href="https://www.umimeprogramovat.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/umimeprogramovat.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Umíme programovat</h3>
        <ul class="list-labels">
          <li><small>procvičování</small></li>
        </ul>
      </a>
      <p>
        Uč se skrze cvičení a opakování, <a href="https://www.umimeto.org/podlozeno-vyzkumem">podložený výzkumy</a>.
      </p>
    </li>
    <li>
      <a href="http://diveintopython3.py.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/diveintopython3.py.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Ponořme se do&nbsp;Pythonu&nbsp;3</h3>
        <ul class="list-labels">
          <li><small>kniha</small></li>
        </ul>
      </a>
      <p>
        Možná strohá, ale i tak nejlepší kniha přeložená do češtiny.
      </p>
    </li>
    <li>
      <a href="https://automatetheboringstuff.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/automatetheboringstuff.com.jpg') }}" loading="lazy">
        </div>
        <h3>Automate the Boring Stuff with Python</h3>
        <ul class="list-labels">
          <li><small>kniha</small></li>
          <li><small>anglicky</small></li>
        </ul>
      </a>
      <p>
        Nejlepší kniha do startu. Nech nudnou práci dělat počítač!
      </p>
    </li>
  </ul>
  {% include 'includes/list_note.html' %}
</section>

<section id="ladies" class="content__section">
  <h2 class="content__section-heading">Dámy mají přednost</h2>
  <div class="tooltips">
    <p>
      Žen je v&nbsp;IT málo &mdash; v Evropských státech je to mezi 10 až 30 %.
      <a href="https://www.ceskovdatech.cz/clanek/128-neni-ajtak-jako-ajtak/">Česko
      je na tom se svými 10 % hůř než Turecko</a>, takže existují aktivity,
      které se snaží ženám cestu do IT usnadnit.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://pyladies.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pyladies.cz.jpg') }}" loading="lazy">
        </div>
        <h3>PyLadies</h3>
        <ul class="list-labels">
          <li><small>zdarma</small></li>
        </ul>
      </a>
      <p>
        Komunitní půlroční kurzy programování
        a navazující workshopy.
      </p>
    </li>
    <li>
      <a href="https://www.czechitas.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/czechitas.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Czechitas</h3>
      </a>
      <p>
        Neziskovka otevírající IT ženám skrze
        workshopy, kurzy a další akce.
      </p>
    </li>
    <li>
      <a href="https://www.reactgirls.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/reactgirls.com.jpg') }}" loading="lazy">
        </div>
        <h3>Reactgirls</h3>
        <ul class="list-labels">
          <li><small>zdarma</small></li>
        </ul>
      </a>
      <p>
        Komunitní jednodenní workshop
        tvorby webu v JavaScriptu.
      </p>
    </li>
    <li>
      <a href="https://djangogirls.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/djangogirls.org.jpg') }}" loading="lazy">
        </div>
        <h3>Django Girls</h3>
        <ul class="list-labels">
          <li><small>zdarma</small></li>
        </ul>
      </a>
      <p>
        Komunitní
        jednorázový startovací workshop
        tvorby webu v Pythonu.
      </p>
    </li>
    <li>
      <a href="http://railsgirls.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/railsgirls.com.jpg') }}" loading="lazy">
        </div>
        <h3>Rails Girls</h3>
        <ul class="list-labels">
          <li><small>zdarma</small></li>
        </ul>
      </a>
      <p>
        Komunitní
        jednorázový startovací workshop
        tvorby webu v Ruby.
      </p>
    </li>
  </ul>
</section>

{% include 'includes/engage.html' %}

<section id="help" class="content__section">
  <h2 class="content__section-heading">Kde najdeš pomoc</h2>
  <div class="tooltips">
    <p>
      Je velmi těžké se učit zcela bez cizí pomoci. I drobný zádrhel tě může zaseknout
      na týdny a úplně ti zkazit radost z učení.
      Neboj se ptát online, radit se s lidmi na <a href="{{ url_for('practice') }}#events">akcích</a>,
      nebo si najít <a href="{{ url_for('practice') }}#mentors">mentora</a>.
    </p>
    <h3 class="content__subsection-heading" id="questions">Kde a jak se ptát</h3>
    <p>
      Neboj se ptát, ale zároveň se nauč formulovat dotazy správně. <strong>Žádná otázka není
      hloupá, může však být hloupě položená.</strong> Než se někde začneš ptát, přečti si <a href="https://www.root.cz/texty/jak-se-spravne-ptat/">nejslavnější návod na internetu o psaní dotazů</a>,
      nebo alespoň <a href="https://stackoverflow.com/help/how-to-ask">tento krátký návod od Stack Overflow</a>.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="{{ url_for('club') }}">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/junior.guru!club.jpg') }}" loading="lazy">
        </div>
        <h3>Klub junior.guru</h3>
        <ul class="list-labels">
          <li><small>online komunita</small></li>
        </ul>
      </a>
      <p>
        Ptej se v klubu pro začátečníky, kde najdeš nejen pomoc, ale i motivaci, kamarády, práci.
      </p>
    </li>
    <li>
      <a href="https://stackoverflow.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/stackoverflow.com.jpg') }}" loading="lazy">
        </div>
        <h3>Stack Overflow</h3>
      </a>
      <p>
        Ptej se na celosvětově největším webu s otázkami a odpovědmi ohledně programování.
      </p>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/pyonieri/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/facebook.com!groups!pyonieri.jpg') }}" loading="lazy">
        </div>
        <h3>Pyonýři</h3>
        <ul class="list-labels">
          <li><small>Facebook</small></li>
        </ul>
      </a>
      <p>
        Ptej na se české a slovenské Python komunity na Facebooku.
      </p>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/144621756262987/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/facebook.com!groups!144621756262987.jpg') }}" loading="lazy">
        </div>
        <h3>Programátoři začátečníci</h3>
        <ul class="list-labels">
          <li><small>Facebook</small></li>
        </ul>
      </a>
      <p>
        Ptej se ve Facebookové skupině pro začátečníky v programování.
      </p>
    </li>
    <li>
      <a href="https://discord.gg/yUbgArVAyF">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/discord.com.jpg') }}" loading="lazy">
        </div>
        <h3>Python CZ/SK</h3>
        <ul class="list-labels">
          <li><small>Discord</small></li>
        </ul>
      </a>
      <p>
        Ptej na Discordu české a slovenské Python komunity.
      </p>
    </li>
    <li>
      <a href="https://www.reddit.com/r/learnpython/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/reddit.com!r!learnpython.jpg') }}" loading="lazy">
        </div>
        <h3>r/learnpython</h3>
        <ul class="list-labels">
          <li><small>Reddit</small></li>
        </ul>
      </a>
      <p>
        Pokládej dotazy komunitě pro začátečníky s Pythonem.
      </p>
    </li>
    <li>
      <a href="https://www.reddit.com/r/learnprogramming/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/reddit.com!r!learnprogramming.jpg') }}" loading="lazy">
        </div>
        <h3>r/learnprogramming</h3>
        <ul class="list-labels">
          <li><small>Reddit</small></li>
        </ul>
      </a>
      <p>
        Pokládej dotazy komunitě pro začátečníky v programování.
      </p>
    </li>
  </ul>
</section>

<section id="english" class="content__section">
  <h2 class="content__section-heading">Jak si zlepšit angličtinu</h2>
  <div class="tooltips">
    <p>
      Mnohem více než <a href="{{ url_for('motivation') }}#math">matematika</a> je při programování potřeba
      angličtina. Materiály pro úplné začátečníky existují i v češtině, ale potom už se bez schopnosti alespoň číst anglický text obejít nelze.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://www.italki.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/italki.com.jpg') }}" loading="lazy">
        </div>
        <h3>italki</h3>
        <ul class="list-labels">
          <li><small>živé lekce</small></li>
        </ul>
      </a>
      <p>
        Videohovory s učiteli kdekoliv na světě.
        <a href="https://www.italki.com/i/6fGdDG?hl=en-us" title="Honza Javorek, autor těchto stránek, italki nepoužívá, ale učí se přes to děti jeho bráchy">Sleva $10</a>
      </p>
    </li>
    <li>
      <a href="https://www.youtube.com/user/BBSobotka">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/youtube.com!user!BBSobotka.jpg') }}" loading="lazy">
        </div>
        <h3>Broňa</h3>
        <ul class="list-labels">
          <li><small>YouTube</small></li>
        </ul>
      </a>
      <p>
        Video každé úterý. Možná trochu střelený, ale <a href="https://video.aktualne.cz/dvtv/nadseny-ucitel-anglictiny-jazyk-se-nauci-kazdy-lide-ale-maji/r~f94af27a9e4c11e9970a0cc47ab5f122/">nadšený</a>!
      </p>
    </li>
    <li>
      <a href="https://www.helpforenglish.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/helpforenglish.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Help for English</h3>
        <ul class="list-labels">
          <li><small>materiály</small></li>
          <li><small>procvičování</small></li>
          <li><small>mobilní appka</small></li>
        </ul>
      </a>
      <p>
        Bezplatné kvalitní materiály, testy, cvičení.
      </p>
    </li>
    <li>
      <a href="https://cs.duolingo.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/cs.duolingo.com.jpg') }}" loading="lazy">
        </div>
        <h3>Duolingo</h3>
        <ul class="list-labels">
          <li><small>online kurz</small></li>
          <li><small>mobilní appka</small></li>
        </ul>
      </a>
      <p>
        Uč se hrou v mobilu, 5 min denně, kdykoliv, kdekoliv.
        <a href="https://invite.duolingo.com/BDHTZTB5CWWKTOCLY553C6AAWA">Pozvánka na týden zdarma</a>
      </p>
    </li>
    <li>
      <a href="https://www.umimeanglicky.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/umimeanglicky.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Umíme anglicky</h3>
        <ul class="list-labels">
          <li><small>procvičování</small></li>
        </ul>
      </a>
      <p>
        Systém učení skrze cvičení a opakování, <a href="https://www.umimeto.org/podlozeno-vyzkumem">podložený výzkumy</a>.
      </p>
    </li>
    <li>
      <a href="https://www.onlinejazyky.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/onlinejazyky.cz.jpg') }}" loading="lazy">
        </div>
        <h3>ONLINE jazyky</h3>
        <ul class="list-labels">
          <li><small>online kurz</small></li>
        </ul>
      </a>
      <p>
        Kurzy pro každou úroveň. 20 min denně.
      </p>
    </li>
    <li>
      <a href="https://www.speakconfidentenglish.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/speakconfidentenglish.com.jpg') }}" loading="lazy">
        </div>
        <h3>Speak Confident English</h3>
        <ul class="list-labels">
          <li><small>online kurz</small></li>
          <li><small>mentoring</small></li>
        </ul>
      </a>
      <p>
        I nesmělí a introvertní mohou mluvit plynně.
      </p>
    </li>
    <li>
      <a href="https://www.meetup.com/PragueEnglishMeeting/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/meetup.com!PragueEnglishMeeting.jpg') }}" loading="lazy">
        </div>
        <h3>Prague English Meeting</h3>
        <ul class="list-labels">
          <li><small>setkání</small></li>
        </ul>
      </a>
      <p>
        Snaž se mluvit s reálnými lidmi. Začni klidně „rukama nohama“<br>
        <small>Nejbližší setkání hledej na
        <a href="https://www.facebook.com/search/events/?q=english">FB</a>,
        <a href="https://www.meetup.com/find/events/language/">meetup.com</a>,
        <a href="https://www.foreigners.cz/meetup">foreigners.cz</a>,
        <a href="https://www.couchsurfing.com/events/search?placeid=ChIJQ4Ld14-UC0cRb1jb03UcZvg&search_query=Czechia">couchsurfing.com</a>
        </small>
      </p>
    </li>
  </ul>
  {% include 'includes/list_note.html' %}
</section>

<div class="content__section">
  <p class="call-to-action next">
    <a href="{{ url_for('practice') }}" class="legacy-button">Umíš&nbsp;základy? Získej&nbsp;praxi!</a>
  </p>
</div>

{% endblock %}
