{% extends 'layouts/base_handbook.html' %}

{% block title %}Proč se učit programovat? Úvod do programování a motivace{% endblock %}

{% block description -%}
K čemu se hodí programování? Není jen pro ty, kdo chtějí pracovat v IT. Pomáhá vědcům, úředníkům nebo novinářům — a práci může usnadnit i tobě.
{%- endblock %}

{% block content_modifier %} content--toc{% endblock %}

{% block header_toc %}
<nav class="header__tocbar">
  <div class="header__tocbar-content">
    <ul class="header__tocbar-items">
      <li class="header__tocbar-item">
        <a class="toc-button" href="#toc">
          <span class="toc-button__label">Obsah</span>
        </a>
      </li>
      <li class="header__tocbar-item header__tocbar-heading">
        Proč se učit programování?
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Proč se učit programování</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick1.svg') }}">
    K čemu se hodí programování? Není jen pro ty, kdo chtějí pracovat v&nbsp;IT. Pomáhá vědcům, úředníkům nebo novinářům — a práci může usnadnit i tobě.
  </p>
</header>

<nav id="toc" class="toc content__target">
  <div class="toc__content">
    <h2 class="toc__heading content__target-heading">Obsah</h2>
    <ol class="toc__items">
      <li class="toc__item"><a class="toc__link" href="#what">Co je programování</a></li>
      <li class="toc__item"><a class="toc__link" href="#why">Proč se to učit</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#coding-advantage">Povědomí o programování jako výhoda</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#coding-tool">Programování jako pomocník</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#coding-career">Programování jako kariéra</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#myths">Mýty o programování</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#age">Už je pozdě začít</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#math">Nemáš na to matematický mozek, chybí ti talent</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#ladies">IT není pro ženy</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#genius">IT je pouze pro geniální asociály</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#university">Potřebuješ vysokou školu</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#jobs">Firmy se o tebe porvou</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#money">Programování je zlatý důl</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#office">Sedíš si v teple na židli</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#downsides">Je to samá pohoda</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#nocode">Jde to i „bez kódu“</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#nocode-spreadsheets">Tabulky a dokumenty</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#nocode-automation">Automatizace</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#nocode-websites">Tvorba webu, e-shopu</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#nocode-vs-code">Skládat z dílů nebo programovat?</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#kids">Programování pro děti</a></li>
      <li class="toc__item"><a class="toc__link" href="#cnc">Programování CNC strojů</a></li>
    </ol>
  </div>
</nav>

<section id="what" class="content__section">
  <h2 class="content__section-heading">Co je programování</h2>
  <div class="tooltips">
    <p>
      <img class="cartoon" src="{{ url_for('static', filename='images/debugging.svg') }}" loading="lazy">
      Programovat znamená umět počítačům říkat, jak za nás mají dělat
      nudné, opakující se úkony. Začíná to na tom, že mohou počítat
      čísla z tabulek nebo odesílat e-maily, a končí samořídícimi auty.
      Jak vypadá programování v praxi?
    </p>
    <ol>
      <li>Potřebuješ vyřešit nějaký problém, ale dělat to ručně by bylo zdlouhavé.</li>
      <li>Vymyslíš recept krok za krokem, podle kterého by problém mohl vyřešit počítač za tebe.</li>
      <li>Napíšeš recept v nějakém „jazyce“, kterému počítač rozumí.</li>
      <li>Necháš počítač spustit ten recept.</li>
      <li>Zjistíš, že to máš vymyšlené s chybou. Počítač slepě následuje tvůj recept a celé je to špatně.</li>
      <li>Opravuješ recept a spouštíš ho stále dokola, nejde ti to, přemýšlíš, vaříš kafe, točíš se na židli.</li>
      <li>Po třech hodinách spustíš recept a konečně to funguje. Hurá, naprogramováno!</li>
    </ol>
    <p>Co programování není?</p>
    <ul>
      <li><strong>Věda</strong> &mdash; Nemusíš skvěle ovládat ani matematiku, ani fyziku, ani žádný jiný vědní obor.</li>
      <li><strong>Servis</strong> &mdash; Spravování tiskáren v kanclu nebo nastavování e-mailových schránek.</li>
      <li><strong>Magie</strong> &mdash; Je to spíš dovednost a zručnost, stejně jako umět vyrobit stůl nebo uvařit dobré jídlo.</li>
    </ul>
  </div>
</section>

<section id="why" class="content__section">
  <h2 class="content__section-heading">Proč se to učit</h2>
  <div class="tooltips">
    <p>
      <img class="cartoon" src="{{ url_for('static', filename='images/starting-with-tech.svg') }}" loading="lazy">
      Je důležité pochopit, že <strong>programování je jen nástroj, stejně jako kladivo nebo vrtačka</strong>. Pokud to umíš s vrtačkou, je ti to samo o sobě celkem k ničemu, dokud nenajdeš úkol, k jehož splnění by ti vrtačka pomohla, např. pověšení obrazu na zeď. S programováním je to stejné. Většinou je to tak, že úkoly přichází od lidí z jiných oborů a programátor je nájemným řemeslníkem, který umí věci skvěle řešit pomocí programování.
    </p>
    <p>
      Stejně jako u vrtání ale není vůbec od věci, pokud se naučí programovat i amatér. Dnes už běžně základní znalost programování pomáhá vědcům, úředníkům nebo novinářům. Základy se totiž dají naučit za několik týdnů, a i když ti nebudou stačit na zaměstnání v IT, k řešení spousty úkolů stačí perfektně.
    </p>

    <h3 id="coding-advantage" class="content__subsection-heading">Povědomí o programování jako výhoda</h3>
    <p>
      I když nakonec nebudeš vůbec programovat, hodí se rozumět tomu, jak tato práce funguje. Každá firma má dnes IT oddělení a to se mnohem raději baví s lidmi, kteří chápou jak vznikají programy. Můžeš se snadno uplatnit jako prostředník mezi nimi a ostatními. Otevře se ti cesta do dalších oborů, které s počítači souvisí &mdash; např. internetový marketing nebo psaní technických textů, které rovněž umožňují vydělat si dobré peníze a mít pružnou pracovní dobu. Občas se straší v novinách, že <a href="https://denikn.cz/62624/komu-mohou-sebrat-praci-roboti-experti-vybrali-profese-ktere-jsou-nejvice-ohrozene-zmenami/">přicházejí miliony zlých robotů, kteří jednou všem vezmou práci</a>. Místo robotů to asi budou spíš mobilní appky, ale jedno je jisté &mdash; technologie budou prostupovat naše životy stále více a bude tím pádem potřeba stále více těch, kteří technologiím rozumí.
    </p>
    <p>
      S příchodem covidu-19 se navíc ocitáme ve světě, ve kterém bude široká veřejnost <a href="https://josefprusa.cz/od-navrhu-k-hromadnemu-3d-tisku-zdravotnickych-stitu-behem-tri-dnu/">vědět co je 3D tiskárna</a>, jak navázat videohovor, sdílet dokumenty, hrát online hry, nebo že lze na dálku učit. <strong>I&nbsp;pokud přestanou omezení, budou lidé tyto vymoženosti používat dál.</strong> Mnohé firmy, školy, domácnosti, ale i části státu procházejí urychlenou „digitální transformací“. Společnosti, které budou potřebovat zefektivnit náklady, se obrátí k automatizaci, přechodu na technologická řešení nebo práci z domova. Stoupne hodnota lidí, kteří zvládnou s technologiemi pracovat. Může to být navíc východisko pro ty, kteří během opatření přicházejí o obživu.
    </p>
    <figure class="quote">
      <blockquote>
        Čekají nás velké strukturální změny. Cestovní ruch bude zasažen na dlouho. Ukazuje se, že celá řada věcí jde dělat digitálně a online. Celá řada obchodních cest se dá řešit online.
      </blockquote>
      <figcaption>
        Danuše Nerudová, rektorka MENDELU a ekonomka, v <a href="https://plus.rozhlas.cz/uz-nemusime-byt-pouhou-montovnou-cekam-velke-zmeny-i-v-globalnich-dodavatelskych-8180919">rozhovoru pro Český rozhlas</a>
      </figcaption>
    </figure>
    <p>
      Při programování se také trénuješ v <a href="https://imysleni.cz/informaticke-mysleni/co-je-informaticke-mysleni">informatickém myšlení</a>, což je zcela obecná dovednost nesouvisející nutně přímo s počítačem. Informatické myšlení zlepšuje tvou schopnost řešit složité problémy, a to i v každodenních situacích. To je také důvod, proč se dnes toto myšlení začíná učit i na základních školách.
    </p>

    <h3 id="coding-tool" class="content__subsection-heading">Programování jako pomocník</h3>
    <p>
      Programování není cíl, ale nástroj — jako šroubovák nebo matematika. Dokáže automatizovat nudnou, opakující se práci. Bude se ti proto hodit, ať už děláš v kanceláři nebo koukáš do mikroskopu a počítáš bakteriím nožičky.
    </p>
    <figure class="quote">
      <blockquote>
        Celá farma jede přes počítač. Chladicí boxy i výtopný systém ve fóliovnících jsou naprogramovány na přesnou teplotu, online jede i objednávkový systém, tedy prodej květin.
      </blockquote>
      <figcaption>
        Karolína Hábová z květinové farmy <a href="https://www.loukykvet.cz/">LoukyKvět</a> v <a href="https://forbes.cz/kvetinarstvi-online-mlady-par-farmaru-dela-revoluci-v-prodeji-kvetin/">rozhovoru pro Forbes</a>
      </figcaption>
    </figure>
    <p>
      Doktoři a vědci přicházejí na to, že když výpočty naprogramují, mohou svůj výzkum provést mnohem rychleji. Novináři, kteří umí zpracovávat velká množství dat, díky tomu <a href="https://www.irozhlas.cz/zpravy-tag/datova-zurnalistika">přinášejí zajímavé analýzy</a>. Kromě toho, s příchodem covidu-19 se dostaly složité grafy a datová žurnalistika do každé větší redakce. Prakticky každý, kdo má základy programování, si zase dokáže ušetřit práci s excelovskými tabulkami nebo s uspořádáním velkého množství souborů na disku. Místo toho, aby se někde muselo 500× udělat Ctrl+C a Ctrl+V, můžeš si to naprogramovat.
    </p>
    <figure class="quote">
      <blockquote>
        Vývojáři-amatéři ve firmách se stále častěji uchylují k vlastnoruční tvorbě nástrojů, které potřebují k práci. Počet takových lidí stoupá geometrickou řadou.
      </blockquote>
      <figcaption>
        CIO Business World, článek <a href="https://businessworld.cz/temata/aplikace/naprogramuj-si-to-sam-15450">Naprogramuj si to sám!</a>
      </figcaption>
    </figure>
    <p>
      Pokud chceš mít programování jako pomocníka, tento web ti na dalších stránkách ukáže, <a href="{{ url_for('learn') }}">kde se můžeš naučit základy</a> nebo <a href="{{ url_for('practice') }}">jak si lze programování procvičovat a dále prohlubovat znalosti</a>.
    </p>
    <div class="stories stories--inline">
      <ul class="stories__items">
      {% for story in stories_by_tags.synergy|sample(4) %}
        <li class="stories__item">
          <a class="stories__content" href="{{ story.url }}">
            <div class="stories__text">
              <h3 class="stories__title">{{ story.title }}</h3>
              <small class="stories_details">
                {{ story.publisher }}
                &mdash;
                {{ story.date.month }}/{{ story.date.year }}
              </small>
            </div>
            <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h3 id="coding-career" class="content__subsection-heading">Programování jako kariéra</h3>
    <p>
      Průměrná mzda programátorů je 50&nbsp;000 Kč</a> a <a href="https://www.czso.cz/csu/czso/na-trhu-je-nedostatek-ict-odborniku">těch zkušených je dlouhodobě nedostatek</a>. Vysokoškolský diplom po tobě většinou nikdo nevyžaduje, můžeš mít pružnou pracovní dobu, můžeš pracovat na dálku. Jestli v roce {{ year }} existuje výtah k lepší životní úrovni, je to IT. Zkušenějším programátorům navíc nehrozí, že by měli v blízké době problém sehnat si práci, a to i přes ekonomický dopad, který může mít covid-19:
    </p>
    <ul>
      <li>
        V roce 2018 rostlo IT v Evropě <a href="https://2018.stateofeuropeantech.com/">5× rychleji než vše ostatní</a>. Takto rozjetý vlak se nezastaví, zvlášť když není zasažen přímo a podílí se dokonce na řešení krize.
      </li>
      <li>
        Před krizí <a href="https://www.czso.cz/csu/czso/na-trhu-je-nedostatek-ict-odborniku">měly dvě třetiny IT firem v Česku nedostatek lidí a poptávka stále rostla</a>. I pokud část firem zmizí a bude na trhu více lidí hledajících práci, programátorů bude pořád nedostatek.
      </li>
      <li>
        Oproti jiným oborům je u IT minimální pokles poptávky, někde je dokonce i nárůst &mdash; viz např. <a href="https://public.tableau.com/profile/profesia.analytics4840#!/vizhome/ProfesiaReport/Covid?publish=yes">data od profesia.sk</a>, největšího slovenského portálu s nabídkami práce.
      </li>
    </ul>
    <p>
      IT samozřejmě neexistuje ve vzduchoprázdnu a ostatní obory potřebuje. Vyrábí nástroje a tyto nástroje musí mít kdo používat. <strong>Pro&nbsp;programátory samotné to ale není takový problém.</strong> Když přestane fungovat prodej letenek, mohou jít programovat třeba pro banky.
    </p>
    <figure class="quote">
      <blockquote>
        Na rozdíl od řady dalších profesí je pro IT odborníky specifické především to, že jsou rozptýleni napříč hospodářskými odvětvími.
      </blockquote>
      <figcaption>
        <a href="https://www.czso.cz/csu/czso/ict-odbornici">Zpráva Českého statistického úřadu</a>
      </figcaption>
    </figure>
    <p>
      Snad není žádný jiný profesionální obor vyučovaný na vysokých školách, který je pro samouky stejně přístupný jako IT. Všechno ohledně programování si můžeš nastudovat na internetu a vždy se najde někdo, kdo ti rád poradí. Do chirurgie nebo architektury se takto dostat nelze, i když budeš sebevětší nadšenec. Získat první práci v IT oproti tomu samostudiem jde. Není to jednoduché, ale jde to.
    </p>
    <p>
      Je ovšem důležité počítat s tím, že <strong>příprava ti může zabrat i dva roky učení a praktických cvičení, a že bude chvíli trvat, než dosáhneš na nadstandardní výdělky.</strong> Rekvalifikace na programování je velký krok, který vyžaduje hodně času, úsilí a odhodlání. Nováčci často projdou úvodními kurzy a pak zjistí, že sehnat první práci vůbec není tak snadné. Místo dobrých rad se jim dostane <a href="#myths">nejrůznějších mýtů</a>, takže se na vypsané nabídky hlásí nepřipravení a s nerealistickými očekáváními.
    </p>
    <figure class="quote">
      <blockquote>
        Nauč se programovat, firmy v&nbsp;IT berou z nedostatku lidí každého, kdo má jen zájem. Do začátku si řekni aspoň o pade.
      </blockquote>
      <figcaption>
        český programátorský folklór
      </figcaption>
    </figure>
    <p>
      Pokud se chceš programováním živit, tento web ti na dalších stránkách ukáže, <a href="{{ url_for('learn') }}">kde se můžeš naučit základy</a>, <a href="{{ url_for('practice') }}">jak získat potřebnou praxi</a> nebo <a href="{{ url_for('candidate_handbook') }}">jak si hledat svou první práci</a>. Kromě toho je tady i <a href="{{ url_for('jobs') }}">stránka s nabídkami práce</a>.
    </p>
  </div>
  <div class="stories stories--inline">
    <ul class="stories__items">
    {% for story in stories_by_tags.careerswitch|sample(4) %}
      <li class="stories__item">
        <a class="stories__content" href="{{ story.url }}">
          <div class="stories__text">
            <h3 class="stories__title">{{ story.title }}</h3>
            <small class="stories_details">
              {{ story.publisher }}
              &mdash;
              {{ story.date.month }}/{{ story.date.year }}
            </small>
          </div>
          <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>

<section id="myths" class="content__section">
  <h2 class="content__section-heading" id="myths">Mýty o programování</h2>
  <p>
    Některé představy o programování a programátorské profesi nemají moc společného s realitou, ačkoliv je lidé stále opakují. Následující odstavce se snaží věci uvést na pravou míru a zabránit různým falešným obavám nebo naopak nereálným očekáváním.
  </p>
  <div class="tooltips">
    <h3 id="age" class="content__subsection-heading">Už je pozdě začít</h3>
    <p>
      Programování není balet ani hokej, začít se dá opravdu v jakémkoliv věku. Někdo se k programování dostal už v pubertě a pokud je tobě přes třicet, můžeš váhat, jestli má vůbec smysl se o něco pokoušet. Realita je však taková, že těm, kteří začali v patnácti, se už zas tak moc programovat nechce, nebo se na něco specializovali. Jinými slovy, budete soutěžit v jiných ligách a místa je dost pro všechny. Nejspíš se už nestihneš stát programátorskou megahvězdou, byť ani to není zcela vyloučeno, ale normální práci v oboru si v pohodě najdeš.
    </p>
    <figure class="quote">
      <blockquote>
        S programováním jsem začala ve&nbsp;30,
        při rodičovské. Hrozně mě to baví, nejradši bych u toho strávila 24h denně.
        Začít se dá v každém věku.
      </blockquote>
      <figcaption>
        Iveta Česalová, bývalá účetní, absolventka začátečnického kurzu <a href="https://pyladies.cz/">PyLadies</a>
      </figcaption>
    </figure>
    <p>
      Že na věku nezáleží dokazují i následující příběhy reálných lidí, kteří dokázali v pozdějším věku změnit kariéru a dnes se programováním živí.
    </p>
    <div class="stories stories--inline">
      <ul class="stories__items">
      {% for story in stories_by_tags.age|sample(4) %}
        <li class="stories__item">
          <a class="stories__content" href="{{ story.url }}">
            <div class="stories__text">
              <h3 class="stories__title">{{ story.title }}</h3>
              <small class="stories_details">
                {{ story.publisher }}
                &mdash;
                {{ story.date.month }}/{{ story.date.year }}
              </small>
            </div>
            <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h3 id="math" class="content__subsection-heading">Nemáš na to matematický mozek, chybí ti talent</h3>
    <p>
      Častým omylem je představa, že potřebuješ talent na techniku, nebo konkrétně přímo na matematiku. Kromě vysoce specializovaných pozic programátoři při své každodenní práci nic složitého nepočítají. Věda, která za programováním stojí, tedy informatika, má jistě s matematikou mnoho společného, ale v praxi si většinou vystačíš se základy středoškolských počtů a logickým myšlením. Počítání se při programování využívá podobně jako třeba při truhlařině. Je lepší, když si místo zkoušení od oka umíš věci správně změřit a navrhnout.
    </p>
    <figure class="quote">
      <blockquote>
        Z matematiky jsem míval čtyřky a nikdy mě nebavila. Dodnes si beru
        kalkulačku i na odečítání.
      </blockquote>
      <figcaption>
        Honza Javorek, profesionální programátor a autor této příručky
      </figcaption>
    </figure>
    <p>
      Co se týče nějakého talentu, <a href="https://www.youtube.com/watch?v=0VCN-dknx7Q&list=PLhB6F20C-jTPITEXEHus6fVZDfNxzRbv_">žádné speciální předpoklady nepotřebuješ</a>. Programování je spíše řemeslo a více než vrozená genialita ti pomůže píle a trpělivost. Kromě toho, mnohem více než třeba zrovna matematika je potřeba angličtina. Materiály pro úplné začátečníky existují i v češtině, ale potom už se bez schopnosti alespoň číst anglický text obejít nelze. Nedostatečná angličtina je v IT jako bolavý zub. Chvíli vydržíš, ale když to nezačneš včas řešit, budeš pak už jen litovat.
    </p>
    <figure class="quote">
      <blockquote>
        Všetko, čo je pro teba nové, bude zo začiatku frustrujúce, pojde ti to pomaly. Ale nie preto, že si blbý alebo si sa nenarodila se špeciálným génom. Je to len otázka času, snahy, námahy, vytrvalosti, trpezlivosti.
      </blockquote>
      <figcaption>
        yablko, lektor online kurzů, ve svém <a href="https://www.youtube.com/watch?v=0VCN-dknx7Q&list=PLhB6F20C-jTPITEXEHus6fVZDfNxzRbv_">videu o tom, jestli potřebuješ na programování talent</a>
      </figcaption>
    </figure>

    <h3 id="ladies" class="content__subsection-heading">IT není pro ženy</h3>
    <p>
      Někoho to možná překvapí, ale k programování není potřeba penis. Neexistuje žádný důvod, proč by žena nemohla být skvělou programátorkou a kdo si to myslí, je ze středověku. Naopak, bez žen bychom <a href="https://cs.wikipedia.org/wiki/Ada_Lovelace">neměli počítače</a>, <a href="https://cs.wikipedia.org/wiki/Margaret_Hamilton">nedostali bychom se na Měsíc</a> a <a href="https://cs.wikipedia.org/wiki/Katie_Boumanov%C3%A1">nevyfotili bychom černou díru</a>.
    </p>
    <figure class="quote">
      <blockquote>
        Když jsem přišla k programu Apollo, nebyly tam žádné jiné ženy, které by psaly software.
      </blockquote>
      <figcaption>
        Margaret H. Hamilton, programátorka softwaru pro cestu člověka na měsíc
      </figcaption>
    </figure>
    <p>
      Podle ČSÚ je v Česku zatím žen v IT stále méně než v Turecku, ale na zlepšení se intenzivně pracuje. Aktivity jako <a href="{{ url_for('learn') }}#ladies">PyLadies nebo Czechitas</a> se snaží programování mezi ženami popularizovat a přichystat jim bezpečné prostředí, v němž si z nich nikdo nebude dělat legraci za to, že položily hloupou otázku, nebo je šovinisticky posílat zpátky k plotně. I kultura IT firem se postupně mění a stává se k ženám příjemnější, a to dokonce i v českém rybníčku, kde se lidé běžně děsí slov jako feminismus nebo diverzita.
    </p>
    <div class="stories stories--inline">
      <ul class="stories__items">
      {% for story in stories_by_tags.women|sample(4) %}
        <li class="stories__item">
          <a class="stories__content" href="{{ story.url }}">
            <div class="stories__text">
              <h3 class="stories__title">{{ story.title }}</h3>
              <small class="stories_details">
                {{ story.publisher }}
                &mdash;
                {{ story.date.month }}/{{ story.date.year }}
              </small>
            </div>
            <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h3 id="genius" class="content__subsection-heading">IT je pouze pro geniální asociály</h3>
    <p>
      Když se řekne „ajťák“, lidé si představí brýlatého mladíka s ponožkami v sandálech nebo nějakého hackera v kapuci, který sedí ve sklepě, kde pozoruje změť písmenek. Seriály jako britský <a href="https://www.csfd.cz/film/224203-ajtaci/">IT Crowd</a> nebo americká <a href="https://www.csfd.cz/film/234260-teorie-velkeho-tresku/">Teorie velkého třesku</a> stále posilují různé stereotypy, ale i kdybychom jim chtěli v něčem dát za pravdu, je dobré si uvědomit, že jejich první díly vznikly před {{ year - 2006 }} lety. Ačkoliv si toho někteří lidé stále ještě nevšimli, IT už dávno nevypadá jako na známé <a href="https://www.forum24.cz/jak-dopadli-chlapci-z-brutalni-parby-informatiku-2/">fotce „brutální pařby informatiků“</a>.
    </p>
    <p>
      A nejde jen o to, že si ti kluci z fotky dnes přijdou na hezké peníze a pracují v prestižních firmách, ani o to, že už je v oboru mnohem více žen. Technologie možná dříve patřily k obskurním zálibám, dnes už však prostupují život každého z nás. Spolu s tím je IT přístupnější a otevřenější pestré škále osobností. Pro účely rozboření zažitých představ asi postačí <a href="https://twitter.com/vogueandcode">módní stylistka April Speight</a> nebo <a href="https://twitter.com/RealSexyCyborg">hardwarová kutilka Naomi Wu</a>.
    </p>
    <p>
      Kromě samotného programování poskytuje IT a na něj napojený internetový průmysl i celou řadu dalších pozic, které ani nemusí být nutně technické: internetový marketing, psaní reklamních textů, design aplikací, psaní technické dokumentace, manažerské pozice, správa počítačové sítě a mnohé další.
    </p>
    <p>
      Tito všichni většinou společně pracují v týmech, takže schopnost komunikace má na mnohých pracovištích větší hodnotu než zázračná genialita. Pokud to umíte s lidmi, máte zajímavé zkušenosti z jiného oboru a mezi své koníčky řadíte i jiné věci než počítače, je to dnes spíše výhoda než handicap.
    </p>

    <h3 id="university" class="content__subsection-heading">Potřebuješ vysokou školu</h3>
    <p>
      Pokud máš možnost studovat informatiku na vysoké škole, jdi do toho! Odradit se nech snad jen <a href="http://brm.sk/682/vyser-sa-na-vysoku-skolu">pokud ji už studuješ a trpíš při tom</a>. Vysoká škola ti dá především rozhled, stáže, slevy, kontakty, souvislosti a vědomosti do hloubky, možnost jet na Erasmus. Pokud chceš programovat samořídící auta nebo pomáhat raketám do vesmíru, bude to s vysokou školou rozhodně snazší.
    </p>
    <p>
      To ale většina IT pracovníků nedělá. Běžní zaměstnavatelé po tobě budou chtít vytvářet webové stránky nebo mobilní appky. Ty zhotoví samouk s minimální praxí stejně dobře jako absolvent. K práci v IT tedy <a href="https://www.youtube.com/watch?v=Tna7J05UoYU&list=PLhB6F20C-jTPITEXEHus6fVZDfNxzRbv_">univerzitu nutně mít nemusíš</a>. Ještě se občas objeví firma, která z požadavku na VŠ titul nesleví, ale většinou se zaměstnavatelé spokojí s tím, pokud chybějící řádek v životopise vyvážíš dostatečnou praxí na projektech, klidně i v podobě domácích cvičení.
    </p>
    <figure class="quote">
      <blockquote>
        Nie každý z nás bude programovať tie roboty čo behajú po Marse. V minulosti možno programovanie bola veľmi špecializovaná záležitosť, ale dnes má tak široký záber, že každý kdo chce, si v tom spektre miestečko nájde.
      </blockquote>
      <figcaption>
        yablko, lektor online kurzů, ve svém <a href="https://www.youtube.com/watch?v=0VCN-dknx7Q&list=PLhB6F20C-jTPITEXEHus6fVZDfNxzRbv_">videu o tom, jestli potřebuješ na programování talent</a>
      </figcaption>
    </figure>
    <figure class="quote">
      <blockquote>
        Firmy hlavne zaujíma, či vieš robiť. Je jim viacmenej jedno, kde si sa to naučil. Ak ukážeš niečo skutočné, čo si sám vyrobil, tak koho zaujímá odkial to vieš? Vieš to!
      </blockquote>
      <figcaption>
        yablko, ale v <a href="https://www.youtube.com/watch?v=Tna7J05UoYU&list=PLhB6F20C-jTPITEXEHus6fVZDfNxzRbv_">dalším videu</a>, které je o tom, zda potřebuješ na programování školu
      </figcaption>
    </figure>
    <p>
      Nemysli si ale, že když nepotřebuješ titul z VŠ, nebudeš se muset učit. IT je obor, v němž se naopak nikdy učit nepřestaneš. Ani profíci s dvacetiletými zkušenostmi se nemohou přestat vzdělávat v novinkách.
    </p>
    <p>
      Zajímavou variantou je zkusit VŠ studovat, vybírat si zajímavé obory a předměty, ale ve chvíli, kdy už ti to přestane dávat smysl, bez pocitu viny odejít. Také se můžeš učit programovat po vlastní ose a studovat při tom úplně jiný obor, který tě zajímá. Svou budoucí kariéru můžeš pak založit na tom, že budeš rozumět např. sociologii nebo školství a dokážeš je propojit s moderními technologiemi.
    </p>
    <div class="stories stories--inline">
      <ul class="stories__items">
      {% for story in stories_by_tags.student|sample(4) %}
        <li class="stories__item">
          <a class="stories__content" href="{{ story.url }}">
            <div class="stories__text">
              <h3 class="stories__title">{{ story.title }}</h3>
              <small class="stories_details">
                {{ story.publisher }}
                &mdash;
                {{ story.date.month }}/{{ story.date.year }}
              </small>
            </div>
            <img class="stories__image" src="{{ url_for('static', filename=story.image_path) }}" width="100" loading="lazy" alt="Fotka obličeje">
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h3 id="jobs" class="content__subsection-heading">Firmy se o tebe porvou</h3>
      Ve firmách existuje velká poptávka po zkušených programátorech, takže se často mohou náboráři přetrhnout, aby je získali do svého týmu. Na základě toho se pak ale šíří mýtus, že si stačí přečíst čtyři kapitoly o nějakém programovacím jazyku a hned dostaneš spoustu nabídek práce. To je velký omyl a přinesl by ti velké zklamání. Junior (tak se v náborářské hantýrce označují začátečnické pozice) si ve skutečnosti musí svou první příležitost pracně shánět.
    </p>
    <p>
      Firmy většinou neumí juniory efektivně zaučovat a raději měsíce hledají zkušenější lidi, byť beznadějně. Ve skutečnosti ti může rekvalifikace do IT zabrat i dva roky učení a praktických cvičení. Nenech se tím odradit, akorát si nastav ta správná očekávání. Získat práci v IT jako začátečník není jednoduché, ale rozhodně to jde, a to i bez titulu.
    </p>

    <h3 id="money" class="content__subsection-heading">Programování je zlatý důl</h3>
      Mzdová ohodnocení IT odborníků se už roky umisťují na špici všech tabulek, takže finanční ohodnocení může být pro mnohé velkou motivací pro rekvalifikaci. Tím spíše dnes, kdy lidé kvůli pandemii přicházejí o práci v jiných oborech, ale IT se drží. Programátoři mají co se týče výdělku rozhodně nadstandardní možnosti, ale musíš si uvědomit, že bude chvíli trvat, než se tím odborníkem staneš.
    </p>
    <p>
      Junior je pro firmu náklad, a to především v podobě času ostatních zaměstnanců. Nemůžeš očekávat, že ti hned začne chodit na účet 50 tisíc, nebo dokonce víc. Začátečníci v oboru se ovšem shodují, že když už je někam vzali, byli schopni na vysoké mzdy dosáhnout již poměrně záhy, v řádu jednotek odpracovaných let.
    </p>

    <h3 id="office" class="content__subsection-heading">Sedíš si v teple na židli</h3>
      Pro ty, jejichž zaměstnání je fyzicky vyčerpávající nebo se odehrává venku, může kancelářská práce, jakou je i programování, působit lákavě. Člověk u něj přece celý den sedí na židli a v teple, že? Skutečnost je ovšem složitější. Na programátory neprší a nejsou vyčerpaní fyzicky, ale po celém dni intenzivního přemýšlení a komunikace s kolegy se dostavuje velká únava psychická.
    </p>
    <p>
      Nezřídka dorazíš po práci domů, a byť máš dostatek síly tělesné, z tvého mozku je „zelenina“. Zbytek večera už zvládneš nanejvýš zírat na seriály. Rozhýbání svalů funguje naopak jako způsob relaxace. Ne náhodou se spolu se vzestupem kancelářské práce zaplnily cyklostezky ve městech běžci, a to především v hodinách po konci pracovní doby. Kromě toho brzy zjistíš, že sezení u počítače není úplně nejzdravější způsob trávení dní a musíš vědomě kompenzovat újmu, kterou způsobuje, ať už cvičením nebo kvalitní židlí.
    </p>

    <h3 id="downsides" class="content__subsection-heading">Je to samá pohoda</h3>
    <p>
      Jak už naznačuje předchozí odstavec, programátorská profese má i své nevýhody. Světe div se, je to práce jako každá jiná. Tvoje každodenní spokojenost bude nakonec záviset na konkrétní firmě, projektu, štěstí, šéfech, týmu kolegů a klidně i na tom, co někdo jiný, koho vůbec neznáš, špatně naprogramoval před pěti lety a ty s tím teď musíš pracovat. Budeš bojovat s <a href="http://borisovo.cz/programming-sucks-cz.html">psychickou zátěží</a>, můžeš <a href="https://www.youtube.com/watch?v=IwqN4c2BOFs">zpochybňovat svůj zápal pro věc</a> a časem i <a href="https://cs.wikipedia.org/wiki/Syndrom_vyho%C5%99en%C3%AD">vyhořet</a>.
    </p>
    <figure class="quote">
      <blockquote>
        Programování není něco, co bych milovala. Ne, že bych jej nenáviděla, akorát to prostě nemiluju.
      </blockquote>
      <figcaption>
        Sidney Buckner, programátorka a autorka videa <a href="https://www.youtube.com/watch?v=IwqN4c2BOFs">I Don't Love Being A Software Engineer</a>
      </figcaption>
    </figure>
    <p>
      IT ale naštěstí umožňuje mnoho způsobů, jak se uplatnit i jinak, než jen sezením u počítače a na schůzích. Můžeš se časem přesunout k učení a mentorování, psaní technických textů, pořádání komunitních akcí, začít přednášet na konferencích, konzultovat, vést lidi… Možností, jak si programování namíchat něčím jiným nebo jak zcela změnit hlavní zaměření své práce, je v rámci IT nepřeberně.
    </p>
  </div>
</section>

<section id="nocode" class="content__section">
  <h2 class="content__section-heading">Jde to i „bez kódu“</h2>
  <p>
    Na spoustu věcí jsou dnes už hotová řešení, polotovary, služby. Některé dělají vše za tebe („No Code“ služby), jiné můžeš zadarmo stáhnout, nainstalovat, zprovoznit („Open Source“ řešení). Vytvořit dnes od základů obstojný web je práce pro tým profesionálů. Dělá se to zpravidla pouze v případě, kdy má zadavatel speciální požadavky a tedy se mu vyplatí vytvářet něco zcela nového. S největší pravděpodobností nadstandardní požadavky nemáš a <strong>nemá pro tebe smysl se učit programovat kvůli něčemu, co lze za dvě odpoledne „naklikat“</strong>. Používání polotovarů je v IT zcela běžné a dělají to i lidé, kteří by danou věc naprogramovat dokázali:
  </p>
  <ul>
    <li><strong>Je to ekonomičtější.</strong> Není potřeba vymýšlet znovu kolo. Místo stovek hodin práce programátorů se něco jen pokliká, poladí, nastaví, a je to.</li>
    <li><strong>Lze to lépe udržovat.</strong> Ať už řešení v počátku nastaví kdokoliv, jeho standardizovaná povaha umožňuje, aby se v něm posléze zorientoval i někdo jiný. Zároveň tvůrci polotovaru vydávají stále nové verze, které např. ošetřují bezpečnostní a jiné chyby.</li>
    <li><strong>Je to kvalitnější.</strong> Neplatí jako u vaření, že polotovar je horší, než vlastní výtvor. V tomto případě šéfkuchaři z celého světa roky ladili a vylepšovali něco, co má lákavou barvu, zdravé přísady a vysoké nutriční hodnoty. Všeho je tam tak akorát, aby to chutnalo většině lidí. Sebelepší jednotlivec by těžko dosáhl stejného výsledku.</li>
    <li><strong>Je to bezpečnější.</strong> Tady platí předchozí bod dvojnásobně. V oblasti přihlašování, uchovávání hesel apod. není radno vymýšlet nic na koleně, protože je téměř jistá šance, že jednotlivec nedomyslí všechny hrozby. Polotovary mají toto vyřešené dle oborových standardů a pokud se přece jen najde bezpečnostní díra, tvůrci se ji snaží hned zalepit.</li>
  </ul>
  <p>
    Jestliže se učíš programovat a chceš si to na tvorbě e-shopu jen vyzkoušet, tak v pohodě, klidně si do šuplíku programuj vlastní e-shop. Pokud je ale tvým cílem provozovat použitelný e-shop, neprogramuj si jej, nevynalézej kolo, použij něco hotového. Tento web sice chce lidem ukázat cestu k programování, ale ne za každou cenu, z nesmyslných důvodů.
  </p>

  <h3 id="nocode-spreadsheets" class="content__subsection-heading">Tabulky a dokumenty</h3>
  <p>
    Říká se, že <strong>nejrozšířenějším programovacím jazykem na světě jsou vzorečky v Excelu</strong>. Zní to možná jako vtip, ale není to vtip. Možná je zbytečné učit se programovat v něčem jiném, pokud se tvá práce odehrává v tabulkách a odehrávat se v nich ještě dlouho bude. Nauč se pořádně vzorce, makra, funkce. Excel je velmi silný nástroj a jeho dobrá znalost se ti nikdy neztratí. I pokud budeš chtít později přejít k „opravdovému“ programování, znalost maker apod. ti bude sloužit jako základ, na kterém budeš moci stavět.
  </p>
  <p>
    Podobně se dá udělat velká paráda i s <a href="https://www.google.com/script/start/">Google Apps Script</a> a automatizací Google dokumentů, které mají tu výhodu, že jsou online a mohou v sobě snadněji propojovat živá data jinde z internetu (např. aktuální kurzy měn).
  </p>

  <h3 id="nocode-automation" class="content__subsection-heading">Automatizace</h3>
  <p>
    Pokud by se ti hodilo <strong>propojit různé internetové služby tak, aby si podle nějakého scénáře automaticky posílaly informace</strong>, i na to existují hotové nástroje. Můžeš třeba pokaždé, když se objeví platba na tvém bankovním účtu, uložit zůstatek do tabulky a následně si ještě nechat poslat zprávu na mobil. V mluvě velkých firem se tomu říká <a href="https://cs.wikipedia.org/wiki/Robotick%C3%A1_automatizace_proces%C5%AF">RPA</a> a prý je po tom dnes celkem poptávka. Následující služby umožňují takové scénáře programovat klikáním, přetahováním kurzorem a vyplňováním formulářů, tedy zcela bez psaní kódu v tradičních programovacích jazycích.
  </p>
  <ul class="list">
    <li>
      <a href="https://www.integromat.com/cs">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/integromat.com!cs.jpg') }}" loading="lazy">
        </div>
        <h3>Integromat</h3>
      </a>
      <p>
        Největší platforma, navíc česká, podporuje i místní služby jako Fakturoid nebo Fio Banka.
      </p>
    </li>
    <li>
      <a href="https://zapier.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/zapier.com.jpg') }}" loading="lazy">
        </div>
        <h3>Zapier</h3>
      </a>
      <p>
        Druhá nejznámější platforma pro automatizaci.
      </p>
    </li>
    <li>
      <a href="https://ifttt.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/ifttt.com.jpg') }}" loading="lazy">
        </div>
        <h3>IFTTT</h3>
      </a>
      <p>
        Alternativa pro ty, kterým nesedí Integromat ani Zapier.
      </p>
    </li>
  </ul>

  <h3 id="nocode-websites" class="content__subsection-heading">Tvorba webu, e-shopu</h3>
  <p>
    Jestli chceš psát blog, provozovat e-shop nebo vytvořit webovky pro květinářství kamarádovy tety, <strong>nemusíš se nutně učit programovat</strong>. Najdi vhodnou No Code platformu nebo se nauč pracovat s nějakým Open Source řešením. Obojího je dnes neskutečné množství, ale tady jsou alespoň tři tipy na ty nejpoužívanější:
  </p>
  <ul class="list">
    <li>
      <a href="https://wordpress.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/wordpress.com.jpg') }}" loading="lazy">
        </div>
        <h3>WordPress</h3>
      </a>
      <p>
        Nejpoužívanější hotové řešení na weby. Služba za peníze, ale i Open Source ke stažení.
      </p>
    </li>
    <li>
      <a href="https://www.wix.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/wix.com.jpg') }}" loading="lazy">
        </div>
        <h3>Wix</h3>
      </a>
      <p>
        Služba, kde si web vytvoříš klikáním. Jednodušší, ale ne tak univerzální jako WP.
      </p>
    </li>
    <li>
      <a href="https://www.shopify.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/shopify.com.jpg') }}" loading="lazy">
        </div>
        <h3>Shopify</h3>
      </a>
      <p>
        Celosvětově nejpoužívanější služba pro vytváření vlastního e-shopu.
      </p>
    </li>
  </ul>

  <h3 id="nocode-vs-code" class="content__subsection-heading">Skládat z dílů nebo programovat?</h3>
  <p>
    K čemu je dobré umět programovat věci od základů, když už polotovary existují na vše podstatné? <strong>Představ si běžné programovací jazyky jako auto a hotová řešení jako MHD.</strong> Auto je drahé, musíš jej řídit, parkovat a pečovat o něj, ale umožní ti jezdit přesně tak, jak chceš. Jezdit autobusem sice vyžaduje rozumět systému jízdenek a přesedat mezi spoji, ale i tak je to levné, jednoduché a dostatečně efektivní pro spoustu lidí. Pokud nevezeš náklad, je neekonomické jezdit autem trasu, která je dobře obsluhovaná MHD.
  </p>
  <p>
    Stejně tak je nesmysl, aby někdo od základů programoval fotogalerii pro kosmetický salon. Ale pak jsou tady Alza nebo Rohlík, které se s běžným řešením nespokojí. Velký, složitý, nebo jinak unikátní byznys zaměstná i celý tým programátorů, kteří vše vyvíjí na míru. <strong>Úspěšnou kariéru přitom můžeš udělat v obou případech.</strong> Specialista na WordPress, jenž umí skládat weby z velkých dílů, se uživí stejně dobře jako PHP programátorka, která umí ty díly vytvořit.
  </p>
  <p>
    Tento web je o tom, jak se naučit software vyrábět od základů, takže další tipy už budeš muset najít jinde. Pokud se vidíš spíš mezi polotovary než u psaní kódu, zkus se na další informace poptat třeba na fóru <a href="https://webtrh.cz/">Webtrh</a>.
  </p>
</section>

<section id="kids" class="content__section">
  <h2 class="content__section-heading">Programování pro děti</h2>
  <p>
    I když je v názvu tohoto webu slovo <em>junior</em>, není vhodný k tomu, aby se podle něj učily programovat děti. Slovem junior se označují začátečníci na pracovním trhu a tento web ukazuje cestu k programování a kariéře v IT dospělým, případně dospívajícím lidem. Pokud chceš programovat s dětmi a trénovat tak jejich <a href="https://imysleni.cz/informaticke-mysleni/co-je-informaticke-mysleni">informatické myšlení</a>, následující odkazy tě nasměrují na stránky, které jsou pro ten účel vhodnější.
  </p>
  <p>
    <strong>Programování pro děti se odehrává v barevném prostředí, kde jde s dětmi vytvářet zábavné příběhy, hry, animace.</strong> Rozhodně by nemělo spočívat v psaní písmenek na černou obrazovku nebo v práci s Wordem.
  </p>

  <ul class="list">
    <li>
      <a href="https://code.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/code.org.jpg') }}" loading="lazy">
        </div>
        <h3>Code.org</h3>
      </a>
      <p>
        Programování, které zvládne každý rodič, kroužek, družina.
      </p>
    </li>
    <li>
      <a href="https://www.scratchjr.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/scratchjr.org.jpg') }}" loading="lazy">
        </div>
        <h3>ScratchJr</h3>
      </a>
      <p>
        V mobilu nebo na tabletu, pro nejmenší děti.
      </p>
    </li>
    <li>
      <a href="https://scratch.mit.edu/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/scratch.mit.edu.jpg') }}" loading="lazy">
        </div>
        <h3>Scratch</h3>
      </a>
      <p>
        Vytvoř hru nebo příběh a sdílej je s kamarády.
      </p>
    </li>
  </ul>
  <p>
    Pokud tě programování pro děti začně bavit fakt hodně, můžeš se inspirovat u <a href="https://cz.pycon.org/2018/programme/detail/talk/13/">Ivy a Martina</a> nebo u <a href="https://blog.zvestov.cz/software%20development/2018/10/29/jak-jsem-zacal-s-krouzkem-programovani.html">Luboše</a> a <strong>zkusit něco zorganizovat i pro děti z okolí</strong>. Potom by se ti mohla hodit <a href="https://github.com/xsuchy/programovani_pro_deti/#readme">příručka pro pedagogy a rodiče od Mirka Suchého</a>.
  </p>
</section>

<section id="cnc" class="content__section">
  <h2 class="content__section-heading">Programování CNC strojů</h2>
  <p>
    CNC jsou programovatelné průmyslové stroje, které umí frézovat, vrtat, soustružit, řezat, apod. Lidem, kteří těmto strojům umí zadávat úkoly a tvořit na nich výrobky, se říká CNC programátoři. <strong>Pracují jak se samotným strojem, tak i s počítačem, tím ale podobnost s klasickým programováním končí.</strong> Pro lepší představu o této profesi může sloužit <a href="https://www.youtube.com/watch?v=uiDdWbSY04s">reportáž Jihočeské televize</a>.
  </p>
  <figure class="quote">
    <blockquote>
      Obor mechanik seřizovač-programátor byl hlavně o mechanik, pak lehce o seřizovač a takřka vůbec o programátor. A když, tak programovat CNC, což není rozhodně totéž jako programovat dejme tomu aplikace pro web.
    </blockquote>
    <figcaption>
      Marek Dlabáček, autor článku <a href="https://blog.python.cz/ja-python-a-rosti">Já, Python a Roští</a>
    </figcaption>
  </figure>
  <p>
    Tento web se zabývá vytvářením softwaru, tedy programů pro počítače nebo mobily. Pokud toužíš programovat CNC, mrkni se třeba <a href="https://factoryautomation.cz/jak-se-stat-cnc-programatorem-mame-6-tipu/">do magazínu Factory Automation</a>, kde k tomu něco mají. Jestliže chceš tvořit software, jsi tady správně.
  </p>
</section>

<div class="content__section">
  <p class="call-to-action next">
    <a href="{{ url_for('learn') }}" class="legacy-button">Máš&nbsp;jasno? Nauč&nbsp;se základy!</a>
  </p>
</div>

{% endblock %}
