{% extends 'layouts/base_handbook.html' %}

{% block title %}Jak získat praxi v programování{% endblock %}

{% block description -%}
Znáš základy? Tvým úkolem jsou nyní dvě věci: Získat alespoň minimální praxi a dál si rozšiřovat znalosti.
{%- endblock %}

{% block content_modifier %} content--toc{% endblock %}

{% block header_toc %}
<nav class="header__tocbar">
  <div class="header__tocbar-content">
    <ul class="header__tocbar-items">
      <li class="header__tocbar-item">
        <a class="toc-button" href="#toc">
          <span class="toc-button__label">Obsah</span>
        </a>
      </li>
      <li class="header__tocbar-item header__tocbar-heading">
        Získej praxi v programování
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Získej praxi v programování</h1>
  <p class="intro__lead">
    <img class="intro__illustration" src="{{ url_for('static', filename='images/chick2.svg') }}">
    Znáš <a href="{{ url_for('learn') }}">základy</a>?
    Tvým úkolem jsou nyní dvě věci: Získat alespoň minimální praxi a dál si rozšiřovat znalosti.
    Teprve potom si můžeš začít <a href="{{ url_for('candidate_handbook') }}">hledat svou první práci v&nbsp;IT</a>.
  </p>
</header>

<nav id="toc" class="toc content__target">
  <div class="toc__content">
    <h2 class="toc__heading content__target-heading">Obsah</h2>
    <ol class="toc__items">
      <li class="toc__item"><a class="toc__link" href="#exercises">Procvičuj</a></li>
      <li class="toc__item"><a class="toc__link" href="#projects">Najdi si projekt</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#projects-github">Osvoj si GitHub</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#mentors">Najdi si mentora</a></li>
      <li class="toc__item"><a class="toc__link" href="#hackathons">Zkus „hackathon“</a></li>
      <li class="toc__item"><a class="toc__link" href="#opensource">Zkus „Open Source“</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#not-only-coding">Nemusíš jen programovat</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#open-source-inspiration">Open Source jako inspirace</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#how-to-start">Jak začít?</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#skills">Rozšiřuj si znalosti</a></li>
      <li class="toc__item"><a class="toc__link" href="#events">Najdi inspiraci, poznej lidi</a>
        <ol class="toc__subitems">
          <li class="toc__subitem"><a class="toc__sublink" href="#beginner-friendly">Nebudu mimo mísu?</a></li>
          <li class="toc__subitem"><a class="toc__sublink" href="#fin-aid">Kde na to vzít?</a></li>
        </ol>
      </li>
      <li class="toc__item"><a class="toc__link" href="#english">Neflákej angličtinu</a></li>
    </ol>
  </div>
</nav>

<section id="exercises" class="content__section">
  <h2 class="content__section-heading">Procvičuj</h2>
  <ul class="list">
    <li>
      <a href="https://exercism.io/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/exercism.io.jpg') }}" loading="lazy">
        </div>
        <h3>Exercism</h3>
      </a>
      <p>
        Řeš malé úlohy, dostaň zpětnou vazbu od mentora, uč se z řešení druhých.
      </p>
    </li>
    <li>
      <a href="https://www.codewars.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codewars.com.jpg') }}" loading="lazy">
        </div>
        <h3>Codewars</h3>
      </a>
      <p>
        Řeš malé úlohy přímo v prohlížeči, uč se z řešení druhých.
      </p>
    </li>
    <li>
      <a href="https://checkio.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/checkio.org.jpg') }}" loading="lazy">
        </div>
        <h3>CheckiO</h3>
      </a>
      <p>
        Procházej online hru pomocí programovacích úloh, uč se od druhých.
      </p>
    </li>
    <li>
      <a href="https://www.umimeprogramovat.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/umimeprogramovat.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Umíme programovat</h3>
      </a>
      <p>
        Uč se skrze cvičení a opakování, <a href="https://www.umimeto.org/podlozeno-vyzkumem">podložený výzkumy</a>.
      </p>
    </li>
    <li>
      <a href="https://www.hackerrank.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/hackerrank.com.jpg') }}" loading="lazy">
        </div>
        <h3>HackerRank</h3>
      </a>
      <p>
        Soutěž řešením zapeklitých úloh.
        Propojeno s nabídkami práce.
      </p>
    </li>
    <li>
      <a href="https://projecteuler.net/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/projecteuler.net.jpg') }}" loading="lazy">
        </div>
        <h3>Project Euler</h3>
        <ul class="list-labels">
            <li><small>pro odvážnější</small></li>
        </ul>
      </a>
      <p>
        Řeš matematické úlohy pomocí programování.
      </p>
    </li>
  </ul>
  {% include 'includes/list_note.html' %}
</section>

<section id="projects" class="content__section">
  <h2 class="content__section-heading">Najdi si projekt</h2>
  <div class="tooltips">
    <p>
      Nic tě nenaučí tolik, jako když si zkusíš něco samostatně vyrobit.
      Říká se tomu <a href="https://cs.wikipedia.org/wiki/Projektov%C3%A9_u%C4%8Den%C3%AD">projektové učení</a>.
      Nejlepší je vymyslet si něco vlastního a řešení procházet s <a href="#mentors">mentorem</a>.
      Inspirace na projekt se nejlépe hledá přímo okolo tebe:
    </p>
    <ul>
      <li>
        Jednoduchá hra, např. piškvorky nebo <a href="https://naucse.python.cz/2018/snake-brno/">had</a>,
      </li>
      <li>
        automatizace něčeho, co teď na počítači musíš dělat ručně (mrkni na <a href="https://automatetheboringstuff.com">tuto knihu</a>),
      </li>
      <li>
        program na procvičování příkladů nebo slovíček pro děti do školy,
      </li>
      <li>
        <a href="{{ url_for('candidate_handbook') }}#portfolio">osobní webová stránka</a>.
      </li>
    </ul>
    <p>
      Pokud vlastní nápad nepřichází a mentor není po ruce, můžeš zkusit
      <a href="#hackathons">hackathon</a> nebo <a href="#opensource">Open Source</a>.
    </p>

    <h3 class="content__subsection-heading" id="projects-github">Osvoj si GitHub</h3>
    <p>
      Dávej své pokusy a projekty na <a href="https://github.com/">GitHub</a>.
      Čím více, tím lépe. Nejen že se naučíš lépe ovládat <a href="https://naucse.python.cz/course/pyladies/git/basics/">Git</a>
      a GitHub, ale hlavně budeš moci svůj kód ukázat. Třeba když budeš potřebovat <a href="{{ url_for('learn') }}#help">pomoc na dálku</a>,
      nebo až si budeš <a href="{{ url_for('candidate_handbook') }}">hledat práci</a>. Neboj se mít svůj kód veřejně
      a ukazovat ho druhým! Tato obava je zbytečnou překážkou ve tvém rozjezdu.
      Programování je o <a href="https://naucse.python.cz/course/pyladies/git/collaboration/">spolupráci</a>.
    </p>
  </div>
</section>

<section id="mentors" class="content__section">
  <h2 class="content__section-heading">Najdi si mentora</h2>
  <div class="tooltips">
    <p>
      Mentor ti pomůže s věcmi, se kterými si samostatně nevíš rady. Nemusí to být
      vyloženě mistr v oboru, stačí když bude v programování alespoň o něco
      zkušenější než ty. A klidně může stačit, když se uvidíte jednu hodinu týdně
      přes <a href="https://www.skype.com/cs/">Skype</a>. Pokud znáš někoho,
      kdo by mohl být tvým mentorem, ale nemá s tím praktické zkušenosti,
      projděte spolu <a href="https://github.com/honzajavorek/become-mentor/blob/master/cs.md#readme">přednášku o mentorování</a>
      a prostě to zkuste!
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://mentors.codingcoach.io/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/mentors.codingcoach.io.jpg') }}" loading="lazy">
        </div>
        <h3>Coding Coach</h3>
      </a>
      <p>
        Mentoři z celého světa, kteří nabízí své služby zdarma.
      </p>
    </li>
    <li>
      <a href="https://www.codementor.io/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codementor.io.jpg') }}" loading="lazy">
        </div>
        <h3>Codementor</h3>
      </a>
      <p>
        Profesionální, placení mentoři z celého světa.
      </p>
    </li>
    <li>
      <a href="https://www.femmepalette.com/mentoring-for-women-it">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/femmepalette.com!mentoring-for-women-it.jpg') }}" loading="lazy">
        </div>
        <h3>Femme Palette</h3>
      </a>
      <p>
        Český program placeného mentoringu pro ženy.
      </p>
    </li>
    <li>
      <a href="https://pyworking.cz/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pyworking.cz.jpg') }}" loading="lazy">
        </div>
        <h3>PyWorking Sessions</h3>
        <ul class="list-labels">
          <li><small>setkání</small></li>
        </ul>
      </a>
      <p>
        Zastav se na pravidelná setkání začátečníků, kde jsou i koučové.
      </p>
    </li>
    <li>
      <a href="https://gismentors.cz/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/gismentors.cz.jpg') }}" loading="lazy">
        </div>
        <h3>GISMentors</h3>
      </a>
      <p>
        Kontaktuj mentory vyučující jak si programováním pomoci v geografii.
      </p>
    </li>
    <li>
      <a href="https://github.com/lenadroid/awesome-oss-mentors#readme">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/github.com!lenadroid!awesome-oss-mentors!readme.jpg') }}" loading="lazy">
        </div>
        <h3>Awesome OSS Mentors</h3>
      </a>
      <p>
        Kontaktuj někoho z těch, kdo se sami nabízí zaučovat nováčky na OSS projektech.
      </p>
    </li>
  </ul>
</section>

{% include 'includes/engage.html' %}

<section class="content__section" id="hackathons">
  <h2 class="content__section-heading">Zkus „hackathon“</h2>
  <div class="tooltips">
    <p>
      <a href="https://cs.wikipedia.org/wiki/Hackathon">Hackathon</a> je akce, kde se sejdou
      lidi se zájmem o nějaké téma, utvoří smíšené týmy (zkušení i začínající programátoři,
      designéři) a v daném čase vymyslí a zpracují nějaké řešení. Nejlepší někdy dostanou ceny.
      Pro lepší představu si přečti <a href="https://medium.com/@misasebestova/m%C5%AFj-prvn%C3%AD-datov%C3%BD-hackathon-6f753a4730cf">článek od účastnice Michaely</a>.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://www.facebook.com/groups/hackathony.cz/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/facebook.com!groups!hackathony.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Hackathony v Česku</h3>
        <ul class="list-labels">
          <li><small>Facebook</small></li>
        </ul>
      </a>
      <p>
        Největší koncentrace tipů na hackhathony v Česku.
        <small>Někdy ale může být nejlepší prostě
        <a href="https://www.google.cz/search?q=hackathon%20ostrava">hledat</a>.
        </small>
      </p>
    </li>
    <li>
      <a href="https://docs.google.com/presentation/d/1reYrzFy3E3LS-jNzQecLbkf6Qq7iIEjWvXCyvbw389E/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/docs.google.com!presentation!d!1reYrzFy3E3LS-jNzQecLbkf6Qq7iIEjWvXCyvbw389E.jpg') }}" loading="lazy">
        </div>
        <h3>Hackathony - co a jak</h3>
        <ul class="list-labels">
          <li><small>prezentace</small></li>
        </ul>
      </a>
      <p>
        Všechny základní informace o hackathonech na jednom místě.
      </p>
    </li>
    <li>
      <a href="https://www.eventbrite.com/o/ceskodigital-26799435001">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/eventbrite.com!o!ceskodigital-26799435001.jpg') }}" loading="lazy">
        </div>
        <h3>Hackday Česko.Digital</h3>
      </a>
      <p>
        Posuň vpřed projekty s pozitivním dopadem na Česko.
      </p>
    </li>
    <li>
      <a href="https://hackprague.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/hackprague.com.jpg') }}" loading="lazy">
        </div>
        <h3>HackPrague</h3>
      </a>
      <p>
        Každoroční hackhaton nápadů zlepšujících život ve městech.
      </p>
    </li>
    <li>
      <a href="https://www.hackathon.com/city/czech-republic/praha">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/hackathon.com!city!czech-republic!praha.jpg') }}" loading="lazy">
        </div>
        <h3>Hackathon.com</h3>
      </a>
      <p>
        Celosvětový seznam místních i online hackhatonů.
      </p>
    </li>
  </ul>
  <figure class="quote">
    <blockquote>
      Moji největší bariérou byl strach. Obava, že nebudu tak dobrá jako ostatní
      a že tam budu úplně mimo. Nakonec jsem zjistila, že to bylo úplně zbytečné.
    </blockquote>
    <figcaption>
      Michaela Šebestová,
      absolvetnka kurzu <a href="https://pyladies.cz/">PyLadies</a> a <a href="https://medium.com/@misasebestova/m%C5%AFj-prvn%C3%AD-datov%C3%BD-hackathon-6f753a4730cf">účastnice hackhatonu Sreality.cz</a>
    </figcaption>
  </figure>
</section>

<section class="content__section" id="opensource">
  <h2 class="content__section-heading">Zkus „Open Source“</h2>
  <div class="tooltips">
    <p>
      <img class="cartoon" src="{{ url_for('static', filename='images/gh-logo.svg') }}" loading="lazy">
      <a href="https://cs.wikipedia.org/wiki/Otev%C5%99en%C3%BD_software">Open Source Software</a> (OSS) jsou projekty s kódem, na který se může kdokoliv podívat,
      a které lze většinou využívat zdarma &mdash; například <a href="https://cs.wikipedia.org/wiki/Linux">Linux</a>
      nebo <a href="https://cs.wikipedia.org/wiki/LibreOffice">LibreOffice</a>.
      Pokud si dáš svůj projekt na <a href="https://github.com/">GitHub</a>, kde jeho kód mohou
      číst další lidé, máš taky takový maličký Open Source.
      I tyto webové stránky <a href="https://github.com/honzajavorek/junior.guru">jsou Open Source</a>.
    </p>
    <p>
      Existují tisíce Open Source projektů uveřejněných pro dobro všech, některé více
      či méně užitečné, některé vytvářené ve volném čase lidí, jiné zaštiťované organizacemi.
      Je to obrovský fenomén a když se do něj člověk zapojí, může získat mnoho
      zkušeností, cenných kontaktů i nových přátel.
    </p>

    <h3 class="content__subsection-heading" id="not-only-coding">Nemusíš jen programovat</h3>
    <p>
      Open Source není jen o programování. Pokud se zatím necítíš na psaní kódu,
      <a href="https://opensource.guide/how-to-contribute/#what-it-means-to-contribute">je i hodně jiných způsobů,
      jak můžeš přiložit ruku k dílu</a>.
      Např. psaním dokumentace, psaním článků, navrhováním grafiky nebo „procházením GitHub Issues“ (anglicky <em>triaging</em>, hezky popsáno v článku <a href="https://opensource.com/life/16/8/how-get-bugs-fixed-open-source-software">How to fix a bug in open source software</a>).
    </p>

    <h3 class="content__subsection-heading" id="open-source-inspiration">Open Source jako inspirace</h3>
    <p>
      Do Open Source nemusíš hned přispívat. Ze začátku se můžeš hodně naučit
      i pouhým pozorováním, čtením cizího kódu, hledáním inspirace. Můžeš se
      např. podívat, <a href="https://github.com/search?l=Python&q=tic-tac-toe">jak jiní lidé naprogramovali
      piškvorky v Pythonu</a>.
    </p>

    <h3 class="content__subsection-heading" id="how-to-start">Jak začít?</h3>
    <p>
      Začátky s Open Source nejsou
      přímočaré. Většinou na něm lidé pracují ve volném čase. Nováčci jsou
      vítáni, ale jen málo projektů má sílu aktivně nabízet <a href="#mentors">mentorování</a>.
      Nejsnazší cesta vede přes různé programy a stáže,
      jako např. <a href="https://summerofcode.withgoogle.com/">Google Summer of Code</a>,
      ale nejčastěji se lidé k Open Source dostanou posloupností „vidím rozbitou věc, spravím, pošlu opravu“.
    </p>
  </div>

  <ul class="list">
    <li>
      <a href="https://opensource.guide/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/opensource.guide.jpg') }}" loading="lazy">
        </div>
        <h3>Open Source Guides</h3>
      </a>
      <p>
        Přečti si vše o tom, jak OSS funguje, a jak začít.
      </p>
    </li>
    <li>
      <a href="https://cesko.digital/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/cesko.digital.jpg') }}" loading="lazy">
        </div>
        <h3>Česko.Digital</h3>
      </a>
      <p>
        Přidej se do sdružení dobrovolníků okolo OSS projektů s pozitivním dopadem na Česko.
      </p>
    </li>
    <li>
      <a href="https://gismentors.cz/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/gismentors.cz.jpg') }}" loading="lazy">
        </div>
        <h3>GISMentors</h3>
        <ul class="list-labels">
          <li><small>program s mentory</small></li>
        </ul>
      </a>
      <p>
        Účastni se kurzů nebo školení na OSS související s geografií.
      </p>
    </li>
    <li>
      <a href="https://www.codetriage.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codetriage.com.jpg') }}" loading="lazy">
        </div>
        <h3>CodeTriage</h3>
      </a>
      <p>
        Najdi rozbitou věc, oprav ji, pošli opravu autorům.
      </p>
    </li>
    <li>
      <a href="https://summerofcode.withgoogle.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/summerofcode.withgoogle.com.jpg') }}" loading="lazy">
        </div>
        <h3>Google Summer of Code</h3>
        <ul class="list-labels">
          <li><small>studenti VŠ</small></li>
          <li><small>program s mentory</small></li>
        </ul>
      </a>
      <p>
        Pracuj na OSS při studiu, během letních prázdnin.
      </p>
    </li>
    <li>
      <a href="https://codein.withgoogle.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codein.withgoogle.com!archive.jpg') }}" loading="lazy">
        </div>
        <h3>Google Code-in</h3>
        <ul class="list-labels">
          <li><small>studenti 13-17 let</small></li>
          <li><small>program s mentory</small></li>
        </ul>
      </a>
      <p>
        Účastni se úvodu do OSS pro mládež, vyhraj ceny.
      </p>
    </li>
    <li>
      <a href="https://www.outreachy.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/outreachy.org.jpg') }}" loading="lazy">
        </div>
        <h3>Outreachy</h3>
        <ul class="list-labels">
          <li><small>ženy, menšiny</small></li>
          <li><small>program s mentory</small></li>
          <li><small>stipendium</small></li>
        </ul>
      </a>
      <p>
        Získej stáž na OSS pro znevýhodněné skupiny.
      </p>
    </li>
    <li>
      <a href="https://railsgirlssummerofcode.org/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/railsgirlssummerofcode.org.jpg') }}" loading="lazy">
        </div>
        <h3>Rails Girls SoC</h3>
        <ul class="list-labels">
          <li><small>ženy</small></li>
          <li><small>program s mentory</small></li>
          <li><small>stipendium</small></li>
        </ul>
      </a>
      <p>
        Přihlaš svůj tým a po několik měsíců pracuj na OSS.
      </p>
    </li>
    <li>
      <a href="https://github.com/lenadroid/awesome-oss-mentors#readme">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/github.com!lenadroid!awesome-oss-mentors!readme.jpg') }}" loading="lazy">
        </div>
        <h3>Awesome OSS Mentors</h3>
        <ul class="list-labels">
          <li><small>„program“ s mentory</small></li>
        </ul>
      </a>
      <p>
        Kontaktuj někoho z těch, kdo se sami nabízí zaučovat nováčky na OSS projektech.
      </p>
    </li>
  </ul>
  {% include 'includes/list_note.html' %}

  <figure class="quote">
    <blockquote>
      Moje začátky se nesly v duchu: Vidím rozbitou věc, spravím, pošlu opravu.
      Tím si člověk vybuduje jméno. Stačí jen otevřít GitHub, všechno je rozbitý.
    </blockquote>
    <figcaption>
      Tomáš Janoušek, profesionální programátor
    </figcaption>
  </figure>
</section>

<section id="skills" class="content__section">
  <h2 class="content__section-heading">Rozšiřuj si znalosti</h2>
  <div class="tooltips">
    <p>
      Umět programovat např. v Pythonu je dobrý základ, ale pro plnohodnotnou práci
      to nestačí. S prvními pokusy se uplatnit zjistíš, že by se ti hodilo
      aspoň trochu znát Git, HTML, SQL, JavaScript, &hellip; Pro každou takovou
      technologii existují kurzy, workshopy, knihy.
    </p>
    <p>
      Vždy, když narazíš na nový pojem nebo zkratku, přečti si alespoň co to je
      a k čemu se to používá. Pokud o tom uslyšíš poněkolikáté, zkus si najít víc
      a pochopit základy.
    </p>
  </div>
  <h3 class="list__heading" id="basics">Základy</h3>
  <ul class="list">
    <li>
      <a href="https://medium.com/basecs">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/medium.com!basecs.jpg') }}" loading="lazy">
        </div>
        <h3>BaseCS</h3>
      </a>
      <p>
        Základy informatiky od <a href="https://twitter.com/vaidehijoshi">Vaidehi Joshi</a>.
        Existuje i jako
        <a href="https://dev.to/vaidehijoshi/linked-lists--basecs-video-series--2le8">video</a>
        a
        <a href="https://www.codenewbie.org/basecs">podcast</a>.
      </p>
    </li>
    <li>
      <a href="https://missing.csail.mit.edu/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/missing.csail.mit.edu.jpg') }}" loading="lazy">
        </div>
        <h3>MIT: The Missing Semester</h3>
      </a>
      <p>
        Úvod do všeho možného, co se ti bude v začátku hodit. Příkazová řádka,
        Git, editor…
      </p>
    </li>
  </ul>

  <h3 class="list__heading" id="workshops">Kde hledat workshopy?</h3>
  <ul class="list">
    <li>
      <a href="https://www.czechitas.cz/cs/kalendar-akci">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/czechitas.cz!cs!kalendar-akci.jpg') }}" loading="lazy">
        </div>
        <h3>Czechitas</h3>
      </a>
    </li>
    <li>
      <a href="https://engeto.cz/workshopy">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/engeto.cz!workshopy.jpg') }}" loading="lazy">
        </div>
        <h3>Engeto</h3>
      </a>
    </li>
    <li>
      <a href="https://pyworking.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pyworking.cz.jpg') }}" loading="lazy">
        </div>
        <h3>PyWorking</h3>
      </a>
    </li>
  </ul>
  <p class="note list-note">
    Tento seznam je v abecedním pořadí. Pokud víš o dalším webu s workshopy,
    piš na {{ 'ahoj@junior.guru'|email_link }}.
  </p>

  <h3 class="list__heading" id="courses">Kde hledat kurzy?</h3>
  <ul class="list">
    <li>
      <a href="https://www.beeit.cz/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/beeit.cz.jpg') }}" loading="lazy">
        </div>
        <h3>BeeIT</h3>
      </a>
    </li>
    <li>
      <a href="https://www.codecademy.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/codecademy.com.jpg') }}" loading="lazy">
        </div>
        <h3>Codecademy</h3>
      </a>
    </li>
    <li>
      <a href="https://www.coursera.org">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/coursera.org.jpg') }}" loading="lazy">
        </div>
        <h3>Coursera</h3>
      </a>
    </li>
    <li>
      <a href="https://www.czechitas.cz/cs/kalendar-akci">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/czechitas.cz!cs!kalendar-akci.jpg') }}" loading="lazy">
        </div>
        <h3>Czechitas</h3>
      </a>
    </li>
    <li>
      <a href="https://www.edx.org">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/edx.org.jpg') }}" loading="lazy">
        </div>
        <h3>edX</h3>
      </a>
    </li>
    <li>
      <a href="https://engeto.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/engeto.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Engeto</h3>
      </a>
    </li>
    <li>
      <a href="https://egghead.io">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/egghead.io.jpg') }}" loading="lazy">
        </div>
        <h3>egghead.io</h3>
      </a>
    </li>
    <li>
      <a href="https://www.pluralsight.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pluralsight.com.jpg') }}" loading="lazy">
        </div>
        <h3>Pluralsight</h3>
      </a>
    </li>
    <li>
      <a href="https://udacity.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/udacity.com.jpg') }}" loading="lazy">
        </div>
        <h3>Udacity</h3>
      </a>
    </li>
    <li>
      <a href="https://www.udemy.com">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/udemy.com.jpg') }}" loading="lazy">
        </div>
        <h3>Udemy</h3>
      </a>
    </li>
  </ul>
  <p class="note list-note">
    Tento seznam je v abecedním pořadí. Pokud víš o dalším webu s kurzy,
    piš na {{ 'ahoj@junior.guru'|email_link }}.
  </p>
</section>

{% include 'includes/engage.html' %}

<section id="events" class="content__section">
  <h2 class="content__section-heading">Najdi inspiraci, poznej lidi</h2>
  <div class="tooltips">
    <p>
      Je velmi těžké se učit zcela samostatně, bez kontaktu s dalšími samouky nebo lidmi z nového oboru. Důvodů, proč polevit, může nastat hodně. Proto je dobré pravidelně se setkávat s komunitou začínajících i pokročilých programátorů a nabíjet se tak novou energií a inspirací. Dříve existovaly hlavně dva druhy setkání: místní srazy a celostátní konference. Během covidu-19 bylo mnoho akcí zrušeno, nebo přešlo do online podoby.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="{{ url_for('club') }}">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/junior.guru!club.jpg') }}" loading="lazy">
        </div>
        <h3>Klub junior.guru</h3>
        <ul class="list-labels">
          <li><small>online komunita</small></li>
        </ul>
      </a>
      <p>
        Diskutuj v klubu pro začátečníky, kde najdeš pomoc, motivaci, kamarády, práci.
      </p>
    </li>
    <li>
      <a href="https://pyvo.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pyvo.cz.jpg') }}" loading="lazy">
        </div>
        <h3>Pyvo</h3>
        <ul class="list-labels">
          <li><small>srazy</small></li>
        </ul>
      </a>
      <p>
        Poznej Python programátory ve svém okolí. Pomohou, budou tě motivovat.
      </p>
    </li>
    <li>
      <a href="https://www.meetup.com/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/meetup.com.jpg') }}" loading="lazy">
        </div>
        <h3>Meetup</h3>
        <ul class="list-labels">
          <li><small>srazy</small></li>
        </ul>
      </a>
      <p>
        Najdi srazy ve svém okolí, poznej různá odvětví&nbsp;IT, potkej lidi.
      </p>
    </li>
    <li>
      <a href="https://pycon.cz">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pycon.cz.jpg') }}" loading="lazy">
        </div>
        <h3>PyCon CZ</h3>
        <ul class="list-labels">
          <li><small>konference</small></li>
        </ul>
      </a>
      <p>
        Přijeď na českou Python konferenci.
      </p>
    </li>
    <li>
      <a href="https://pycon.sk">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/pycon.sk.jpg') }}" loading="lazy">
        </div>
        <h3>PyCon SK</h3>
        <ul class="list-labels">
          <li><small>konference</small></li>
        </ul>
      </a>
      <p>
        Přijeď na slovenskou Python konferenci.
      </p>
    </li>
    <li>
      <a href="https://www.writethedocs.org/conf/">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/writethedocs.org!conf.jpg') }}" loading="lazy">
        </div>
        <h3>Write The Docs Prague</h3>
        <ul class="list-labels">
          <li><small>konference</small></li>
        </ul>
      </a>
      <p>
        Přijeď na konferenci o psaní technické dokumentace.
      </p>
    </li>
  </ul>

  <div class="tooltips">
    <h3 class="content__subsection-heading" id="beginner-friendly">Nebudu mimo mísu?</h3>
    <p>
      Výše uvedené akce jsou vhodné i pro začátečníky a účastní se jich
      významné procento žen. Náplní těchto akcí jsou odborné přednášky pro různé
      úrovně znalostí a networking &mdash; povídání si s lidmi. Vždy se odehrávají
      v neformálním, pohodovém prostředí.
    </p>
    <h3 class="content__subsection-heading" id="fin-aid">Kde na to vzít?</h3>
    <p>
      Na konference je potřeba si koupit lístek. Výše zmíněné konference mají velmi
      dostupné lístky se slevami (např. pro studenty), ale i tak je možné, že je
      mimo tvé finanční možnosti se účastnit. Pro takový případ konference poskytují
      „Financial Aid“ &mdash; finanční pomoc s lístkem, ubytováním nebo cestou.
    </p>
  </div>
</section>

<section id="english" class="content__section">
  <h2 class="content__section-heading">Neflákej angličtinu</h2>
  <div class="tooltips">
    <p>
      <strong>Bez angličtiny se neobejdeš.</strong> Je to klíč ke dveřím do celého světa. Vybíráš ze dvou českých mentorů, ze tří českých online kurzů? S angličtinou vybíráš ze stovek mentorů a desítek kurzů. <strong>Nedostatečná angličtina je v&nbsp;IT jako bolavý zub.</strong> Chvíli s ním vydržíš, ale když to nezačneš řešit včas, budeš hodně litovat. Nauč se ji aspoň pasivně &mdash; pokud zvládáš číst anglický text, pochopit v něm zadání a učit se z něj nové věci, pro start to stačí.
    </p>
  </div>
  <ul class="list">
    <li>
      <a href="https://www.youtube.com/watch?v=Xt7QIgzyxLk">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/youtube.com!watch!v=Xt7QIgzyxLk.jpg') }}" loading="lazy">
        </div>
        <h3>Jak se opravdu naučit anglicky</h3>
      </a>
      <p>
        Praktický návod jak <strong>opravdu</strong> začít od <a href="https://www.youtube.com/user/BBSobotka">Broni</a>.
      </p>
    </li>
    <li>
      <a href="{{ url_for('learn') }}#english">
        <div class="list-image">
          <img src="{{ url_for('static', filename='images/screenshots/junior.guru!learn!english.jpg') }}" loading="lazy">
        </div>
        <h3>Jak si zlepšit angličtinu?</h3>
      </a>
      <p>
        Nauč se anglicky podle <a href="{{ url_for('learn') }}#english">tipů na junior.guru</a>.
      </p>
    </li>
  </ul>
</section>

<div class="content__section">
  <p class="call-to-action next">
    <a href="{{ url_for('candidate_handbook') }}" class="legacy-button">Máš&nbsp;praxi? Najdi&nbsp;si&nbsp;práci!</a>
  </p>
</div>
{% endblock %}
