{% extends 'base.html' %}
{% block title %}Pro média &mdash; tiskové zprávy, logo{% endblock %}

{% block description -%}
Tiskové zprávy, logo, barvy. Vše co potřebujete pro to, abyste se mohli zmínit o junior.guru.
{%- endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Pro média</h1>
</header>

<section class="content__section">
  <h2 class="content__section-heading">Tiskové zprávy</h2>
  <ul>
    {% for press_release in press_releases %}
      <li>
        {{ press_release.date.day }}.&nbsp;{{ press_release.date.month }}.&nbsp;{{ press_release.date.year }}&nbsp;
        &mdash; <a href="{{ url_for('press_release', id=press_release.id) }}">{{ press_release.title }}</a></li>
    {% endfor %}
  </ul>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Kontakt</h2>
  <p>
    Pište přímo autorovi projektu: Honza Javorek, {{ 'ahoj@junior.guru'|email_link }}
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">O projektu</h2>
  <p>
    <strong>Junior Guru</strong>, stylizovaně <strong>junior.guru</strong>, je český průvodce programováním pro samouky. Snaží se ukázat lidem, že programování je obecná dovednost, která se může hodit každému, a pomoci těm, kdo se rozhodnou změnit kariéru a začít se programováním živit.
  </p>
  <p>
    Slovo <strong>junior</strong> se v kontextu IT běžně používá k označování pracovních pozic vhodných pro začátečníky.
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading" id="photos">Logo, fotky, ilustrace</h2>
  <p>
    Logo ke stažení:
  </p>
  <ul>
    <li>Žluté pozadí: <a href="{{ url_for('static', filename='images/press/logo.svg') }}" target="_blank" rel="noopener">SVG</a>, <a href="{{ url_for('static', filename='images/press/logo.png') }}" target="_blank" rel="noopener">PNG</a></li>
    <li>Průhledné pozadí: <a href="{{ url_for('static', filename='images/press/logo-transparent.svg') }}" target="_blank" rel="noopener">SVG</a>, <a href="{{ url_for('static', filename='images/press/logo-transparent.png') }}" target="_blank" rel="noopener">PNG</a></li>
  </ul>
  <p>
    Ilustrační fotky:
  </p>
  <ul>
    <li><a href="{{ url_for('static', filename='images/press/screen.jpg') }}" target="_blank" rel="noopener">Úvodní stránka</a></li>
    <li><a href="{{ url_for('static', filename='images/press/screen-handbook.jpg') }}" target="_blank" rel="noopener">Příručka</a></li>
    <li><a href="https://unsplash.com/photos/9KPcwV0pGOM" target="_blank" rel="noopener">I ty se můžeš naučit programovat</a> <small>(foto <a href="https://unsplash.com/@wocintechchat" target="_blank" rel="noopener">#WOCinTech Chat</a>)</small></li>
    <li><a href="https://unsplash.com/photos/MChSQHxGZrQ" target="_blank" rel="noopener">I ty si můžeš najít dobrou práci v IT</a> <small>(foto <a href="https://unsplash.com/@anniespratt" target="_blank" rel="noopener">Annie Spratt</a>)</small></li>
    <li><a href="{{ url_for('static', filename='images/press/honza-large.jpg') }}" target="_blank" rel="noopener">Honza Javorek, obličej</a> <small>(foto Zuzana Javorková)</small></li>
    <li><a href="{{ url_for('static', filename='images/press/honza-large-talk.jpg') }}" target="_blank" rel="noopener">Honza Javorek, přednáška</a> <small>(foto Jaroslav Novák)</small></li>
    <li><a href="{{ url_for('static', filename='images/honza.jpg') }}" target="_blank" rel="noopener">Honza Javorek, čtvercová profilovka</a> <small>(foto Zuzana Javorková)</small></li>
  </ul>
  <p>
    Barvy jsou žlutá <strong>#fffa72</strong>, černá <strong>#343434</strong>, modrá <strong>#1755d1</strong>.
    Fonty jsou <a href="https://www.1001fonts.com/cabin-sketch-font.html" target="_blank" rel="noopener">Cabin Sketch</a> a <a href="https://www.1001fonts.com/love-ya-like-a-sister-font.html" target="_blank" rel="noopener">Love Ya Like A Sister</a>.
    Maskotem je <a href="{{ url_for('static', filename='images/chick2.svg') }}">líhnoucí se kuře</a>.
    Ilustrace si Honza kreslí vlastnoručně.
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Provozovatel</h2>
  <p>
    Autorem stránek je programátor <strong>Honza Javorek</strong>, jenž se přes {{ year - 2011 }} let dobrovolnicky podílí na pořádání komunitních akcí pro začátečníky v IT a pomáhá i organizacím jako <a href="https://pyladies.cz/">PyLadies</a> nebo <a href="https://www.czechitas.cz/">Czechitas</a>, které se snaží usnadnit vstup do IT ženám. Na podzim roku 2019 opustil tým <a href="https://byznys.ihned.cz/c1-65593630-oracle-kupuje-za-miliardy-korun-cesky-start-up-apiary-zakladatele-ve-firme-zustavaji">úspěšného českého startupu Apiary</a> Jakuba Nešetřila (dnes <a href="https://cesko.digital/">Česko.Digital</a>), aby prostřednictvím Junior Guru začal pomáhat začátečníkům prosadit se v technologických profesích. Junior Guru tvoří jako tzv. „Solo Entrepreneur“, tedy podnikatel na volné noze,
    jenž nemá ambice rozjíždět firmu. Obsah na stránkách dává volně k dispozici, financování zajišťuje skrze sponzory, <a href="{{ url_for('jobs') }}">nabídky práce</a> a <a href="{{ url_for('donate') }}">dobrovolné příspěvky</a>.
  </p>
  <p>
    Více se o něm můžete dovědět v jeho <a href="{{ url_for('donate') }}#about">krátkém medailonku zde</a> nebo na jeho <a href="https://honzajavorek.cz/">osobní webové stránce</a>.
  </p>
</section>
{% endblock %}

{% block author %}{% endblock %}
