{% extends 'layouts/base.html' %}

{% block title %}Pro média &mdash; tiskové zprávy, logo{% endblock %}

{% block description -%}
Tiskové zprávy, logo, barvy. Vše co potřebujete pro to, abyste se mohli zmínit o junior.guru.
{%- endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Pro média</h1>
</header>

<section class="content__section">
  <h2 class="content__section-heading">Tiskové zprávy</h2>
  <ul>
    {% for press_release in press_releases %}
      <li>
        {{ press_release.date.day }}.&nbsp;{{ press_release.date.month }}.&nbsp;{{ press_release.date.year }}&nbsp;
        &mdash; <a href="{{ url_for('press_release', id=press_release.id) }}">{{ press_release.title }}</a></li>
    {% endfor %}
  </ul>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Kontakt</h2>
  <p>
    Pište přímo autorovi projektu: Honza Javorek, {{ 'honza@junior.guru'|email_link }}
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading" id="photos">Logo, fotky, ilustrace</h2>
  <p>
    Grafický manuál naleznete na <a href="https://logo.junior.guru/">logo.junior.guru</a>.
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">O projektu</h2>
  <p>
    <strong>Junior Guru</strong>, stylizovaně <strong>junior.guru</strong>, je český klub pro začátečníky v programování. Snaží se ukázat lidem, že programování je obecná dovednost, která se může hodit každému, a pomoci těm, kdo se rozhodnou změnit kariéru a začít se programováním živit.
  </p>
  <p>
    Slovo <strong>junior</strong> se v kontextu IT běžně používá k označování pracovních pozic vhodných pro začátečníky.
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Provozovatel</h2>
  <p>
    Autorem stránek je programátor <strong>Honza Javorek</strong>, jenž se přes {{ year - 2011 }} let dobrovolnicky podílí na pořádání komunitních akcí pro začátečníky v IT a pomáhá i organizacím jako <a href="https://pyladies.cz/">PyLadies</a> nebo <a href="https://www.czechitas.cz/">Czechitas</a>, které se snaží usnadnit vstup do IT ženám. Na podzim roku 2019 opustil tým <a href="https://byznys.ihned.cz/c1-65593630-oracle-kupuje-za-miliardy-korun-cesky-start-up-apiary-zakladatele-ve-firme-zustavaji">úspěšného českého startupu Apiary</a> Jakuba Nešetřila (dnes <a href="https://cesko.digital/">Česko.Digital</a>), aby prostřednictvím Junior Guru začal pomáhat začátečníkům prosadit se v technologických profesích. Junior Guru tvoří jako tzv. „Solo Entrepreneur“, tedy podnikatel na volné noze,
    jenž nemá ambice rozjíždět firmu. Obsah na stránkách dává volně k dispozici, financování zajišťuje skrze sponzory, <a href="{{ url_for('jobs') }}">nabídky práce</a> a <a href="{{ url_for('donate') }}">dobrovolné příspěvky</a>.
  </p>
  <p>
    Více se o něm můžete dovědět v jeho <a href="{{ url_for('donate') }}#about">krátkém medailonku zde</a> nebo na jeho <a href="https://honzajavorek.cz/">osobní webové stránce</a>.
  </p>
</section>
{% endblock %}
