{% extends '_base.html' %}
{% block title %}Zpracování osobních údajů na junior.guru{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Zpracování osobních údajů</h1>
</header>

<section class="content__section">
  <h2 class="content__section-heading">Správce osobních údajů</h2>
  <p>
    Správcem osobních údajů je provozovatel služby <strong>junior.guru</strong>, Jan Javorek,
    IČO: <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=74279858&jazyk=cz&xml=1&rozsah=0" target="_blank" rel="noopener">74279858</a>,
    fyzická osoba podnikající dle živnostenského zákona nezapsaná v obchodním rejstříku, s místem podnikání na Koněvova 31/27, 130 00 Praha.
    Kontaktovat jej můžete na {{ 'mail@honzajavorek.cz'|email_link }}.
  </p>
</section>

<section class="content__section">
  <h2 class="content__section-heading">Shromažďované osobní údaje</h2>
  <h3 class="content__subsection-heading">Anonymizované měření návštěvnosti</h3>
  <p>
    Služba <strong>junior.guru</strong> využívá <a href="https://analytics.google.com">Google Analytics</a>
    pro měření návštěvnosti. Data obsahují technické parametry, jako je IP adresa,
    typ prohlížeče, apod. Zpracovávána jsou v anonymizované podobě.
  </p>
  <p>
    Data z měření uchovává společnost Google LLC
    na základě svých
    <a href="https://policies.google.com/privacy?hl=cs">zásad ochrany osobních údajů</a>.
    Uživatelský přístup k datům má pouze Jan Javorek.
  </p>
  <p>
    Google Analytics pro své fungování vyžadují cookies. Ty nastavuje společnost Google LLC
    na základě svých
    <a href="https://policies.google.com/technologies/cookies?hl=cs">pravidel</a>.
    Jiné cookies služba <strong>junior.guru</strong> nenastavuje. Pokud si návštěvník stránek
    nepřeje být měřen, může si cookies sám vypnout ve svém prohlížeči.
  </p>

  <h3 class="content__subsection-heading">Seznam e-mailových adres k rozesílání nabídek práce</h3>
  <p>
    Návštěvníci stránek <strong>junior.guru</strong> se mohou dobrovolně přihlásit k odběru
    e-mailů s pracovními nabídkami. Odběratelé se mohou kdykoliv sami odhlásit
    a tím jejich e-mailová adresa přestává být uchovávána.
  </p>
  <p>
    Služba <strong>junior.guru</strong> využívá <a href="https://mailchimp.com">Mailchimp</a>
    pro shromažďování těchto e-mailových adres, rozesílání e-mailů a měření výkonnosti poslaných e-mailů.
    E-mailové adresy a data z měření uchovává společnost The Rocket Science Group LLC d/b/a Mailchimp
    na základě svých
    <a href="https://mailchimp.com/legal/privacy/">zásad ochrany osobních údajů</a>.
    Uživatelský přístup k datům má pouze Jan Javorek.
  </p>

  <h3 class="content__subsection-heading">Seznam e-mailových adres u nabídek práce</h3>
  <p>
    Návštěvníci stránek <strong>junior.guru</strong> mohou přidat pracovní nabídku. Údaje
    o pracovní nabídce povinně obsahují e-mailovou adresu. Tato adresa je
    uveřejněna zájemcům o práci a zároveň slouží službě <strong>junior.guru</strong> jako
    případný kontakt na autory inzerátu. Se smazáním inzerátu přestává být
    adresa uchovávána.
  </p>
  <p>
    Služba <strong>junior.guru</strong> využívá <a href="https://docs.google.com/">Google Docs</a>
    pro shromažďování a uchovávání těchto e-mailových adres.
    E-mailové adresy uchovává společnost Google LLC
    na základě svých
    <a href="https://policies.google.com/privacy?hl=cs">zásad ochrany osobních údajů</a>.
    Uživatelský přístup k datům má pouze Jan Javorek.
  </p>
</section>
{% endblock %}

{% block author %}{% endblock %}
