{% extends 'layouts/base.html' %}

{% block title %}Zásady ochrany osobních údajů na junior.guru{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Zásady ochrany osobních údajů</h1>
</header>

<section class="content__section">
  <p>
    Se zřízením registrace v klientské sekci či odesláním objednávky na mé služby potvrzujete, že jste se seznámili s těmito Zásadami ochrany osobních údajů. V případě, že by nastala v těchto podmínkách změna, zveřejním ji na internetových stránkách Junior Guru a zároveň vám novou verzi zašlu na e-mail, který jste mi poskytli.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">Správce osobních údajů</h2>
  <p>
    Junior Guru, stylizovaně „junior.guru“<br>
    <strong>Jan Javorek</strong><br>
    fyzická osoba podnikající dle živnostenského zákona
nezapsaná v obchodním rejstříku se sídlem Koněvova 31/27, 130 00 Praha<br>
    IČO: <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=74279858&jazyk=cz&xml=1&rozsah=0" target="_blank" rel="noopener">74279858</a>,<br>
    neplátce DPH,<br>
    E-mail: {{ 'ahoj@junior.guru'|email_link }}
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">V textu se dozvíte</h2>
  <ol>
    <li>Za jakými účely a jakým způsobem budou vaše osobní údaje zpracovávány,</li>
    <li>jaké vaše osobní údaje budou zpracovávány,</li>
    <li>komu mohou být vaše osobní údaje předány – příjemci údajů,</li>
    <li>po jakou dobu budu vaše osobní údaje zpracovávat,</li>
    <li>jakým způsobem budou vaše údaje zabezpečeny,</li>
    <li>jaká máte ve vztahu k ochraně vašich osobních údajů práva.</li>
  </ol>
</section>
<section class="content__section">
  <h2 class="content__section-heading">1. Účel zpracování osobních údajů</h2>
  <p>
    Osobní údaje jsou zpracovávány za účelem poskytování služeb správce podle smlouvy uzavřené s klientem. Jméno, příjmení a e-mailová adresa mohou být vedle toho využity k zasílání obchodních sdělení ze strany poskytovatele. Zpracování osobních údajů klienta za účelem zasílání obchodních sdělení může být kdykoliv odmítnuto. Odmítnutí nemá vliv na jiné vzájemné vztahy. E-mail s příslušnou žádostí (odmítnutím) stačí zaslat na {{ 'ahoj@junior.guru'|email_link }} nebo jinou adresu, ze které bylo obchodní sdělení zasláno.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">2. Rozsah zpracování osobních údajů</h2>
  <p>
    Když mne kontaktujete (telefonicky, e-mailem nebo prostřednictvím webových stránek), můžete být požádáni o uvedení určitých údajů o vás nebo vaší společnosti. Tyto údaje se mohou lišit podle toho, jaké služby ode mne odebíráte:
  </p>
  <h3 class="content__section-subheading">a. osobní údaje návštěvníků webu</h3>
  <p>
    Jedná se o údaje o akcích uživatelů, které slouží čistě pro statistické účely. Tyto údaje uchovává <a href="https://analytics.google.com/analytics/">Google Analytics</a> agregované do souhrnných čísel a není z nich možné identifikovat jednotlivce.
  </p>
  <h3 class="content__section-subheading">b. osoby odebírající newsletter</h3>
  <p>
    U osob odebírajících <a href="https://eepurl.com/gyG8Bb">newsletter</a> je uchováván e-mail, a to prostřednictvím služby <a href="https://mailchimp.com/">Mailchimp</a>. Z odebírání newsletteru se můžete kdykoliv odhlásit.
  </p>
  <h3 class="content__section-subheading">c. osobní údaje členů digitálního klubu</h3>
  <p>
    Jedná se o osobní údaje jednotlivých členů <a href="{{ url_for('club') }}">klubu</a> dostupné z <a href="https://juniorguru.memberful.com/account/">klientské sekce</a>. tj. uživatelské jméno, e-mail, domovská země člena a dále údaje o platební kartě člena. K vašim zadaným osobním údajům má vzhledem k charakteru služeb přístup také platforma <a href="https://memberful.com/">Memberful</a>, <a href="https://discord.com/">Discord</a>, <a href="https://www.google.com/sheets/about/">Google Sheets</a>. K údajům o platební kartě má přístup pouze služba <a href="https://stripe.com">Stripe</a>, která zajišťuje bezpečnost a realizaci jednotlivých plateb, mě osobně známy nejsou.
  </p>
  <h3 class="content__section-subheading">d. údaje o společnostech a individuální objednávky</h3>
  <p>
    V případě objednávek se specifickými podmínkami (typicky se bude jednat např. o objednání digitálního předplatného pro více osob ze strany společnosti) jsou evidovány potřebné fakturační údaje jako jsou: jméno/název společnosti, adresa bydliště/sídla společnosti, datum narození/IČO, DIČ, číslo účtu kupujícího, e-mailová adresa, případně telefon.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">3. Příjemci osobních údajů</h2>
  <p>
    Vaše údaje mohou být předány níže vyjmenovaným subjektům. Dbáme na to, aby byly předány vždy
    pouze ty údaje, které vyžaduje zákon nebo, které jsou v dané situaci potřebné:
  </p>
  <ul>
    <li>Orgány veřejné moci (např. soudy, správní orgány),</li>
    <li>poskytovatelé údržby informačního systému,</li>
    <li>služby třetích stran nezbytné pro realizaci služeb, a to <a href="https://analytics.google.com/analytics/">Google Analytics</a>, <a href="https://www.google.com/sheets/about/">Google Sheets</a>, <a href="https://mailchimp.com/">Mailchimp</a>, <a href="https://memberful.com/">Memberful</a>, <a href="https://discord.com/">Discord</a>,</li>
    <li>služba třetí strany nezbytná pro realizaci bezkontaktních plateb, a to <a href="https://stripe.com">Stripe</a>,</li>
    <li>služba třetí stany spravující účetnictví, a to <a href="https://www.fakturoid.cz/">Fakturoid</a>.</li>
</ul>
</section>
<section class="content__section">
  <h2 class="content__section-heading">4. Doba zpracování osobních údajů</h2>
  <p>
    Osobní údaje budou zpracovávány podobu existence vaší registrace v klientské sekci případně trvání odběru newsletteru. V případě odeslání objednávky a uzavření smlouvy na služby, budou zpracovávány po celou dobu platnosti této smlouvy a po jejím skončení po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi vámi a mnou a podle požadavků daňových předpisů.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">5. Zabezpečení vašich osobních údajů</h2>
  <p>
    Prohlašuji, že jsem přijal veškerá vhodná technická a organizační opatření k zabezpečení vašich osobních údajů. Přijal jsem opatření k zabezpečení datových úložišť a také úložišť osobních údajů v listinné podobě. Prohlašuji, že k vašim osobním údajům mají přístup pouze mnou pověřené osoby.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">6. Vaše práva</h2>
  <p>
    <strong>Právo na přístup k osobním údajům</strong> znamená, že máte právo od správce získat informace o tom, zda
    zpracovává vaše osobní údaje, a pokud ano, o jaké údaje se jedná a jakým způsobem jsou
    zpracovávány. Máte také právo na to, abychom opravili bez zbytečného odkladu nepřesné osobní
    údaje, které se vás týkají. Neúplné osobní údaje máte právo kdykoli doplnit.
  </p>
  <p>
    <strong>Právo na výmaz osobních údajů</strong> představuje jinými slovy vyjádřenou povinnost správce zlikvidovat osobní údaje, které o klientovi zpracovává, pokud jsou splněny určité podmínky a klient o to požádá. Klient má právo, aby správce v určitých případech omezil zpracování jeho osobních údajů. Proti zpracování, které je založeno na oprávněných zájmech správce, třetí strany nebo je nezbytné pro splnění úkolu prováděného ve veřejném zájmu nebo při výkonu veřejné moci, má klient právo kdykoli vznést námitku.
  </p>
  <p>
    <strong>Právo na přenositelnost údajů</strong> vám dává možnost získat osobní údaje, které jste správci poskytli, v běžném a strojově čitelném formátu. Tyto údaje můžete následně předat jinému správci, nebo, pokud je to technicky možné, žádat, aby si je správci předali mezi sebou.
  </p>
  <p>
    <strong>Právo kdykoli odvolat souhlas se zpracováním osobních údajů</strong> mají klienti, kteří se zaregistrovali na našich webových stránkách, ale doposud nevyužili našich služeb (neobjednali si u nás žádnou službu).
  </p>
  <p>
    <strong>Právo kdykoli odvolat souhlas se zpracováním osobních údajů</strong> se neuplatní u klientů, kteří u nás objednali některou ze služeb, jelikož osobní údaje klienta jsou pak zpracovávány z důvodu plnění smlouvy uzavřené s klientem, nikoli na základě souhlasu se zpracováním. V případě, že bude klient jakkoli nespokojen se zpracováním svých osobních údajů, může podat stížnost na mou e-mailovou adresu, nebo se obrátit na Úřad pro ochranu osobních údajů.
  </p>
  <p>
    Více informací o právech klienta je k dispozici na <a href="https://www.uoou.cz/6-prava-subjektu-udaj/d-27276">internetových stránkách Úřadu pro ochranu osobních údajů</a>.
  </p>
</section>
{% endblock %}
