{% extends 'base.html' %}
{% block title %}Přispěj na provoz junior.guru{% endblock %}

{% block main %}
<header class="intro">
  <h1 class="intro__title">Díky!</h1>
</header>

<section class="call-to-action">
  <p>
    <img class="cartoon cartoon-center" src="{{ url_for('static', filename='images/heart.svg') }}" loading="lazy">
  </p>
</section>

<section class="call-to-action">
  <p>
    <a href="{{ url_for('index') }}" class="legacy-button">
      Na úvodní stránku
    </a>
  </p>
</section>
{% endblock %}

{% block author %}{% endblock %}
