{% extends 'layouts/base.html' %}

{% block title %}Obchodní podmínky junior.guru{% endblock %}

{% block content %}
<header class="intro">
  <h1 class="intro__title">Obchodní podmínky</h1>
  <p class="intro__lead">
    Digitální předplatné a podmínky přístupu do diskuzního klubu junior.guru
  </p>
</header>

<section class="content__section">
  <p>
    Abych vám mohl kvalitně a efektivně poskytovat své služby, nachystal jsem pro vás tyto obchodní podmínky. Umožňují mi určit část obsahu kupních smluv, které by jinak bylo těžké podepisovat s každým kupujícím zvlášť. Přitom platí, že pokud obchodní podmínky stanoví něco jiného než smlouva, má smlouva vždy přednost. Tyto podmínky jsou platné a účinné od <strong>1. 2. 2021</strong>.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">Poskytovatel služeb</h2>
  <p>
    Junior Guru, stylizovaně „junior.guru“<br>
    <strong>Jan Javorek</strong><br>
    fyzická osoba podnikající dle živnostenského zákona
nezapsaná v obchodním rejstříku se sídlem Koněvova 31/27, 130 00 Praha<br>
    IČO: 74279858,<br>
    neplátce DPH,<br>
    E-mail: {{ 'ahoj@junior.guru'|email_link }}
  </p>
  <p>
    (dále jako „poskytovatel“)
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">V textu se dozvíte</h2>
  <ul>
    <li>Vysvětlení jednotlivých důležitých pojmů,</li>
    <li>jakým způsobem smlouvu uzavíráte,</li>
    <li>jak objednat členství pro více členů a další podmínky a výhody pro společnosti,</li>
    <li>jak jsou určeny ceny a jaké jsou mé platební podmínky,</li>
    <li>jakým způsobem bude předplatné realizováno,</li>
    <li>jaké máte povinnosti a jaký je etický kodex,</li>
    <li>jak postupovat, pokud bude dodaná služba vykazovat vady a jak uplatnit záruku,</li>
    <li>informace o možnosti odstoupit od smlouvy,</li>
    <li>jakým způsobem chráním a zpracovávám vaše osobní údaje,</li>
    <li>jak a kam je možné si navzájem doručovat,</li>
    <li>na koho se obrátit v případě sporu.</li>
  </ul>
</section>
<section class="content__section">
  <h2 class="content__section-heading">1. Důležité pojmy</h2>
  <p>
    <strong>Kupující</strong> je ten, kdo si ode mne kupuje mé služby. Kupující může být buď spotřebitel nebo podnikatel.
  </p>
  <p>
    <strong>Spotřebitel</strong> je každý, kdo se mnou uzavírá kupní smlouvu mimo rámec své podnikatelské činnosti nebo mimo výkon svého povolání
  </p>
  <p>
    <strong>Podnikatel</strong> je každý, kdo samostatně vykonává na vlastní účet a odpovědnost výdělečnou činnost živnostenským nebo obdobným způsobem se záměrem činit tak soustavně za účelem dosažení zisku. Za podnikatele je pro účely ochrany spotřebitele mj. považována také každá osoba, která uzavírá smlouvy související s vlastní obchodní, výrobní nebo obdobnou činností či při samostatném výkonu svého povolání, popřípadě osoba, která jedná jménem nebo na účet podnikatele. Platí, že pokud uvedete v objednávce se mnou své identifikační číslo, platí pro vás pravidla určená těmito obchodními podmínkami pro podnikatele.
  </p>
  <p>
    <strong>Člen klubu</strong> je osoba, která má přístup do diskuzního klubu na základě oprávněně získaných registračních údajů.
  </p>
  <p>
    <strong>Společnost</strong> je zákazník, který objednává vouchery pro více než jednoho člena klubu. Pro společnosti platí specifická pravidla uzavření smluv dle článku 3 těchto obchodních podmínek.
  </p>
  <p>
    <strong>Diskuzní klub</strong> je mnou provozovaný klub začátečníků, dobrovolníků, mentorů, profesionálů a sponzorů na platformě Discord, ke kterému vám na základě předplatného zřizuji přístup.
  </p>
  <p>
    <strong>Digitální předplatné</strong> je služba, na základě které vám po úhradě poplatku zpřístupním služby diskuzního klubu. Digitální předplatné může být rozděleno dle délky či specifického přístupu do jednotlivých sekcí klubu, a to dle aktuální nabídky na stránkách a v klientské sekci.
  </p>
  <p>
    <strong>Klientská sekce</strong> je rozhraní přístupné ze stránek Junior Guru na adrese: <a href="https://juniorguru.memberful.com/account">juniorguru.memberful.com/account</a>. V klientské sekci jsou vedeny údaje o vaší osobě, jednotlivých úhradách, vámi využívané formě digitálního předplatného a podmínkách jeho úhrady.
  </p>
  <p>
    <strong>Voucher</strong> je poukázka na členství v diskuzním klubu či na slevu na toto členství.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">2. Uzavření smlouvy</h2>
  <p>
    <strong>2.1.</strong> Abyste mohli zakoupit mé služby, musíte provést registraci v klientské sekci. Součástí registrace je také vyplnění vašich fakturačních a členských údajů. Tyto můžete v systému kdykoliv
    změnit.
  </p><p>
    <strong>2.2.</strong> Diskuzní klub je přístupný pomocí platformy <a href="https://discord.com/">Discord</a>. Registrace a vlastní účet na platformě Discord jsou tedy pro využívání diskuzního klubu nezbytné. Po registraci v klientské sekci vás systém navede k registraci na Discord, můžete ovšem využít i vlastní, již fungující účet.
  </p><p>
    <strong>2.3.</strong> Smlouvu uzavíráte tak, že si v klientské sekci v nabídce předplatného vyberete preferovanou délku předplatného, řádně vyplníte objednávkový formulář a následně potvrdíte odeslání objednávky. Před odesláním objednávky vám bude umožněno zkontrolovat údaje, které jste do objednávky vložili.
  </p><p>
    <strong>2.4.</strong> V objednávce jste povinni uvést údaje v následujícím rozsahu (pokud není stanoveno jinak):
  </p>
    <ul>
      <li>Uživatelské jméno,</li>
      <li>registrační e-mail,</li>
      <li>informace o platební kartě v případě, kdy je zvolena jako prostředek platby.</li>
    </ul>
  <p>
    <strong>2.5.</strong> O uzavření smlouvy vám vždy přijde digitální notifikace na vaši e-mailovou adresu s potvrzením objednávky a s odkazem na mé aktuální veřejné obchodní podmínky.
  </p><p>
    <strong>2.6.</strong> Pokud není dohodnuto jinak, požaduji úhradu kupní ceny před využitím služeb.
  </p><p>
    <strong>2.7.</strong> Klientská sekce je zřizována pomocí služby třetí strany <a href="https://memberful.com/">Memberful LLC</a>. Za výpadky a dočasnou nefunkcionalitu této platformy ze strany Memberful LLC nemohu nést a nenesu odpovědnost.
  </p><p>
    <strong>2.8.</strong> Kupující souhlasí s použitím komunikačních prostředků na dálku při uzavírání kupní smlouvy (internet, e-mail, telefon). Náklady vzniklé kupujícímu při použití těchto komunikačních prostředků s uzavřením kupní smlouvy si hradí kupující sám, přičemž tyto náklady se neliší od základní sazby.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">3. Zvláštní pravidla pro objednávky ze strany společnosti</h2>
  <p>
    <strong>3.1.</strong> Společnostem je poskytováno digitální předplatné na základě specifických podmínek, a to formou individuální objednávky přes e-mail: {{ 'ahoj@junior.guru'|email_link }}. Společnostem je následně vystavován daňový doklad se zákonným náležitostmi a úhrada za služby probíhá formou bezhotovostního převodu na účet poskytovatele.
  </p><p>
    <strong>3.2.</strong> Společnost bere na vědomí, že členství v diskuzním klubu poskytnuté formou dle tohoto odstavce, je poskytováno vystavením voucherů. Je tedy pouze na společnosti, komu vouchery poskytne. Vouchery jednou uplatněné nemohou být převedeny na další osobu. Člen, který tímto způsobem získá v členství v diskuzním klubu, nemůže být tohoto členství z vůle společnosti zbaven, a to i v případě, že by například ukončil pracovní poměr u společnosti a obdobně.
  </p><p>
    <strong>3.3.</strong> Mimo vouchery na členství v diskuzním klubu pro dohodnutý počet osob, jsem oprávněn společnostem poskytovat také jiné specifické služby (např. reklamní prostor, umístění loga aj.) dle individuální dohody.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">4. Cena za služby a platební podmínky</h2>
  <p>
    <strong>4.1.</strong> Ceny za mé služby jsou smluvní. Na stránkách vždy najdete aktuální a platné ceny v české měně (Kč). Ceny jsou konečné včetně dalších daní a poplatků.
  </p><p>
    <strong>4.2.</strong> Nejsem plátce DPH.
  </p><p>
    <strong>4.3.</strong> Cenu za služby a případné další náklady můžete uhradit následujícími způsoby:
  </p>
  <ul>
    <li>Bezhotovostně platební kartou,</li>
    <li>jiným způsobem pouze pokud je individuálně dohodnuto.</li>
  </ul>
  <p>
    <strong>4.4.</strong> Bezhotovostní platba kartou je uživatelsky automaticky nastavena jako opakující se platba v případě měsíčního digitálního předplatného. U ročního digitálního předplatného opakující se platba automaticky neprobíhá. Člen klubu může kdykoliv toto nastavení v klientské sekci změnit.
  </p><p>
    <strong>4.5.</strong> O končícím předplatném budete informování pomocí e-mailu.
  </p><p>
    <strong>4.6.</strong> Prezentace mých služeb v nabídce digitálního předplatného obsahuje informace o těchto službách. Ceny zůstávají v platnosti po dobu, po kterou jsou v internetové nabídce zobrazeny. Tímto ovšem není omezena případná možnost uzavřít s kýmkoli smlouvu za individuálně sjednaných podmínek.
  </p><p>
    <strong>4.7.</strong> Akční ceny platí do vyprodání kapacity při uvedení počtu nebo po časově určenou dobu. Uváděná původní cena znamená cenu služeb, za niž jsou předmětné služby nabízeli bez zohlednění slevových akcí.
  </p><p>
    <strong>4.8.</strong> Vyhrazuji si právo prohlásit kupní smlouvu za neplatnou, pokud při objednávce došlo ke zneužití osobních údajů, platební karty, slevového či dárkového poukazu apod. Pokud by tato situace nastala, budu vás o tom neprodleně informovat.
  </p><p>
    <strong>4.9.</strong> Ohledně platby na základě kupní smlouvy kupujícímu vystavím fakturu. Tuto vystavuji po uhrazení ceny služeb a zašlu vám ji v digitální podobě na vaši e-mailovou adresu.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">5. Realizace služeb</h2>
  <p>
    <strong>5.1.</strong> Digitální předplatné je zajišťováno formou zpřístupnění diskuzního klubu zákazníkovi.  Zpřístupnění digitálního předplatného je zajištěno prostřednictvím přístupových údajů k uživatelskému účtu, konkrétně uživatelského jména (loginu) a hesla a následnou registrací či přihlášením do služby Discord.
  </p><p>
    <strong>5.2.</strong> Digitální předplatné je dostupné jako měsíční či roční předplatné.
  </p><p>
    <strong>5.3.</strong> Vyhrazuji si možnost zřídit specifické typy digitálního předplatného s rozšířeným či naopak omezeným přístupem do specifických sekcí diskuzního klubu.
  </p><p>
    <strong>5.4.</strong> Zavazuji se zřídit přístup zákazníkovi do diskuzního klubu aktivací produktu k přidělenému uživatelskému jménu a heslu zákazníka, na základě přijetí úhrady za objednávku zákazníka, a to nejpozději do 48 hodin.
  </p><p>
    <strong>5.5.</strong> Zavazuji se poskytovat přístupnost obsahu 24 hodin denně. Vzhledem k tomu, že ale poskytuji obsah prostřednictvím platformy třetí strany – Discord, nemohu nést a nenesu odpovědnost za případné výpadky této  platformy třetí strany či její zhoršenou funkcionalitu. V případě problémů s aplikací Discord nicméně doporučuji,  abyste se obrátili přímo na jejich podporu dostupnou na: <a href="https://support.discord.com/">support.discord.com</a>.
  </p><p>
    <strong>5.6.</strong> Nenesu odpovědnost za případné škody, přímo či nepřímo způsobené užitím publikovaných dat zákazníkem. Vyhrazuji si rovněž právo měnit bez předchozího upozornění data v diskuzním klubu zveřejněná.
  </p><p>
    <strong>5.7.</strong> Neručím za kvalitu přístupových tras k serveru.
  </p><p>
    <strong>5.8.</strong> Vyhrazuji si právo okamžitě a bez náhrady deaktivovat účet zákazníka, který porušil práva a povinnosti obsažené v následujícím článku.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">6. Povinnosti zákazníka a etický kodex</h2>
  <p>
    <strong>6.1.</strong> Zavazujete se uchovávat své uživatelské jméno a heslo v tajnosti.
  </p><p>
    <strong>6.2.</strong> Při komunikaci v klubu se zavazujete dodržovat tzv. etický kodex, tedy především se zdržet diskriminujícího nebo obtěžujícího chování. Zakazuje se chování sexuální nebo násilné povahy, zveřejnění nebo hrozba zveřejnění osobních údajů „doxing,“ sexuální obtěžování, návrhy, nevítaná pozornost, pronásledování “stalking”. Zakazuje se také obhajoba nebo povzbuzování kteréhokoliv z výše zmíněných prohřešků či opakované obtěžování ostatních. V této souvislosti si vás dovoluji odkázat na dokument <a href="{{ url_for('coc') }}">Pravidla chování</a>.
  </p><p>
    <strong>6.3.</strong> Zveřejňovaný obsah můžete využívat pouze pro vlastní potřebu a nesmíte jej poskytnout nebo zprostředkovat třetí osobě.
  </p><p>
    <strong>6.4.</strong> Digitální předplatné je nepřenosné (tzn. platí výhradně pro osobu uvedenou na registračním formuláři). Toto právo opravňuje zákazníka k užívání služeb serveru nejvýše z jednoho počítače současně.
  </p><p>
    <strong>6.5.</strong> Berete na vědomí, že programové vybavení serveru a některá data na serveru zveřejněná jsou autorskými díly a jsou tak chráněna příslušnými ustanoveními zák. č. 121/2000 Sb., autorského zákona, v účinném znění. Za případné porušení těchto autorských práv jste odpovědni v plném rozsahu.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">7. Práva z vadného plnění</h2>
  <p>
    <strong>7.1.</strong> V případě, že se v průběhu realizace služeb vyskytne vada, má kupující v závislosti na povaze  této vady, následující práva
  </p>
  <ul>
    <li>Právo na bezplatné, řádné a včasné odstranění vady v případě vady odstranitelné,</li>
    <li>či na odstoupení od smlouvy v případě vady neodstranitelné.</li>
  </ul>
  <p>
    <strong>7.2.</strong> Vadu má zákazník povinnost nahlásit neprodleně poté, co se o vadě dozví.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">8. Odstoupení od smlouvy</h2>
  <p>
    <strong>8.1.</strong> Spotřebitel má podle § 1829 a násl. občanského zákoníku právo odstoupit od smlouvy o užívání digitálních produktů včetně toho mého, ve lhůtě 14 dnů od uzavření smlouvy a pouze v případě, že nebylo započato s plněním ze strany poskytovatele. V případě, že byl odběr zahájen, nemá zákazník právo v takovém případě od smlouvy o dodání digitálního předplatného odstoupit.
  </p><p>
    <strong>8.2.</strong> Svým zákazníkům chci dát jistotu, že je obsah zaujme a že jim členství v diskuzním klubu bude vyhovovat. Nad rámec zákona proto zákazníkům poskytuji zkušební období, v rámci kterého mohou služby bez jakékoliv penalizace ukončit a od smlouvy odstoupit. Toto období je 14denní a je poskytováno každému nově zaregistrovanému členovi před zahájením hrazeného období digitálního předplatné.
  </p><p>
    <strong>8.3.</strong> V případech podle 4.8 (zneužití údajů, platební karty nebo voucheru apod.) jsem oprávněn od smlouvy odstoupit do 14 dní od jejího uzavření. Tuto skutečnost jsem vám povinen oznámit.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">9. Ochrana a zpracování osobních údajů</h2>
  <p>
    <strong>9.1.</strong> V souvislosti s vyřízením vašich objednávek musím zpracovávat a přechovávat vaše osobní údaje. V této souvislosti si vás dovoluji odkázat na dokument <a href="{{ url_for('privacy') }}">Zásady ochrany osobních  údajů</a>.
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">10. Doručování</h2>
  <p>
    <strong>10.1.</strong> Kupujícímu je doručováno na jeho e-mailovou adresu uvedenou v objednávce případně v jeho uživatelském profilu.
  </p><p>
    <strong>10.2.</strong> Mě můžete doručovat na e-mailovou adresu {{ 'ahoj@junior.guru'|email_link }}, případně poštou na adresu sídla: Jan Javorek, Koněvova 31/27, 130 00 Praha
  </p>
</section>
<section class="content__section">
  <h2 class="content__section-heading">11. Vyřizování stížností a případné spory</h2>
  <p>
    <strong>11.1.</strong> Vyřizování stížností spotřebitelů zajišťuji prostřednictvím digitální adresy {{ 'ahoj@junior.guru'|email_link }}. Informaci o vyřízení vaší stížnosti vám následně zašlu na vaši e-mailovou adresu.
  </p><p>
    <strong>11.2.</strong> K mimosoudnímu řešení spotřebitelských sporů z kupní smlouvy je příslušná Česká obchodní inspekce, se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: <a href="https://adr.coi.cz/">adr.coi.cz</a>. Platformu pro řešení sporů on-line nacházející se na internetové adrese <a href="https://ec.europa.eu/consumers/odr">ec.europa.eu/consumers/odr</a> je možné využít při řešení sporů mezi poskytovatelem a kupujícím z kupní smlouvy.
  </p><p>
    <strong>11.3.</strong> Evropské spotřebitelské centrum Česká republika, se sídlem Štěpánská 567/15, 120 00 Praha 2, internetová adresa: <a href="https://www.evropskyspotrebitel.cz">evropskyspotrebitel.cz</a>, je kontaktním místem podle Nařízení Evropského parlamentu a Rady (EU) č. 524/2013 ze dne 21. května 2013 o řešení spotřebitelských sporů on-line a o změně nařízení (ES) č. 2006/2004 a směrnice 2009/22/ES (nařízení o řešení spotřebitelských sporů on-line).
  </p><p>
    <strong>11.4.</strong> Jsem oprávněn k prodeji služeb na základě živnostenského oprávnění. Živnostenskou kontrolu provádí v rámci své působnosti příslušný živnostenský úřad. Dozor nad oblastí ochrany osobních údajů vykonává Úřad pro ochranu osobních údajů. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo jiné dozor nad dodržováním zákona č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů.
  </p><p>
    <strong>11.5.</strong> Vztahy a případné spory, které vzniknou na základě smluv a nebude možné je vyřešit mimosoudně, budou řešeny výhradně podle práva České republiky s výjimkou mezinárodních smluv a budou řešeny příslušnými soudy České republiky.
  </p>
</section>
{% endblock %}

{% block author %}{% endblock %}
