$blockquote-border-width: map-get($border-widths, 5) * 1.5;
$blockquote-font-size: map-get($font-sizes, 6);
$blockquote-font-size-md: map-get($font-sizes, 5);
$blockquote-image-width: map-get($spacers, 5);

.blockquote-container {
  margin: 0;
  margin-bottom: $spacer;
}

.blockquote-content {
  padding: map-get($spacers, 1) $spacer;
  border-left: $blockquote-border-width solid $jg-blue;
  border-radius: $border-radius;
}

.toxic .blockquote-content {
  border-color: $jg-dark;
}

.blockquote {
  @extend .font-monospace;
  font-size: $blockquote-font-size;
  color: $jg-blue;

  @include media-breakpoint-up(md) {
    font-size: $blockquote-font-size-md;
  }
}

.toxic .blockquote {
  color: $jg-dark;
}

.blockquote p:first-child::before {
  content: "„";
}

.blockquote p:first-child::after {
  content: "“";
}

.blockquote-footer {
  margin-bottom: 0;
}

.blockquote-footer a {
  color: $blockquote-footer-color;
}

.blockquote-footer cite {
  font-style: normal;
}

.blockquote-avatar {
  display: block;
  float: left;
  width: $blockquote-image-width;
  height: auto;
  filter: grayscale(1) contrast(1.3);
  border-radius: 100%;
}

.blockquote-container.avatar .blockquote,
.blockquote-container.avatar .blockquote-footer {
  padding-left: $blockquote-image-width + $spacer;
}

.blockquote-icon {
  display: block;
  float: left;
  font-size: $blockquote-image-width;
  line-height: 100%;
}

.blockquote-container.icon .blockquote,
.blockquote-container.icon .blockquote-footer {
  padding-left: $blockquote-image-width + $spacer;
}

.blockquotes-2 {
  @extend .row;
  margin-right: 0;
  margin-left: 0;
}

.blockquotes-2 .blockquote-container {
  @extend .col-md-6;
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer;
  }
}

.blockquotes-2 .blockquote-container figure {
  margin-bottom: 0;
}

.blockquotes-2 .blockquote {
  font-size: map-get($font-sizes, 6);
}
