.blockquote-container {
  margin-top: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);
}

.blockquote-content {
  padding: map-get($spacers, 1) map-get($spacers, 3);
  border-left: (map-get($border-widths, 5) * 1.5) solid $jg-blue;
  border-radius: $border-radius;
}

.toxic .blockquote-content {
  border-color: $jg-dark;
}

.blockquote {
  @extend .font-monospace;
  font-size: map-get($font-sizes, 6);
  color: $jg-blue;

  @include media-breakpoint-up(md) {
    font-size: map-get($font-sizes, 5);
  }
}

.toxic .blockquote {
  color: $jg-dark;
}

.blockquote p:first-child::before {
  content: "„";
}

.blockquote p:first-child::after {
  content: "“";
}

.blockquote-footer {
  margin-bottom: 0;
}

.blockquote-footer a {
  color: $blockquote-footer-color;
}

.blockquote-footer cite {
  font-style: normal;
}

.blockquote-avatar {
  display: block;
  float: left;
  width: map-get($spacers, 5);
  height: auto;
  filter: grayscale(1) contrast(1.3);
  border-radius: 100%;
}

.blockquote-container.avatar .blockquote,
.blockquote-container.avatar .blockquote-footer {
  padding-left: map-get($spacers, 5) + map-get($spacers, 3);
}

.blockquote-icon {
  display: block;
  float: left;
  font-size: map-get($spacers, 5);
  line-height: 100%;
}

.blockquote-container.icon .blockquote,
.blockquote-container.icon .blockquote-footer {
  padding-left: map-get($spacers, 5) + map-get($spacers, 3);
}

.blockquotes-2 {
  @extend .row;
}

.blockquotes-2 .blockquote-container {
  @extend .col-md-6;
}

.blockquotes-2 .blockquote {
  font-size: map-get($font-sizes, 6);
}
