@keyframes headerlink-highlight {
  0% { color: $primary; }
  50% { color: $primary; }
  100% { color: $body-color; }
}

.document h1 {
  padding-bottom: map-get($spacers, 1);
  margin-bottom: $main-spacer;
  border-bottom: map-get($border-widths, 3) solid $body-color;
}

.document .lead {
  margin-bottom: $main-spacer;
}

.document h2 {
  margin-top: $main-spacer;
}

.document h3 {
  margin-top: $document-spacer;
}

.document p a:visited {
  color: $body-color;
}

.document h2 .bi {
  @extend .fs-3;
  margin-right: map-get($spacers, 1);
  line-height: $headings-line-height;
  color: $primary;
}

.document > *:last-child {
  margin-bottom: 0;
}

.document small {
  @extend .small;
  @extend .text-muted;
}

.document small a,
.document small a:visited {
  color: $text-muted;
}

.document small .headerlink,
.document small .headerlink:visited {
  margin-left: $spacer;
  color: $jg-gray-light;
  text-decoration: none;
}

.document small .headerlink:hover,
.document small .headerlink:focus,
.document small .headerlink:active {
  color: $primary;
}

.document h1 .headerlink {
  @extend .visually-hidden;
}

.document h2:target,
.document h3:target,
.document h4:target {
  animation: headerlink-highlight 4s ease-out 1;
}

.document ul {
  padding-left: 0;
}

.document ul li {
  padding-left: 2ch;
  list-style-type: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-dot' viewBox='0 0 16 16'><path d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/></svg>");
  background-repeat: no-repeat;
  background-position: 0 .15rem;
}

.document .blockquote-container {
  margin-top: $document-spacer;
  margin-bottom: $document-spacer;
}

.document .link-cards,
.document .stories {
  margin-top: $document-spacer;
  margin-bottom: $document-spacer - $spacer;
}
