.headerlink {
  @extend .small;
  margin-left: $spacer;
  color: $jg-gray-light;
  text-decoration: none;
}

.headerlink:hover,
.headerlink:focus,
.headerlink:active {
  color: $link-color;
}

.visually-hidden-headerlinks .headerlink {
  @extend .visually-hidden;
}

h1 .headerlink {
  @extend .visually-hidden;
}
