.headerlink {
  @extend .small;
  margin-left: $spacer;
  color: $jg-gray-light;
  text-decoration: none;
}

.headerlink:hover,
.headerlink:focus,
.headerlink:active {
  color: $primary;
}

.visually-hidden-headerlinks .headerlink {
  @extend .visually-hidden;
}

h1 .headerlink {
  @extend .visually-hidden;
}

h2:target,
h3:target,
h4:target {
  color: $primary;

  .headerlink {
    color: $primary;
  }
}
