.logos {
  @extend .list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0;
}

.logos.grayscale .logos-image {
  filter: grayscale(100%);
  opacity: .5;
}

.logos.grayscale a:hover .logos-image,
.logos.grayscale a:focus .logos-image,
.logos.grayscale a:active .logos-image {
  filter: none;
  opacity: 1;
}

.logos-item {
  display: flex;
  align-items: center;
  margin: 0 map-get($spacers, 2) $spacer map-get($spacers, 2);

  @include media-breakpoint-up(sm) {
    margin: 0 $spacer $spacer $spacer;
  }
}

.logos-caption {
  @extend .small;
  white-space: nowrap;
}

.logos-caption,
.logos-caption a {
  @extend .text-muted;
}

.logos-caption a:hover,
.logos-caption a:focus,
.logos-caption a:active {
  color: $link-color;
}

.logos-image {
  display: block;
  width: auto;
  max-width: 6rem;
  height: auto;
  max-height: 3rem;

  @include media-breakpoint-up(sm) {
    max-width: 8rem;
    max-height: 4rem;
  }
}

.logos.bar {
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;

  @include media-breakpoint-up(lg) {
    justify-content: space-evenly;
  }
}

.logos.bar .logos-item {
  margin-bottom: 0;
}

.logos.bar .logos-item:first-child {
  margin-left: 0;
}

.logos.bar .logos-item:last-child {
  margin-right: 0;
}

.logos.bar .logos-link {
  padding: $navbar-padding-y 0;
}

.logos.bar .logos-image {
  width: 100%;
  max-height: map-get($spacers, 3);

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  @include media-breakpoint-up(md) {
    max-height: map-get($spacers, 4);
  }
}

.logos.bar .logos-caption {
  display: none;

  @include media-breakpoint-up(sm) {
    display: flex;
    width: 25%;
    max-width: 25%;
    margin: 0;
    font-size: $sub-sup-font-size;
    white-space: normal;
  }

  @include media-breakpoint-up(md) {
    font-size: $small-font-size;
  }
}
