$masthead-eggshell-height: map-get($spacers, 5);
$masthead-member-size: 3rem;
$masthead-member-shift: $masthead-member-size - ($masthead-member-size * .8);

.masthead {
  position: relative;
  margin-bottom: $spacer;
  overflow: hidden;
  background: $jg-yellow;
  border-top: 1px solid $jg-yellow-dark;
}

.masthead::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: $masthead-eggshell-height;
  content: "";
  background-image: url("./images/eggshell-i.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto $masthead-eggshell-height;
}

.masthead-container {
  @extend .container-lg;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }
}

.masthead-content {
  margin-top: map-get($spacers, 5);

  @include media-breakpoint-up(md) {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    margin-right: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 5);
  }
}

.masthead-content .lead p,
.masthead-content .masthead-numbers {
  margin-bottom: map-get($spacers, 4);
}

.masthead-content .lead strong {
  font-weight: $lead-font-weight;
}

.masthead-button {
  @extend .btn;
  @extend .btn-lg;
  margin-right: $spacer;
  margin-bottom: $spacer;
}

.masthead-button.primary {
  @extend .btn-primary;
}

.masthead-button.secondary {
  @extend .btn-outline-primary;
}

.masthead-numbers {
  ul {
    @extend .list-unstyled;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }
  }

  li {
    @extend .small;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      margin-right: map-get($spacers, 5);
    }
  }

  strong {
    @extend .fs-1;
    font-weight: 400;
    line-height: 1;
  }
}

.masthead-illustration {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: auto;
  margin-top: map-get($spacers, 5);
  margin-bottom: $masthead-eggshell-height;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    margin-top: $spacer;
  }
}

.masthead-illustration img {
  width: 100%;
  height: auto;
}

.masthead-members {
  display: inline-flex;
  padding-left: $masthead-member-shift;
  margin-bottom: $spacer;
  overflow: hidden;
  vertical-align: middle;
}

.masthead-members img {
  display: inline-block;
  width: $masthead-member-size;
  height: $masthead-member-size;
  margin-left: -1 * $member-shift;
  background: $jg-white;
  border-radius: 100%;
}
