.mirror-background {
  margin-top: $main-spacer;
  margin-bottom: $main-spacer;
  background: $jg-black;
}

.mirror-background,
.mirror-video {
  width: 100%;
  height: 50vh;
}

.mirror-background-expanded {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.mirror-background-expanded .mirror-video {
  width: 100%;
  height: 100%;
}

.mirror-run,
.mirror-expand {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}

.mirror-frame {
  overflow: hidden;
}
