.numbers {
  ul {
    @extend .list-unstyled;
    display: flex;
  }

  li {
    @extend .small;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $spacer;
  }

  strong {
    @extend .fs-1;
    font-weight: 500;
  }
}
