.pricing-container {
  // padding-top: $spacer;
  // margin-bottom: $spacer;
  // text-align: center;
  // border: 1px $jg-dark solid;
  // border-radius: $border-radius;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: $spacer;
  }
}

.pricing-block {
  min-width: 15rem;
  margin-bottom: $spacer;
  text-align: center;
  white-space: nowrap;
  background: $jg-white;
  border: 1px solid $jg-yellow;
  border-radius: $border-radius-lg;

  @include media-breakpoint-up(md) {
    padding: $spacer;
    margin-bottom: 0;
  }
}

.pricing-block:nth-child(2) {
  padding: $spacer;
  color: $jg-white;
  background: $jg-blue;
  border: none;
}

.pricing-heading {
  margin-top: 0;
}

.pricing-benefits {
  @extend .list-unstyled;
  font-size: $font-size-sm;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
  }
}

.pricing-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.pricing-block:nth-child(2) .pricing-button {
  @extend .btn-outline-light;
}

.pricing-block:nth-child(2) .pricing-button:hover,
.pricing-block:nth-child(2) .pricing-button:active {
  color: $jg-blue;
}
